<?xml version="1.0" encoding="utf-8"?>
<!--Titan-->
<window id="4">
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
	
    <include>defaultskinsettings</include>
	<onload>XBMC.RunScript(script.titanskin.helpers,SETSKINVERSION)</onload>
    <controls>
        <!--Global Background-->
        <include>GlobalBackground</include>
        <!--Time & Weather-->
        <include>TimeInfo</include>
		<!-- Now playing -->
		<include condition="!Skin.HasTheme(classic)">NowPlayingModern</include>
		
        <!--Header-->
        <include>Header</include>
		
		<control type="group">
		<include>animation_window_open_close</include>
        <!--Panel-->
        <control type="image">
            <posx>5</posx>
            <posy>90</posy>
            <width>1911</width>
            <height>940</height>
            <texture>views/settings_panel.png</texture>
			<visible>skin.hastheme(classic)</visible>
        </control>
		
		
		<control type="image">
			<posx>60</posx>
			<posy>150</posy>
			<width>1800</width>
			<height>800</height>
			<texture>colors/color_white.png</texture>
			<animation effect="fade" reversible="false" end="80" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),80)">Conditional</animation>
			<animation effect="fade" reversible="false" end="60" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),60)">Conditional</animation>
			<animation effect="fade" reversible="false" end="40" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),40)">Conditional</animation>
			<animation effect="fade" reversible="false" end="20" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),20)">Conditional</animation>
			<animation effect="fade" reversible="false" end="0" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),0)">Conditional</animation>
			<colordiffuse>$VAR[panel_color]</colordiffuse>
			<visible>!skin.hastheme(classic)</visible>
		</control>
		
		<control type="image">
			<posx>60</posx>
			<posy>150</posy>
			<width>560</width>
			<height>800</height>
			<texture>colors/color_white.png</texture>
			<animation effect="fade" reversible="false" end="80" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),80)">Conditional</animation>
			<animation effect="fade" reversible="false" end="60" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),60)">Conditional</animation>
			<animation effect="fade" reversible="false" end="40" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),40)">Conditional</animation>
			<animation effect="fade" reversible="false" end="20" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),20)">Conditional</animation>
			<animation effect="fade" reversible="false" end="0" time="0" condition="StringCompare(Skin.String(ViewDetailsPanelOpacity),0)">Conditional</animation>
			<colordiffuse>$VAR[panel_color]</colordiffuse>
			<visible>!skin.hastheme(classic)</visible>
		</control>
		
		
		
        <!--Picture	(Fanart)-->
        <control type="image">
            <!--Appearance-->
            <visible>Container(9000).HasFocus(1)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/appearance.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Video-->
            <visible>Container(9000).HasFocus(2)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/videos.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Live TV-->
            <visible>Container(9000).HasFocus(3)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/pvr.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Music-->
            <visible>Container(9000).HasFocus(4)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/music.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Addons-->
            <visible>Container(9000).HasFocus(5)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/addons.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Pictures-->
            <visible>Container(9000).HasFocus(6)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/pictures.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Weather-->
            <visible>Container(9000).HasFocus(7)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/weather.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Network-->
            <visible>Container(9000).HasFocus(8)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/network.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--System-->
            <visible>Container(9000).HasFocus(9)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/system.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Systeminfo-->
            <visible>Container(9000).HasFocus(10)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/systeminfo.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Skin Settings-->
            <visible>Container(9000).HasFocus(11)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/appearance.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Profil-->
            <visible>Container(9000).HasFocus(12)</visible>
            <posx>750</posx>
            <posy>220</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true" diffuse="views/settings_matte.png">special://skin/extras/backgrounds/systeminfo.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <!--InfoText-->
        <control type="textbox">
            <posx>750</posx>
            <posy>800</posy>
            <width>1020</width>
            <height>250</height>
            <font>Light30</font>
            <textcolor>mainblue</textcolor>
            <label>$INFO[Container(9000).ListItem.Label2]</label>
          
        </control>
        <!--List 9000-->
        <control type="list" id="9000">
            <posx>130</posx>
            <posy>170</posy>
            <!--175-->
            <width>420</width>
            <height>800</height>
            <onup>9000</onup>
            <ondown>9000</ondown>
            <viewtype label="List">list</viewtype>
            <scrolltime>200</scrolltime>
            <include>animation_fade_visible_hidden</include>
            
            <itemlayout width="360" height="64" condition="skin.hastheme(classic)">
                <control type="image">
                    <!--Button No Focus-->
                    <width>360</width>
                    <height>60</height>
                    <texture>common/round-button-nf.png</texture>
                </control>
                <control type="label">
                    <!--Label No Focus-->
                    <height>67</height>
                    <posx>70</posx>
                    <width>300</width>
                    <font>Reg30</font>
                    <textcolor>white</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
            </itemlayout>
            <focusedlayout width="360" height="64" condition="skin.hastheme(classic)">
                <control type="image">
                    <!--Button Focus-->
                    <width>360</width>
                    <height>60</height>
                    <texture>common/round-button-fo.png</texture>
                </control>
                <control type="label">
                    <!--Label Focus-->
                    <height>67</height>
                    <posx>70</posx>
                    <width>300</width>
                    <font>Reg30</font>
                    <textcolor>black</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
            </focusedlayout>
            <itemlayout width="420" height="64" condition="!skin.hastheme(classic)">
                <control type="image">
                    <!--Button No Focus-->
                    <width>420</width>
                    <height>60</height>
					<texture colordiffuse="$INFO[Skin.String(ButtonFocusColor)]">colors/color_90%trans_white.png</texture>
                </control>
                <control type="label">
                    <!--Label No Focus-->
                    <height>67</height>
                    <posx>70</posx>
                    <width>360</width>
                    <font>Reg30</font>
                    <textcolor>white</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
            </itemlayout>
            <focusedlayout width="420" height="64" condition="!skin.hastheme(classic)">
                <control type="image">
                    <!--Button Focus-->
                    <width>420</width>
                    <height>60</height>
                    <texture colordiffuse="$INFO[Skin.String(ButtonFocusColor)]">colors/color_white.png</texture>
                </control>
                <control type="label">
                    <!--Label Focus-->
                    <height>67</height>
                    <posx>70</posx>
                    <width>360</width>
                    <font>Reg30</font>
                    <textcolor>black</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
            </focusedlayout>
            
			<!--Content-->
            <content>
				<item id="11">
					<description>Skin Settings</description>
					<label>20077</label>
					<label2>31407</label2>
					<onclick>activatewindow(skinsettings)</onclick>
				</item>
                <item id="1">
                    <description>Appearance</description>
                    <label>480</label>
                    <label2>31400</label2>
                    <onclick>activatewindow(AppearanceSettings)</onclick>
                </item>
                <item id="2">
                    <description>Videos</description>
                    <label>3</label>
                    <label2>31401</label2>
                    <onclick>activatewindow(VideosSettings)</onclick>
                </item>
                <item id="3">
                    <description>Live TV</description>
                    <label>31088</label>
                    <label2>31410</label2>
                    <onclick>ActivateWindow(PVRSettings)</onclick>
                </item>
                <item id="4">
                    <description>Music</description>
                    <label>2</label>
                    <label2>31402</label2>
                    <onclick>activatewindow(MusicSettings)</onclick>
                </item>
                <item id="5">
                    <description>Addons</description>
                    <label>24001</label>
                    <label2>31408</label2>
                    <onclick>activatewindow(AddonBrowser)</onclick>
                </item>
                <item id="6">
                    <description>Pictures</description>
                    <label>1</label>
                    <label2>31403</label2>
                    <onclick>activatewindow(PicturesSettings)</onclick>
                </item>
                <item id="7">
                    <description>Weather</description>
                    <label>8</label>
                    <label2>31404</label2>
                    <onclick>activatewindow(WeatherSettings)</onclick>
                </item>
                <item id="8">
                    <description>Network</description>
                    <label>705</label>
                    <label2>31405</label2>
                    <onclick>activatewindow(NetworkSettings)</onclick>
                </item>
                <item id="9">
                    <description>System</description>
                    <label>13000</label>
                    <label2>31406</label2>
                    <onclick>activatewindow(SystemSettings)</onclick>
                </item>
                <item id="10">
                    <description>System Info</description>
                    <label>130</label>
                    <label2>31409</label2>
                    <onclick>activatewindow(7)</onclick>
                </item>
                <item id="12">
					<description>Profiles</description>
					<label>13200</label>
					<label2>31421</label2>
					<onclick>activatewindow(Profiles)</onclick>
				</item>
            </content>
        </control>
		</control>
		
		<!--Footer-->
        <include condition="!skin.hassetting(nofooterbar)">Footer</include>
		<!--Titan Version-->
        <include>TitanVersion</include>
    </controls>
</window>