<?xml version="1.0" encoding="utf-8"?>
<!--Titan-->
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>no</allowoverlay>
    <include>DefaultSkinSettings</include>
    <onload>AlarmClock(setfocus,SetFocus(9000),00:00,silent)</onload>
    <controls>
        <!--Global Background-->
        <include>GlobalBackground</include>
 		<!-- Now playing -->
		<include condition="!Skin.HasTheme(classic)">NowPlayingModern</include>
		
        <!--Header-->
        <include>Header</include>
        <control type="group">
            <include>animation_window_open_close</include>
            <bottom>125</bottom>
            <height>75%</height>
            <!--Panel-->
            <control type="image">
                <posx>50</posx>
                <width>1820</width>
                <texture border="15">diffuse/bgpanel.png</texture>
            <colordiffuse>$INFO[Skin.String(GeneralPanelsColor)]</colordiffuse>
            </control>
            
            <control type="image">
                <posx>50</posx>
                <width>560</width>
                <texture border="15">diffuse/bgpanel.png</texture>
                <colordiffuse>$INFO[Skin.String(GeneralPanelsColor)]</colordiffuse>
            </control>
            
            <!--Picture	(Fanart)-->
            <control type="image">
                <posx>80</posx>
                <posy>30</posy>
                <width>500</width>
                <height>300</height>
                <texture background="true">$INFO[Container(9000).ListItem.ActualIcon]</texture>
                <aspectratio>scale</aspectratio>
            </control>
            
            <!--InfoText-->
            <control type="textbox">
                <posx>80</posx>
                <posy>360</posy>
                <width>500</width>
                <height>250</height>
                <font>Light30</font>
                <align>left</align>
                <label>$INFO[Container(9000).ListItem.Label2]</label>
            </control>
            
            
            
            <!--List 9000-->
            <control type="panel" id="9000">
                <viewtype label="31437">icons</viewtype>
                <right>80</right>
                <top>20</top>
                <height>780</height>
                <width>1200</width>
                <orientation>vertical</orientation>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <preloaditems>4</preloaditems>
                <itemlayout height="260" width="300">
                    <control type="group">
                        <width>280</width>
                        <height>240</height>
                        <include>SquarePosterPanelLayout</include>
                    </control>
                </itemlayout>
                <focusedlayout height="260" width="300">
                    <control type="group">
                        <width>280</width>
                        <height>240</height>
                        <include>SquarePosterPanelLayoutFocus</include>
                    </control>
                </focusedlayout>
                <content>
                    <item id="11">
                        <description>Skin Settings</description>
                        <label>20077</label>
                        <label2>31407</label2>
                        <onclick>activatewindow(skinsettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_skin_settings.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/addonskin.png</thumb>
                    </item>
                    <item id="1">
                        <description>Interface</description>
                        <label>14206</label>
                        <label2>31400</label2>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_interface.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/interface.png</thumb>
                    </item>
                    <item id="2">
                        <description>Media Settings</description>
                        <label>14212</label>
                        <label2>14212</label2>
                        <onclick>activatewindow(MediaSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_media_settings.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/media.png</thumb>
                    </item>
                    <item id="3">
                        <description>Live TV</description>
                        <label>31088</label>
                        <label2>31410</label2>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_live_tv.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/addonpvrclient.png</thumb>
                    </item>
                    <item id="4">
                        <description>Player</description>
                        <label>14201</label>
                        <label2>14201</label2>
                        <onclick>ActivateWindow(PlayerSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_player_settings.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/player.png</thumb>
                    </item>
                    <item id="5">
                        <description>Addons</description>
                        <label>24001</label>
                        <label2>31408</label2>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_addons.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/program.png</thumb>
                    </item>
                    <item id="8">
                        <description>Network/Services</description>
                        <label>14036</label>
                        <label2>31405</label2>
                        <onclick>activatewindow(ServiceSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_services.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/addonservice.png</thumb>
                    </item>
                    <item id="9">
                        <description>System</description>
                        <label>13000</label>
                        <label2>31406</label2>
                        <onclick>activatewindow(SystemSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_system.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/harddisk.png</thumb>
                    </item>
                    <item id="10">
                        <description>System Info</description>
                        <label>130</label>
                        <label2>31409</label2>
                        <onclick>activatewindow(7)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_system_info.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/cpu.png</thumb>
                    </item>
                    <item id="12">
                        <description>Profiles</description>
                        <label>13200</label>
                        <label2>31421</label2>
                        <onclick>activatewindow(Profiles)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_profiles.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/actor.png</thumb>
                    </item>
                </content>
            </control>
            
        </control>
		
		<!--Footer-->
        <include condition="!skin.hassetting(nofooterbar)">Footer</include>
		<!--Titan Version-->
        <include>TitanVersion</include>
        <include condition="Skin.HasSetting(DebugGrid) | Skin.HasSetting(DebugInfo)">DebugInfo</include>
    </controls>
</window>
