<?xml version="1.0" encoding="utf-8"?>
<!--Titan-->
<window id="4">
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <include>defaultskinsettings</include>
    <onload>AlarmClock(setfocus,SetFocus(9000),00:00,silent)</onload>
    <onunload condition="System.HasAlarm(setfocus)">CancelAlarm(setfocus,true)</onunload>
    <controls>
        <!--Global Background-->
        <include>GlobalBackground</include>
 		<!-- Now playing -->
		<include condition="!Skin.HasTheme(classic)">NowPlayingModern</include>
		
        <!--Header-->
        <include>Header</include>
        <control type="group">
		<include>animation_window_open_close</include>
		<bottom>125</bottom>
		<height>75%</height>
        <!--Panel-->
		<control type="image">
			<posx>50</posx>
			<width>1820</width>
			<texture border="15">diffuse/bgpanel.png</texture>
		<colordiffuse>$INFO[Skin.String(GeneralPanelsColor)]</colordiffuse>
		</control>
		
		<control type="image">
			<posx>50</posx>
			<width>560</width>
			<texture border="15">diffuse/bgpanel.png</texture>
			<colordiffuse>$INFO[Skin.String(GeneralPanelsColor)]</colordiffuse>
		</control>
		
		
		
        <!--Picture	(Fanart)-->
        <control type="image">
            <!--Appearance-->
            <visible>Container(9000).HasFocus(1)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/appearance.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Video-->
            <visible>Container(9000).HasFocus(2)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/videos.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Live TV-->
            <visible>Container(9000).HasFocus(3)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/pvr.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Music-->
            <visible>Container(9000).HasFocus(4)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/music.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Addons-->
            <visible>Container(9000).HasFocus(5)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/addons.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Pictures-->
            <visible>Container(9000).HasFocus(6)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/pictures.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Weather-->
            <visible>Container(9000).HasFocus(7)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/weather.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Services/Network-->
            <visible>Container(9000).HasFocus(8)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/network.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--System-->
            <visible>Container(9000).HasFocus(9)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/system.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Systeminfo-->
            <visible>Container(9000).HasFocus(10)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/systeminfo.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Skin Settings-->
            <visible>Container(9000).HasFocus(11)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/appearance.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <control type="image">
            <!--Profil-->
            <visible>Container(9000).HasFocus(12)</visible>
            <posx>750</posx>
            <posy>70</posy>
            <width>960</width>
            <height>540</height>
            <texture background="true">special://skin/extras/backgrounds/systeminfo.jpg</texture>
            <aspectratio scalediffuse="false" align="right">keep</aspectratio>
        </control>
        <!--InfoText-->
        <control type="textbox">
            <posx>750</posx>
            <posy>650</posy>
            <width>1020</width>
            <height>250</height>
            <font>Light30</font>
                 <label>$INFO[Container(9000).ListItem.Label2]</label>
           </control>
        <!--List 9000-->
        <control type="list" id="9000">
            <posx>130</posx>
            <posy>20</posy>
            <!--175-->
            <width>420</width>
            <height>800</height>
            <onup>9000</onup>
            <ondown>9000</ondown>
            <viewtype label="List">list</viewtype>
            <scrolltime>200</scrolltime>
            <include>animation_fade_visible_hidden</include>

			<itemlayout width="420" height="64">
                <control type="image">
                    <!--Button No Focus-->
                    <width>420</width>
                    <height>60</height>
					<texture border="5" colordiffuse="$INFO[Skin.String(ButtonColor)]">diffuse/panel.png</texture>
                </control>
                <control type="label">
                    <!--Label No Focus-->
                    <height>67</height>
                    <posx>70</posx>
                    <width>360</width>
                    <font>Reg30</font>
                    <textcolor>$INFO[Skin.String(ButtonTextColor)]</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
            </itemlayout>
            <focusedlayout width="420" height="64">
                <control type="image">
                    <!--Button Focus-->
                    <width>420</width>
                    <height>60</height>
                    <texture diffuse="diffuse/panel.png" border="5" colordiffuse="$INFO[Skin.String(ButtonFocusColor)]">colors/color_white.png</texture>
                </control>
                <control type="label">
                    <!--Label Focus-->
                    <height>67</height>
                    <posx>70</posx>
                    <width>360</width>
                    <font>Reg30</font>
                    <textcolor>$INFO[Skin.String(ButtonFocusTextColor)]</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
            </focusedlayout>
     			<!--Content-->
            <content>
				<item id="11">
					<description>Skin Settings</description>
					<label>20077</label>
					<label2>31407</label2>
					<onclick>activatewindow(skinsettings)</onclick>
				</item>
                <item id="1">
                    <description>Appearance</description>
                    <label>480</label>
                    <label2>31400</label2>
                    <onclick>activatewindow(AppearanceSettings)</onclick>
                </item>
                <item id="2">
                    <description>Videos</description>
                    <label>3</label>
                    <label2>31401</label2>
                    <onclick>activatewindow(VideosSettings)</onclick>
                </item>
                <item id="3">
                    <description>Live TV</description>
                    <label>31088</label>
                    <label2>31410</label2>
                    <onclick>ActivateWindow(PVRSettings)</onclick>
                </item>
                <item id="4">
                    <description>Music</description>
                    <label>2</label>
                    <label2>31402</label2>
                    <onclick>activatewindow(MusicSettings)</onclick>
                </item>
                <item id="5">
                    <description>Addons</description>
                    <label>24001</label>
                    <label2>31408</label2>
                    <onclick>activatewindow(AddonBrowser)</onclick>
                </item>
                <item id="6">
                    <description>Pictures</description>
                    <label>1</label>
                    <label2>31403</label2>
                    <onclick>activatewindow(PicturesSettings)</onclick>
                </item>
                <item id="7">
                    <description>Weather</description>
                    <label>8</label>
                    <label2>31404</label2>
                    <onclick>activatewindow(WeatherSettings)</onclick>
                </item>
                <item id="8">
                    <description>Network/Services</description>
                    <label>14036</label>
                    <label2>31405</label2>
                    <onclick>activatewindow(ServiceSettings)</onclick>
                </item>
                <item id="9">
                    <description>System</description>
                    <label>13000</label>
                    <label2>31406</label2>
                    <onclick>activatewindow(SystemSettings)</onclick>
                </item>
                <item id="10">
                    <description>System Info</description>
                    <label>130</label>
                    <label2>31409</label2>
                    <onclick>activatewindow(7)</onclick>
                </item>
                <item id="12">
					<description>Profiles</description>
					<label>13200</label>
					<label2>31421</label2>
					<onclick>activatewindow(Profiles)</onclick>
				</item>
            </content>
        </control>
		</control>
		
		<!--Footer-->
        <include condition="!skin.hassetting(nofooterbar)">Footer</include>
		<!--Titan Version-->
        <include>TitanVersion</include>
        <include condition="Skin.HasSetting(DebugGrid) | Skin.HasSetting(DebugInfo)">DebugInfo</include>
    </controls>
</window>