<!--Avalon-->
<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>

	<controls>
	
		<!--Global Background-->
		<include>GlobalBackground</include>	
		<!--Time & Weather-->
		<include>TimeWeather</include>
		<!--Header Settings-->
		<include>HeaderSettings</include>	
		<!--Avalon Version-->
		<include>AvalonVersion</include>	
		
		<!--Panel-->
		<control type="image">			
			<posx>0</posx>
			<posy>100</posy>
			<width>1893</width>
			<height>900</height>
			<texture>views/settings_panel.png</texture>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
		</control>		
		
	
		<!--Picture	(Fanart)-->
		
		<control type="image"><!--Appearance-->
			<visible>Container(9000).HasFocus(1)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>			
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/appearance.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>			
		</control>
		<control type="image"><!--Video-->
			<visible>Container(9000).HasFocus(2)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/videos.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>
		<control type="image"><!--Music-->
			<visible>Container(9000).HasFocus(3)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/music.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>	
		<control type="image"><!--Addons-->
			<visible>Container(9000).HasFocus(4)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/addons.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>	
		<control type="image"><!--Pictures-->
			<visible>Container(9000).HasFocus(5)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/pictures.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>	
		<control type="image"><!--Weather-->
			<visible>Container(9000).HasFocus(6)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/weather.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>			
		<control type="image"><!--Network-->
			<visible>Container(9000).HasFocus(7)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/network.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>	
		<control type="image"><!--System-->
			<visible>Container(9000).HasFocus(8)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/system.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>	
		<control type="image"><!--Profil-->
			<visible>Container(9000).HasFocus(9)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/profil.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>				
		<control type="image"><!--Systeminfo-->
			<visible>Container(9000).HasFocus(10)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/systeminfo.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>
		</control>
		<control type="image"><!--Skin-->
			<visible>Container(9000).HasFocus(11)</visible>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			<posx>750</posx>
			<posy>170</posy>
			<width>960</width>
			<height>540</height>			
			<texture background="true" diffuse="views/settings_matte.png">backgrounds/skin.png</texture>		
			<aspectratio scalediffuse="false" align="right">keep</aspectratio>			
		</control>
		
		<!--InfoText-->
		<control type="textbox"> 
			<description>Appearance Description</description>
			<posx>750</posx>
			<posy>760</posy>
			<width>1020</width>
			<height>250</height>
			<font>Light30</font>
			<textcolor>mainblue</textcolor>
			<label>$INFO[Container(9000).ListItem.Label2]</label>		
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
		</control>

		<!--List 9000-->
		<control type="list" id="9000">
			<posx>100</posx>
			<posy>175</posy><!--175-->
			<width>360</width>
			<height>800</height>
			<onup>9000</onup>
			<ondown>9000</ondown>
			<viewtype label="List">list</viewtype>
			<scrolltime>200</scrolltime>
			<include>animation_visible_hidden</include>
			<include>animation_hoverslide</include>
			
			
			<itemlayout width="360" height="70">
				<control type="image">	<!--Button No Focus-->
					<width>360</width>
					<height>67</height>
					<texture>common/button-nf.png</texture>
				</control>
				<control type="label">	<!--Label No Focus-->
					<height>67</height>
					<posx>70</posx>
					<width>300</width>
					<font>Reg35</font>
					<textcolor>midgrey</textcolor>
					<label>$INFO[ListItem.Label]</label>
				</control>
			</itemlayout>
			<focusedlayout width="360" height="70">
				<control type="image">	<!--Button Focus-->
					<width>360</width>
					<height>67</height>
					<texture>common/button-fo.png</texture>
				</control>
				<control type="label">	<!--Label Focus-->
					<height>67</height>
					<posx>70</posx>
					<width>300</width>
					<font>Reg35</font>
					<textcolor>black</textcolor>					
					<label>$INFO[ListItem.Label]</label>
				</control>
			</focusedlayout>
			
	
			<!--Content-->
			<content>
				<item id="1">
					<description>Appearance</description>
					<label>480</label>
					<label2>31400</label2>
					<onclick>activatewindow(AppearanceSettings)</onclick>
				</item>
				<item id="2">
					<description>Videos</description>
					<label>3</label>
					<label2>31401</label2>
					<onclick>activatewindow(VideosSettings)</onclick>
				</item>
				<item id="3">
					<description>Music</description>
					<label>2</label>
					<label2>31402</label2>
					<onclick>activatewindow(MusicSettings)</onclick>
				</item>
				<item id="4">
					<description>Addons</description>
					<label>24001</label>
					<label2>31408</label2>
					<onclick>activatewindow(AddonBrowser)</onclick>
				</item>
				<item id="5">
					<description>Pictures</description>
					<label>1</label>
					<label2>31403</label2>
					<onclick>activatewindow(PicturesSettings)</onclick>
				</item>
				<item id="6">
					<description>Weather</description>
					<label>8</label>
					<label2>31404</label2>
					<onclick>activatewindow(WeatherSettings)</onclick>
				</item>
				<item id="7">
					<description>Network</description>
					<label>705</label>
					<label2>31405</label2>
					<onclick>activatewindow(NetworkSettings)</onclick>
				</item>
				<item id="8">
					<description>System</description>
					<label>13000</label>
					<label2>31406</label2>
					<onclick>activatewindow(SystemSettings)</onclick>
				</item>
				<!--item id="9">
					<description>Profiles</description>
					<label>13200</label>
					<label2>31421</label2>
					<onclick>activatewindow(Profiles)</onclick>
				</item-->
				<item id="10">
					<description>System Info</description>
					<label>130</label>
					<label2>31409</label2>
					<onclick>activatewindow(7)</onclick>
				</item>
				<!--item id="11">
					<description>Skin Settings</description>
					<label>Skin</label>
					<label2>31407</label2>
					<onclick>activatewindow(56)</onclick>
				</item-->
			</content>				
			
		</control>
		
	</controls>

</window>