<?xml version="1.0" encoding="UTF-8"?>
<window>
	<onunload>RunScript(script.embuary.helper,action=getkodisetting,setting=locale.country,strip=timeformat)</onunload>
	<defaultcontrol>8999</defaultcontrol>
	<visible>Window.IsTopMost(settings)</visible>
	<controls>
		<include>backgroundsimple</include>
		<control type="image"><!-- Skin logo -->
			<left>225</left>
			<top>225</top>
			<width>768</width>
			<height>384</height>
			<aspectratio>keep</aspectratio>
			<texture>skin-logo-big.png</texture>
		</control>
		<include>fake-overlay</include>
		<control type="label"><!-- Screen heading -->
			<left>1400</left>
			<top>30</top>
			<width>465</width>
			<height>48</height>
			<label>$LOCALIZE[5]</label>
			<font>apptv30</font>
		</control>
		<!-- Markers for control area items -->
		<include content="page-offscreen-vertical">
			<param name="indicator1left" value="1512"/>
			<param name="indicator1top" value="135"/>
			<param name="indicator2left" value="1512"/>
			<param name="indicator2top" value="990"/>
			<param name="indicatorsize" value="36"/>
			<param name="indicatorcontainer" value="8999"/>
		</include>
		<control type="group">
			<visible>Control.IsVisible(8999)</visible>
			<left>1170</left>
			<top>168</top>
			<control type="list" id="8999">
				<left>0</left>
				<top>0</top>
				<width>720</width>
				<height>825</height>
				<onleft>4999</onleft>
				<onright>4999</onright>
				<onup>4999</onup>
				<ondown>4999</ondown>
				<itemlayout height="75">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>720</width>
						<height>75</height>
						<texture border="9">button-default.png</texture>
					</control>
					<control type="label">
						<left>27</left>
						<top>12</top>
						<width>660</width>
						<height>45</height>
						<font>apptv22</font>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="75">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>720</width>
						<height>75</height>
						<texture border="9">button-default-focus.png</texture>
					</control>
					<control type="label">
						<left>27</left>
						<top>12</top>
						<width>660</width>
						<height>45</height>
						<font>apptv22</font>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>$LOCALIZE[14201]</label>
						<onclick>ActivateWindow(playersettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14212]</label>
						<onclick>ActivateWindow(mediasettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14205]</label>
						<onclick>ActivateWindow(pvrsettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14208]</label>
						<onclick>ActivateWindow(servicesettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[15016] $LOCALIZE[5]</label>
						<onclick>ActivateWindow(gamesettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14207]</label>
						<onclick>ActivateWindow(interfacesettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[20077]</label>
						<onclick>ActivateWindow(skinsettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14210]</label>
						<onclick>ActivateWindow(profiles)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14209]</label>
						<onclick>ActivateWindow(systemsettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[138]</label>
						<onclick>ActivateWindow(systeminfo)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[31658]</label>
						<onclick>ActivateWindow(eventlog)</onclick>
					</item>
				</content>
			</control>
		</control>
		<!-- Play bump sound if user tries to leave Settings heading by undefined direction -->
		<include content="illegal-action">
			<param name="controlid" value="4999" />
			<param name="returnid" value="8999" />
		</include>
	</controls>
</window>