<?xml version="1.0" encoding="utf-8"?>
<window>
	<defaultcontrol>8999</defaultcontrol>
	<controls>
		<include>background</include>
		<control type="image">
			<!-- skin logo image -->
			<left>225</left>
			<top>225</top>
			<width>768</width>
			<height>384</height>
			<aspectratio>keep</aspectratio>
			<texture>skin-logo-big.png</texture>
		</control>
		<include>fake-overlay</include>
		<control type="label">
			<!-- Screen heading -->
			<left>1419</left>
			<top>75</top>
			<width>465</width>
			<height>48</height>
			<label>$LOCALIZE[5]</label>
			<font>apptv30</font>
		</control>
		<!-- Markers for control area items -->
		<include content="page-offscreen-vertical">
			<param name="indicator1left" value="1512"/>
			<param name="indicator1top" value="135"/>
			<param name="indicator2left" value="1512"/>
			<param name="indicator2top" value="990"/>
			<param name="indicatorsize" value="36"/>
			<param name="indicatorcontainer" value="8999"/>
		</include>
		<control type="group">
			<visible>Control.IsVisible(8999)</visible>
			<left>1170</left>
			<top>168</top>
			<control type="list" id="8999">
				<left>0</left>
				<top>0</top>
				<width>720</width>
				<height>750</height>
				<itemgap>0</itemgap>
				<onup>noop</onup>
				<ondown>noop</ondown>
				<viewtype label="31941">list</viewtype>
				<itemlayout width="720" height="75">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>720</width>
						<height>75</height>
						<texture border="9">button-default.png</texture>
					</control>
					<control type="label">
						<left>27</left>
						<top>12</top>
						<width>660</width>
						<height>45</height>
						<font>apptv22</font>
						<include condition="Skin.HasSetting(text-autoscroll)">scrolltext</include>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout width="720" height="75">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>720</width>
						<height>75</height>
						<texture border="9">button-default-focus.png</texture>
					</control>
					<control type="label">
						<left>27</left>
						<top>12</top>
						<width>660</width>
						<height>45</height>
						<font>apptv22</font>
						<include condition="Skin.HasSetting(text-autoscroll)">scrolltext</include>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>$LOCALIZE[14201]</label>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14212]</label>
						<onclick>ActivateWindow(MediaSettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14205]</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14208]</label>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14207]</label>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[20077]</label>
						<onclick>ActivateWindow(SkinSettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14210]</label>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[14209]</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[138]</label>
						<onclick>ActivateWindow(systeminfo)</onclick>
					</item>
					<item>
						<label>$LOCALIZE[31658]</label>
						<onclick>ActivateWindow(eventlog)</onclick>
					</item>
				</content>
			</control>
		</control>
	</controls>
</window>