<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>0x00000000</backgroundcolor>
	<defaultcontrol>9000</defaultcontrol>
	<onload condition="IsEmpty(Skin.String(KOverInit))">ReplaceWindow(startup)</onload>	
	<onload condition="!IsEmpty(Window(settings).Property(ChangeSettingsLevel))">ClearProperty(ChangeSettingsLevel)</onload>
	<onload>SetProperty(SidebarPos,RIGHT,Home)</onload>
	<onload>SetProperty(DialogPos,LEFT,Home)</onload>
	<onload>Skin.SetString(DIA.View1.BBSidebar,RIGHT)</onload>
	<onload>Skin.SetString(DIA.View1.DIAPanel,LEFT)</onload>			
	<onload>Skin.SetString(HOM.View1.Name,Home Layout)</onload>
	<onload>Skin.SetString(TV.View1.Name,EPG - Locked)</onload>

	<controls>

		<!-- Decorative Elements -->
		<control type="group">
			<!-- Background -->
			<include name="Wallpaper">
				<param name="CompPrefix" value="HOM.View1" />
			</include>

			<!-- Background -->
			<control type="image">
				<aspectratio>scale</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(Color.SETBg)]">common/white.png</texture>
			</control>
			
			<!-- Left Panel Background -->
			<control type="image">
				<top>0</top>
				<left>0</left>
				<width>660</width>
				<height>1080</height>
				<aspectratio>scale</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(Color.DIABg)]">common/white.png</texture>
			</control>
		</control>

		<!-- Bloc 1 -->
		<control type="group">
			<left>12</left>
			<top>0</top>
			<height>356</height>
			<width>636</width>

			<control type="image">
				<left>24</left>
				<top>24</top>
				<width>588</width>
				<height>308</height>
				<aspectratio>keep</aspectratio>
				<texture background="true" colordiffuse="$INFO[Skin.String(Color.DIATxtNF)]">DefaultAddonService.png</texture>
			</control>

		</control>	

		<!-- Bloc 2 -->
		<control type="group">
			<left>12</left>
			<top>368</top>
			<height>356</height>
			<width>636</width>

			<control type="textbox">
				<left>24</left>
				<top>24</top>
				<width>588</width>
				<height>308</height>
				<font>Font27</font>
				<align>center</align>
				<aligny>center</aligny>
				<textcolor>$INFO[Skin.String(Color.DIATxtNF)]</textcolor>
				<label>$VAR[SettingsInfos]</label>
			</control>

		</control>		

		<!-- Bloc 3 -->
		<control type="group">
			<left>12</left>
			<top>724</top>
			<height>356</height>
			<width>636</width>

			<!-- Heading -->
			<control type="label">
				<top>24</top>
				<left>24</left>
				<width>588</width>
				<height>48</height>
				<align>center</align>
				<aligny>top</aligny>
				<font>Font48</font>
				<label>$INFO[System.CurrentWindow]</label>
				<textcolor>$INFO[Skin.String(Color.DIATitle)]</textcolor>
			</control>		

			<!-- Color Value -->
			<control type="label">
				<top>80</top>
				<left>24</left>
				<width>588</width>
				<height>156</height>height>
				<align>center</align>
				<aligny>top</aligny>
				<font>Font27</font>
				<label>$VAR[DesignerInfo]</label>
				<textcolor>$INFO[Skin.String(Color.DIATxtNF)]</textcolor>
				<wrapmultiline>true</wrapmultiline>
			</control>					

			<!-- Button grouplist -->
			<control type="grouplist" id="9003">
				<right>24</right>
				<top>267</top>
				<width>588</width>
				<height>60</height>
				<itemgap>1</itemgap>
				<align>right</align>
				<onleft>noop</onleft>
				<onright>9000</onright>
				<onup>noop</onup>
				<ondown>noop</ondown>
				<orientation>horizontal</orientation>

				<!-- Close -->
				<control type="button" id="1">
					<width>auto</width>
					<height>60</height>
					<font>Font27</font>
					<align>center</align>
					<texturefocus colordiffuse="$VAR[CategoryColor3]">common/white.png</texturefocus>
					<texturenofocus colordiffuse="00FFFFFF">common/white.png</texturenofocus>
					<textcolor>$INFO[Skin.String(Color.DIATxtNF)]</textcolor>
					<focusedcolor>$INFO[Skin.String(Color.DIATxtF)]</focusedcolor>
					<disabledcolor>$INFO[Skin.String(Color.DIAInvalid)]</disabledcolor>
					<invalidcolor>$INFO[Skin.String(Color.DIAInvalid)]</invalidcolor>
					<label>15067</label>
					<onclick>Close</onclick>
					<onleft>9000</onleft>
				</control>

			</control>						

		</control>

		<include>MainSettingsContent</include>
		
	</controls>
</window>