<?xml version="1.0" encoding="UTF-8"?>
<window>
  <defaultcontrol always="true">9000</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <controls>
    <include>CommonSettingsBackground</include>
    <include>CommonMediaPlayingBackground</include>
    <control type="group">
      <left>90</left>
      <top>50</top>
      <animation type="WindowOpen" reversible="false">
        <!-- <effect type="zoom" start="80" end="100" center="640,360" easing="out" tween="back" time="300" /> -->
        <effect type="fade" start="0" end="95" time="300" />
      </animation>
      <animation type="WindowClose" reversible="false">
        <!--	<effect type="zoom" start="100" end="80" center="640,360" easing="in" tween="back" time="300" /> -->
        <effect type="fade" start="95" end="0" time="300" />
      </animation>
      <control type="image">
        <left>0</left>
        <top>0</top>
        <width>1100</width>
        <height>640</height>
        <colordiffuse>mainblue</colordiffuse>
        <texture border="20">DialogBack.png</texture>
      </control>
      <control type="button">
        <description>Close Window button</description>
        <left>1005</left>
        <top>9</top>
        <width>64</width>
        <height>32</height>
        <label>-</label>
        <font>-</font>
        <onclick>PreviousMenu</onclick>
        <colordiffuse>mainblue</colordiffuse>
        <texturefocus>DialogCloseButton-focus.png</texturefocus>
        <texturenofocus>DialogCloseButton.png</texturenofocus>
        <onleft>1</onleft>
        <onright>1</onright>
        <onup>1</onup>
        <ondown>1</ondown>
        <visible>system.getbool(input.enablemouse)</visible>
      </control>
      <control type="image">
        <description>LOGO</description>
        <left>30</left>
        <top>15</top>
        <width>220</width>
        <height>80</height>
        <aspectratio>keep</aspectratio>
        <colordiffuse>mainblue</colordiffuse>
        <texture>neon.png</texture>
      </control>
      <control type="list" id="9000">
        <left>10</left>
        <top>102</top>
        <width>260</width>
        <height>541</height>
        <onleft>9000</onleft>
        <onright>9001</onright>
        <onup>9000</onup>
        <ondown>9000</ondown>
        <pagecontrol>-</pagecontrol>
        <scrolltime>300</scrolltime>
        <itemlayout height="52" width="260">
          <control type="image">
            <left>0</left>
            <top>0</top>
            <width>260</width>
            <height>45</height>
            <texture>MenuItemNF.png</texture>
          </control>
          <control type="label">
            <left>0</left>
            <top>0</top>
            <width>260</width>
            <height>45</height>
            <font>font24caps_title</font>
            <textcolor>grey3</textcolor>
            <align>center</align>
            <aligny>center</aligny>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </itemlayout>
        <focusedlayout height="52" width="260">
          <control type="image">
            <left>0</left>
            <top>0</top>
            <width>260</width>
            <height>45</height>
            <colordiffuse>mainblue</colordiffuse>
            <texture>mainmenu/home_bottom_white.png</texture>
          </control>
          <control type="label">
            <left>0</left>
            <top>0</top>
            <width>260</width>
            <height>45</height>
            <font>font24caps_title</font>
            <textcolor>white</textcolor>
            <align>center</align>
            <aligny>center</aligny>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </focusedlayout>
        <content>
          <item id="1">
            <label>480</label>
            <label2>31400</label2>
            <onclick>ActivateWindow(AppearanceSettings)</onclick>
            <icon>special://skin/backgrounds/appearance.jpg</icon>
          </item>
          <item id="2">
            <label>157</label>
            <label2>31401</label2>
            <onclick>ActivateWindow(VideosSettings)</onclick>
            <icon>special://skin/backgrounds/videos.jpg</icon>
          </item>
          <item id="3">
            <label>31502</label>
            <label2>31409</label2>
            <onclick>ActivateWindow(MyTVSettings)</onclick>
            <icon>special://skin/backgrounds/tv.jpg</icon>
          </item>
          <item id="4">
            <label>2</label>
            <label2>31402</label2>
            <onclick>ActivateWindow(MusicSettings)</onclick>
            <icon>special://skin/backgrounds/music.jpg</icon>
          </item>
          <item id="5">
            <label>1</label>
            <label2>31403</label2>
            <onclick>ActivateWindow(PicturesSettings)</onclick>
            <icon>special://skin/backgrounds/pictures.jpg</icon>
          </item>
          <item id="6">
            <label>8</label>
            <label2>31404</label2>
            <onclick>ActivateWindow(WeatherSettings)</onclick>
            <icon>special://skin/backgrounds/weather.jpg</icon>
          </item>
          <item id="7">
            <label>24001</label>
            <font>Font_Neon_20</font>
            <label2>31408</label2>
            <onclick>ActivateWindow(AddonBrowser)</onclick>
            <icon>special://skin/backgrounds/addons.jpg</icon>
          </item>
          <item id="8">
            <label>705</label>
            <label2>31405</label2>
            <onclick>ActivateWindow(ServiceSettings)</onclick>
            <icon>special://skin/backgrounds/network.jpg</icon>
          </item>
          <item id="9">
            <label>13000</label>
            <label2>31406</label2>
            <onclick>ActivateWindow(SystemSettings)</onclick>
            <icon>special://skin/backgrounds/system.jpg</icon>
          </item>
        </content>
      </control>
      <control type="image">
        <left>270</left>
        <top>10</top>
        <width>800</width>
        <height>618</height>
        <texture border="5">black-back2.png</texture>
      </control>
      <control type="image">
        <left>268</left>
        <top>50</top>
        <width>805</width>
        <aspectratio>stretch</aspectratio>
        <texture>common/separator.png</texture>
      </control>
      <control type="label">
        <description>header label</description>
        <left>300</left>
        <top>20</top>
        <width>740</width>
        <height>30</height>
        <font>Font_Neon_25</font>
        <label>$LOCALIZE[31000] $LOCALIZE[5]</label>
        <align>left</align>
        <aligny>center</aligny>
        <textcolor>white</textcolor>
        <shadowcolor>black</shadowcolor>
      </control>
      <control type="image">
        <left>278</left>
        <top>60</top>
        <width>785</width>
        <height>450</height>
        <texture border="5">button-nofocus.png</texture>
      </control>
      <control type="image">
        <left>280</left>
        <top>62</top>
        <width>781</width>
        <height>446</height>
        <aspectratio>stretch</aspectratio>
        <fadetime>600</fadetime>
        <texture background="true">$INFO[Container(9000).ListItem.Icon]</texture>
      </control>
      <control type="textbox">
        <description>Appearance Description</description>
        <left>300</left>
        <top>520</top>
        <width>740</width>
        <height>100</height>
        <font>Font_Neon_20</font>
        <label>$INFO[Container(9000).ListItem.Label2]</label>
        <align>left</align>
        <textcolor>white</textcolor>
        <shadowcolor>black</shadowcolor>
      </control>
    </control>
    <include>BehindDialogFadeOut</include>
    <control type="group">
      <left>60</left>
      <top>0</top>
      <control type="image">
        <left>-50</left>
        <top>0</top>
        <texture>Kodi_Logo.png</texture>
      </control>
    </control>
    <include>Time</include>
  </controls>
</window>