<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <controls>
        <!--background-->
        <include>globalBackground</include>
        <!--main menu-->
        <control type="group">
            <posx>col-4-begin</posx>
            <posy>row-7-begin</posy>
            <!--animations-->
            <include>modalDialogInOutVertical</include>
            <control type="image">
                <posx>0</posx>
                <posy>0</posy>
                <width>18-col</width>
                <height>2-row</height>
                <texture>colors/white.png</texture>
                <colordiffuse>highlight</colordiffuse>
                <aspectratio>stretch</aspectratio>
            </control>
            <control type="image">
                <posx>0</posx>
                <posy>2-row</posy>
                <width>18-col</width>
                <height>12-row</height>
                <texture>colors/black.png</texture>
                <colordiffuse>overlay</colordiffuse>
                <aspectratio>stretch</aspectratio>
            </control>
            <control type="label">
                <posx>24</posx>
                <posy>0</posy>
                <width>8-col</width>
                <height>2-row</height>
                <aligny>center</aligny>
                <font>dialogTitle</font>
                <label>$LOCALIZE[5]</label>
                <textcolor>textActive</textcolor>
                <shadowcolor>-</shadowcolor>
            </control>
            <!--menu-->
            <control type="Panel" id="9000">
                <posx>12</posx>
                <posy>2-row</posy>
                <width>18-col</width>
                <height>12-col</height>
                <ondown>9001</ondown>
                <itemlayout width="6-col" height="3-row">
                    <control type="image">
                        <posx>0</posx>
                        <posy>18</posy>
                        <width>1-col</width>
                        <height>1-col</height>
                        <aspectratio scalediffuse="false">scale</aspectratio>
                        <texture border="0">colors/black.png</texture>
                        <colordiffuse>overlay</colordiffuse>
                    </control>
                    <control type="label">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>1-col</width>
                        <height>3-row</height>
                        <align>center</align>
                        <aligny>center</aligny>
                        <font>symbolLarge</font>
                        <textcolor>menuUnselected</textcolor>
                        <label>$INFO[ListItem.label2]</label>
                    </control>
                    <control type="label">
                        <posx>84</posx>
                        <posy>0</posy>
                        <width>5-col-gutter</width>
                        <height>2-row</height>
                        <aligny>center</aligny>
                        <font>itemTitle</font>
                        <textcolor>textActive</textcolor>
                        <label>$INFO[ListItem.label]</label>
                    </control>
                    <control type="label">
                        <posx>84</posx>
                        <posy>1-row</posy>
                        <width>5-col-gutter</width>
                        <height>2-row</height>
                        <aligny>center</aligny>
                        <font>settingsCategoryTitle</font>
                        <textcolor>menuUnselected</textcolor>
                        <label>$INFO[listitem.property(label3)]</label>
                    </control>
                </itemlayout>
                <focusedlayout width="6-col" height="3-row">
                    <control type="image">
                        <posx>0</posx>
                        <posy>18</posy>
                        <width>1-col</width>
                        <height>1-col</height>
                        <aspectratio scalediffuse="false">scale</aspectratio>
                        <texture border="0">colors/white.png</texture>
                        <colordiffuse>textActive</colordiffuse>
                        <include>spinFocusIcon</include>
                    </control>
                    <control type="label">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>1-col</width>
                        <height>3-row</height>
                        <align>center</align>
                        <aligny>center</aligny>
                        <font>symbolLarge</font>
                        <textcolor>ff222222</textcolor>
                        <label>$INFO[ListItem.label2]</label>
                    </control>
                    <control type="label">
                        <posx>84</posx>
                        <posy>0</posy>
                        <width>5-col-gutter</width>
                        <height>2-row</height>
                        <aligny>center</aligny>
                        <font>itemTitle</font>
                        <textcolor>textActive</textcolor>
                        <label>$INFO[ListItem.label]</label>
                    </control>
                    <control type="label">
                        <posx>84</posx>
                        <posy>1-row</posy>
                        <width>5-col-gutter</width>
                        <height>2-row</height>
                        <aligny>center</aligny>
                        <font>settingsCategoryTitle</font>
                        <textcolor>textActive</textcolor>
                        <label>$INFO[listitem.property(label3)]</label>
                    </control>
                </focusedlayout>
                <content>
                    <item>
                        <description>Player Settings</description>
                        <label>$LOCALIZE[14201]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31063]</property>
                        <onclick>activatewindow(PlayerSettings)</onclick>
                    </item>
                    <item>
                        <description>Library Settings</description>
                        <label>$LOCALIZE[14203]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31079]</property>
                        <onclick>activatewindow(MediaSettings)</onclick>
                    </item>
                    <item>
                        <description>PVR Settings</description>
                        <label>$LOCALIZE[14205]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31081]</property>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                    </item>
                    <item>
                        <description>Services Settings</description>
                        <label>$LOCALIZE[14208]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31071]</property>
                        <onclick>activatewindow(ServiceSettings)</onclick>
                    </item>
                    <item>
                        <description>Interface settings</description>
                        <label>$LOCALIZE[14207]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31061]</property>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
                    </item>
                    <item>
                        <description>Skin settings</description>
                        <label>$LOCALIZE[20077]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31083]</property>
                        <onclick>activatewindow(SkinSettings)</onclick>
                    </item>
                    <item>
                        <description>Profiles</description>
                        <label>$LOCALIZE[14210]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31103]</property>
                        <onclick>activatewindow(Profiles)</onclick>
                    </item>
                    <item>
                        <description>System</description>
                        <label>$LOCALIZE[14209]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31105]</property>
                        <onclick>activatewindow(SystemSettings)</onclick>
                    </item>
                    <item>
                        <description>Addons</description>
                        <label>24001</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31067]</property>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                    </item>
                    <item>
                        <description>File Manager</description>
                        <label>10003</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31095]</property>
                        <onclick>activatewindow(filemanager)</onclick>
                    </item>
                    <item>
                        <description>Programs</description>
                        <label>31003</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31111]</property>
                        <onclick>ActivateWindow(programs,addons,return)</onclick>
                    </item>
                    <item>
                        <description>System Info</description>
                        <label>$LOCALIZE[138]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31108]</property>
                        <onclick>ActivateWindow(systeminfo)</onclick>
                    </item>
                </content>
            </control>
			<!--libreelec builds only-->
			<control type="button" id="9001">
				<visible>System.HasAddon(service.libreelec.settings)</visible>
				<label>$LOCALIZE[31226]</label>
				<posx>6-col</posx>
                <posy>15-row</posy>
                <width>6-col</width>
				<align>center</align>
				<texturenofocus>colors/offblack.png</texturenofocus>
				<onclick>RunAddon(service.libreelec.settings)</onclick>
				<onup>9000</onup>
			</control>
        </control>
        <!--debugging-->
        <include>DebugGrid</include>
        <control type="label">
            <include>WindowID</include>
            <label>Settings.xml</label>
        </control>
    </controls>
</window>
