<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
    <defaultcontrol always="true">500</defaultcontrol>
    <allowoverlay>no</allowoverlay>
    <backgroundcolor>background</backgroundcolor>
    <controls>
        <include>BlackBackground</include>
        <include>WindowsTopInfos</include>
        <control type="group">
            <control type="list" id="500">
                <top>80</top>
                <width>500</width>
                <height>1000</height>
                <onleft>noop</onleft>
                <onright>noop</onright>
                <onup>500</onup>
                <ondown>500</ondown>
                <pagecontrol>60</pagecontrol>
                <viewtype label="500">500</viewtype>
                <preloaditems>4</preloaditems>
                <scrolltime tween="sine" easing="inout">280</scrolltime>
                <itemlayout width="500" height="81">
                    <control type="label" description="Main Label">
                        <include>52MainLabel</include>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <include>listline</include>
                </itemlayout>
                <focusedlayout width="500" height="81">
                    <control type="image">
                        <width>500</width>
                        <height>81</height>
                        <texture colordiffuse="$VAR[diffuseselect]">images/buttonselect1.png</texture>
                    </control>
                    <control type="label" description="Main Label">
                        <textcolor>black</textcolor>
                        <include>52MainLabel</include>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <include>listline</include>
                </focusedlayout>
                <content>
                    <item id="1" description="Appearance">
                        <label>XBMC $LOCALIZE[10004]</label>
                        <onclick>activatewindow(AppearanceSettings)</onclick>
                    </item>
                    <item id="2" description="Skin Settings">
                        <label>20077</label>
                        <onclick>activatewindow(SkinSettings)</onclick>
                    </item>
                    <!--item id="3" description="Videos">
                       <label>3</label>
                       <onclick>activatewindow(VideosSettings)</onclick>
                    </item>
                    <item id="4" description="Music">
                       <label>2</label>
                       <onclick>activatewindow(MusicSettings)</onclick>
                    </item>
                    <item id="14" description="LiveTV">
                       <label>31059</label>
                       <onclick>activatewindow(PVRSettings)</onclick>
                    </item>
                    <item id="5" description="Pictures">
                       <label>1</label>
                       <onclick>activatewindow(PicturesSettings)</onclick>
                    </item-->
                    <item id="3" description="Addons">
                        <label>24001</label>
                        <onclick>activatewindow(AddonBrowser,root)</onclick>
                    </item>
                    <!--item id="8" description="Weather">
                       <label>8</label>
                       <onclick>activatewindow(WeatherSettings)</onclick>
                    </item>
                    <item id="9" description="Services">
                       <label>14036</label>
                       <onclick>Activatewindow(servicesettings)</onclick>
                    </item>
                    <item id="10" description="System">
                       <label>13000</label>
                       <onclick>activatewindow(SystemSettings)</onclick>
                    </item-->
                    <item id="4" description="Profiles">
                        <label>13200</label>
                        <onclick>ActivateWindow(Profiles)</onclick>
                    </item>
                    <item id="5" description="File manager">
                        <label>10003</label>
                        <onclick>ActivateWindow(filemanager)</onclick>
                    </item>
                    <item id="6" description="Sys Info">
                        <label>$LOCALIZE[138]</label>
                        <onclick>activatewindow(systeminfo)</onclick>
                    </item>
                    <item id="7" description="Maintenance">
                        <visible>System.HasAddon(service.clean.up)</visible>
                        <label>31069</label>
                        <onclick>ActivateWindow(1717)</onclick>
                    </item>
                </content>
            </control>
        </control>
        <control type="image" description="Logo">
            <visible>!Container(500).HasFocus(2)</visible>
            <animation effect="fade" time="100">VisibleChange</animation>
            <left>960</left>
            <top>100</top>
            <width>500</width>
            <height>500</height>
            <aspectratio align="center">keep</aspectratio>
            <texture background="true">images/XBMCLogo.png</texture>
        </control>
        <control type="image" description="Logo">
            <visible>Container(500).HasFocus(2)</visible>
            <animation effect="fade" time="100">VisibleChange</animation>
            <left>960</left>
            <top>80</top>
            <width>500</width>
            <height>500</height>
            <aspectratio>keep</aspectratio>
            <texture background="true">images/Sio2Logo.png</texture>
        </control>
        <control type="textbox" description="infos">
            <left>880</left>
            <top>550</top>
            <width>660</width>
            <height>500</height>
            <font>size33</font>
            <scroll>false</scroll>
            <aligny>top</aligny>
            <align>center</align>
            <label>$VAR[settingsmain]</label>
        </control>
        <control type="image">
            <posx>500</posx>
            <height>1080</height>
            <width>1</width>
            <texture>images/lineV.png</texture>
        </control>
    </controls>
</window>
