<window>
    <defaultcontrol always="true">9030</defaultcontrol>
    <include>Slide_In_WindowOpen</include>
    <include>Slide_Out_WindowClose</include>
    <controls>
        <!-- Backgrounds -->
        <include>Background</include>
        <!-- Elipsis Visor -->
        <include>Visor_Filter</include>
        <!-- Edge Filter -->
        <include>Edge_Filter</include>
        <!-- Clock -->
        <include>Clock</include>
        <!-- Now Playing Widget -->
        <include>Now_Playing_Widget</include>
        <!-- Config Scroller -->
        <include>Menu_Config</include>
        <control type="group">
            <left>960</left>
            <top>0</top>
            <control type="image">
                <left>-68</left>
                <top>1012</top>
                <width>136</width>
                <height>136</height>
                <texture>button_ex_idle.png</texture>
            </control>
            <control type="image">
                <left>-68</left>
                <top>1023</top>
                <width>136</width>
                <height>68</height>
                <texture>dock_reveal_icon.png</texture>
            </control>
        </control>
        <include>Debug</include>
    </controls>
</window>
