<?xml version="1.0" encoding="UTF-8"?>
<window>
    <onload condition="Skin.hassetting(stopVideoOnMenu) + !Player.HasAudio">PlayerControl(stop)</onload>
    <backgroundcolor>latarcolor</backgroundcolor>
    <defaultcontrol always="true">9000</defaultcontrol>
    <controls>
        <include>UniversalGlobalBackground</include>
        <control type="group"
                 id="9999">
            <right>64</right>
            <left>64</left>
            <control type="group">
                <include condition="!Skin.HasSetting(NoAnimationInSkin)">TempEvoSlideFadeDownTwoWayFast</include>
                <control type="list"
                         id="9000">
                    <posy>180</posy>
                    <posx>0</posx>
                    <width>468</width>
                    <height>900</height>
                    <onup>noop</onup>
                    <ondown>noop</ondown>
                    <onright>9011</onright>
                    <onleft>noop</onleft>
                    <itemlayout height="108">
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture>shape/dim108/roundedsquare.png</texture>
                            <colordiffuse>sorotdark</colordiffuse>
                            <bordersize>6</bordersize>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.icon]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.thumb]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="label">
                            <posx>108</posx>
                            <posy>0</posy>
                            <width>auto</width>
                            <height>108</height>
                            <textoffsetx>18</textoffsetx>
                            <aligny>center</aligny>
                            <font>Font28Medium</font>
                            <textcolor>textActive</textcolor>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </itemlayout>
                    <focusedlayout height="108">
                        <control type="group">
                            <height>108</height>
                            <include condition="!Skin.HasSetting(NoAnimationInSkin)">TempEvoFocusedItemFade</include>
                            <include content="TempEvoModelListHorizontalRounded">
                                <param name="modelkey_size"
                                       value="108" />
                                <param name="modelkey_color"
                                       value="sorotan" />
                                <param name="dimensionkey_size"
                                       value="dim108" />
                            </include>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture>shape/dim108/roundedsquare.png</texture>
                            <colordiffuse>sorotdark</colordiffuse>
                            <bordersize>6</bordersize>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.icon]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.thumb]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
                            <aspectratio>scale</aspectratio>
                        </control>
                        <control type="label">
                            <posx>108</posx>
                            <posy>0</posy>
                            <width>auto</width>
                            <height>108</height>
                            <textoffsetx>18</textoffsetx>
                            <aligny>center</aligny>
                            <font>Font28Medium</font>
                            <textcolor>textActive</textcolor>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </focusedlayout>
                    <content>
                        <item>
                            <label>$LOCALIZE[13200]</label>
                            <onclick>ActivateWindow(Profiles)</onclick>
                            <icon>home/settings/profiles.png</icon>
                            <thumb>home/settings/profiles.png</thumb>
                        </item>
                        <item>
                            <label>$LOCALIZE[14206]</label>
                            <onclick>ActivateWindow(InterfaceSettings)</onclick>
                            <icon>home/settings/interface.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14200]</label>
                            <onclick>ActivateWindow(PlayerSettings)</onclick>
                            <icon>home/settings/player.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14211]</label>
                            <onclick>ActivateWindow(MediaSettings)</onclick>
                            <icon>home/settings/media.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14204]</label>
                            <onclick>ActivateWindow(PVRSettings)</onclick>
                            <icon>home/settings/livetv.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[15016]</label>
                            <visible>System.GetBool(gamesgeneral.enable)</visible>
                            <onclick>ActivateWindow(GameSettings)</onclick>
                            <icon>home/settings/games.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14036]</label>
                            <onclick>ActivateWindow(ServiceSettings)</onclick>
                            <icon>home/settings/network.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[13000]</label>
                            <onclick>ActivateWindow(SystemSettings)</onclick>
                            <icon>home/settings/system.png</icon>
                        </item>
                        <item>
                            <label>LibreELEC</label>
                            <onclick>RunAddon(service.libreelec.settings)</onclick>
                            <icon>home/settings/libreelec.png</icon>
                            <visible>System.AddonIsEnabled(service.libreelec.settings)</visible>
                        </item>
                    </content>
                </control>
                <control type="group"
                         id="9001">
                    <posx>504</posx>
                    <top>180</top>
                    <bottom>288</bottom>
                    <include content="TempEvoModelDialogRounded">
                        <param name="modelkey_size"
                               value="144" />
                        <param name="modelkey_color"
                               value="80000000" />
                        <param name="dimensionkey_size"
                               value="dim144" />
                    </include>
                    <control type="group">
                        <left>36</left>
                        <top>18</top>
                        <bottom>18</bottom>
                        <right>36</right>
                        <control type="group">
                            <posy>0</posy>
                            <right>0</right>
                            <width>396</width>
                            <height>108</height>
                            <include content="TempEvoModelListHorizontalRounded">
                                <param name="modelkey_size"
                                       value="108" />
                                <param name="modelkey_color"
                                       value="20FFFFFF" />
                                <param name="dimensionkey_size"
                                       value="dim108" />
                            </include>
                            <control type="group">
                                <visible>Control.HasFocus(9011)</visible>
                                <include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisible</include>
                                <include content="TempEvoModelListHorizontalRounded">
                                    <param name="modelkey_size"
                                           value="108" />
                                    <param name="modelkey_color"
                                           value="sorotan" />
                                    <param name="dimensionkey_size"
                                           value="dim108" />
                                </include>
                            </control>
                            <control type="image">
                                <posx>0</posx>
                                <posy>0</posy>
                                <width>90</width>
                                <height>108</height>
                                <aspectratio>keep</aspectratio>
                                <texture>kodilogo.png</texture>
                                <bordersize>6</bordersize>
                            </control>
                            <control type="label">
                                <posx>90</posx>
                                <posy>12</posy>
                                <width>auto</width>
                                <height>36</height>
                                <textoffsetx>18</textoffsetx>
                                <aligny>center</aligny>
                                <font>Font32Bold</font>
                                <textcolor>textActive</textcolor>
                                <label>KODI $INFO[System.BuildVersionCode]</label>
                            </control>
                            <control type="label">
                                <posx>90</posx>
                                <posy>52</posy>
                                <width>auto</width>
                                <height>24</height>
                                <textoffsetx>18</textoffsetx>
                                <aligny>center</aligny>
                                <font>Font22Bold</font>
                                <textcolor>textActive</textcolor>
                                <label>$INFO[System.BuildVersion]</label>
                            </control>
                            <control type="label">
                                <posx>90</posx>
                                <posy>72</posy>
                                <width>auto</width>
                                <height>26</height>
                                <textoffsetx>18</textoffsetx>
                                <aligny>center</aligny>
                                <font>Font20Regular</font>
                                <textcolor>textActive</textcolor>
                                <label>$INFO[System.OSVersionInfo]</label>
                            </control>
                            <control type="button"
                                     id="9011">
                                <onleft>9000</onleft>
                                <onright>noop</onright>
                                <onup>9002</onup>
                                <ondown>9012</ondown>
                                <width>100%</width>
                                <height>100%</height>
                                <texturefocus colordiffuse="00FFFFFF">colors/white.png</texturefocus>
                                <texturenofocus colordiffuse="00ffffff">colors/white.png</texturenofocus>
                                <onclick>ActivateWindow(systeminfo)</onclick>
                            </control>
                        </control>
                        <control type="group">
                            <posy>0</posy>
                            <right>432</right>
                            <height>108</height>
                            <include content="TempEvoModelListHorizontalRounded">
                                <param name="modelkey_size"
                                       value="108" />
                                <param name="modelkey_color"
                                       value="20FFFFFF" />
                                <param name="dimensionkey_size"
                                       value="dim108" />
                            </include>
                            <control type="group">
                                <visible>Control.HasFocus(9015)</visible>
                                <include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisible</include>
                                <include content="TempEvoModelListHorizontalRounded">
                                    <param name="modelkey_size"
                                           value="108" />
                                    <param name="modelkey_color"
                                           value="sorotan" />
                                    <param name="dimensionkey_size"
                                           value="dim108" />
                                </include>
                            </control>
                            <control type="image">
                                <posx>0</posx>
                                <posy>0</posy>
                                <width>108</width>
                                <height>108</height>
                                <aspectratio scalediffuse="false">scale</aspectratio>
                                <texture fallback="colors/black.png"
                                         border="0"
                                         diffuse="shape/dim108/roundedsquare.png">$INFO[System.ProfileThumb]</texture>
                                <bordersize>6</bordersize>
                            </control>
                            <control type="label">
                                <posx>108</posx>
                                <posy>12</posy>
                                <width>auto</width>
                                <height>54</height>
                                <textoffsetx>18</textoffsetx>
                                <aligny>center</aligny>
                                <font>Font32Bold</font>
                                <textcolor>textActive</textcolor>
                                <label>$INFO[System.ProfileName]</label>
                            </control>
                            <control type="label">
                                <posx>108</posx>
                                <posy>68</posy>
                                <width>auto</width>
                                <height>24</height>
                                <textoffsetx>18</textoffsetx>
                                <aligny>center</aligny>
                                <font>Font22Regular</font>
                                <textcolor>textActive</textcolor>
                                <label>$INFO[System.FriendlyName]</label>
                            </control>
                            <control type="button"
                                     id="9015">
                                <onleft>9000</onleft>
                                <onright>noop</onright>
                                <onup>9002</onup>
                                <ondown>9012</ondown>
                                <width>100%</width>
                                <height>100%</height>
                                <texturefocus colordiffuse="00FFFFFF">colors/white.png</texturefocus>
                                <texturenofocus colordiffuse="00ffffff">colors/white.png</texturenofocus>
                                <onclick>ActivateWindow(Profiles)</onclick>
                            </control>
                        </control>
                        <control type="group">
                            <posy>180</posy>
                            <right>0</right>
                            <height>216</height>
                            <control type="group">
                                <visible>Control.HasFocus(9012)</visible>
                                <include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisible</include>
                                <include content="TempEvoModelDialogRounded">
                                    <param name="modelkey_size"
                                           value="90" />
                                    <param name="modelkey_color"
                                           value="sorotdark" />
                                    <param name="dimensionkey_size"
                                           value="dim90" />
                                </include>
                            </control>
                            <control type="label">
                                <posx>0</posx>
                                <posy>0</posy>
                                <width>auto</width>
                                <height>144</height>
                                <textoffsetx>36</textoffsetx>
                                <aligny>center</aligny>
                                <font>Font108Bold</font>
                                <textcolor>textActive</textcolor>
                                <label>LimaSky</label>
                            </control>
                            <control type="label">
                                <posx>18</posx>
                                <posy>162</posy>
                                <width>auto</width>
                                <height>36</height>
                                <textoffsetx>36</textoffsetx>
                                <aligny>center</aligny>
                                <font>Font28Bold</font>
                                <textcolor>textActive</textcolor>
                                <label>0.9.2.4 (AnimaCakra V0.8 / AnimaOne V2.1.3)</label>
                            </control>
                            <control type="button"
                                     id="9012">
                                <onleft>9000</onleft>
                                <onright>noop</onright>
                                <onup>9011</onup>
                                <ondown>noop</ondown>
                                <width>100%</width>
                                <height>100%</height>
                                <texturefocus colordiffuse="00FFFFFF">colors/white.png</texturefocus>
                                <texturenofocus colordiffuse="00ffffff">colors/white.png</texturenofocus>
                                <onclick>ActivateWindow(skinsettings)</onclick>
                            </control>
                        </control>
                    </control>
                    <control type="panel"
                             id="9002">
                        <bottom>-252</bottom>
                        <right>0</right>
                        <height>216</height>
                        <onup>noop</onup>
                        <ondown>9011</ondown>
                        <onleft>9000</onleft>
                        <onright>noop</onright>
                        <orientation>horizontal</orientation>
                        <itemlayout height="216"
                                    width="216">
                            <control type="image">
                                <posx>0</posx>
                                <posy>0</posy>
                                <aspectratio>stretch</aspectratio>
                                <texture>shape/dim216/roundedsquare.png</texture>
                                <bordersize>6</bordersize>
                                <colordiffuse>40000000</colordiffuse>
                            </control>
                            <control type="image">
                                <posy>0</posy>
                                <width>216</width>
                                <height>216</height>
                                <texture diffuse="shape/dim216/roundedsquare.png">$INFO[ListItem.icon]</texture>
                                <colordiffuse>FFFFFFFF</colordiffuse>
                                <bordersize>6</bordersize>
                                <aspectratio>scale</aspectratio>
                            </control>
                            <control type="label">
                                <bottom>18</bottom>
                                <posx>18</posx>
                                <width>180</width>
                                <height>36</height>
                                <align>center</align>
                                <aligny>center</aligny>
                                <font>Font22Bold</font>
                                <textcolor>textActive</textcolor>
                                <label>$INFO[ListItem.Label]</label>
                            </control>
                        </itemlayout>
                        <focusedlayout height="216"
                                       width="216">
                            <control type="group">
                                <control type="image">
                                    <posx>0</posx>
                                    <posy>0</posy>
                                    <aspectratio>stretch</aspectratio>
                                    <texture>shape/dim216/roundedsquare.png</texture>
                                    <bordersize>6</bordersize>
                                    <colordiffuse>40000000</colordiffuse>
                                </control>
                                <control type="image">
                                    <posx>0</posx>
                                    <include condition="!Skin.HasSetting(NoAnimationInSkin)">TempEvoFocusedItemFade</include>
                                    <posy>0</posy>
                                    <aspectratio>stretch</aspectratio>
                                    <texture>shape/dim216/roundedsquare.png</texture>
                                    <bordersize>6</bordersize>
                                    <colordiffuse>sorotan</colordiffuse>
                                </control>
                                <control type="image">
                                    <posy>0</posy>
                                    <width>216</width>
                                    <height>216</height>
                                    <texture diffuse="shape/dim216/roundedsquare.png">$INFO[ListItem.icon]</texture>
                                    <colordiffuse>FFFFFFFF</colordiffuse>
                                    <bordersize>6</bordersize>
                                    <aspectratio>scale</aspectratio>
                                </control>
                                <control type="label">
                                    <bottom>18</bottom>
                                    <posx>18</posx>
                                    <width>180</width>
                                    <height>36</height>
                                    <align>center</align>
                                    <aligny>center</aligny>
                                    <font>Font22Bold</font>
                                    <textcolor>textActive</textcolor>
                                    <label>$INFO[ListItem.Label]</label>
                                </control>
                            </control>
                        </focusedlayout>
                        <content>
                            <item>
                                <label>$LOCALIZE[10003]</label>
                                <onclick>ActivateWindow(filemanager)</onclick>
                                <icon>home/settings/filemanager.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[24001]</label>
                                <onclick>ActivateWindow(addonbrowser)</onclick>
                                <icon>home/settings/addons.png</icon>
                            </item>
                            <item>
                                <label>Log</label>
                                <onclick>ActivateWindow(eventlog)</onclick>
                                <icon>home/settings/eventlog.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[482]</label>
                                <onclick>ActivateWindow(systeminfo)</onclick>
                                <icon>home/settings/sysinfo.png</icon>
                            </item>
                        </content>
                    </control>
                </control>
            </control>
        </control>
        <include content="DefaultWindowHeader">
            <param name="visible_control">true</param>
            <param name="header_label"
                   value="$LOCALIZE[5]" />
            <param name="subheader_label"
                   value="" />
            <param name="pos_left"
                   value="64" />
        </include>
        <!-- Universal Status Bar -->
        <include>StatusBarandTimeDisplay</include>
    </controls>
</window>