<?xml version="1.0" encoding="UTF-8"?>
<window>
    <onload condition="Skin.hassetting(stopVideoOnMenu) + !Player.HasAudio">PlayerControl(stop)</onload>
    <backgroundcolor>latarcolor</backgroundcolor>
    <defaultcontrol always="true">9000</defaultcontrol>
    <controls>
        <include>UniversalGlobalBackground</include>
        <control type="group"
                 id="9999">
            <right>64</right>
            <left>64</left>
            <control type="group">
                <include condition="!Skin.HasSetting(NoAnimationInSkin)">TempEvoSlideFadeDownTwoWayFast</include>
                <control type="list"
                         id="9000">
                    <bottom>0</bottom>
                    <posx>0</posx>
                    <width>540</width>
                    <height>864</height>
                    <onup>noop</onup>
                    <ondown>noop</ondown>
                    <onright>9001</onright>
                    <onleft>noop</onleft>
                    <itemlayout height="108">
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture>shape/dim108/roundedsquare.png</texture>
                            <colordiffuse>sorotdark</colordiffuse>
                            <bordersize>6</bordersize>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.icon]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.thumb]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="label">
                            <posx>108</posx>
                            <posy>0</posy>
                            <width>auto</width>
                            <height>108</height>
                            <textoffsetx>18</textoffsetx>
                            <aligny>center</aligny>
                            <font>Font28Medium</font>
                            <textcolor>textActive</textcolor>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </itemlayout>
                    <focusedlayout height="108">
                        <control type="group">
                            <height>108</height>
                            <include condition="!Skin.HasSetting(NoAnimationInSkin)">TempEvoFocusedItemFade</include>
                            <include content="TempEvoModelListHorizontalRounded">
                                <param name="modelkey_size"
                                       value="108" />
                                <param name="modelkey_color"
                                       value="sorotan" />
                                <param name="dimensionkey_size"
                                       value="dim108" />
                            </include>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture>shape/dim108/roundedsquare.png</texture>
                            <colordiffuse>sorotdark</colordiffuse>
                            <bordersize>6</bordersize>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.icon]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png" background="true">$INFO[ListItem.thumb]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="label">
                            <posx>108</posx>
                            <posy>0</posy>
                            <width>auto</width>
                            <height>108</height>
                            <textoffsetx>18</textoffsetx>
                            <aligny>center</aligny>
                            <font>Font28Medium</font>
                            <textcolor>textActive</textcolor>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </focusedlayout>
                    <content>
                        <item>
                            <label>$LOCALIZE[14206]</label>
                            <onclick>ActivateWindow(InterfaceSettings)</onclick>
                            <icon>home/settings/interface.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14200]</label>
                            <onclick>ActivateWindow(PlayerSettings)</onclick>
                            <icon>home/settings/player.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14211]</label>
                            <onclick>ActivateWindow(MediaSettings)</onclick>
                            <icon>home/settings/media.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14204]</label>
                            <onclick>ActivateWindow(PVRSettings)</onclick>
                            <icon>home/settings/livetv.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[15016]</label>
                            <visible>System.GetBool(gamesgeneral.enable)</visible>
                            <onclick>ActivateWindow(GameSettings)</onclick>
                            <icon>home/settings/games.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14036]</label>
                            <onclick>ActivateWindow(ServiceSettings)</onclick>
                            <icon>home/settings/network.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[13000]</label>
                            <onclick>ActivateWindow(SystemSettings)</onclick>
                            <icon>home/settings/system.png</icon>
                        </item>
                        <item>
                            <label>LibreELEC</label>
                            <onclick>RunAddon(service.libreelec.settings)</onclick>
                            <icon>home/settings/libreelec.png</icon>
                            <visible>System.AddonIsEnabled(service.libreelec.settings)</visible>
                        </item>
                    </content>
                </control>
                <control type="panel"
                         id="9001">
                    <bottom>0</bottom>
                    <posx>576</posx>
                    <height>864</height>
                    <onup>noop</onup>
                    <ondown>noop</ondown>
                    <onright>noop</onright>
                    <onleft>9000</onleft>
			<itemlayout height="108">
				<include content="ListLayoutNormalSize">
					<param name="size_height" value="108"/>
					<param name="dimensionkey_size" value="dim108"/>
					<param name="visible_details" value="true"/>
					<param name="control_label1" value="$INFO[Listitem.label]"/>
					<param name="control_label2" value="$INFO[Listitem.label2]"/>
				</include>
	                </itemlayout>
	                <focusedlayout height="108">
				<control type="group">
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">TempEvoFocusedItemFade</include>
					<include content="TempEvoModelListHorizontalRounded">
						<param name="modelkey_size" value="108" />
						<param name="modelkey_color" value="sorotan" />
						<param name="dimensionkey_size" value="dim108" />
					</include>
				</control>
				<include content="ListLayoutNormalSize">
					<param name="size_height" value="108"/>
					<param name="dimensionkey_size" value="dim108"/>
					<param name="visible_details" value="true"/>
					<param name="control_label1" value="$INFO[Listitem.label]"/>
					<param name="control_label2" value="$INFO[Listitem.label2]"/>
				</include>
	               </focusedlayout>
                    <content>
                        <item>
                            <label>$LOCALIZE[13200]</label>
                            <label2>$INFO[System.ProfileName]</label2>
                            <onclick>ActivateWindow(Profiles)</onclick>
                            <icon>home/settings/profiles.png</icon>
                            <thumb>$INFO[System.ProfileThumb]</thumb>
                        </item>
                            <item>
                                <label>$LOCALIZE[20077]</label>
                                <label2>LimaSky TempEvo $NUMBER[1.0.0]</label2>
                                <onclick>ActivateWindow(skinsettings)</onclick>
                                <icon>home/settings/skin.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[10003]</label>
                                <onclick>ActivateWindow(filemanager)</onclick>
                                <icon>home/settings/filemanager.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[24001]</label>
                                <onclick>ActivateWindow(addonbrowser)</onclick>
                                <icon>home/settings/addons.png</icon>
                            </item>
                            <item>
                                <label>Log</label>
                                <onclick>ActivateWindow(eventlog)</onclick>
                                <icon>home/settings/eventlog.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[482]</label>
                                <label2>KODI $INFO[System.BuildVersion]</label2>
                                <onclick>ActivateWindow(systeminfo)</onclick>
                                <icon>home/settings/sysinfo.png</icon>
                            </item>
                    </content>
                </control>
            </control>
        </control>
        <include content="DefaultWindowHeader">
			<param name="sidemenu_visible">false</param>
            <param name="visible_control">true</param>
            <param name="header_label"
                   value="$LOCALIZE[5]" />
            <param name="subheader_label"
                   value="" />
            <param name="pos_left"
                   value="64" />
        </include>
        <!-- Universal Status Bar -->
        <include>StatusBarandTimeDisplay</include>
    </controls>
</window>