<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol>9000</defaultcontrol>
	<backgroundcolor>ffdadad7</backgroundcolor>
	<onload condition="!IsEmpty(Window(settings).Property(ChangeSettingsLevel))">ClearProperty(ChangeSettingsLevel)</onload>

	<controls>
		<include>top_bar_solid</include>
		<control type="group">
			<!--$LOCALIZE[31158] - Change Settings -->

			<control type="group">
				<control type="image">
					<posx>1630</posx>
					<posy>80</posy>
					<width>290</width>
					<height>1000</height>
					<texture background="true">main/main_menu.png</texture>
				</control>
				<control type="image">
					<posx>0</posx>
					<posy>945</posy>
					<width>1630</width>
					<height>135</height>
					<texture background="true">main/widget_title.png</texture>
				</control>
				<!-- Appearance Description -->
				<control type="label">
					<posx>30</posx>
					<posy>950</posy>
					<width>1570</width>
					<height>90</height>
					<align>center</align>
					<label>$VAR[settings_description]</label>
					<textcolor>white</textcolor>
					<font>font-20</font>
				</control>

			</control>
			<control type="image">
				<posx>550</posx>
				<posy>200</posy>
				<width>512</width>
				<height>512</height>
				<texture background="true">settings.png</texture>
			</control>

			<control type="grouplist" id="9000">
				<posx>1631</posx>
				<posy>118</posy>
				<width>290</width>
				<height>880</height>
				<itemgap>0</itemgap>
				<onright>noop</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<orientation>vertical</orientation>

				<!-- Interface Settings -->
				<control type="button" id="1">
					<width>300</width>
					<height>57</height>
					<label>14207</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(InterfaceSettings)</onclick>
					<onleft>ActivateWindow(InterfaceSettings)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				
				<!-- PlayerSettings -->
				<control type="button" id="2">
					<width>300</width>
					<height>57</height>
					<label>14201</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(PlayerSettings)</onclick>
					<onleft>ActivateWindow(PlayerSettings)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				
				<!-- MediaSettings -->
				<control type="button" id="3">
					<width>300</width>
					<height>57</height>
					<label>14212</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(MediaSettings)</onclick>
					<onleft>ActivateWindow(MediaSettings)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				
				<!-- System -->
				<control type="button" id="6">
					<width>300</width>
					<height>57</height>
					<label>13000</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(systemsettings)</onclick>
					<onleft>ActivateWindow(systemsettings)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				<!-- Service -->
				<control type="button" id="7">
					<width>300</width>
					<height>57</height>
					<label>14036</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(servicesettings)</onclick>
					<onleft>ActivateWindow(servicesettings)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				<!-- PVR -->
				<control type="button" id="8">
					<width>300</width>
					<height>57</height>
					<label>19191</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(pvrsettings)</onclick>
					<onleft>ActivateWindow(pvrsettings)</onleft>
					<ondown>10</ondown>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				<!-- Seperator -->
				<control type="image" id="9">
					<width>290</width>
					<height>2</height>
					<texture background="true">white.png</texture>
					<animation effect="fade" end="95" time="0" condition="true">Conditional</animation>
				</control>
				<!-- System info -->
				<control type="button" id="10">
					<width>300</width>
					<height>57</height>
					<label>130</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(systeminfo)</onclick>
					<onleft>ActivateWindow(systeminfo)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>

				<!-- Event Log -->
				<control type="button" id="11">
					<width>300</width>
					<height>57</height>
					<label>14111</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(eventlog)</onclick>
					<onleft>ActivateWindow(eventlog)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				<!-- Addons -->
				<control type="button" id="12">
					<width>300</width>
					<height>57</height>
					<label>24001</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(addonbrowser)</onclick>
					<onleft>ActivateWindow(addonbrowser)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				<!-- Profiles -->
				<control type="button" id="13">
					<width>300</width>
					<height>57</height>
					<label>13200</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(profiles)</onclick>
					<onleft>ActivateWindow(profiles)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				<!-- File Manager -->
				<control type="button" id="14">
					<width>300</width>
					<height>57</height>
					<label>7</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(filemanager)</onclick>
					<onleft>ActivateWindow(filemanager)</onleft>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
			<!-- Level of settings -->
				<control type="button" id="15">
					<width>300</width>
					<height>57</height>
					<label>$LOCALIZE[31001]</label>
					<font>menu</font>
					<include>button_settings</include>
					<onleft>SetProperty(ChangeSettingsLevel,true)</onleft>
					<onleft>ActivateWindow(InterfaceSettings)</onleft>
					<onclick>SetProperty(ChangeSettingsLevel,true)</onclick>
					<onclick>ActivateWindow(InterfaceSettings)</onclick>
					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>
				<!-- Seperator -->
				<control type="image" id="16">
					<width>290</width>
					<height>2</height>
					<texture background="true">white.png</texture>
					<animation effect="fade" end="95" time="0" condition="true">Conditional</animation>
				</control>
				<!-- Phenomenal Skin -->
				<control type="button" id="17">
					<width>300</width>
					<height>57</height>
					<label>31002</label>
					<font>menu</font>
					<include>button_settings</include>
					<onclick>ActivateWindow(SkinSettings)</onclick>
					<onleft>ActivateWindow(SkinSettings)</onleft>

					<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
				</control>

			</control>

			<include>skin_version_label</include>

		</control>


	</controls>
</window>
