<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<!--background-->
		<include condition="!Skin.HasSetting(lights.out)">GlobalBackground</include>
		<include>Furniture_NowPlaying</include>
		<include>Furniture_HeaderEmby</include>
		<include>Furniture_EmbyClock</include>
		<!--main menu-->
		<control type="group">
			<left>NewSidePad</left>
			<right>NewSidePad</right>
			<top>TopPad</top>
			<!--animations-->
			<include condition="!Skin.HasSetting(low.power)">Animation.Common</include><include condition="Skin.HasSetting(low.power)">Animation.Common.Lowpower</include>
			<control type="image">
				<height>72</height>
				<texture>common/white.png</texture>
				<colordiffuse>$VAR[EmbyMenuTextColourHighlight]</colordiffuse>
				<aspectratio>stretch</aspectratio>
			</control>
			<control type="label">
				<left>10</left>
				<right>10</right>
				<height>72</height>
				<aligny>center</aligny>
				<align>center</align>
				<font>settingsheader</font>
				<label>$LOCALIZE[5]</label>
				<textcolor>$VAR[EmbyMenuColourHighlight]</textcolor>
				<shadowcolor>-</shadowcolor>
			</control>
			<!--menu-->
			<control type="Panel" id="9000">
				<posy>72</posy>
				<height>900</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<itemlayout width="633.33" height="204">
					<control type="image">
						<aspectratio scalediffuse="false">stretch</aspectratio>
						<texture>common/box.png</texture>
						<colordiffuse>$VAR[EmbyMenuColourHighlight]</colordiffuse>
					</control>
					<control type="label">
						<bottom>20</bottom>
						<left>10</left>
						<height>112</height>
						<align>left</align>
						<aligny>bottom</aligny>
						<font>symbolbiggest</font>
						<textcolor>$VAR[EmbyMenuTextColourHighlight]</textcolor>
						<label>$INFO[ListItem.label2]</label>
					</control>
					<control type="label">
						<right>10</right>
						<posy>10</posy>
						<height>31</height>
						<aligny>top</aligny>
						<align>right</align>
						<font>SmallBold</font>
						<textcolor>$VAR[EmbyMenuTextColourHighlight]</textcolor>
						<label>$INFO[ListItem.label]</label>
					</control>
					<control type="label">
						<right>10</right>
						<posy>51</posy>
						<height>25</height>
						<aligny>center</aligny>
						<align>right</align>
						<font>Tiny</font>
						<textcolor>$VAR[EmbyMenuTextColourHighlight]</textcolor>
						<label>$INFO[listitem.property(label3)]</label>
					</control>
				</itemlayout>
				<focusedlayout width="633.33" height="204">
					<control type="image">
						<aspectratio scalediffuse="false">stretch</aspectratio>
						<texture>common/box.png</texture>
						<colordiffuse>$VAR[3ColumnHighlight]</colordiffuse>
					</control>
					<control type="label">
						<bottom>20</bottom>
						<left>10</left>
						<height>112</height>
						<align>left</align>
						<aligny>bottom</aligny>
						<font>symbolbiggest</font>
						<textcolor>$VAR[ColourSelected]</textcolor>
						<label>$INFO[ListItem.label2]</label>
					</control>
					<control type="label">
						<posy>10</posy>
						<right>10</right>
						<height>31</height>
						<align>right</align>
						<aligny>top</aligny>
						<font>SmallBold</font>
						<textcolor>$VAR[ColourSelected]</textcolor>
						<label>$INFO[ListItem.label]</label>
					</control>
					<control type="label">
						<posy>51</posy>
						<right>10</right>
						<height>25</height>
						<aligny>center</aligny>
						<align>right</align>
						<font>Tiny</font>
						<textcolor>$VAR[ColourSelected]</textcolor>
						<label>$INFO[listitem.property(label3)]</label>
					</control>
				</focusedlayout>
				<content>
					<item id="0">
						<description>Skin Settings</description>
						<label>31869</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31936] • $LOCALIZE[31937]</property>
						<onclick>activatewindow(SkinSettings)</onclick>
					</item>
					<item id="1">
						<description>Appearance</description>
						<label>480</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31851]</property>
						<onclick>activatewindow(AppearanceSettings)</onclick>
					</item>
					<item id="2">
						<description>Videos</description>
						<label>3</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31852] • $LOCALIZE[24012]</property>
						<onclick>activatewindow(VideosSettings)</onclick>
					</item>
					<item id="9">
						<label>$LOCALIZE[19191]</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31853] • $LOCALIZE[31854]</property>
						<onclick>ActivateWindow(PVRSettings)</onclick>
					</item>
					<item id="3">
						<description>Music</description>
						<label>2</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31855] • $LOCALIZE[31856]</property>
						<onclick>activatewindow(MusicSettings)</onclick>
					</item>
					<item id="4">
						<description>Addons</description>
						<label>24001</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31857]</property>
						<onclick>activatewindow(AddonBrowser)</onclick>
					</item>
					<item id="5">
						<description>Pictures</description>
						<label>1</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31855] • $LOCALIZE[31858]</property>
						<onclick>activatewindow(PicturesSettings)</onclick>
					</item>
					<item id="6">
						<description>Weather</description>
						<label>8</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31859] • $LOCALIZE[31860]</property>
						<onclick>activatewindow(WeatherSettings)</onclick>
					</item>
					<item id="7">
						<description>Services</description>
						<label>14036</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31861] • $LOCALIZE[31862]</property>
						<onclick>activatewindow(ServiceSettings)</onclick>
					</item>
					<item id="8">
						<description>System</description>
						<label>13000</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[14094] • $LOCALIZE[14095]</property>
						<onclick>activatewindow(SystemSettings)</onclick>
					</item>
					<item id="9">
						<description>Profiles</description>
						<label>13200</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31863] • $LOCALIZE[31864]</property>
						<onclick>activatewindow(profiles)</onclick>
					</item>
					<item id="11">
						<label>130</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31867] • $LOCALIZE[31868]</property>
						<onclick>activatewindow(7)</onclick>
					</item>
				</content>
			</control>
		</control>
	</controls>
</window>