<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
	<defaultcontrol always="true">50</defaultcontrol>
	
	<allowoverlay>yes</allowoverlay>
	<onload>ReplaceWindow(home)</onload>
	
	<controls>
		<control type="label" id="12">
			<left>-10</left>
			<top>-10</top>
			<width>1</width>
			<height>1</height>
			<animation effect="fade" start="1" end="0" time="0" condition="true">Conditional</animation>
		</control>
	</controls>

</window>