<?xml version="1.0" encoding="UTF-8"?>
<includes>
	<include name="menu_Options">
		<control type="group" id="4998">
			<left>-384</left>
			<include>toggle_Menu</include>
			<animation type="WindowClose">
				<effect type="slide" end="-384" tween="Sine" easing="Out" time="150"/>
			</animation>
			<control type="image">
				<width>384</width>
				<height>1080</height>
				<texture colordiffuse="$VAR[color:Accent]">colorize/20.png</texture>
				<aspectratio>stretch</aspectratio>
			</control>
		<!--tabs-->
			<control type="group" id="4999">
				<width>384</width>
				<height>1080</height>
				<control type="group">
					<visible>!Skin.HasSetting(shortcutsmenu.disable) + !Window.IsActive(1106)</visible>
					<control type="image">
						<width>192</width>
						<height>108</height>
						<texture colordiffuse="$VAR[color:Accent]">colorize/70.png</texture>
						<visible>Control.HasFocus(5001) | Control.HasFocus(7100)</visible>
					</control>
					<control type="image">
						<left>192</left>
						<width>192</width>
						<height>108</height>
						<texture colordiffuse="$VAR[color:Accent]">colorize/70.png</texture>
						<visible>Control.HasFocus(5002) | ControlGroup(7000).HasFocus()</visible>
					</control>
					<control type="image">
						<top>108</top>
						<width>384</width>
						<height>972</height>
						<texture colordiffuse="$VAR[color:Accent]">colorize/70.png</texture>
					</control>
				</control>
				<control type="image">
					<width>384</width>
					<height>1080</height>
					<texture colordiffuse="$VAR[color:Accent]">colorize/70.png</texture>
					<visible>Skin.HasSetting(shortcutsmenu.disable) | Window.IsActive(1106)</visible>
				</control>
			</control>

			<control type="grouplist" id="5000">
				<width>384</width>
				<height>108</height>
				<itemgap>0</itemgap>
				<onleft>noop</onleft>
				<onright>50</onright>
				<orientation>horizontal</orientation>
				<visible>!Skin.HasSetting(shortcutsmenu.disable) + !Window.IsActive(1106)</visible>
				<control type="button" id="5001">
					<onup>99</onup>
					<ondown>7100</ondown>
					<onfocus>SetFocus(7100)</onfocus>
					<include content="menu_Button">
						<param name="Label">&#57413;</param>
						<param name="Width">192</param>
						<param name="Height">108</param>
						<param name="Align">center</param>
						<param name="AlignY">center</param>
						<param name="Font">Symbols-32</param>
						<param name="TextColor">$VAR[menu:Color.Tab1]</param>
					</include>
				</control>
				<control type="button" id="5002">
					<onup>99</onup>
					<ondown>7000</ondown>
					<onfocus>SetFocus(7000)</onfocus>
					<include content="menu_Button">
						<param name="Label">&#57447;</param>
						<param name="Width">192</param>
						<param name="Height">108</param>
						<param name="Align">center</param>
						<param name="AlignY">center</param>
						<param name="Font">Symbols-32</param>
						<param name="TextColor">$VAR[menu:Color.Tab2]</param>
					</include>
				</control>
			</control>

			<!-- Trigger button for the left tab to pass a value to, so the window back action can be overriden and menu can be closed -->
			<control type="button" id="5597">
				<label></label>
				<onfocus>SetFocus(5500)</onfocus>
				<onfocus>ClearProperty(MenuOpen,Home)</onfocus>
				<visible allowhiddenfocus="true">false</visible>
			</control>

			<control type="group" id="5998">
				<top>108</top>
				<width>384</width>
				<height>972</height>

				<!-- Tab 1 -->
				<include condition="!Skin.HasSetting(shortcutsmenu.disable)">menu_Shortcuts</include>

				<!-- Tab2 -->
				<control type="grouplist" id="7000">
					<onback>ClearProperty(MenuOpen,Home)</onback>
					<itemgap>0</itemgap>
					<orientation>vertical</orientation>
					<onleft>7001</onleft>
					<onright>5500</onright>
					<height>1080</height>
					<include>fadeinout</include>
					<visible allowhiddenfocus="true">Control.HasFocus(5002) | ControlGroup(7000).HasFocus() | Control.HasFocus(5500)</visible>
					<include condition="Window.IsActive(Videos)">menu_Video</include>
					<include condition="Window.IsActive(Pictures)">menu_Pictures</include>
					<include condition="Window.IsActive(Music)">menu_Music</include>
					<include condition="Window.IsActive(Games)">menu_Games</include>
					<include condition="Window.IsActive(AddonBrowser) | Window.IsActive(Programs) | Window.IsActive(1110)">menu_Addons</include>
					<include condition="Window.IsActive(script-NextAired-TVGuide.xml) | Window.IsActive(script-NextAired-TVGuide2.xml)">menu_Other</include>
					<include condition="Window.IsActive(settings) | Window.IsActive(SettingsCategory.xml) | Window.IsActive(SkinSettings) | Window.IsActive(eventlog)">menu_System</include>
					<include condition="Window.IsActive(MyPVRGuide.xml) | Window.IsActive(MyPVRChannels.xml) | Window.IsActive(MyPVRSearch.xml) | Window.IsActive(MyPVRRecordings.xml) | Window.IsActive(MyPVRTimers.xml)">menu_PVR</include>
					<include condition="Window.IsActive(videoplaylist) | Window.IsActive(musicplaylist)">menu_Playlist</include>
					<include condition="Window.IsActive(Weather)">menu_Weather</include>
					<include condition="Window.IsActive(1106)">menu_Demo</include>			
				</control>
			</control>
		</control>
	</include>
</includes>