<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">50</defaultcontrol>
	<menucontrol>7000</menucontrol>
	<controls>

	<!-- Background -->
		<include content="background_Global">
			<param name="GridTexture">overlays/108.png</param>
		</include>

	<!-- Chrome -->

		<control type="group">
			<include>toggle_Menu</include>
		
			<control type="group">
				<include>transition_Chrome</include>
				<include content="global_WindowChrome">
					<param name="Title">$VAR[window:Title.System]</param>
				</include>
			</control>

			<control type="group">
				<include>transition_Content</include>
				<control type="list" id="50">
					<top>108</top>
					<onright>6500</onright>
					<include>view_List-Commons</include>
					<itemlayout width="screen_Width" height="108">
						<control type="group">
							<include content="view_List-Data">
								<param name="Top">14</param>
								<param name="Height">54</param>
								<param name="Label2" value="$INFO[ListItem.Label2]"/>
								<param name="Symbol" value="$INFO[ListItem.Property(Icon)]"/>
								<param name="TextColor2">$VAR[color:Text.2]</param>
								<param name="SymbolColor" value="$VAR[color:Text.3]"/>
								<param name="SymbolSize" value="128"/>
							</include>
						</control>
					</itemlayout>
					<focusedlayout width="screen_Width" height="108">
						<include content="view_List-Focus">
							<param name="Height" value="108"/>
							<param name="Width" value="1920"/>
						</include>
						<control type="group">
							<include content="view_List-Data">
								<param name="Top">14</param>
								<param name="Height">54</param>
								<param name="Label2" value="$INFO[ListItem.Label2]"/>
								<param name="TextColor">$VAR[color:Main]</param>
								<param name="TextColor2">$VAR[color:Main]</param>
								<param name="Symbol" value="$INFO[ListItem.Property(Icon)]"/>
								<param name="SymbolColor" value="$VAR[color:Main]"/>
								<param name="SymbolSize" value="128"/>
							</include>
						</control>
					</focusedlayout>
					<content>
				 		<!--interface-->
				 		<item id="1">
							<label>$LOCALIZE[14206]</label>
							<label2>$LOCALIZE[166] &#8226; $LOCALIZE[14222] &#8226; $LOCALIZE[24008] &#8226; $LOCALIZE[12360] &#8226; $LOCALIZE[512] &#8226; $LOCALIZE[20304]</label2>
							<property name="Icon">&#58927;</property>
							<onclick>ActivateWindow(InterfaceSettings)</onclick>
						</item>
						<!--Grid-->
						<item id="2">
							<label>$LOCALIZE[166]</label>
							<label2>$LOCALIZE[31300] &#8226; $LOCALIZE[31306] &#8226; $LOCALIZE[31301] &#8226; $LOCALIZE[14022] &#8226; $LOCALIZE[14078] &#8226; $LOCALIZE[24001] &#8226; $LOCALIZE[31372] &#8226; $LOCALIZE[31371]</label2>
							<property name="Icon">&#58910;</property>
							<onclick>ActivateWindow(SkinSettings)</onclick>
						</item>
						<!--media-->
						<item id="3">
							<label>$LOCALIZE[14211]</label>
							<label2>$LOCALIZE[20094] &#8226; $LOCALIZE[799] &#8226; $LOCALIZE[14219] &#8226; $LOCALIZE[544] &#8226; $LOCALIZE[14081] &#8226; $LOCALIZE[21412]</label2>
							<property name="Icon">&#59063;</property>
							<onclick>ActivateWindow(MediaSettings)</onclick>
						</item>
						<!--player-->
						<item id="4">
							<label>$LOCALIZE[16003]</label>
							<label2>$LOCALIZE[14086] &#8226; $LOCALIZE[12006] &#8226; $LOCALIZE[14087] &#8226; $LOCALIZE[1] &#8226; $LOCALIZE[21447] &#8226; $LOCALIZE[24012] &#8226; $LOCALIZE[37032]</label2>
							<property name="Icon">&#59053;</property>
							<onclick>ActivateWindow(PlayerSettings)</onclick>
						</item>
						<!--tv-->
						<item id="5">
							<label>$LOCALIZE[14204]</label>
							<label2>$LOCALIZE[19019] &#8226; $LOCALIZE[19181] &#8226; $LOCALIZE[19222] &#8226; $LOCALIZE[14086] &#8226; $LOCALIZE[19043] &#8226; $LOCALIZE[14095] &#8226; $LOCALIZE[19259]</label2>
							<property name="Icon">&#58944;</property>
							<onclick>ActivateWindow(PVRSettings)</onclick>
						</item>
						<!-- Games -->
						<item id="6">
							<label>$LOCALIZE[15016]</label>
							<label2>$LOCALIZE[35201] &#8226; $LOCALIZE[35150] &#8226; $LOCALIZE[35151]</label2>
							<property name="Icon">&#57371;</property>
							<onclick>ActivateWindow(GameSettings)</onclick>
						</item>
						<!--services-->
						<item id="7">
							<label>$LOCALIZE[14036]</label>
							<label2>$LOCALIZE[1271] &#8226; $LOCALIZE[1259] &#8226; $LOCALIZE[790] &#8226; $LOCALIZE[20187] &#8226; $LOCALIZE[1273] &#8226; $LOCALIZE[1200] &#8226; $LOCALIZE[12600]</label2>
							<property name="Icon">&#58981;</property>
							<onclick>ActivateWindow(ServiceSettings)</onclick>
						</item>
				 		<!--system-->
						<item id="8">
							<label>$LOCALIZE[13000]</label>
							<label2>$LOCALIZE[131] &#8226; $LOCALIZE[14221] &#8226; $LOCALIZE[14125] &#8226; $LOCALIZE[798] &#8226; $LOCALIZE[14095] &#8226; $LOCALIZE[24001] &#8226; $LOCALIZE[14092]</label2>
							<property name="Icon">&#59039;</property>
							<onclick>ActivateWindow(SystemSettings)</onclick>
						</item>
						<!--profile-->
						<item id="9">
							<label>$LOCALIZE[13200]</label>
							<label2>$LOCALIZE[20067] &#8226; $LOCALIZE[20096]</label2>
							<property name="Icon">&#57345;</property>
							<onclick>ActivateWindow(Profiles)</onclick>
						</item>
					</content>
				</control>
			</control>
		</control>
		
		<!-- Menu -->
		<include>menu_Options</include>
	</controls>
</window>