<window>
	<defaultcontrol>8999</defaultcontrol>
	<backgroundcolor>0</backgroundcolor>
	<allowoverlay>yes</allowoverlay>
	<previouswindow>Home</previouswindow>
	<controls>
		<include>background</include>
		<include>xtv-box</include>
		<include>Fake-Overlay</include>
		<control type="image">
			<description>Settings Logo</description>
			<include>icon-header-commons</include>
			<texture>icon-settings.png</texture>
		</control>
		<control type="label">
			<description>Settings Label</description>
			<posx>946</posx>
			<posy>50</posy>
			<width>504</width>
			<height>37</height>
			<label>31035</label>
			<font>font20</font>
		</control>
		
		<!-- Markers for control area items -->
		<control type="image">
			<posx>1000</posx>
			<posy>88</posy>
			<height>27</height>
			<width>38</width>
			<texture>scroll-up.png</texture>
			<visible>Container(8999).HasPrevious</visible>
		</control>
		<control type="image">
			<posx>1000</posx>
			<posy>670</posy>
			<height>27</height>
			<width>38</width>
			<texture>scroll-down.png</texture>
			<visible>Container(8999).HasNext</visible>
		</control>
	
		<control type="group">
			<visible>Control.IsVisible(8999)</visible>
			<posx>780</posx>
			<posy>112</posy>
			<control type="list" id="8999">
				<posx>0</posx>
				<posy>0</posy>
				<width>580</width>
				<height>550</height>
				<onup>8999</onup>
				<ondown>8999</ondown>
				<viewtype label="List">list</viewtype>
				<scrolltime>220</scrolltime>
				<itemlayout width="560" height="50">
					<control type="label">
						<posy>8</posy>
						<posx>20</posx>
						<height>30</height>
						<width>440</width>
						<font>font12</font>
						<include condition="Skin.HasSetting(autoscroll)">scrolltext</include>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<posy>10</posy>
						<posx>440</posx>
						<width>27</width>
						<height>27</height>
						<texture>scroll-right.png</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</itemlayout>
				<focusedlayout width="560" height="50">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>480</width>
						<height>50</height>
						<texture border="8">default-button.png</texture>
					</control>	
					<control type="label">
						<posy>8</posy>
						<posx>20</posx>
						<height>30</height>
						<width>440</width>
						<font>font12</font>
						<include condition="Skin.HasSetting(autoscroll)">scrolltext</include>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<posy>10</posy>
						<posx>440</posx>
						<width>27</width>
						<height>27</height>
						<texture>scroll-right-focus.png</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</focusedlayout>
				<content>
					<item id="0">
						<description>Appearance</description>
						<label>480</label>
						<onclick>Activatewindow(AppearanceSettings)</onclick>
					</item>
					<item id="1">
						<description>Videos</description>
						<label>3</label>
						<onclick>Activatewindow(VideosSettings)</onclick>
					</item>
					<item id="2">
						<description>TV</description>
						<label>19020</label>
						<onclick>Activatewindow(PVRSettings)</onclick>
					</item>
					<item id="3">
						<description>Music</description>
						<label>2</label>
						<onclick>Activatewindow(MusicSettings)</onclick>
					</item>
					<item id="4">
						<description>Pictures</description>
						<label>1</label>
						<onclick>Activatewindow(PicturesSettings)</onclick>
					</item>
					<item id="5">
						<description>Addons</description>
						<label>24001</label>
						<onclick>Activatewindow(AddonBrowser)</onclick>
					</item>
					<item id="6">
						<description>Weather</description>
						<label>8</label>
						<onclick>Activatewindow(WeatherSettings)</onclick>
					</item>
					<item id="7">
						<description>Services</description>
						<label>14036</label>
						<onclick>Activatewindow(servicesettings)</onclick>
					</item>
					<item id="8">
						<description>System</description>
						<label>13000</label>
						<onclick>Activatewindow(SystemSettings)</onclick>
					</item>
					<item id="9">
						<description>Profiles</description>
						<label>13200</label>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item id="10">
						<description>File manager</description>
						<label>10003</label>
						<onclick>ActivateWindow(filemanager)</onclick>
					</item>
					<item id="11">
						<description>System Info</description>
						<label>138</label>
						<onclick>Activatewindow(systeminfo)</onclick>
					</item>
				</content>
			</control>
		</control>
	</controls>
</window>