<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol>8999</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<previouswindow>Home</previouswindow>
	<controls>
		<include>background</include>
		<include>xtv-box</include>
		<include>Fake-Overlay</include>
		<control type="image">
			<description>Settings Logo</description>
			<include>icon-header-commons</include>
			<texture>icon-settings.png</texture>
		</control>
		<control type="label">
			<description>Settings Label</description>
			<posx>946</posx>
			<posy>50</posy>
			<width>504</width>
			<height>37</height>
			<label>$LOCALIZE[31035]</label>
			<font>font20</font>
		</control>

		<!-- Markers for control area items -->
		<control type="image">
			<posx>1008</posx>
			<posy>92</posy>
			<height>24</height>
			<width>24</width>
			<texture>scroll-up.png</texture>
			<visible>Container(8999).HasPrevious</visible>
		</control>
		<control type="image">
			<posx>1008</posx>
			<posy>658</posy>
			<height>24</height>
			<width>24</width>
			<texture>scroll-down.png</texture>
			<visible>Container(8999).HasNext</visible>
		</control>

		<control type="group">
			<visible>Control.IsVisible(8999)</visible>
			<posx>780</posx>
			<posy>112</posy>
			<control type="list" id="8999">
				<posx>0</posx>
				<posy>0</posy>
				<width>480</width>
				<height>550</height>
				<onup>noop</onup>
				<ondown>noop</ondown>
				<scrolltime>100</scrolltime>
				<viewtype label="List">list</viewtype>
				<itemlayout width="480" height="50">
					<control type="label">
						<posx>18</posx>
						<posy>8</posy>
						<height>30</height>
						<width>440</width>
						<font>font12</font>
						<include condition="Skin.HasSetting(autoscroll)">scrolltext</include>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<posy>10</posy>
						<posx>438</posx>
						<width>30</width>
						<height>30</height>
						<texture>scroll-right.png</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</itemlayout>
				<focusedlayout width="480" height="50">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>480</width>
						<height>50</height>
						<texture border="8">default-button.png</texture>
					</control>
					<control type="label">
						<posx>18</posx>
						<posy>8</posy>
						<height>30</height>
						<width>440</width>
						<font>font12</font>
						<include condition="Skin.HasSetting(autoscroll)">scrolltext</include>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<posy>10</posy>
						<posx>438</posx>
						<width>30</width>
						<height>30</height>
						<texture>scroll-right-focus.png</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</focusedlayout>
				<content>
					<item id="0">
						<description>Appearance</description>
						<label>$LOCALIZE[480]</label>
						<onclick>Activatewindow(AppearanceSettings)</onclick>
					</item>
					<item id="1">
						<description>Videos</description>
						<label>$LOCALIZE[3]</label>
						<onclick>Activatewindow(VideosSettings)</onclick>
					</item>
					<item id="2">
						<description>TV</description>
						<label>$LOCALIZE[19020]</label>
						<onclick>Activatewindow(PVRSettings)</onclick>
					</item>
					<item id="3">
						<description>Music</description>
						<label>$LOCALIZE[2]</label>
						<onclick>Activatewindow(MusicSettings)</onclick>
					</item>
					<item id="4">
						<description>Pictures</description>
						<label>$LOCALIZE[1]</label>
						<onclick>Activatewindow(PicturesSettings)</onclick>
					</item>
					<item id="5">
						<description>Addons</description>
						<label>$LOCALIZE[24001]</label>
						<onclick>Activatewindow(AddonBrowser)</onclick>
					</item>
					<item id="6">
						<description>Weather</description>
						<label>$LOCALIZE[8]</label>
						<onclick>Activatewindow(WeatherSettings)</onclick>
					</item>
					<item id="7">
						<description>Services</description>
						<label>$LOCALIZE[14036]</label>
						<onclick>Activatewindow(servicesettings)</onclick>
					</item>
					<item id="8">
						<description>System</description>
						<label>$LOCALIZE[13000]</label>
						<onclick>Activatewindow(SystemSettings)</onclick>
					</item>
					<item id="9">
						<description>Profiles</description>
						<label>$LOCALIZE[13200]</label>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item id="10">
						<description>File manager</description>
						<label>$LOCALIZE[10003]</label>
						<onclick>ActivateWindow(filemanager)</onclick>
					</item>
					<item id="11">
						<description>System Info</description>
						<label>$LOCALIZE[138]</label>
						<onclick>Activatewindow(systeminfo)</onclick>
					</item>
				</content>
			</control>
		</control>
	</controls>
</window>