<window id="4">
	<defaultcontrol always="true">8998</defaultcontrol>
	<backgroundcolor>0</backgroundcolor>
	<allowoverlay>yes</allowoverlay>
	<previouswindow>Home</previouswindow>
	<controls>
		<control type="button" id="8998" description="If Home screen has changed, reload skin">
			<posx>-10</posx>
			<posy>-10</posy>
			<width>0</width>
			<height>0</height>
			<onfocus>Control.SetFocus(8999)</onfocus>
			<include condition="[Skin.HasSetting(home-changed) + !Skin.HasSetting(home-reloaded)]">ReloadSkin</include>
		</control>
		
		<include>background</include>
		<include>xtv-box</include>
		<include>Fake-Overlay</include>
		<control type="image">
			<description>Settings Logo</description>
			<include>icon-header-commons</include>
			<texture>icon-settings.png</texture>
		</control>
		<control type="label">
			<description>Settings Label</description>
			<posx>946</posx>
			<posy>50</posy>
			<width>504</width>
			<height>37</height>
			<label>31035</label>
			<font>font20</font>
			<textcolor>button-text</textcolor>
		</control>
		
		<control type="group" description="Group 8999">
			<visible>Control.IsVisible(8999)</visible>
			<posx>780</posx>
			<posy>112</posy>
			<control type="list" id="8999">
				<posx>0</posx>
				<posy>0</posy>
				<width>580</width>
				<height>600</height>
				<onup>8999</onup>
				<ondown>8999</ondown>
				<viewtype label="List">list</viewtype>
				<scrolltime>220</scrolltime>
				<itemlayout width="560" height="47">
					<control type="label">
						<posy>5</posy>
						<posx>20</posx>
						<height>30</height>
						<width>440</width>
						<font>font12</font>
						<scroll>false</scroll>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<posy>10</posy>
						<posx>440</posx>
						<width>27</width>
						<height>27</height>
						<texture>scroll-right.png</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</itemlayout>
				<focusedlayout width="560" height="47">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>480</width>
						<height>47</height>
						<texture>default-button.png</texture>
						<aspectratio>stretch</aspectratio>
					</control>	
					<control type="label">
						<posy>5</posy>
						<posx>20</posx>
						<height>30</height>
						<width>440</width>
						<font>font12</font>
						<scroll>false</scroll>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<posy>10</posy>
						<posx>440</posx>
						<width>27</width>
						<height>27</height>
						<texture>scroll-right-focus.png</texture>
						<aspectratio>keep</aspectratio>
					</control>
				</focusedlayout>
				<content>
					<item id="0">
						<description>Appearance</description>
						<label>480</label>
						<onclick>Activatewindow(AppearanceSettings)</onclick>
					</item>
					<item id="1">
						<description>Videos</description>
						<label>3</label>
						<onclick>Activatewindow(VideosSettings)</onclick>
					</item>
					<item id="2">
						<description>Music</description>
						<label>2</label>
						<onclick>Activatewindow(MusicSettings)</onclick>
					</item>
					<item id="3">
						<description>Pictures</description>
						<label>1</label>
						<onclick>Activatewindow(PicturesSettings)</onclick>
					</item>
					<item id="4">
						<description>Addons</description>
						<label>24001</label>
						<onclick>Activatewindow(AddonBrowser)</onclick>
					</item>
					<item id="5">
						<description>Weather</description>
						<label>8</label>
						<onclick>Activatewindow(WeatherSettings)</onclick>
					</item>
					<item id="6">
						<description>Network</description>
						<label>705</label>
						<onclick>Activatewindow(NetworkSettings)</onclick>
					</item>
					<item id="7">
						<description>System</description>
						<label>13000</label>
						<onclick>Activatewindow(SystemSettings)</onclick>
					</item>
					<item id="8" description="Profiles">
						<label>13200</label>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item id="9" description="File manager">
						<label>10003</label>
						<onclick>ActivateWindow(filemanager)</onclick>
					</item>
					<item id="10" description="System Info">
						<label>138</label>
						<onclick>Activatewindow(systeminfo)</onclick>
					</item>
					<item id="11" description="Skin options">
						<label>166</label>
						<onclick>ActivateWindow(52)</onclick>
					</item>
				</content>
			</control>
		</control>
	</controls>
</window>