<?xml version="1.0" encoding="UTF-8"?>
<includes>
	<include file="IncludeData_LimaSkySatu/Animation.xml"/>
	<include file="IncludeData_LimaSkySatu/DialogInfo.xml"/>
	<include file="IncludeData_LimaSkySatu/DialogList.xml"/>
	<include file="IncludeData_LimaSkySatu/DialogPopUp.xml"/>
	<include file="IncludeData_LimaSkySatu/DialogPVR.xml"/>
	<include file="IncludeData_LimaSkySatu/DialogSelective.xml"/>
	<include file="IncludeData_LimaSkySatu/DialogSetting.xml"/>
	<include file="IncludeData_LimaSkySatu/Expression.xml"/>
	<include file="IncludeData_LimaSkySatu/Home.xml"/>
	<include file="IncludeData_LimaSkySatu/MediaInfo.xml"/>
	<include file="IncludeData_LimaSkySatu/MediaLayout.xml"/>
	<include file="IncludeData_LimaSkySatu/OSD.xml"/>
	<include file="IncludeData_LimaSkySatu/Scrap.xml"/>
	<include file="IncludeData_LimaSkySatu/ScrapViewList.xml"/>
	<include file="IncludeData_LimaSkySatu/Settings.xml"/>
	<include file="IncludeData_LimaSkySatu/Script.xml"/>
	<include file="IncludeData_LimaSkySatu/Skin.xml"/>
	<include file="IncludeData_LimaSkySatu/StatusBar.xml"/>
	<include file="IncludeData_LimaSkySatu/Variables.xml"/>
	<include file="IncludeData_LimaSkySatu/View_Music.xml"/>
	<include file="IncludeData_LimaSkySatu/View_PVR.xml"/>
	<include file="IncludeData_LimaSkySatu/View_Universal.xml"/>
	<include file="IncludeData_LimaSkySatu/View_Video.xml"/>
	<include file="IncludeData_LimaSkySatu/Visualisation.xml"/>
	<include file="IncludeData_LimaSkySatu/Weather.xml"/>
	<!--Window Header-->
	<include name="DefaultScrollbars">
		<param name="visible_horizontalbar">false</param>
		<param name="visible_verticalbar">false</param>
		<param name="control_idVer">5009</param>
		<param name="control_HeightVer">auto</param>
		<param name="controlVer_onleft">9999</param>
		<param name="controlVer_onright">noop</param>
		<param name="control_idHor">5008</param>
		<param name="control_EdgeHor">98</param>
		<param name="controlHor_onup">9999</param>
		<param name="controlHor_ondown">noop</param>
		<param name="ItsScrollbarForaDialog">false</param>
		<definition>
			<control type="group">
				<visible>$PARAM[visible_verticalbar]</visible>
				<control type="group">
					<bottom>36</bottom>
					<control type="button">
						<visible>Container().Scrolling</visible>
						<visible>System.HasActiveModalDialog + String.isEqual($PARAM[ItsScrollbarForaDialog],false)</visible>
						<include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisibleDelay</include>
						<right>0</right>
						<bottom>$PARAM[control_HeightVer]</bottom>
						<width>72</width>
						<height>72</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>Font36Medium</font>
						<label>$INFO[Container().ListItem.SortLetter]</label>
						<texturenofocus colordiffuse="overlay">shape/dim72/roundedleft.png</texturenofocus>
					</control>
				</control>
				<control type="scrollbar" id="$PARAM[control_idVer]">
					<animation effect="fade" start="100" end="0" time="180">WindowClose</animation>
					<animation effect="fade" start="100" end="0" time="240" condition="System.HasActiveModalDialog + String.isEqual($PARAM[ItsScrollbarForaDialog],false)">Conditional</animation>
					<animation effect="fade" start="0" end="100" delay="240" time="300">WindowOpen</animation>
					<right>18</right>
					<bottom>36</bottom>
					<width>18</width>
					<height>$PARAM[control_HeightVer]</height>
					<onleft>$PARAM[controlVer_onleft]</onleft>
					<onright>$PARAM[controlVer_onright]</onright>
					<orientation>vertical</orientation>
					<texturesliderbackground colordiffuse="40000000" border="9">shape/statusbar/circle18px.png</texturesliderbackground>
					<texturesliderbar colordiffuse="sorotdark" border="9">shape/statusbar/circle18px.png</texturesliderbar>
					<texturesliderbarfocus colordiffuse="sorotbright" border="9">shape/statusbar/circle18px.png</texturesliderbarfocus>
					<textureslidernib colordiffuse="00FFFFFF" border="9">shape/statusbar/circle18px.png</textureslidernib>
					<textureslidernibfocus colordiffuse="00FFFFFF" border="9">shape/statusbar/circle18px.png</textureslidernibfocus>
					<texturefocus/>
					<showonepage>false</showonepage>
					<animation effect="fade" start="0" end="100" time="200" delay="300">Visible</animation>
					<animation effect="fade" start="100" end="0" time="200">Hidden</animation>
					<animation effect="fade" start="100" end="25" time="300" tween="sine" easing="inout" condition="!Control.HasFocus($PARAM[control_idVer])">conditional</animation>
					<visible>$PARAM[visible_verticalbar]</visible>
				</control>
			</control>
			<control type="group">
				<visible>$PARAM[visible_horizontalbar]</visible>
				<control type="button">
					<visible>System.HasActiveModalDialog + String.isEqual($PARAM[ItsScrollbarForaDialog],false)</visible>
					<visible>Container().Scrolling</visible>
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisibleDelay</include>
					<right>64</right>
					<bottom>0</bottom>
					<width>72</width>
					<height>126</height>
					<textoffsetx>0</textoffsetx>
					<align>center</align>
					<aligny>top</aligny>
					<font>Font36Medium</font>
					<label>$INFO[Container().ListItem.SortLetter]</label>
					<texturenofocus colordiffuse="overlay" border="8">shape/dim72/roundedtop.png</texturenofocus>
				</control>
				<control type="scrollbar" id="$PARAM[control_idHor]">
					<animation effect="fade" start="100" end="0" time="180">WindowClose</animation>
					<animation effect="fade" start="100" end="0" time="240" condition="System.HasActiveModalDialog + String.isEqual($PARAM[ItsScrollbarForaDialog],false)">Conditional</animation>
					<animation effect="fade" start="0" end="100" delay="240" time="300">WindowOpen</animation>
					<bottom>18</bottom>
					<centerleft>50%</centerleft>
					<width>$PARAM[control_EdgeHor]%</width>
					<height>18</height>
					<onup>$PARAM[controlHor_onup]</onup>
					<ondown>$PARAM[controlHor_ondown]</ondown>
					<orientation>horizontal</orientation>
					<texturesliderbackground colordiffuse="40000000" border="9">shape/statusbar/circle18px.png</texturesliderbackground>
					<texturesliderbar colordiffuse="sorotdark" border="9">shape/statusbar/circle18px.png</texturesliderbar>
					<texturesliderbarfocus colordiffuse="sorotbright" border="9">shape/statusbar/circle18px.png</texturesliderbarfocus>
					<textureslidernib colordiffuse="00FFFFFF" border="9">shape/statusbar/circle18px.png</textureslidernib>
					<textureslidernibfocus colordiffuse="00FFFFFF" border="9">shape/statusbar/circle18px.png</textureslidernibfocus>
					<texturefocus/>
					<showonepage>false</showonepage>
					<animation effect="fade" start="0" end="100" time="200" delay="300">Visible</animation>
					<animation effect="fade" start="100" end="0" time="200">Hidden</animation>
					<animation effect="fade" start="100" end="25" time="300" tween="sine" easing="inout" condition="!Control.HasFocus($PARAM[control_idHor])">conditional</animation>
					<visible>$PARAM[visible_horizontalbar]</visible>
				</control>
			</control>
		</definition>
	</include>
	<include name="BackMenuForTouchScreen">
		<param name="control_idVer">5009</param>
		<param name="control_idHor">5008</param>
		<definition>
			<control type="group">
				<control type="button">
					<visible>Skin.HasSetting(OpenNavigationBar)</visible>
					<right>0</right>
					<bottom>0</bottom>
					<width>792</width>
					<height>234</height>
					<texturefocus/>
					<texturenofocus/>
					<label/>
					<font/>
					<onclick>noop</onclick>
				</control>
				<control type="grouplist">
					<visible>Skin.HasSetting(OpenNavigationBar)</visible>
					<include>SlideFadeDownTwoWayVisible</include>
					<right>64</right>
					<bottom>72</bottom>
					<width>720</width>
					<height>90</height>
					<itemgap>0</itemgap>
					<orientation>horizontal</orientation>
					<align>right</align>
					<control type="button">
						<width>18</width>
						<height>90</height>
						<label/>
						<texturefocus colordiffuse="CC808080" border="8">shape/dim72/roundedleft.png</texturefocus>
						<texturenofocus colordiffuse="CC808080" border="8">shape/dim72/roundedleft.png</texturenofocus>
						<onclick>noop</onclick>
					</control>
					<control type="button">
						<width>90</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize36</font>
						<label></label>
						<texturefocus colordiffuse="sorotan">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>back</onclick>
					</control>
					<control type="button">
						<width>18</width>
						<height>90</height>
						<label/>
						<texturefocus colordiffuse="CC808080">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>noop</onclick>
					</control>
					<control type="button">
						<width>90</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize36</font>
						<label>↸</label>
						<texturefocus colordiffuse="sorotan">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>ActivateWindow($INFO[System.StartupWindow])</onclick>
					</control>
					<control type="button">
						<width>18</width>
						<height>90</height>
						<label/>
						<texturefocus colordiffuse="CC808080">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>noop</onclick>
					</control>
					<control type="button">
						<width>90</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize36</font>
						<label></label>
						<texturefocus colordiffuse="sorotan">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>Left</onclick>
					</control>
					<control type="button">
						<width>90</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize36</font>
						<label></label>
						<texturefocus colordiffuse="sorotan">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>Right</onclick>
					</control>
					<control type="button">
						<width>90</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize36</font>
						<label></label>
						<texturefocus colordiffuse="sorotan">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>Select</onclick>
					</control>
					<control type="button">
						<width>90</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize36</font>
						<label></label>
						<texturefocus colordiffuse="sorotan">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>Up</onclick>
					</control>
					<control type="button">
						<width>90</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize36</font>
						<label></label>
						<texturefocus colordiffuse="sorotan">colors/white.png</texturefocus>
						<texturenofocus colordiffuse="CC808080">colors/white.png</texturenofocus>
						<onclick>Down</onclick>
					</control>
					<control type="button">
						<width>18</width>
						<height>90</height>
						<label/>
						<texturefocus colordiffuse="CC808080" border="8">shape/dim72/roundedright.png</texturefocus>
						<texturenofocus colordiffuse="CC808080" border="8">shape/dim72/roundedright.png</texturenofocus>
						<onclick>noop</onclick>
					</control>
				</control>
			</control>
			<control type="group">
				<control type="group">
					<visible>Control.isVisible($PARAM[control_idHor])</visible>
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeRightTwoWayVisible</include>
					<right>0</right>
					<bottom>72</bottom>
					<width>54</width>
					<height>90</height>
					<control type="button">
						<right>0</right>
						<bottom>0</bottom>
						<width>54</width>
						<height>90</height>
						<textoffsetx>0</textoffsetx>
						<label/>
						<texturefocus colordiffuse="sorotan" border="8">shape/dim72/roundedleft.png</texturefocus>
						<texturenofocus colordiffuse="CC808080" border="8">shape/dim72/roundedleft.png</texturenofocus>
						<onclick>Skin.ToggleSetting(OpenNavigationBar)</onclick>
					</control>
					<control type="label">
						<visible>!Skin.HasSetting(OpenNavigationBar)</visible>
						<posx>0</posx>
						<posy>0</posy>
						<width>54</width>
						<height>90</height>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize30</font>
						<textoffsetx>2</textoffsetx>
						<textcolor>80FFFFFF</textcolor>
						<label></label>
					</control>
					<control type="label">
						<visible>Skin.HasSetting(OpenNavigationBar)</visible>
						<posx>0</posx>
						<posy>0</posy>
						<width>54</width>
						<height>90</height>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize30</font>
						<textoffsetx>2</textoffsetx>
						<textcolor>80FFFFFF</textcolor>
						<label></label>
					</control>
				</control>
				<control type="group">
					<visible>!Control.isVisible($PARAM[control_idHor])</visible>
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeRightTwoWayVisible</include>
					<right>72</right>
					<bottom>0</bottom>
					<width>90</width>
					<height>54</height>
					<control type="button">
						<right>0</right>
						<bottom>0</bottom>
						<width>90</width>
						<height>54</height>
						<textoffsetx>0</textoffsetx>
						<label/>
						<texturefocus colordiffuse="sorotan" border="8">shape/dim72/roundedtop.png</texturefocus>
						<texturenofocus colordiffuse="CC808080" border="8">shape/dim72/roundedtop.png</texturenofocus>
						<onclick>Skin.ToggleSetting(OpenNavigationBar)</onclick>
					</control>
					<control type="label">
						<visible>!Skin.HasSetting(OpenNavigationBar)</visible>
						<posx>0</posx>
						<posy>0</posy>
						<width>90</width>
						<height>54</height>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize30</font>
						<textoffsetx>2</textoffsetx>
						<textcolor>80FFFFFF</textcolor>
						<label></label>
					</control>
					<control type="label">
						<visible>Skin.HasSetting(OpenNavigationBar)</visible>
						<posx>0</posx>
						<posy>0</posy>
						<width>90</width>
						<height>54</height>
						<align>center</align>
						<aligny>center</aligny>
						<font>symbolSize30</font>
						<textoffsetx>2</textoffsetx>
						<textcolor>80FFFFFF</textcolor>
						<label></label>
					</control>
				</control>
			</control>
		</definition>
	</include>
	<include name="DefaultWindowHeader">
		<param name="sidemenu_visible">true</param>
		<param name="visible_control">true</param>
		<param name="visible_subheader">true</param>
		<param name="visible_trdheader">true</param>
		<param name="content_containername">$INFO[Container.FolderName]</param>
		<param name="pos_left">0</param>
		<param name="pos_top">54</param>
		<definition>
			<control type="button">
				<visible>Skin.HasSetting(OpenSideMenu)+Skin.HasSetting(TurnOnTouchMode)</visible>
				<left>0</left>
				<bottom>0</bottom>
				<width>612</width>
				<height>100%</height>
				<texturefocus/>
				<texturenofocus/>
				<label/>
				<font/>
				<onclick>noop</onclick>
			</control>
			<control type="group">
				<visible>$PARAM[visible_control]</visible>
				<include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisible</include>
				<left>$PARAM[pos_left]</left>
				<top>0</top>
				<control type="group">
					<visible>$PARAM[sidemenu_visible]</visible>
					<visible>Skin.HasSetting(OpenSideMenu)</visible>
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeLeftTwoWay</include>
					<animation type="Visible">
						<effect type="slide" start="-612,0" end="0,0" tween="cubic" easing="out" time="180"/>
					</animation>
					<animation type="Hidden">
						<effect type="slide" start="0,0" end="-612,0" tween="cubic" easing="out" time="180"/>
					</animation>
					<left>-64</left>
					<bottom>0</bottom>
					<width>612</width>
					<height>100%</height>
					<include content="ModelDialogRightRounded">
						<param name="modelkey_size" value="180"/>
						<param name="modelkey_color" value="CC000000"/>
						<param name="dimensionkey_size" value="dim180"/>
					</include>
					<control type="button" id="5059">
						<width>540</width>
						<height>900</height>
						<onleft>5050</onleft>
						<onright>5050</onright>
						<onback>9999</onback>
						<onup>5050</onup>
						<ondown>5050</ondown>
						<textoffsetx>0</textoffsetx>
						<label/>
						<texturefocus/>
						<texturenofocus/>
						<onclick>599</onclick>
					</control>
					<control type="group">
						<visible>Skin.HasSetting(OpenSideMenu)</visible>
						<include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisible</include>
						<left>64</left>
						<right>36</right>
						<top>234</top>
						<bottom>36</bottom>
						<control type="grouplist" id="598">
							<description>control area</description>
							<posy>0</posy>
							<onleft>5050</onleft>
							<onright>9999</onright>
							<onup>5050</onup>
							<ondown>599</ondown>
							<onback>9999</onback>
							<align>left</align>
							<orientation>horizontal</orientation>
							<control type="button" id="8">
								<visible>Window.isactive(Music) | Window.isactive(Videos)</visible>
								<description>Search</description>
								<width>90</width>
								<height>90</height>
								<onleft>noop</onleft>
								<onright>701</onright>
								<onup>5050</onup>
								<ondown>599</ondown>
								<align>center</align>
								<aligny>center</aligny>
								<font>symbolSize54</font>
								<textcolor>textActive</textcolor>
								<focusedcolor>textActive</focusedcolor>
								<textoffsetx>6</textoffsetx>
								<label></label>
								<texturefocus colordiffuse="sorotan">shape/dim72/roundedsquare.png</texturefocus>
								<texturenofocus/>
							</control>
							<control type="button" id="701">
								<visible>Player.HasMedia</visible>
								<visible>Window.isactive(Music) | Window.isactive(Videos)</visible>
								<description>Playlist</description>
								<width>90</width>
								<height>90</height>
								<onup>5050</onup>
								<ondown>599</ondown>
								<onleft>8</onleft>
								<onright>702</onright>
								<align>center</align>
								<aligny>center</aligny>
								<font>symbolSize54</font>
								<textcolor>textActive</textcolor>
								<focusedcolor>textActive</focusedcolor>
								<textoffsetx>6</textoffsetx>
								<label></label>
								<texturefocus colordiffuse="sorotan">shape/dim72/roundedsquare.png</texturefocus>
								<texturenofocus/>
								<onclick condition="Player.HasAudio">activateWindow(Visualisation)</onclick>
								<onclick condition="Player.HasVideo">activateWindow(FullscreenVideo)</onclick>
							</control>
							<control type="button" id="702">
								<visible>Player.HasMedia</visible>
								<visible>Window.isactive(Music) | Window.isactive(Videos)</visible>
								<description>Playlist</description>
								<width>90</width>
								<height>90</height>
								<onup>5050</onup>
								<ondown>599</ondown>
								<onleft>701</onleft>
								<onright>703</onright>
								<align>center</align>
								<aligny>center</aligny>
								<font>symbolSize54</font>
								<textcolor>textActive</textcolor>
								<focusedcolor>textActive</focusedcolor>
								<textoffsetx>6</textoffsetx>
								<label></label>
								<texturefocus colordiffuse="sorotan">shape/dim72/roundedsquare.png</texturefocus>
								<texturenofocus/>
								<onclick condition="Player.HasAudio">activateWindow(musicplaylist)</onclick>
								<onclick condition="Player.HasVideo">activateWindow(videoplaylist)</onclick>
							</control>
							<control type="button" id="703">
								<visible>Window.isactive(Music) | Window.isactive(Videos)</visible>
								<description>RefreshMedia</description>
								<width>90</width>
								<height>90</height>
								<onup>5050</onup>
								<ondown>599</ondown>
								<onleft>702</onleft>
								<onright>704</onright>
								<align>center</align>
								<aligny>center</aligny>
								<font>symbolSize54</font>
								<textcolor>textActive</textcolor>
								<focusedcolor>textActive</focusedcolor>
								<textoffsetx>6</textoffsetx>
								<label></label>
								<texturefocus colordiffuse="sorotan">shape/dim72/roundedsquare.png</texturefocus>
								<texturenofocus/>
								<onclick condition="Window.isActive(music)">UpdateLibrary(music)</onclick>
								<onclick condition="Window.isActive(videos)">UpdateLibrary(video)</onclick>
							</control>
							<control type="button" id="704">
								<visible>Window.isactive(Music) | Window.isactive(Videos)</visible>
								<description>DiscoMode</description>
								<width>90</width>
								<height>90</height>
								<onup>5050</onup>
								<ondown>599</ondown>
								<onleft>703</onleft>
								<onright>705</onright>
								<align>center</align>
								<aligny>center</aligny>
								<font>symbolSize54</font>
								<textcolor>textActive</textcolor>
								<focusedcolor>textActive</focusedcolor>
								<textoffsetx>6</textoffsetx>
								<label></label>
								<texturefocus colordiffuse="sorotan">shape/dim72/roundedsquare.png</texturefocus>
								<texturenofocus/>
								<onclick condition="Window.isActive(music)">PlayerControl(Partymode(music))</onclick>
								<onclick condition="Window.isActive(videos)">PlayerControl(Partymode(video))</onclick>
							</control>
						</control>
						<control type="grouplist" id="599">
							<description>control area</description>
							<posy>108</posy>
							<onleft>5050</onleft>
							<onright>9999</onright>
							<onup>598</onup>
							<ondown>noop</ondown>
							<onback>9999</onback>
							<include>ContentSideMenu</include>
						</control>
					</control>
				</control>
			</control>
			<control type="group">
				<visible>$PARAM[visible_control]</visible>
				<left>$PARAM[pos_left]</left>
				<right>$PARAM[pos_left]</right>
				<control type="label" id="999901">
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeLeftTwoWayFast</include>
					<left>0</left>
					<top>0</top>
					<width>100%</width>
					<height>144</height>
					<aligny>top</aligny>
					<align>left</align>
					<angle>0</angle>
					<textoffsetx>0</textoffsetx>
					<wrapmultiline>false</wrapmultiline>
					<font>Font144Bold</font>
					<textcolor>80FFFFFF</textcolor>
					<shadowcolor>40000000</shadowcolor>
					<label>$PARAM[header_label]</label>
				</control>
				<control type="group">
					<visible>$PARAM[visible_subheader]</visible>
					<include>fadeInOutVisible</include>
				<control type="label" id="999902">
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
					<left>0</left>
					<top>126</top>
					<label>$PARAM[subheader_label]</label>
					<textoffsetx>18</textoffsetx>
					<height>90</height>
					<font>Font72Medium</font>
					<textcolor>FFFFFFFF</textcolor>
				</control>
				</control>
				<control type="group">
						<visible>$PARAM[visible_trdheader]</visible>
						<visible>!Skin.HasSetting(OpenSideMenu)</visible>
						<include>fadeInOutVisible</include>
					<control type="label" id="999903">
						<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
						<left>0</left>
						<top>216</top>
						<label>$PARAM[content_containername]</label>
						<wrapmultiline>false</wrapmultiline>
						<textoffsetx>18</textoffsetx>
						<height>36</height>
						<font>Font36Regular</font>
						<textcolor>FFFFFFFF</textcolor>
					</control>
				</control>
			</control>
			<control type="group">
				<visible>$PARAM[sidemenu_visible]</visible>
				<include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisible</include>
				<include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOut</include>
				<left>0</left>
				<top>$PARAM[pos_top]</top>
				<width>54</width>
				<height>144</height>
				<control type="button" id="5050">
					<posx>0</posx>
					<posy>0</posy>
					<width>54</width>
					<height>144</height>
					<onleft>noop</onleft>
					<onright condition="Skin.HasSetting(OpenSideMenu)">598</onright>
					<onright condition="!Skin.HasSetting(OpenSideMenu)">9999</onright>
					<onback>9999</onback>
					<onup>noop</onup>
					<ondown condition="Skin.HasSetting(OpenSideMenu)">598</ondown>
					<ondown condition="!Skin.HasSetting(OpenSideMenu)">9999</ondown>
					<textoffsetx>0</textoffsetx>
					<label/>
					<texturefocus colordiffuse="sorotan" border="8">shape/dim72/roundedright.png</texturefocus>
					<texturenofocus colordiffuse="40000000" border="8">shape/dim72/roundedright.png</texturenofocus>
					<onclick>Skin.ToggleSetting(OpenSideMenu)</onclick>
					<onclick condition="!Skin.HasSetting(OpenSideMenu)">Control.SetFocus(599)</onclick>
				</control>
				<control type="label">
					<visible>!Skin.HasSetting(OpenSideMenu)</visible>
					<posx>0</posx>
					<posy>0</posy>
					<width>54</width>
					<height>144</height>
					<align>center</align>
					<aligny>center</aligny>
					<font>symbolSize30</font>
					<textoffsetx>2</textoffsetx>
					<textcolor>40FFFFFF</textcolor>
					<label>[CR]</label>
				</control>
				<control type="label">
					<visible>Skin.HasSetting(OpenSideMenu)</visible>
					<posx>0</posx>
					<posy>0</posy>
					<width>54</width>
					<height>144</height>
					<align>center</align>
					<aligny>center</aligny>
					<font>symbolSize30</font>
					<textoffsetx>2</textoffsetx>
					<textcolor>FFFFFFFF</textcolor>
					<label></label>
				</control>
			</control>
		</definition>
	</include>
	<!--keyboard button-->
	<include name="DefaultKeyboardButton">
		<width>72</width>
		<height>72</height>
		<texturefocus colordiffuse="highlight">shape/dim72/roundedsquare.png</texturefocus>
		<texturenofocus colordiffuse="80000000">shape/dim72/roundedsquare.png</texturenofocus>
		<align>center</align>
		<aligny>center</aligny>
		<textoffsetx>18</textoffsetx>
		<font>Font28Medium</font>
	</include>
	<include name="DefaultNumericButton">
		<width>108</width>
		<height>108</height>
		<texturefocus diffuse="shape/dim108/roundedsquare.png" colordiffuse="highlight">colors/white.png</texturefocus>
		<texturenofocus diffuse="shape/dim108/roundedsquare.png" colordiffuse="80FFFFFF">colors/black.png</texturenofocus>
		<align>center</align>
		<aligny>center</aligny>
		<textoffsetx>18</textoffsetx>
		<font>Font42Medium</font>
	</include>
	<!--button in side menu-->
	<include name="ContentSideMenu">
		<control type="button" id="991">
			<visible>Integer.IsGreater(Container.ViewCount,1)</visible>
			<visible>!Control.IsVisible(511)</visible>
			<description>view</description>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[31629]</label>
			<label2>$INFO[Container.Viewmode]</label2>
			<onclick>Container.NextViewMode</onclick>
			<textoffsetx>18</textoffsetx>
		</control>
		<control type="button" id="3">
			<visible>!String.IsEmpty(Container.SortMethod)</visible>
			<visible>!Control.IsVisible(511)</visible>
			<description>Sort by</description>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[31008]</label>
			<label2>$INFO[Container.SortMethod]</label2>
			<textoffsetx>18</textoffsetx>
		</control>
		<control type="button" id="4">
			<visible>!String.IsEmpty(Container.SortMethod)</visible>
			<description>Sort direction</description>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[31109]</label>
			<label2>$INFO[Container.SortOrder]</label2>
			<textoffsetx>18</textoffsetx>
		</control>
		<control type="radiobutton" id="5">
			<visible>Window.IsActive(MyPVRRecordings.xml)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<textoffsetx>18</textoffsetx>
			<textureradiofocus/>
			<textureradionofocus/>
			<radiowidth/>
			<radioheight/>
			<label>$LOCALIZE[19270]</label>
		</control>
		<control type="radiobutton" id="6">
			<visible>Window.IsActive(MyPVRChannels.xml)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<textoffsetx>18</textoffsetx>
			<textureradiofocus/>
			<textureradionofocus/>
			<radiowidth/>
			<radioheight/>
			<label>$LOCALIZE[19051]</label>
		</control>
		<control type="radiobutton" id="7">
			<visible>Window.IsActive(MyPVRRecordings.xml)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<textoffsetx>18</textoffsetx>
			<textureradiofocus/>
			<textureradionofocus/>
			<radiowidth/>
			<radioheight/>
			<label>$LOCALIZE[19184]</label>
		</control>
		<control type="button" id="10">
			<visible>Window.isactive(Videos)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<textoffsetx>18</textoffsetx>
			<label>$LOCALIZE[20367]</label>
			<label2>$INFO[Container.NumNonFolderItems]</label2>
		</control>
		<control type="radiobutton" id="14">
			<visible>Window.isactive(Videos)</visible>
			<description>Watched Toggle</description>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<textoffsetx>18</textoffsetx>
			<radiowidth>54</radiowidth>
			<radioheight>18</radioheight>
			<label>$LOCALIZE[16102]</label>
		</control>
		<control type="button" id="19">
			<visible>Container.CanFilter + !Container.CanFilterAdvanced</visible>
			<description>Filter</description>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[587]</label>
			<textoffsetx>18</textoffsetx>
		</control>
		<control type="button" id="199">
			<visible>Container.CanFilterAdvanced</visible>
			<description>Filter</description>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[587]</label>
			<onclick>right</onclick>
			<onclick>Filter</onclick>
			<textoffsetx>18</textoffsetx>
		</control>
		<control type="button" id="881">
			<visible>Window.isactive(addonbrowser) | Window.isactive(programs)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<textoffsetx>18</textoffsetx>
			<label>$LOCALIZE[1037]</label>
			<onclick>ActivateWindow(videos,addons://sources/video/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
		</control>
		<control type="button" id="882">
			<visible>Window.isactive(addonbrowser) | Window.isactive(programs)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[1038]</label>
			<onclick>ActivateWindow(music,addons://sources/audio/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
		</control>
		<control type="button" id="883">
			<visible>Window.isactive(addonbrowser) | Window.isactive(programs)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[35049]</label>
			<visible>System.GetBool(gamesgeneral.enable)</visible>
			<onclick>ActivateWindow(games,addons://sources/game/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
		</control>
		<control type="button" id="884">
			<visible>Window.isactive(addonbrowser) | Window.isactive(programs)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[1043]</label>
			<onclick>ActivateWindow(programs,addons://sources/executable/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
		</control>
		<control type="button" id="885">
			<visible>Window.isactive(addonbrowser) | Window.isactive(Videos)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[20244]</label>
			<onclick>ActivateWindow(programs,androidapp://sources/apps/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
			<visible>System.Platform.Android</visible>
		</control>
		<control type="button" id="886">
			<visible>Window.isactive(addonbrowser) | Window.isactive(programs)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[1039]</label>
			<onclick>ActivateWindow(pictures,addons://sources/image/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
		</control>
		<control type="button" id="887">
			<visible>Window.isactive(addonbrowser) | Window.isactive(programs)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[24998]</label>
			<onclick>ActivateWindow(addonbrowser,addons://user/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
		</control>
		<control type="button" id="888">
			<visible>Window.isactive(addonbrowser) | Window.isactive(programs)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[33003]</label>
			<onclick>ActivateWindow(addonbrowser,addons://all/,return)</onclick>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
		</control>
		<control type="button" id="891">
			<visible>Window.isactive(musicplaylist) | Window.isactive(videoplaylist)</visible>
			<visible>Player.HasMedia</visible>
			<description>Playlist</description>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[31012]</label>
			<onclick>Skin.Reset(OpenSideMenu)</onclick>
			<onclick condition="Player.HasAudio">ActivateWindow(Visualisation)</onclick>
			<onclick condition="Player.HasVideo">ActivateWindow(FullscreenVideo)</onclick>
		</control>
		<control type="radiobutton" id="20">
			<visible>Window.isactive(musicplaylist) | Window.isactive(videoplaylist)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[191]</label>
		</control>
		<control type="button" id="26">
			<visible>Window.isactive(musicplaylist) | Window.isactive(videoplaylist)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label/>
		</control>
		<control type="button" id="21">
			<visible>Window.isactive(musicplaylist) | Window.isactive(videoplaylist)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[190]</label>
		</control>
		<control type="button" id="22">
			<visible>Window.isactive(musicplaylist) | Window.isactive(videoplaylist)</visible>
			<font>Font22Medium</font>
			<aligny>center</aligny>
			<width>100%</width>
			<height>54</height>
			<label>$LOCALIZE[192]</label>
		</control>
	</include>
	<include name="UniversalListVisible">
		<visible>[Window.isActive(videos)+[$EXP[VideoFileList]|$EXP[VideoFileSource]|$EXP[VideoAddon]|$EXP[VideoYear]|$EXP[VideoGenre]|$EXP[VideoCountry]|$EXP[VideoStudio]|$EXP[VideoTag]|$EXP[VideoSet]|$EXP[VideoVersion]|$EXP[VideoSmartPlaylist]|$EXP[VideoPosterList]|$EXP[VideoLandscapeList]|$EXP[VideoEpisodeList]|$EXP[VideoListforYoutube]]] | [Window.isActive(music)+[[$EXP[MusicYearSong]|$EXP[MusicGenreSong]|$EXP[MusicGenre]|$EXP[MusicYear]|$EXP[MusicFile]|$EXP[MusicFileSource] | $EXP[MusicVideoMenu]|$EXP[VideoinMusicMenu]|$EXP[MusicRole]|$EXP[MusicAddon]|$EXP[MusicSmartPlaylist]|$EXP[MusicSmartPlaylistM3U]]+!$EXP[MusicPlaylistEditor]]]|[Window.isActive(pictures)]|[Window.isActive(games)]|[Window.IsActive(MyPVRChannels.xml) | Window.IsActive(MyPVRRecordings.xml) | Window.IsActive(MyPVRSearch.xml) | Window.IsActive(MyPVRTimers.xml)]|[Window.IsActive(addonbrowser)]|[Window.IsActive(programs)]</visible>
	</include>
</includes>
 
