<?xml version="1.0" encoding="UTF-8"?>
<includes>
	<include name="MainSetting">
        <control type="group"
                 id="9999">
            <right>64</right>
            <left>64</left>
            <control type="group">
                <include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
                <control type="list"
                         id="9000">
                    <bottom>0</bottom>
                    <posx>18</posx>
                    <width>540</width>
                    <height>828</height>
                    <onup>noop</onup>
                    <ondown>noop</ondown>
                    <onright>9001</onright>
                    <onleft>noop</onleft>
                    <itemlayout height="108">
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture>shape/dim108/roundedsquare.png</texture>
                            <colordiffuse>sorotdark</colordiffuse>
                            <bordersize>6</bordersize>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.icon]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.thumb]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="label">
                            <posx>108</posx>
                            <posy>0</posy>
                            <width>auto</width>
                            <height>108</height>
                            <textoffsetx>18</textoffsetx>
                            <aligny>center</aligny>
                            <font>Font28Medium</font>
                            <textcolor>textActive</textcolor>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </itemlayout>
                    <focusedlayout height="108">
                        <control type="group">
                            <height>108</height>
                            <include condition="!Skin.HasSetting(NoAnimationInSkin)">FocusedItemFade</include>
                            <include content="ModelListHorizontalRounded">
                                <param name="modelkey_size"
                                       value="108" />
                                <param name="modelkey_color"
                                       value="sorotan" />
                                <param name="dimensionkey_size"
                                       value="dim108" />
                            </include>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture>shape/dim108/roundedsquare.png</texture>
                            <colordiffuse>sorotdark</colordiffuse>
                            <bordersize>6</bordersize>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png">$INFO[ListItem.icon]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="image">
                            <posy>0</posy>
                            <width>108</width>
                            <height>108</height>
                            <texture diffuse="shape/dim108/roundedsquare.png" background="true">$INFO[ListItem.thumb]</texture>
                            <colordiffuse>FFFFFFFF</colordiffuse>
                            <bordersize>6</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
                        </control>
                        <control type="label">
                            <posx>108</posx>
                            <posy>0</posy>
                            <width>auto</width>
                            <height>108</height>
                            <textoffsetx>18</textoffsetx>
                            <aligny>center</aligny>
                            <font>Font28Medium</font>
                            <textcolor>textActive</textcolor>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </focusedlayout>
                    <content>
                        <item>
                            <label>$LOCALIZE[14206]</label>
                            <onclick>ActivateWindow(InterfaceSettings)</onclick>
                            <icon>home/settings/interface.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14200]</label>
                            <onclick>ActivateWindow(PlayerSettings)</onclick>
                            <icon>home/settings/player.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14211]</label>
                            <onclick>ActivateWindow(MediaSettings)</onclick>
                            <icon>home/settings/media.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14204]</label>
                            <onclick>ActivateWindow(PVRSettings)</onclick>
                            <icon>home/settings/livetv.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[15016]</label>
                            <visible>System.GetBool(gamesgeneral.enable)</visible>
                            <onclick>ActivateWindow(GameSettings)</onclick>
                            <icon>home/settings/games.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[14036]</label>
                            <onclick>ActivateWindow(ServiceSettings)</onclick>
                            <icon>home/settings/network.png</icon>
                        </item>
                        <item>
                            <label>$LOCALIZE[13000]</label>
                            <onclick>ActivateWindow(SystemSettings)</onclick>
                            <icon>home/settings/system.png</icon>
                        </item>
                        <item>
                            <label>LibreELEC</label>
                            <onclick>RunAddon(service.libreelec.settings)</onclick>
                            <icon>home/settings/libreelec.png</icon>
                            <visible>System.AddonIsEnabled(service.libreelec.settings)</visible>
                        </item>
                    </content>
                </control>
                <control type="panel"
                         id="9001">
                    <bottom>0</bottom>
                    <posx>576</posx>
                    <height>828</height>
                    <onup>noop</onup>
                    <ondown>noop</ondown>
                    <onright>noop</onright>
                    <onleft>9000</onleft>
			<itemlayout height="108">
				<include content="ListLayoutNormalSize">
					<param name="size_height" value="108"/>
					<param name="dimensionkey_size" value="dim108"/>
					<param name="visible_details" value="true"/>
					<param name="control_label1" value="$INFO[Listitem.label]"/>
					<param name="control_label2" value="$INFO[Listitem.label2]"/>
				</include>
	                </itemlayout>
	                <focusedlayout height="108">
				<control type="group">
					<include condition="!Skin.HasSetting(NoAnimationInSkin)">FocusedItemFade</include>
					<include content="ModelListHorizontalRounded">
						<param name="modelkey_size" value="108" />
						<param name="modelkey_color" value="sorotan" />
						<param name="dimensionkey_size" value="dim108" />
					</include>
				</control>
				<include content="ListLayoutNormalSize">
					<param name="size_height" value="108"/>
					<param name="dimensionkey_size" value="dim108"/>
					<param name="visible_details" value="true"/>
					<param name="control_label1" value="$INFO[Listitem.label]"/>
					<param name="control_label2" value="$INFO[Listitem.label2]"/>
				</include>
	               </focusedlayout>
                    <content>
                        <item>
                            <label>$LOCALIZE[13200]</label>
                            <label2>$INFO[System.ProfileName]</label2>
                            <onclick>ActivateWindow(Profiles)</onclick>
                            <icon>home/settings/profiles.png</icon>
                            <thumb>$INFO[System.ProfileThumb]</thumb>
                        </item>
                            <item>
                                <label>$LOCALIZE[20077]</label>
                                <label2>LimaSky TempEvo $NUMBER[2.0.1]</label2>
                                <onclick>ActivateWindow(skinsettings)</onclick>
                                <icon>home/settings/skin.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[10003]</label>
                                <onclick>ActivateWindow(filemanager)</onclick>
                                <icon>home/settings/filemanager.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[24001]</label>
                                <onclick>ActivateWindow(addonbrowser)</onclick>
                                <icon>home/settings/addons.png</icon>
                            </item>
                            <item>
                                <label>Log</label>
                                <onclick>ActivateWindow(eventlog)</onclick>
                                <icon>home/settings/eventlog.png</icon>
                            </item>
                            <item>
                                <label>$LOCALIZE[482]</label>
                                <label2>KODI $INFO[System.BuildVersion]</label2>
                                <onclick>ActivateWindow(systeminfo)</onclick>
                                <icon>home/settings/sysinfo.png</icon>
                            </item>
                    </content>
                </control>
            </control>
        </control>
        <include content="DefaultWindowHeader">
			<param name="sidemenu_visible">false</param>
            <param name="visible_control">true</param>
            <param name="header_label"
                   value="$LOCALIZE[5]" />
            <param name="subheader_label"
                   value="" />
            <param name="pos_left"
                   value="64" />
        </include>
	</include>
	<include name="CategorySetting">
        	<control type="group" id="9999">
			<right>64</right>
			<left>64</left>
			<control type="group" id="9001">
				<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
	           		<bottom>0</bottom>
				<height>792</height>
				<control type="button" id="5000">
					<width>100%</width>
					<height>100%</height>
					<texturefocus />
					<texturenofocus />
				</control>
				<control type="button" id="20">
					<left>18</left>
					<bottom>36</bottom>
					<width>324</width>
					<height>54</height>
					<ondown>noop</ondown>
					<onright>5</onright>
					<onup>3</onup>
					<description>Change settings level</description>
					<focusedcolor>textActive</focusedcolor>
                    <font>Font24Bold</font>
					<onclick>SettingsLevelChange</onclick>
				</control>
            			<control type="grouplist" id="5">
                			<description>control area</description>
					<left>396</left>
					<bottom>1</bottom>
					<onleft>3</onleft>
					<onup>noop</onup>
					<ondown>noop</ondown>
					<scrolltime tween="cubic" easing="out">500</scrolltime>
                			<onright>5009</onright>
					<pagecontrol>5009</pagecontrol>
            			</control>
               		</control>
            		<control type="grouplist" id="3">
				<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
                		<description>control area</description>
					<left>18</left>
				<bottom>0</bottom>
				<width>360</width>
				<height>792</height>
				<onleft>5050</onleft>
				<onright>5</onright>
                		<onup>5050</onup>
                		<ondown>20</ondown>
			</control>
               	</control>
            	<control type="button" id="7">
                	<description>Default Button</description>
                     	<font>Font24Bold</font>
			<height>72</height>
            	</control>
            	<control type="radiobutton" id="8">
                	<description>Default RadioButton</description>
                     	<font>Font24Bold</font>
			<height>72</height>
            	</control>
            	<control type="spincontrolex" id="9">
                	<description>Default spincontrolex</description>
                     	<font>Font24Bold</font>
			<height>72</height>
			<spinwidth>54</spinwidth>
			<spinheight>54</spinheight>
            	</control>
            	<control type="button" id="10">
                	<description>Default Category Button</description>
                     		<font>Font28Bold</font>
					<width>360</width>
					<height>72</height>
                	<texturenofocus></texturenofocus>
            	</control>
            	<control type="image" id="11">
                	<description>Default Separator</description>
			<width>1360</width>
	                <height>2</height>
                	<texture>colors/white.png</texture>
                	<colordiffuse>highlight</colordiffuse>
                	<aspectratio>stretch</aspectratio>
            	</control>
		<control type="sliderex" id="13">
               	 	<description>Default Slider</description>
        		<font>Font24Bold</font>
			<height>72</height>
            	</control>
		<control type="label" id="14">
                	<label></label>
                	<textoffsetx>18</textoffsetx>
                	<height>60</height>
                	<font>Font32Regular</font>
                        <textcolor>CCFFFFFF</textcolor>
            	</control>
		<control type="colorbutton" id="15">
			<description>Default ColorButton</description>
			<height>72</height>
		</control>
               	<control type="label" id="2">
                        <font />
			<label></label>
             	</control>
               	<control type="label" id="6">
                        <font />
			<label></label>
             	</control>
        <control type="group">
			<visible>!Skin.HasSetting(HideScrollBaronSkin)</visible>
            <include condition="!Skin.HasSetting(NoAnimationInSkin)">fadeInOutVisible</include>
			<include content="DefaultScrollbars">
				<param name="visible_verticalbar">Control.IsVisible(3)|Control.IsVisible(5)</param>
				<param name="control_HeightVer">864</param>
			</include>
		</control>
		<include content="DefaultWindowHeader">
			<param name="visible_control">true</param>
			<param name="sidemenu_visible">false</param>
			<param name="header_label" value="$LOCALIZE[5]"/>
			<param name="subheader_label" value="$INFO[Control.GetLabel(2)]"/>
            <param name="content_containername" value="$INFO[Control.GetLabel(6)]" />
			<param name="pos_left" value="64"/>
		</include>
	</include>
	<include name="ProfileSetting">
		<control type="group">
			<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
                	<left>64</left>
                	<right>64</right>
                	<posy>216</posy>
                	<height>180</height>
	                <control type="group">
				<include content="ModelListHorizontalRounded">
					<param name="modelkey_size" value="180" />
					<param name="modelkey_color" value="overlay" />
					<param name="dimensionkey_size" value="dim180" />
				</include>
		        </control>
            		<control type="image">
               	 		<description>profile image</description>
                		<posx>252</posx>
                		<posy>18</posy>
                		<width>144</width>
                		<height>144</height>
                		<texture fallback="colors/black.png" diffuse="shape/dim180/roundedsquare.png">$INFO[System.ProfileThumb]</texture>
               			<aspectratio scalediffuse="false">scale</aspectratio>
            		</control>
             		<control type="textbox">
               	 		<posx>18</posx>
                		<posy>0</posy>
                		<width>180</width>
                		<height>180</height>
                		<aligny>center</aligny>
                		<font>Font36Medium</font>
                		<label>$LOCALIZE[31107]</label>
                		<textcolor>textActive</textcolor>
                		<shadowcolor></shadowcolor>
            		</control>
            		<control type="textbox">
                		<posx>432</posx>
                		<posy>0</posy>
                		<height>180</height>
                		<font>Font42Bold</font>
                		<aligny>center</aligny>
                		<textcolor>FFFFFFFF</textcolor>
                		<wrapmultiline>true</wrapmultiline>
                		<label>$INFO[System.ProfileName]</label>
            		</control>
            	</control>
        	<control type="group" id="9999">
			<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
			<right>64</right>
			<left>64</left>
	   		<bottom>0</bottom>
	                <height>864</height>
			<control type="group">
				<left>0</left>
	   			<bottom>0</bottom>
	                	<height>864</height>
            			<control type="panel" id="2">
                			<posx>0</posx>
                			<bottom>0</bottom>
                			<width>576</width>
                			<height>648</height>
                			<orientation>vertical</orientation>
                			<onright>4</onright>
                			<itemlayout width="576" height="162">
	                		<control type="group">
                       		 		<width>576</width>
                       				<height>144</height>
                    				<control type="image">
                        				<posx>0</posx>
                        				<posy>0</posy>
                        				<width>144</width>
                        				<height>144</height>
										<aspectratio scalediffuse="false">scale</aspectratio>
                        				<texture fallback="DefaultUser.png" diffuse="shape/dim180/roundedsquare.png">$INFO[listitem.icon]</texture>
                        				<bordersize>9</bordersize>
                    				</control>
                    				<control type="label">
                        				<posx>144</posx>
                        				<posy>6</posy>
                        				<height>72</height>
                        				<align>left</align>
							<textoffsetx>18</textoffsetx>
                        				<aligny>center</aligny>
                        				<font>Font32Bold</font>
                        				<label>$INFO[ListItem.label]</label>
                        			</control>
                        			<control type="label">
							<visible>!String.IsEqual(Listitem.Label,$LOCALIZE[20058])</visible>
                        				<posx>144</posx>
                        				<posy>72</posy>
                        				<height>22</height>
                        				<align>left</align>
                        				<aligny>center</aligny>
							<textoffsetx>18</textoffsetx>
                        				<font>Font18Medium</font>
                        				<label>$LOCALIZE[31029]</label>
                        			</control>
                        			<control type="label">
							<visible>!String.Contains(Listitem.Label,$LOCALIZE[20058])</visible>
                        				<posx>144</posx>
                        				<posy>90</posy>
                        				<height>36</height>
                        				<align>left</align>
                        				<aligny>center</aligny>
							<textoffsetx>18</textoffsetx>
                        				<font>Font22Medium</font>
                        				<label fallback="13170">$INFO[ListItem.Label2]</label>
                        			</control>
		        		</control>
                		</itemlayout>
                		<focusedlayout width="576" height="162">
	                		<control type="group">
                       		 		<width>576</width>
                       				<height>144</height>
	                			<control type="group">
							<include content="ModelListHorizontalRounded">
								<param name="modelkey_size" value="144" />
								<param name="modelkey_color" value="sorotan" />
								<param name="dimensionkey_size" value="dim144" />
							</include>
		        			</control>
                    				<control type="image">
                        				<posx>0</posx>
                        				<posy>0</posy>
                        				<width>144</width>
                        				<height>144</height>
										<aspectratio scalediffuse="false">scale</aspectratio>
                        				<texture fallback="DefaultUser.png" diffuse="shape/dim180/roundedsquare.png">$INFO[listitem.icon]</texture>
                        				<bordersize>9</bordersize>
                    				</control>
                    				<control type="label">
                        				<posx>144</posx>
                        				<posy>6</posy>
                        				<height>72</height>
                        				<align>left</align>
							<textoffsetx>18</textoffsetx>
                        				<aligny>center</aligny>
                        				<font>Font32Bold</font>
                        				<label>$INFO[ListItem.label]</label>
                        			</control>
                        			<control type="label">
							<visible>!String.IsEqual(Listitem.Label,$LOCALIZE[20058])</visible>
                        				<posx>144</posx>
                        				<posy>72</posy>
                        				<height>22</height>
                        				<align>left</align>
                        				<aligny>center</aligny>
							<textoffsetx>18</textoffsetx>
                        				<font>Font18Medium</font>
                        				<label>$LOCALIZE[31029]</label>
                        			</control>
                        			<control type="label">
							<visible>!String.Contains(Listitem.Label,$LOCALIZE[20058])</visible>
                        				<posx>144</posx>
                        				<posy>90</posy>
                        				<height>36</height>
                        				<align>left</align>
                        				<aligny>center</aligny>
							<textoffsetx>18</textoffsetx>
                        				<font>Font22Medium</font>
                        				<label fallback="13170">$INFO[ListItem.Label2]</label>
                        			</control>
		        		</control>
                		</focusedlayout>
            		</control>
		<control type="group">
                <left>612</left>
                <right>0</right>
            <control type="radiobutton" id="4">
                <description>Enable Login Screen</description>
                <left>0</left>
                <posy>216</posy>
                <label>20096</label>
                <height>72</height>
                <align>left</align>
                <onleft>2</onleft>
                <ondown>5</ondown>
            </control>
            <control type="button" id="5">
                <enable>!Window.IsVisible(ProfileSettings) + !System.HasLoginScreen</enable>
                <description>When Login Screen was disable</description>
                <left>0</left>
                <right>0</right>
                <posy>288</posy>
		<width>100%</width>
                <height>72</height>
                <label>$LOCALIZE[20125] ($LOCALIZE[20096]: $LOCALIZE[351])</label>
                <label2>$INFO[System.ProfileAutoLogin]</label2>
                <onup>4</onup>
                <onleft>2</onleft>
            </control>
 			</control>
			</control>
            	</control>
		<include content="DefaultWindowHeader">
			<param name="sidemenu_visible">false</param>
			<param name="visible_control">true</param>
			<param name="header_label" value="$LOCALIZE[5]"/>
			<param name="subheader_label" value="$LOCALIZE[13200]"/>
			<param name="pos_left" value="64"/>
		</include>
	</include>
	<include name="SystemInfoSetting">
        	<control type="group" id="9999">
			<include condition="!Skin.HasSetting(NoAnimationInSkin)">SlideFadeDownTwoWayFast</include>
			<right>64</right>
			<left>64</left>
			<bottom>0</bottom>
			<height>828</height>
			<control type="grouplist" id="9000">
				<left>0</left>
				<top>0</top>
				<width>360</width>
				<height>828</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<onright>60</onright>
				<control type="button" id="95">
					<description>Button Summary Values</description>
                     		<font>Font28Bold</font>
                		<texturenofocus></texturenofocus>
					<width>360</width>
					<height>72</height>
					<label>$LOCALIZE[20037]</label>
				</control>
				<control type="button" id="94">
                     		<font>Font28Bold</font>
                		<texturenofocus></texturenofocus>
					<width>360</width>
					<height>72</height>
					<label>$LOCALIZE[13277]</label>
				</control>
				<control type="button" id="96">
					<description>Button Network</description>
                     		<font>Font28Bold</font>
                		<texturenofocus></texturenofocus>
					<width>360</width>
					<height>72</height>
					<label>$LOCALIZE[13279]</label>
				</control>
				<control type="button" id="97">
					<description>Button Video</description>
                     		<font>Font28Bold</font>
                		<texturenofocus></texturenofocus>
					<width>360</width>
					<height>72</height>
					<label>$LOCALIZE[13280]</label>
				</control>
				<control type="button" id="98">
					<description>Button Hardware</description>
                     		<font>Font28Bold</font>
                		<texturenofocus></texturenofocus>
					<width>360</width>
					<height>72</height>
					<label>$LOCALIZE[13281]</label>
				</control>
				<control type="button" id="99">
					<description>Button PVR</description>
                     		<font>Font28Bold</font>
                		<texturenofocus></texturenofocus>
					<width>360</width>
					<height>72</height>
					<label>$LOCALIZE[19191]</label>
				</control>
				<control type="button" id="100">
					<description>Button Privacy policy</description>
                     		<font>Font28Bold</font>
                		<texturenofocus></texturenofocus>
					<width>360</width>
					<height>72</height>
					<label>$LOCALIZE[12389]</label>
				</control>
			</control>
						<control type="group">
							<animation effect="slide" end="0,-55" time="0" condition="!System.SupportsCPUUsage">Conditional</animation>
							<control type="grouplist">
								<description>Kodi build version - Git version - Build date</description>
								<itemgap>10</itemgap>
				<left>0</left>
				<right>0</right>
				<bottom>36</bottom>
				<height>40</height>
								<orientation>horizontal</orientation>
								<control type="label">
									<description>Build label</description>
									<width>auto</width>
									<height>40</height>
									<font>Font22Medium</font>
									<label>$LOCALIZE[144]</label>
									<shadowcolor>black</shadowcolor>
								</control>
								<control type="label">
									<description>Kodi Build Version</description>
									<width>auto</width>
									<height>40</height>
									<font>Font22Medium</font>
									<label>$INFO[System.BuildVersionShort]$INFO[System.BuildVersionCode, (,)]</label>
									<textcolor>textActive</textcolor>
									<shadowcolor>black</shadowcolor>
								</control>
								<control type="label">
									<description>Git label</description>
									<width>auto</width>
									<height>40</height>
									<font>Font22Medium</font>
									<label>   Git:</label>
									<shadowcolor>black</shadowcolor>
								</control>
								<control type="label">
									<description>Git version</description>
									<width>auto</width>
									<height>40</height>
									<font>Font22Medium</font>
									<label>$INFO[System.BuildVersionGit]</label>
									<textcolor>textActive</textcolor>
									<shadowcolor>black</shadowcolor>
								</control>
								<control type="label">
									<description>kodi Compiled Text</description>
									<width>auto</width>
									<height>40</height>
									<font>Font22Medium</font>
									<label>   $LOCALIZE[174]</label>
									<shadowcolor>black</shadowcolor>
								</control>
								<control type="label" id="53">
									<description>Kodi Build Date</description>
									<width>auto</width>
									<height>40</height>
									<font>Font22Medium</font>
									<textcolor>textActive</textcolor>
									<shadowcolor>black</shadowcolor>
								</control>
							</control>
						</control>
			<control type="group">
	   			<right>0</right>
				<control type="group">
					<left>396</left>
	   				<bottom>0</bottom>
	                       		<height>846</height>
					<control type="grouplist">
						<left>0</left>
						<top>0</top>
						<height>620</height>
						<orientation>vertical</orientation>
						<control type="label" id="2">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="3">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="4">
							<height>47</height>
							<width>1400</width>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="5">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="6">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="7">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="8">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="9">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="10">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="11">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
						<control type="label" id="12">
							<height>47</height>
							<font>Font22Medium</font>
						</control>
					</control>
					<control type="textbox" id="30">
						<height>620</height>
						<pagecontrol>60</pagecontrol>
						<autoscroll delay="5000" repeat="7500" time="5000">!Control.HasFocus(60)</autoscroll>
					</control>
					<control type="image">
						<left>0</left>
						<top>620</top>
						<right>0</right>
						<height>3</height>
						<texture colordiffuse="highlight" border="2">colors/white.png</texture>
					</control>
					<control type="scrollbar" id="60">
						<right>-48</right>
						<top>0</top>
						<width>12</width>
						<height>620</height>
						<orientation>vertical</orientation>
						<texturesliderbackground />
						<animation effect="slide" end="6,0" time="300" tween="sine" easing="inout" condition="!Control.HasFocus(60)">conditional</animation>
						<onleft>9000</onleft>
						<onright>9000</onright>
						<visible>Control.IsVisible(30)</visible>
						<animation effect="fade" start="0" end="100" time="200" delay="300">Visible</animation>
						<animation effect="fade" start="100" end="0" time="200">Hidden</animation>
						<animation effect="fade" start="0" end="100" delay="300" time="320">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="150">WindowClose</animation>
					</control>
					<control type="group">
						<bottom>0</bottom>
						<left>0</left>
						<height>216</height>
						<control type="grouplist">
							<left>0</left>
							<height>216</height>
							<orientation>vertical</orientation>
							<control type="label">
								<description>CPU Text</description>
								<width>auto</width>
								<height>28</height>
								<label>$LOCALIZE[13271] $INFO[System.CPUUsage]</label>
								<aligny>top</aligny>
								<shadowcolor>black</shadowcolor>
								<font>Font22Medium</font>
								<visible>System.SupportsCPUUsage</visible>
							</control>
							<control type="progress">
								<description>CPU BAR</description>
								<width>730</width>
								<height>16</height>
								<info>System.CPUUsage</info>
								<visible>System.SupportsCPUUsage</visible>
							</control>
							<control type="label">
								<height>12</height>
								<label></label>
							</control>
							<control type="label">
								<description>Memory Text</description>
								<width>auto</width>
								<height>28</height>
								<label>Memory: $INFO[system.memory(used)] [B]/[/B] $INFO[system.memory(total)] [B]-[/B] $INFO[system.memory(used.percent)]</label>
								<aligny>top</aligny>
								<textoffsety>0</textoffsety>
								<shadowcolor>black</shadowcolor>
								<font>Font22Medium</font>
							</control>
							<control type="progress">
								<description>Memory BAR</description>
								<width>730</width>
								<height>16</height>
								<info>system.memory(used)</info>
							</control>
						</control>
					</control>
				</control>
			</control>
            	</control>
		<include content="DefaultWindowHeader">
			<param name="sidemenu_visible">false</param>
			<param name="visible_control">true</param>
			<param name="header_label" value="$LOCALIZE[14116]"/>
			<param name="subheader_label" value="$LOCALIZE[13000]"/>
			<param name="pos_left" value="64"/>
		</include>
	</include>
</includes>
