<?xml version="1.0" encoding="UTF-8"?>
<window><!-- Aeon MQ 9 -->
	<defaultcontrol always="true">9928</defaultcontrol>
	<controls>		
		<include content="common_background">
			<param name="mask" value="white80" />	
			<param name="condition" value="true" />
		</include>
		<include content="kiosk_loads">
			<param name="focus" value="SetFocus(9000)" />	
		</include>		
		<control type="group">
			<include>animation_window</include>
			<visible>$EXP[kiosk_code_control]</visible>
			<control type="image">
				<left>900</left>
				<top>186</top>
				<width>2940</width>
				<height>1654</height>
				<fadetime>common_fade_time</fadetime>
				<aspectratio>stretch</aspectratio>			
				<texture background="true">$INFO[Container(9000).ListItem.Thumb]</texture>
			</control>
			<include content="gradient_line">
				<param name="left" value="900" />
				<param name="topline" value="186" />
				<param name="topshadow" value="186" />
				<param name="width" value="2940" />
				<param name="flipy" value="true" />
				<param name="visible" value="true" />
			</include>
			<include content="gradient_line">
				<param name="left" value="900" />
				<param name="topline" value="1840" />
				<param name="topshadow" value="1750" />
				<param name="width" value="2940" />
				<param name="flipy" value="false" />
				<param name="visible" value="true" />
			</include>
			<control type="image">
				<left>3752</left>
				<top>186</top>
				<width>90</width>
				<height>1568</height>
				<texture flipx="true" colordiffuse="90ffffff" diffuse="details_back_vertical.png">shadow_vertical.png</texture>
			</control>	
			<include content="settings_left_title">
				<param name="label" value="31202" />
			</include>
			<control type="list" id="9000">
				<top>360</top>
				<width>900</width>
				<height>1800</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<onleft>Action(Back)</onleft>
				<onright condition="Container(9000).HasFocus(9100)">ActivateWindow(interfacesettings)</onright>
				<onright condition="Container(9000).HasFocus(9101)">ActivateWindow(playersettings)</onright>
				<onright condition="Container(9000).HasFocus(9102)">ActivateWindow(mediasettings)</onright>
				<onright condition="Container(9000).HasFocus(9103)">ActivateWindow(pvrsettings)</onright>
				<onright condition="Container(9000).HasFocus(9104)">ActivateWindow(servicesettings)</onright>
				<onright condition="Container(9000).HasFocus(9105)">ActivateWindow(gamesettings)</onright>
				<onright condition="Container(9000).HasFocus(9106)">ActivateWindow(addonbrowser)</onright>
				<onright condition="Container(9000).HasFocus(9107)">ActivateWindow(systemsettings)</onright>
				<onright condition="Container(9000).HasFocus(9108)">ActivateWindow(profiles)</onright>
				<onright condition="Container(9000).HasFocus(9109)">RunAddon(service.libreelec.settings)</onright>
				<onright condition="Container(9000).HasFocus(9110)">ActivateWindow(eventlog)</onright>
				<onright condition="Container(9000).HasFocus(9111)">ActivateWindow(skinsettings)</onright>
				<onright condition="Container(9000).HasFocus(9112)">ActivateWindow(1157)</onright>
				<itemlayout width="900" height="120">
					<include content="list_furniture">
						<param name="width" value="900" />
						<param name="height" value="120" />
						<param name="label" value="$INFO[ListItem.label]" />
						<param name="font" value="font_settings" />
					</include>
				</itemlayout>
				<focusedlayout width="900" height="120">
					<include content="list_colorfocus">
						<param name="width" value="900" />
						<param name="height" value="120" />
						<param name="color" value="$INFO[skin.string(texture_highlight_color)]" />
						<param name="condition" value="!Control.Hasfocus(9000)" />
						<param name="visible" value="Control.Hasfocus(9000)" />
					</include>						
					<include content="list_furniturefocus">
						<param name="width" value="900" />
						<param name="height" value="120" />
						<param name="align" value="left" />
						<param name="label" value="$INFO[ListItem.label]" />
						<param name="font" value="font_settings" />
						<param name="visible" value="Control.HasFocus(9000)" />
					</include>
				</focusedlayout>
				<content>
					<include content="settings_button">
						<param name="id" value="9100" />
						<param name="label" value="$LOCALIZE[31351]" />
						<param name="title" value="$LOCALIZE[31376]" />
						<param name="thumb" value="interfacesettings" />
						<param name="onclick" value="ActivateWindow(interfacesettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9101" />
						<param name="label" value="$LOCALIZE[31353]" />
						<param name="title" value="$LOCALIZE[31377]" />
						<param name="thumb" value="playersettings" />
						<param name="onclick" value="ActivateWindow(playersettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9102" />
						<param name="label" value="$LOCALIZE[31355]" />
						<param name="title" value="$LOCALIZE[31378]" />
						<param name="thumb" value="mediasettings" />
						<param name="onclick" value="ActivateWindow(mediasettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9103" />
						<param name="label" value="$LOCALIZE[31357]" />
						<param name="title" value="$LOCALIZE[31379]" />
						<param name="thumb" value="pvrsettings" />
						<param name="onclick" value="ActivateWindow(pvrsettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9104" />
						<param name="label" value="$LOCALIZE[31365]" />
						<param name="title" value="$LOCALIZE[31380]" />
						<param name="thumb" value="servicesettings" />
						<param name="onclick" value="ActivateWindow(servicesettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9105" />
						<param name="label" value="$LOCALIZE[31367]" />
						<param name="title" value="$LOCALIZE[31381]" />
						<param name="thumb" value="gamesettings" />
						<param name="onclick" value="ActivateWindow(gamesettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9106" />
						<param name="label" value="$LOCALIZE[31363]" />
						<param name="title" value="$LOCALIZE[31382]" />
						<param name="thumb" value="addonbrowser" />
						<param name="onclick" value="ActivateWindow(addonbrowser)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9107" />
						<param name="label" value="$LOCALIZE[31359]" />
						<param name="title" value="$LOCALIZE[31383]" />
						<param name="thumb" value="systemsettings" />
						<param name="onclick" value="ActivateWindow(systemsettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9108" />
						<param name="label" value="$LOCALIZE[31369]" />
						<param name="title" value="$LOCALIZE[31384]" />
						<param name="thumb" value="profiles" />
						<param name="onclick" value="ActivateWindow(profiles)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9109" />
						<param name="label" value="$LOCALIZE[31361]" />
						<param name="title" value="$LOCALIZE[31385]" />
						<param name="thumb" value="libreelec" />
						<param name="onclick" value="RunAddon(service.libreelec.settings)" />
						<param name="visible" value="System.HasAddon(service.libreelec.settings)" />
					</include>
					<include content="settings_button">
						<param name="id" value="9110" />
						<param name="label" value="$LOCALIZE[31387]" />
						<param name="title" value="$LOCALIZE[31388]" />
						<param name="thumb" value="eventlog" />
						<param name="onclick" value="ActivateWindow(eventlog)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9111" />
						<param name="label" value="$LOCALIZE[31371]" />
						<param name="title" value="$LOCALIZE[31386]" />
						<param name="thumb" value="skinsettings" />
						<param name="onclick" value="ActivateWindow(skinsettings)" />
						<param name="visible" value="true" />
					</include>
					<include content="settings_button">
						<param name="id" value="9112" />
						<param name="label" value="$LOCALIZE[31207]" />
						<param name="title" value="$LOCALIZE[31386]" />
						<param name="thumb" value="mainmenusettings" />
						<param name="onclick" value="ActivateWindow(1157)" />
						<param name="visible" value="true" />
					</include>
				</content>
			</control>				
			<control type="image">
				<left>890</left>
				<top>186</top>
				<width>10</width>
				<height>1974</height>
				<texture colordiffuse="$INFO[skin.string(texture_highlight_color)]">white.png</texture>
			</control>
			<control type="image">
				<left>900</left>
				<top>1895</top>
				<width>64</width>
				<height>106</height>
				<texture colordiffuse="$INFO[skin.string(texture_highlight_color)]">arrow_settings.png</texture>
			</control>
			<control type="label">
				<left>1000</left>
				<top>1890</top>
				<width>2740</width>
				<height>216</height>
				<aligny>top</aligny>
				<label>$INFO[Container(9000).ListItem.Property(title)]</label>
				<font>font_title_floor</font>
				<autoscroll time="3000" delay="4000" repeat="5000">true</autoscroll>
			</control>
			<include>mask_background</include>
		</control>
	</controls>
</window>