<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol>2</defaultcontrol>
	<controls>
		<include condition="!Skin.HasSetting(HideVideoBackgrounds)">CommonVideoPlayingBackground</include>
		<control type="multiimage">
			<posx>0</posx>
			<posy>0</posy>
			<width>1280</width>
			<height>720</height>
			<imagepath fallback="special://skin/backgrounds/background-settings.jpg" background="true">$INFO[Skin.String(Custom_Back_Settings_Folder)]</imagepath>
			<aspectratio>scale</aspectratio>
			<timeperimage>5000</timeperimage>
			<randomize>true</randomize>
			<fadetime>2000</fadetime>
			<include condition="Skin.HasSetting(AnimateBackgrounds)">backgroundanimation</include>
			<visible>![Player.HasVideo + !Skin.HasSetting(HideVideoBackgrounds)]</visible>
		</control>
		<include condition="!Skin.HasSetting(HideVisBackgrounds)">CommonVisualizationBackground</include>
		<control type="group">
			<include>ContentFade</include>
			<control type="group">
				<include>Window_OpenClose_Animation</include>
				<control type="image">
					<posx>200</posx>
					<posy>45</posy>
					<width>880</width>
					<height>65</height>
					<texture diffuse="underlay5-diffuse.png" border="0,10,0,10">underlay4.png</texture>
				</control>
				<control type="label">
					<posx>240</posx>
					<posy>60</posy>
					<width>800</width>
					<height>35</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>[B]$LOCALIZE[31158][/B]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-35</font>
				</control>
			</control>
			<control type="group">
				<include>Window_OpenClose_Settings_Bottom_Animation</include>
				<control type="image">
					<posx>240</posx>
					<posy>640</posy>
					<width>800</width>
					<height>100</height>
					<texture diffuse="underlay-diffuse.png" border="0,10,0,10">underlay4.png</texture>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31159]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(2)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31160]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(3)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31161]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(4)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31162]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(5)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31163]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(6)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31164]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(7)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31165]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(8)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31166]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(9)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31167]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(10)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31168]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(11)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31169]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(12)</visible>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>654</posy>
					<width>1200</width>
					<height>60</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31170]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(13)</visible>
				</control>
			</control>
			<control type="image">
				<posx>0</posx>
				<posy>115</posy>
				<width>1280</width>
				<height>520</height>
				<texture diffuse="underlay-diffuse.png" border="0,10,0,10">underlay.png</texture>
				<include>Window_OpenClose_Animation</include>
			</control>
			<control type="group" id="8000">
				<posx>0</posx>
				<posy>135</posy>
				<control type="group">
					<posx>80</posx>
					<posy>0</posy>
					<animation effect="slide" start="435,160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(2)">
						<effect type="slide" start="0,0" end="435,160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(2)">
						<effect type="slide" start="0,0" end="435,160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-videos.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(2)">Conditional</animation>
					</control>
					<control type="button" id="2">
						<description>Video push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[3][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>13</onleft>
						<onright>3</onright>
						<onup>10</onup>
						<ondown>6</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>370</posx>
					<posy>0</posy>
					<animation effect="slide" start="145,160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(3)">
						<effect type="slide" start="0,0" end="145,160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(3)">
						<effect type="slide" start="0,0" end="145,160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-tv.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(3)">Conditional</animation>
					</control>
					<control type="button" id="3">
						<description>TV push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[19020][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>2</onleft>
						<onright>4</onright>
						<onup>11</onup>
						<ondown>7</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>660</posx>
					<posy>0</posy>
					<animation effect="slide" start="-145,160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(4)">
						<effect type="slide" start="0,0" end="-145,160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(4)">
						<effect type="slide" start="0,0" end="-145,160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-music.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(4)">Conditional</animation>
					</control>
					<control type="button" id="4">
						<description>Music push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[2][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>3</onleft>
						<onright>5</onright>
						<onup>12</onup>
						<ondown>8</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>950</posx>
					<posy>0</posy>
					<animation effect="slide" start="-435,160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(5)">
						<effect type="slide" start="0,0" end="-435,160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(5)">
						<effect type="slide" start="0,0" end="-435,160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-pictures.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(5)">Conditional</animation>
					</control>
					<control type="button" id="5">
						<description>Pics push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[1][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>4</onleft>
						<onright>6</onright>
						<onup>13</onup>
						<ondown>9</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>80</posx>
					<posy>160</posy>
					<animation effect="slide" start="435,0" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(6)">
						<effect type="slide" start="0,0" end="435,0" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(6)">
						<effect type="slide" start="0,0" end="435,0" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-weather.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(6)">Conditional</animation>
					</control>
					<control type="button" id="6">
						<description>Weather push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[8][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>5</onleft>
						<onright>7</onright>
						<onup>2</onup>
						<ondown>10</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>370</posx>
					<posy>160</posy>
					<animation effect="slide" start="145,0" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(7)">
						<effect type="slide" start="0,0" end="145,0" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(7)">
						<effect type="slide" start="0,0" end="145,0" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-settings.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(7)">Conditional</animation>
					</control>
					<control type="button" id="7">
						<description>System push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[13000][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>6</onleft>
						<onright>8</onright>
						<onup>3</onup>
						<ondown>11</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>660</posx>
					<posy>160</posy>
					<animation effect="slide" start="-145,0" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(8)">
						<effect type="slide" start="0,0" end="-145,0" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(8)">
						<effect type="slide" start="0,0" end="-145,0" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-network.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(8)">Conditional</animation>
					</control>
					<control type="button" id="8">
						<description>Service push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[14036][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>7</onleft>
						<onright>9</onright>
						<onup>4</onup>
						<ondown>12</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>950</posx>
					<posy>160</posy>
					<animation effect="slide" start="-435,0" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(9)">
						<effect type="slide" start="0,0" end="-435,0" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(9)">
						<effect type="slide" start="0,0" end="-435,0" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-login.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(9)">Conditional</animation>
					</control>
					<control type="button" id="9">
						<description>Profiles push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[13200][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(Profiles)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>8</onleft>
						<onright>10</onright>
						<onup>5</onup>
						<ondown>13</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>80</posx>
					<posy>320</posy>
					<animation effect="slide" start="435,-160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(10)">
						<effect type="slide" start="0,0" end="435,-160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(10)">
						<effect type="slide" start="0,0" end="435,-160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-appearance.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(10)">Conditional</animation>
					</control>
					<control type="button" id="10">
						<description>Appearance button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[480][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>9</onleft>
						<onright>11</onright>
						<onup>6</onup>
						<ondown>2</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>370</posx>
					<posy>320</posy>
					<animation effect="slide" start="145,-160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(11)">
						<effect type="slide" start="0,0" end="145,-160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(11)">
						<effect type="slide" start="0,0" end="145,-160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-skin.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(11)">Conditional</animation>
					</control>
					<control type="button" id="11">
						<description>Skin button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[20077][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>10</onleft>
						<onright>12</onright>
						<onup>7</onup>
						<ondown>3</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>660</posx>
					<posy>320</posy>
					<animation effect="slide" start="-145,-160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(12)">
						<effect type="slide" start="0,0" end="-145,-160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(12)">
						<effect type="slide" start="0,0" end="-145,-160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-addons.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(12)">Conditional</animation>
					</control>
					<control type="button" id="12">
						<description>Addon button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[24001][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>11</onleft>
						<onright>13</onright>
						<onup>8</onup>
						<ondown>4</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<posx>950</posx>
					<posy>320</posy>
					<animation effect="slide" start="-435,-160" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(13)">
						<effect type="slide" start="0,0" end="-435,-160" time="400" tween="quadratic" easing="in"/>
						<effect type="fade" start="100" end="0" time="400"/>
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(13)">
						<effect type="slide" start="0,0" end="-435,-160" time="400" tween="quadratic" easing="in"/>
					</animation>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<posx>22</posx>
						<posy>22</posy>
						<width>206</width>
						<height>115</height>
						<texture diffuse="settings-button-diffuse.png">settings-systeminfo.jpg</texture>
						<animation effect="zoom" start="22,22,206,115" end="19,11,220,130" time="200" center="auto" condition="Control.HasFocus(13)">Conditional</animation>
					</control>
					<control type="button" id="13">
						<description>System Info button</description>
						<posx>0</posx>
						<posy>0</posy>
						<width>250</width>
						<height>159</height>
						<label>[UPPERCASE][B]$LOCALIZE[130][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>108</textoffsety>
						<onleft>12</onleft>
						<onright>2</onright>
						<onup>9</onup>
						<ondown>5</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
			</control>
		</control>
		<control type="group">
			<include>ContentFade</include>
			<include>Window_OpenClose_Header_Animation</include>
			<control type="image">
				<posx>0</posx>
				<posy>0</posy>
				<width>1280</width>
				<height>55</height>
				<texture border="1">Header.png</texture>
			</control>
			<control type="grouplist">
				<include>Breadcrumbs</include>
				<include>Breadcrumbs-Settings</include>
			</control>
		</control>
		<include condition="Skin.HasSetting(TouchScreenMode)">TouchScreenControls</include>
	</controls>
</window>
