<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol>8999</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<include>screen-fade</include>
	<previouswindow>Home</previouswindow>
	<controls>
		<include>background</include>
		<include>skin-logo</include>
		<include>Fake-Overlay</include>
		<control type="label"><!-- Screen heading -->
			<left>946</left>
			<top>50</top>
			<width>310</width>
			<height>32</height>
			<label>$LOCALIZE[13000]</label>
			<font>font18</font>
		</control>

		<!-- Markers for control area items -->
		<control type="label">
			<left>798</left>
			<top>96</top>
			<width>444</width>
			<height>24</height>
			<font>font12</font>
			<label>$VAR[SettingsList0]</label>
			<textcolor>disabled-text</textcolor>
			<camera x="798" y="96" />
			<animation effect="rotatex" center="96" end="65" time="0" condition="true">Conditional</animation>
			<include condition="Skin.HasSetting(text-autoscroll)">scrolltext</include>
			<visible>Control.HasFocus(8999)</visible>
		</control>
		<control type="label">
			<left>798</left>
			<top>662</top>
			<width>444</width>
			<height>24</height>
			<font>font12</font>
			<label>$VAR[SettingsList12]</label>
			<textcolor>disabled-text</textcolor>
			<camera x="798" y="662" />
			<animation effect="rotatex" center="662" end="-65" time="0" condition="true">Conditional</animation>
			<include condition="Skin.HasSetting(text-autoscroll)">scrolltext</include>
			<visible>Control.HasFocus(8999)</visible>
		</control>

		<control type="group">
			<visible>Control.IsVisible(8999)</visible>
			<left>780</left>
			<top>112</top>
			<control type="list" id="8999">
				<left>0</left>
				<top>0</top>
				<width>480</width>
				<height>550</height>
				<scrolltime>100</scrolltime>
				<viewtype label="List">list</viewtype>
				<itemlayout width="480" height="50">
					<control type="label">
						<left>18</left>
						<top>8</top>
						<width>440</width>
						<height>30</height>
						<font>font12</font>
						<include condition="Skin.HasSetting(text-autoscroll)">scrolltext</include>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout width="480" height="50">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>480</width>
						<height>50</height>
						<texture border="8">button-default-focus.png</texture>
					</control>
					<control type="label">
						<left>18</left>
						<top>8</top>
						<width>440</width>
						<height>30</height>
						<font>font12</font>
						<include condition="Skin.HasSetting(text-autoscroll)">scrolltext</include>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item><!-- Appearance -->
						<label>$LOCALIZE[480]</label>
						<onclick>Activatewindow(AppearanceSettings)</onclick>
					</item>
					<item><!-- Videos -->
						<label>$LOCALIZE[3]</label>
						<onclick>Activatewindow(VideosSettings)</onclick>
					</item>
					<item><!-- TV -->
						<label>$LOCALIZE[19020]</label>
						<onclick>Activatewindow(PVRSettings)</onclick>
					</item>
					<item><!-- Music -->
						<label>$LOCALIZE[2]</label>
						<onclick>Activatewindow(MusicSettings)</onclick>
					</item>
					<item><!-- Pictures -->
						<label>$LOCALIZE[1]</label>
						<onclick>Activatewindow(PicturesSettings)</onclick>
					</item>
					<item><!-- Addons -->
						<label>$LOCALIZE[24000]</label>
						<onclick>Activatewindow(AddonBrowser)</onclick>
					</item>
					<item><!-- Weather -->
						<label>$LOCALIZE[8]</label>
						<onclick>Activatewindow(WeatherSettings)</onclick>
					</item>
					<item><!-- Services -->
						<label>$LOCALIZE[14036]</label>
						<onclick>Activatewindow(servicesettings)</onclick>
					</item>
					<item><!-- System -->
						<label>$LOCALIZE[13000]</label>
						<onclick>Activatewindow(SystemSettings)</onclick>
					</item>
					<item><!-- Profiles -->
						<label>$LOCALIZE[13200]</label>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item><!-- File Manager -->
						<label>$LOCALIZE[10003]</label>
						<onclick>ActivateWindow(filemanager)</onclick>
					</item>
					<item><!-- System Info -->
						<label>$LOCALIZE[138]</label>
						<onclick>Activatewindow(systeminfo)</onclick>
					</item>
				</content>
			</control>
		</control>
	</controls>
</window>