<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">300</defaultcontrol>
    <onload condition="!String.IsEqual(Window(Home).Property(FromSettings),1)">ReplaceWindow(InterfaceSettings)</onload>
    <onload condition="!String.IsEqual(Window(Home).Property(FromSettings),1)">AlarmClock(SetFocus,SetFocus(300,0),00:00,silent)</onload>
    <include>Defs_SettingsOnload</include>
    <controls>
        <include>Global_Background_Settings</include>
        <include>Topbar</include>
        <include>Bottombar</include>
        <include>Statusbar</include>
    </controls>
</window>
