<window id="4">
		<defaultcontrol>2</defaultcontrol>
		<allowoverlay>no</allowoverlay>
		<controls>
				<include>CommonSettingsItems</include>
				<include>Settingslook</include>
				<include>Common-NowPlaying-Settings</include>

				<!-- Panel: Settings Button list -->
				<control type="group" id="8000">
						<posx>100</posx>
						<posy>100</posy>
						<include>SettingFadeAnimations</include>
						<control type="button" id="2">
								<description>Video push button</description>
								<posx>0</posx>
								<posy>0</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31021]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos0</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_video.png</texturefocus>
								<texturenofocus>windows/settings/images/small_video-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyVideosSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>10</onup>
								<ondown>3</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="3">
								<description>Music push button</description>
								<posx>0</posx>
								<posy>50</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31022]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos1</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_audio.png</texturefocus>
								<texturenofocus>windows/settings/images/small_audio-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyMusicSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>2</onup>
								<ondown>4</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="4">
								<description>Pics push button</description>
								<posx>0</posx>
								<posy>100</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31023]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos2</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_pictures.png</texturefocus>
								<texturenofocus>windows/settings/images/small_pictures-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyPicturesSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>3</onup>
								<ondown>5</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="5">
								<description>Profiles push button</description>
								<posx>0</posx>
								<posy>150</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31024]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos3</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_profiles.png</texturefocus>
								<texturenofocus>windows/settings/images/small_profiles-nf.png</texturenofocus>
								<onclick>ActivateWindow(Profiles)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>4</onup>
								<ondown>6</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="6">
								<description>Weather push button</description>
								<posx>0</posx>
								<posy>200</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31025]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos4</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_weather.png</texturefocus>
								<texturenofocus>windows/settings/images/small_weather-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyWeatherSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>5</onup>
								<ondown>7</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="7">
								<description>Network push button</description>
								<posx>0</posx>
								<posy>250</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31026]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos5</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_network.png</texturefocus>
								<texturenofocus>windows/settings/images/small_network-nf.png</texturenofocus>
								<onclick>ActivateWindow(NetworkSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>6</onup>
								<ondown>8</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="8">
								<description>Appearance push button</description>
								<posx>0</posx>
								<posy>300</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31027]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos6</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_appearance.png</texturefocus>
								<texturenofocus>windows/settings/images/small_appearance-nf.png</texturenofocus>
								<onclick>ActivateWindow(AppearanceSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>7</onup>
								<ondown>9</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="9">
								<description>Customize push button</description>
								<posx>0</posx>
								<posy>350</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31028]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos7</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_customize.png</texturefocus>
								<texturenofocus>windows/settings/images/small_customize-nf.png</texturenofocus>
								<onclick>ActivateWindow(1111)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onup>8</onup>
								<ondown>10</ondown>
								<onleft>9010</onleft>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="10">
								<description>System push button</description>
								<posx>0</posx>
								<posy>400</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31029]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos8</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>Settings</font>
								<texturefocus>windows/settings/images/small_system.png</texturefocus>
								<texturenofocus>windows/settings/images/small_system-nf.png</texturenofocus>
								<onclick>ActivateWindow(SystemSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>12</textoffsety>
								<onleft>9010</onleft>
								<onup>9</onup>
								<ondown>2</ondown>
								<!-- New Code for Newer Builds -->
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
				</control>

	<!-- Debug Info -->
	<include>debug</include>

	</controls>
</window>