<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9020</defaultcontrol>
    <onload>ClearProperty(MediaMenu,home)</onload>
    <onunload>ClearProperty(MediaMenu,home)</onunload>
    <controls>
        <include>CommonBackground</include>
        <control type="group">
            <include>MenuSlideAnimation</include>
            <control type="panel" id="9020">
                <top>155</top>
                <left>180</left>
                <width>1696</width>
                <height>890</height>
                <onup>9020</onup>
                <ondown>9020</ondown>
                <onleft>9005</onleft>
                <onright>9020</onright>
                <preloaditems>2</preloaditems>
                <viewtype label="535">list</viewtype>
                <itemlayout height="178" width="848">
                    <control type="image">
                        <left>60</left>
                        <top>24</top>
                        <width>130</width>
                        <height>130</height>
                        <aspectratio>keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <top>33</top>
                        <left>220</left>
                        <right>70</right>
                        <height>70</height>
                        <font>font30</font>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <top>82</top>
                        <left>220</left>
                        <right>70</right>
                        <height>60</height>
                        <textcolor>highlight</textcolor>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </itemlayout>
                <focusedlayout height="178" width="848">
                    <include content="SelectedItemBackground">
                        <param name="Left" value="50" />
                        <param name="Top" value="14" />
                        <param name="Width" value="750" />
                        <param name="Height" value="150" />
                    </include>
                    <control type="image">
                        <left>50</left>
                        <top>14</top>
                        <width>150</width>
                        <height>150</height>
                        <texture>overlays/diffuse-overlay.png</texture>
                    </control>
                    <control type="image">
                        <left>60</left>
                        <top>24</top>
                        <width>130</width>
                        <height>130</height>
                        <aspectratio>keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <top>33</top>
                        <left>220</left>
                        <right>70</right>
                        <height>70</height>
                        <font>font30</font>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <top>82</top>
                        <left>220</left>
                        <right>70</right>
                        <height>60</height>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </focusedlayout>
                <include>SettingsListContents</include>
            </control>
            <control type="group">
                <top>0</top>
                <left>-430</left>
                <include>Submenu</include>
                <include>MainMenu</include>
                <include>Topbar</include>
            </control>
        </control>
    </controls>
</window>