<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">60</defaultcontrol>
	<controls>
		<include>Global_Background</include>
		<control type="label">
			<posx>30</posx>
			<posy>10</posy>
			<width>450</width>
			<height>30</height>
			<align>left</align>
			<aligny>center</aligny>
			<font>METF_Heading</font>
			<textcolor>GlobalHeading</textcolor>
			<label>5</label>
			<include>Animation_HiddenByInfo</include>
			<include>Animation_FadedByMenu</include>
			<include>Animation_OpenCloseFade</include>
		</control>

		<control type="group">
			<include>Animation_FadedByMenu</include>
			<control type="wraplist" id="60">
				<posx>10</posx>
				<posy>75</posy>
				<width>1260</width>
				<height>450</height>
				<onleft>60</onleft>
				<onright>60</onright>
				<orientation>horizontal</orientation>
				<focusposition>3</focusposition>
				<scrolltime>200</scrolltime>
				<preloaditems>2</preloaditems>
				<viewtype label="536">list</viewtype>
				<include>Animation_OpenCloseFade</include>
				<itemlayout height="450" width="180">
					<control type="image">
						<posx>15</posx>
						<posy>75</posy>
						<width>150</width>
						<height>300</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<aspectratio>stretch</aspectratio>
					</control>
					<control type="label">
						<posx>15</posx>
						<posy>328</posy>
						<width>150</width>
						<height>30</height>
						<align>center</align>
						<aligny>center</aligny>
						<font>METF_StarRating</font>
						<textcolor>HelpText</textcolor>
						<shadowcolor>Black</shadowcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<posx>5</posx>
						<posy>59</posy>
						<width>180</width>
						<height>335</height>
						<texture>frames/ClassicFrame_Tall.png</texture>
						<aspectratio>stretch</aspectratio>
					</control>
				</itemlayout>
				<focusedlayout height="450" width="180">
					<control type="image">
						<posx>15</posx>
						<posy>75</posy>
						<width>150</width>
						<height>300</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<aspectratio>stretch</aspectratio>
						<animation reversible="false" effect="zoom" center="auto" start="100" end="112" time="200" tween="sine" easing="inout">focus</animation>
						<animation reversible="false" effect="zoom" center="auto" start="112" end="100" time="200" tween="sine" easing="inout">unfocus</animation>
					</control>
					<control type="image">
						<posx>5</posx>
						<posy>59</posy>
						<width>180</width>
						<height>335</height>
						<texture>frames/ClassicFrame_Tall.png</texture>
						<aspectratio>stretch</aspectratio>
						<animation reversible="false" effect="zoom" center="auto" start="100" end="112" time="200" tween="sine" easing="inout">focus</animation>
						<animation reversible="false" effect="zoom" center="auto" start="112" end="100" time="200" tween="sine" easing="inout">unfocus</animation>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<description>System</description>
						<label>$LOCALIZE[13000]</label>
						<icon>settings/settings_system.png</icon>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item id="2">
						<description>System Info</description>
						<label>$LOCALIZE[130]</label>
						<icon>settings/settings_systeminfo.png</icon>
						<onclick>activatewindow(7)</onclick>
					</item>
					<item id="3">
						<description>Profiles</description>
						<label>$LOCALIZE[13200]</label>
						<icon>settings/settings_profiles.png</icon>
						<onclick>activatewindow(Profiles)</onclick>
					</item>
					<item id="4">
						<description>Interface</description>
						<label>$LOCALIZE[14206]</label>
						<icon>settings/settings_appearance.png</icon>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
					</item>
					<item id="5">
						<description>Player</description>
						<label>$LOCALIZE[14200]</label>
						<icon>settings/settings_player.png</icon>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
					</item>
					<item id="6">
						<description>Media</description>
						<label>$LOCALIZE[14211]</label>
						<icon>settings/settings_media.png</icon>
						<onclick>ActivateWindow(MediaSettings)</onclick>
					</item>
					<item id="7">
						<description>Live TV</description>
						<label>$LOCALIZE[31601]</label>
						<icon>settings/settings_livetv.png</icon>
						<onclick>ActivateWindow(PVRSettings)</onclick>
					</item>
					<item id="8">
						<description>Add-ons</description>
						<label>$LOCALIZE[24001]</label>
						<icon>settings/settings_addons.png</icon>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
					</item>
					<item id="9">
						<description>Services</description>
						<label>$LOCALIZE[31468]</label>
						<icon>settings/settings_network.png</icon>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
					</item>
					<item id="10">
						<description>Games</description>
						<label>$LOCALIZE[31460]</label>
						<icon>settings/settings_games.png</icon>
						<onclick>ActivateWindow(GameSettings)</onclick>
					</item>
				</content>
			</control>

			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(1)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>13000</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31213]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(2)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[130]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31341]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(3)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[13200]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31342]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(4)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>14206</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31216]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(5)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>14200</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31211]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(6)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>14211</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31221]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(7)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[31601]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31220]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(8)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[24001]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31212]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(9)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[31468]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31218]</label>
				</control>
			</control>
			<control type="group">
				<posx>40</posx>
				<posy>498</posy>
				<visible>Container(60).HasFocus(10)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[31460]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[31219]</label>
				</control>
			</control>
		</control>
		<include>Global_Weather</include>
		<include>Global_Time</include>
		<include>Global_MediaOverlay</include>
		<include condition="Skin.HasSetting(DebugGrid)">Object_DebugGrid</include>
	</controls>
</window>
