<window id="4">
		<defaultcontrol>8000</defaultcontrol>
		<allowoverlay>no</allowoverlay>
		<controls>
				<include>CommonSettingsItems</include>
				<include>Settingslook</include>
				<include>Common-NowPlaying</include>

				<!-- Panel: Settings Button list -->
				<control type="group" id="8000">
						<posx>100</posx>
						<posy>100</posy>
						<include>SettingFadeAnimations</include>
						<control type="button" id="1">
								<description>Appearance push button</description>
								<posx>0</posx>
								<posy>0</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[480]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos0</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_appearance.png</texturefocus>
								<texturenofocus>windows/settings/images/small_appearance-nf.png</texturenofocus>
								<onclick>ActivateWindow(AppearanceSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>9</onup>
								<ondown>2</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="2">
								<description>Video push button</description>
								<posx>0</posx>
								<posy>50</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[3]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos1</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_video.png</texturefocus>
								<texturenofocus>windows/settings/images/small_video-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyVideosSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>1</onup>
								<ondown>3</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="3">
								<description>Music push button</description>
								<posx>0</posx>
								<posy>100</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[292]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos2</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_audio.png</texturefocus>
								<texturenofocus>windows/settings/images/small_audio-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyMusicSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>2</onup>
								<ondown>4</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="4">
								<description>Pics push button</description>
								<posx>0</posx>
								<posy>150</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[1]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos3</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_pictures.png</texturefocus>
								<texturenofocus>windows/settings/images/small_pictures-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyPicturesSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>3</onup>
								<ondown>5</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="5">
								<description>LiveTV push button</description>
								<posx>0</posx>
								<posy>200</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[31001]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos4</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_tv.png</texturefocus>
								<texturenofocus>windows/settings/images/small_tv-nf.png</texturenofocus>
								<onclick>ActivateWindow(PVRSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>4</onup>
								<ondown>6</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="6">
								<description>Weather push button</description>
								<posx>0</posx>
								<posy>250</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[8]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos5</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_weather.png</texturefocus>
								<texturenofocus>windows/settings/images/small_weather-nf.png</texturenofocus>
								<onclick>ActivateWindow(MyWeatherSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>5</onup>
								<ondown>7</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="7">
								<description>Addons push button</description>
								<posx>0</posx>
								<posy>300</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[24001]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos6</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_addons.png</texturefocus>
								<texturenofocus>windows/settings/images/small_addons-nf.png</texturenofocus>
								<onclick>ActivateWindow(addonbrowser)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>6</onup>
								<ondown>8</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="8">
								<description>Service push button</description>
								<posx>0</posx>
								<posy>350</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[14036]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos7</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_network.png</texturefocus>
								<texturenofocus>windows/settings/images/small_network-nf.png</texturenofocus>
								<onclick>ActivateWindow(ServiceSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onup>7</onup>
								<ondown>9</ondown>
								<onleft>9010</onleft>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
						<control type="button" id="9">
								<description>System push button</description>
								<posx>0</posx>
								<posy>400</posy>
								<height>51</height>
								<width>266</width>
								<label>$LOCALIZE[13000]</label>
								<align>left</align>
								<aligny>-</aligny>
								<textcolor>settingspos8</textcolor>
								<focusedcolor>white</focusedcolor>
								<font>XPM_font_26B</font>
								<texturefocus>windows/settings/images/small_system.png</texturefocus>
								<texturenofocus>windows/settings/images/small_system-nf.png</texturenofocus>
								<onclick>ActivateWindow(SystemSettings)</onclick>
								<textoffsetx>67</textoffsetx>
								<textoffsety>7</textoffsety>
								<onleft>9010</onleft>
								<onup>8</onup>
								<ondown>1</ondown>
								<textwidth>190</textwidth>
								<scroll>true</scroll>
						</control>
				</control>



	</controls>
</window>