<?xml version="1.0" encoding="UTF-8"?>
<window><!-- Ace 2 -->
	<defaultcontrol always="true">9928</defaultcontrol>
	<controls>		
		<include content="common_background">
			<param name="mask" value="white80" />	
			<param name="condition" value="true" />
		</include>
		<include content="kiosk_loads">
			<param name="focus" value="SetFocus(9000)" />	
		</include>
		<control type="group">
			<include>animation_window</include>
			<visible>$EXP[kiosk_code_control]</visible>
			<control type="image">
				<left>0</left>
				<top>180</top>
				<width>1920</width>
				<height>779</height>
				<texture colordiffuse="$INFO[skin.string(texture_color_highlight)]">settings_grid.png</texture>
			</control>
			<control type="panel" id="9000">
				<left>0</left>
				<top>181</top>
				<width>1920</width>
				<height>990</height>				
				<orientation>vertical</orientation>
				<focusposition>0</focusposition>
				<scrolltime tween="sine" easing="out">500</scrolltime>
				<itemlayout width="480" height="260">
					<control type="label">
						<left>50</left>
						<top>25</top>
						<width>380</width>
						<height>40</height>
						<align>center</align>
						<aligny>top</aligny>						
						<label>$INFO[ListItem.Label]</label>
						<font>font_menusmall</font>
					</control>
					<control type="image">
						<left>185</left>
						<top>90</top>
						<width>110</width>
						<height>110</height>
						<texture colordiffuse="$INFO[skin.string(texture_color_highlight)]">$INFO[ListItem.Icon]</texture>
						<aspectratio align="center" aligny="bottom">keep</aspectratio>
					</control>
				</itemlayout>
				<focusedlayout width="480" height="260">
					<control type="image">
						<left>1</left>
						<top>1</top>
						<width>478</width>
						<height>258</height>
						<texture colordiffuse="$INFO[skin.string(texture_color_highlight)]">white80.png</texture>
					</control>
					<control type="label">
						<left>50</left>
						<top>25</top>
						<width>380</width>
						<height>40</height>
						<align>center</align>
						<aligny>top</aligny>						
						<label>$INFO[ListItem.Label]</label>
						<font>font_menusmall</font>
						<textcolor>$INFO[skin.string(label_color_base)]</textcolor>
					</control>
					<control type="image">
						<left>185</left>
						<top>90</top>
						<width>110</width>
						<height>110</height>
						<texture colordiffuse="$INFO[skin.string(texture_color_base)]">$INFO[ListItem.Icon]</texture>
						<aspectratio align="center" aligny="bottom">keep</aspectratio>
					</control>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>480</width>
						<height>260</height>
						<texture>gradient_mask.png</texture>
						<animation effect="fade" end="50" condition="true">conditional</animation>
					</control>
				</focusedlayout>
				<content>					
					<item id="100">
						<icon>icons/settings/interface.png</icon>
						<label>31351</label>
						<property name="mainlabel">31376</property>
						<onclick>ActivateWindow(interfacesettings)</onclick>
					</item>					
					<item id="101">
						<icon>icons/settings/player.png</icon>
						<label>31353</label>
						<property name="mainlabel">31377</property>
						<onclick>ActivateWindow(playersettings)</onclick>
					</item>					
					<item id="102">
						<icon>icons/settings/media.png</icon>
						<label>31355</label>
						<property name="mainlabel">31378</property>
						<onclick>ActivateWindow(mediasettings)</onclick>
					</item>					
					<item id="103">
						<icon>icons/settings/pvr.png</icon>
						<label>31357</label>
						<property name="mainlabel">31379</property>
						<onclick>ActivateWindow(pvrsettings)</onclick>
					</item>					
					<item id="104">
						<icon>icons/settings/service.png</icon>
						<label>31365</label>
						<property name="mainlabel">31380</property>
						<onclick>ActivateWindow(servicesettings)</onclick>
					</item>					
					<item id="105">
						<icon>icons/settings/game.png</icon>
						<label>31367</label>
						<property name="mainlabel">31381</property>
						<onclick>ActivateWindow(gamesettings)</onclick>
					</item>					
					<item id="106">
						<icon>icons/settings/addon.png</icon>
						<label>31363</label>
						<property name="mainlabel">31382</property>
						<onclick>ActivateWindow(addonbrowser)</onclick>
					</item>					
					<item id="107">
						<icon>icons/settings/system.png</icon>
						<label>31359</label>
						<property name="mainlabel">31383</property>
						<onclick>ActivateWindow(systemsettings)</onclick>
					</item>					
					<item id="108">
						<icon>icons/settings/profile.png</icon>
						<label>31369</label>
						<property name="mainlabel">31384</property>
						<onclick>ActivateWindow(profiles)</onclick>
					</item>					
					<item id="109">
						<icon>icons/settings/libreelec.png</icon>
						<label>31361</label>
						<property name="mainlabel">31385</property>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<visible>System.HasAddon(service.libreelec.settings)</visible>
					</item>	
					<item id="110">
						<icon>icons/settings/eventlog.png</icon>
						<label>31387</label>
						<property name="mainlabel">31388</property>
						<onclick>ActivateWindow(eventlog)</onclick>
					</item>						
					<item id="111">
						<icon>icons/settings/skin.png</icon>
						<label>31371</label>
						<property name="mainlabel">31386</property>
						<onclick>ActivateWindow(skinsettings)</onclick>
					</item>
				</content>
			</control>			
			<control type="image">
				<left>0</left>
				<top>960</top>
				<width>1920</width>
				<height>120</height>
				<texture colordiffuse="$INFO[skin.string(texture_color_base)]">white50.png</texture>
			</control>
			<control type="label">
				<left>90</left>
				<top>960</top>
				<width>1740</width>
				<height>120</height>				
				<align>center</align>
				<label>$INFO[Container(9000).ListItem.Property(mainlabel)]</label>
				<font>font_titlesettings</font>
			</control>
			<include content="gradient_line">
				<param name="left" value="0" />
				<param name="topline" value="960" />
				<param name="topshadow" value="960" />
				<param name="width" value="1920" />
				<param name="flipy" value="true" />
				<param name="visible" value="true" />
			</include>
			<include>mask_background</include>
		</control>
	</controls>
</window>