<?xml version="1.0" encoding="utf-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <controls>
        <include condition="!Skin.HasSetting(DisableFanart)">Fanart_Art</include>
        <include>Player_Show</include>
        <include>OverlayFull</include>
        <control type="group">
            <include>OpenClose</include>
            <include>Icon_Fade</include>
            <include>FacadeFadeDialogs</include>
            <control type="image">
                <posx>0</posx>
                <posy>142</posy>
                <width>570</width>
                <height>862</height>
                <texture border="100">$VAR[Theme.Color]/common/bg_list.png</texture>
            </control>
            <control type="group">
                <posx>585</posx>
                <control type="multiimage">
                    <posx>75</posx>
                    <posy>183</posy>
                    <width>1196</width>
                    <height>780</height>
                    <aspectratio>scale</aspectratio>
                    <fadetime>400</fadetime>
                    <imagepath background="true">$INFO[Container(9000).ListItem.Label2]</imagepath>
                </control>
                <control type="image">
                    <posx>40</posx>
                    <posy>148</posy>
                    <width>1266</width>
                    <height>850</height>
                    <texture border="35">$VAR[Theme.Color]/common/JewelCase2.png</texture>
                </control>
                <control type="group">
                    <posy>135</posy>
                    <control type="image">
                        <posx>75</posx>
                        <posy>393</posy>
                        <width>1196</width>
                        <height>435</height>
                        <colordiffuse>$VAR[Picked.Theme.Color]</colordiffuse>
                        <texture border="10">$VAR[Theme.Color]/common/HomeGradient.png</texture>
                    </control>
                    <control type="image">
                        <include>ConditionWhite</include>
                        <posx>571</posx>
                        <posy>621</posy>
                        <width>202</width>
                        <height>56</height>
                        <texture>$VAR[Theme.Color]/common/logo.png</texture>
                        <colordiffuse>MainColor_white</colordiffuse>
                    </control>
                    <control type="image">
                        <include>ConditionBlack</include>
                        <posx>571</posx>
                        <posy>621</posy>
                        <width>202</width>
                        <height>56</height>
                        <texture>$VAR[Theme.Color]/common/logo.png</texture>
                        <colordiffuse>MainColor_black</colordiffuse>
                    </control>
                    <control type="label">
                        <posx>75</posx>
                        <posy>711</posy>
                        <height>36</height>
                        <width>1196</width>
                        <align>center</align>
                        <font>HomeItemFont</font>
                        <include>TextColor_MainColor</include>
                        <label>Nebula</label>
                    </control>
                    <control type="label">
                        <visible>System.HasAddon(script.skin.helper.service)</visible>
                        <posx>75</posx>
                        <posy>771</posy>
                        <height>36</height>
                        <width>1196</width>
                        <align>center</align>
                        <font>WindowTitleSubFont</font>
                        <include>TextColor_MainColor</include>
                        <label>$INFO[Window(Home).Property(SkinHelper.skinVersion)] by Tgx</label>
                    </control>
                </control>
            </control>
            <control type="list" id="9000">
                <posx>0</posx>
                <posy>183</posy>
                <width>660</width>
                <height>780</height>
                <onleft>60</onleft>
                <onright>9000</onright>
                <onup>9900</onup>
                <ondown>9000</ondown>
                <pagecontrol>60</pagecontrol>
                <itemlayout width="660" height="78">
                    <control type="label">
                        <posx>TextMargin</posx>
                        <height>78</height>
                        <width>540</width>
                        <font>FacadeListMainFont</font>
                        <include>TextColor_AlternateColor</include>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                </itemlayout>
                <focusedlayout width="660" height="78">
                    <control type="group">
                        <include>ButtonFocusAnimation</include>
                        <control type="image">
                            <posx>0</posx>
                            <posy>0</posy>
                            <height>78</height>
                            <width>660</width>
                            <colordiffuse>$VAR[Picked.Theme.Color]</colordiffuse>
                            <texture border="1">$VAR[Theme.Color]/list/bg_facade_focus.png</texture>
                        </control>
                        <control type="label">
                            <posx>TextMargin</posx>
                            <height>78</height>
                            <width>540</width>
                            <font>FacadeListMainFont</font>
                            <include>TextColor_MainColor</include>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </control>
                </focusedlayout>
                <content>
                    <item>
                        <label>$LOCALIZE[480]</label>
                        <label2>$VAR[Default.Art]</label2>
                        <onclick>activatewindow(AppearanceSettings)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[3]</label>
                        <label2>$VAR[Videos.Art]</label2>
                        <onclick>activatewindow(VideosSettings)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[2]</label>
                        <label2>$VAR[Music.Art]</label2>
                        <onclick>activatewindow(MusicSettings)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[1]</label>
                        <label2>$VAR[Pictures.Art]</label2>
                        <onclick>activatewindow(PicturesSettings)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[31500]</label>
                        <label2>$VAR[Tv.Art]</label2>
                        <onclick>activateWindow(PVRSettings)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[24001]</label>
                        <label2>$VAR[Addons.Art]</label2>
                        <onclick>ActivateWindow(AddonBrowser,root)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[14036]</label>
                        <label2>$VAR[Settings.Art]</label2>
                        <onclick>activatewindow(ServiceSettings)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[13000]</label>
                        <label2>$VAR[Quit.Art]</label2>
                        <onclick>activatewindow(SystemSettings)</onclick>
                    </item>
                    <item>
                        <label>$LOCALIZE[8]</label>
                        <label2>$VAR[Weather.Art]</label2>
                        <onclick>ActivateWindow(WeatherSettings)</onclick>
                    </item>
                </content>
            </control>
            <control type="scrollbar" id="60">
                <posx>-20</posx>
                <posy>183</posy>
                <height>780</height>
                <include>VerticalScroller</include>
                <onleft>60</onleft>
                <onright>9000</onright>
            </control>
        </control>
        <control type="label">
            <include>OpenClose</include>
            <include>WindowTitle</include>
            <label>$LOCALIZE[5]</label>
        </control>
        <control type="label">
            <include>OpenClose</include>
            <include>WindowTitleSub</include>
            <label>$LOCALIZE[10008]</label>
        </control>
        <include>Time</include>
    </controls>
</window>
