<window id="4"> 
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>

		<!-- Backgrounds -->
		<include>Background</include>
		
		<!-- Config Scroller -->
		<include>Menu_Config</include>
		
		<control type="image">
			<posx>454</posx>
			<posy>479</posy>
			<width>372</width>
			<height>372</height>
			<texture>settings-big-cog.png</texture> 
			<aspectratio>keep</aspectratio>
			<animation type="Conditional" reversible="false" condition="Control.IsVisible(7001)">
				<effect type="rotate" start="0" end="-45" center="auto" time="200" />
			</animation>
			<animation type="Conditional" reversible="false" condition="Control.IsVisible(7002)">
				<effect type="rotate" start="0" end="45" center="auto" time="200" />
			</animation>
		</control>

		<!-- Elipsis Visor -->
		<include>Visor_Filter</include>

		<!-- Edge Filter -->
		<include>Edge_Filter</include>

		<!-- Clock -->
		<include>Clock</include>
		
		<!-- Now Playing Widget -->
		<include>Now_Playing_Widget</include>

		<!-- Elipsis Button -->
		<control type="group">
			<posx>640</posx>
			<posy>620</posy>
			<include>Dock_Elipsis_With_Reflection</include>
		</control>

		<include>Debug</include>

	</controls>

</window>
	