<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<defaultcontrol always="true">4010</defaultcontrol>
	<backgroundcolor>$VAR[Dark_Color]</backgroundcolor>
	<controls>
		<include content="Focus_Setter">
			<param name="target_id" value="ReplaceWindowAndFocus(skinsettings,4010)" />
		</include>
	</controls>
</window>