<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<onunload>ClearProperty(Container_Addons_NonRepo,home)</onunload>
	<onunload>ClearProperty(Home_Widget,home)</onunload>
	<defaultcontrol always="true">4010</defaultcontrol>
	<backgroundcolor>$VAR[Dark_Color]</backgroundcolor>
	<controls>
		<include content="Focus_Setter">
			<param name="target_id" value="ReplaceWindowAndFocus(skinsettings,4010)" />
		</include>
		<include content="Background_Multiart_Global">
			<param name="fadein_animation_condition" value="false" />
			<param name="fadeout_animation_condition" value="false" />
		</include>
	</controls>
</window>