<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<onload condition="$EXP[Background_FadeIn_Exceptions]">SetProperty(settings_Passthrough,true,home)</onload>
	<!-- Window Prop to pass through value from previous windows as Settings window over-rides previous window value before opening Skin Settings -->
	<onunload>ClearProperty(Container_Addons_NonRepo,home)</onunload>
	<onunload>ClearProperty(Home_Widget,home)</onunload>
	<defaultcontrol always="true">4010</defaultcontrol>
	<backgroundcolor>$VAR[Dark_Color]</backgroundcolor>
	<controls>
		<include content="Focus_Setter">
			<param name="target_id" value="ReplaceWindowAndFocus(skinsettings,4010)" />
		</include>
		<include content="Background_Multiart_Global">
			<param name="fadein_animation_condition" value="!$EXP[Background_FadeIn_Exceptions]" />
			<param name="fadeout_animation_condition" value="!$EXP[Background_FadeIn_Exceptions]" />
		</include>
	</controls>
</window>