<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="9004">
    <defaultcontrol always="true">9001</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <background>0</background>
    
    <controls>

        <include>GlobalBackground</include>
        
        <control type="group">
            <posx>horzpad</posx>
            <posy>topoffset</posy> 
            <control type="label">
                <include>DefSideLabelCoords</include>
                <label>5</label>
            </control>
            <include>Animation.FadeIn</include>
            <control type="grouplist" id="9900">
                <posx>listx</posx>
                <posy>listy</posy>
                <orientation>vertical</orientation>
                <itemgap>10</itemgap>
                <onright>9100</onright>

                <control type="radiobutton" id="9001">
                    <description>Appearance</description>
                    <label>480</label>
                    <onclick>activatewindow(AppearanceSettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onright>9101</onright>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <selected>false</selected>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/eye.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/eye.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="0">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9002">
                    <description>Videos</description>
                    <label>3</label>
                    <onclick>activatewindow(VideosSettings)</onclick>
                    <width>bannerwborder</width>
                    <radioposx>590</radioposx>
                    <height>106</height>
                    <onright>9102</onright>
                    <font>Font-Button</font>
                    <align>left</align>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <selected>false</selected>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/film.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/film.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="25">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9003">
                    <description>Music</description>
                    <label>2</label>
                    <onclick>activatewindow(MusicSettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onright>9103</onright>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <selected>false</selected>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/songs.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/songs.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="50">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9004">
                    <description>Addons</description>
                    <label>24001</label>
                    <onclick>activatewindow(AddonBrowser)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onright>9104</onright>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <selected>false</selected>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/addons.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/addons.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="75">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9005">
                    <description>Pictures</description>
                    <label>1</label>
                    <onclick>activatewindow(PicturesSettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onright>9105</onright>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <selected>false</selected>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/pictures.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/pictures.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="100">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9006">
                    <description>Weather</description>
                    <label>8</label>
                    <onclick>activatewindow(WeatherSettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onright>9106</onright>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <selected>false</selected>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/sun.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/sun.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="125">WindowOpen</animation>
                </control>
            </control>
            <control type="grouplist" id="9100">
                <posx>747</posx>
                <posy>210</posy>
                <orientation>vertical</orientation>
                <itemgap>10</itemgap>
                <onleft>9900</onleft>
                <control type="radiobutton" id="9101">
                    <description>Network</description>
                    <label>705</label>
                    <onclick>activatewindow(NetworkSettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onleft>9001</onleft>
                    <selected>false</selected>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/network.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/network.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="150">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9102">
                    <description>System</description>
                    <label>13000</label>
                    <onclick>activatewindow(SystemSettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onleft>9002</onleft>
                    <selected>false</selected>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/configure.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/configure.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="175">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9103">
                    <description>Profiles</description>
                    <label>13200</label>
                    <onclick>activatewindow(Profiles)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onleft>9003</onleft>
                    <selected>false</selected>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/actor.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/actor.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="200">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9104">
                    <description>System Info</description>
                    <label>130</label>
                    <onclick>activatewindow(7)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onleft>9004</onleft>
                    <selected>false</selected>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/sysinfo.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/sysinfo.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="225">WindowOpen</animation>
                </control>
                <control type="radiobutton" id="9105">
                    <description>PVR Settings</description>
                    <label>19191</label>
                    <onclick>activatewindow(pvrsettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onleft>9005</onleft>
                    <selected>false</selected>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/livetv.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/livetv.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="250">WindowOpen</animation>
                    
                </control>
                <control type="radiobutton" id="9106">
                    <description>Skin Settings</description>
                    <label>20077</label>
                    <onclick>activatewindow(skinsettings)</onclick>
                    <width>bannerwborder</width>
                    <height>106</height>
                    <radioposx>590</radioposx>
                    <onleft>9006</onleft>
                    <selected>false</selected>
                    <radiowidth>128</radiowidth>
                    <radioheight>128</radioheight>
                    <font>Font-Button</font>
                    <align>left</align>
                    <textureradioofffocus colordiffuse="Selected">special://skin/extras/icons/year.png</textureradioofffocus>
                    <textureradiooffnofocus colordiffuse="PanelFG-NF">special://skin/extras/icons/year.png</textureradiooffnofocus>
                    <texturefocus border="12" colordiffuse="PosterHighlight">common/white.png</texturefocus>
                    <texturenofocus border="5" colordiffuse="PosterBorder-NF">common/border-inner.png</texturenofocus>
                    <animation effect="slide" start="1920,400" end="0" time="150" delay="275">WindowOpen</animation>
                </control>
            </control>
        </control>
        
        <include>GlobalTopBar</include>
        
        
    </controls>

</window>
