* text=auto !eol
16x9/AddonBrowser.xml -text
16x9/Custom_Overlay_Debug.xml -text
16x9/Defaults.xml -text
16x9/DialogAddonInfo.xml -text
16x9/DialogAddonSettings.xml -text
16x9/DialogAlbumInfo.xml -text
16x9/DialogBusy.xml -text
16x9/DialogButtonMenu.xml -text
16x9/DialogContentSettings.xml -text
16x9/DialogContextMenu.xml -text
16x9/DialogExtendedProgressBar.xml -text
16x9/DialogFavourites.xml -text
16x9/DialogFileStacking.xml -text
16x9/DialogFullScreenInfo.xml -text
16x9/DialogKaiToast.xml -text
16x9/DialogKaraokeSongSelector.xml -text
16x9/DialogKaraokeSongSelectorLarge.xml -text
16x9/DialogKeyboard.xml -text
16x9/DialogMediaFilter.xml -text
16x9/DialogMediaSource.xml -text
16x9/DialogMuteBug.xml -text
16x9/DialogNetworkSetup.xml -text
16x9/DialogNumeric.xml -text
16x9/DialogOk.xml -text
16x9/DialogPVRChannelManager.xml -text
16x9/DialogPVRChannelsOSD.xml -text
16x9/DialogPVRGroupManager.xml -text
16x9/DialogPVRGuideInfo.xml -text
16x9/DialogPVRGuideOSD.xml -text
16x9/DialogPVRGuideSearch.xml -text
16x9/DialogPVRRecordingInfo.xml -text
16x9/DialogPVRTimerSettings.xml -text
16x9/DialogPeripheralManager.xml -text
16x9/DialogPeripheralSettings.xml -text
16x9/DialogPictureInfo.xml -text
16x9/DialogProgress.xml -text
16x9/DialogSeekBar.xml -text
16x9/DialogSelect.xml -text
16x9/DialogSlider.xml -text
16x9/DialogSongInfo.xml -text
16x9/DialogSubtitles.xml -text
16x9/DialogTextViewer.xml -text
16x9/DialogVideoInfo.xml -text
16x9/DialogVolumeBar.xml -text
16x9/DialogYesNo.xml -text
16x9/FileBrowser.xml -text
16x9/FileManager.xml -text
16x9/Font.xml -text
16x9/Home.xml -text
16x9/Includes.xml -text
16x9/LockSettings.xml -text
16x9/LoginScreen.xml -text
16x9/MusicKaraokeLyrics.xml -text
16x9/MusicOSD.xml -text
16x9/MusicOverlay.xml -text
16x9/MusicVisualisation.xml -text
16x9/MyMusicNav.xml -text
16x9/MyMusicPlaylist.xml -text
16x9/MyMusicPlaylistEditor.xml -text
16x9/MyMusicSongs.xml -text
16x9/MyPVR.xml -text
16x9/MyPics.xml -text
16x9/MyPrograms.xml -text
16x9/MyVideoNav.xml -text
16x9/MyVideoPlaylist.xml -text
16x9/MyWeather.xml -text
16x9/PlayerControls.xml -text
16x9/Pointer.xml -text
16x9/ProfileSettings.xml -text
16x9/Settings.xml -text
16x9/SettingsCategory.xml -text
16x9/SettingsProfile.xml -text
16x9/SettingsScreenCalibration.xml -text
16x9/SettingsSystemInfo.xml -text
16x9/SkinSettings.xml -text
16x9/SlideShow.xml -text
16x9/SmartPlaylistEditor.xml -text
16x9/SmartPlaylistRule.xml -text
16x9/Startup.xml -text
16x9/Variables.xml -text
16x9/VideoFullScreen.xml -text
16x9/VideoOSD.xml -text
16x9/VideoOSDBookmarks.xml -text
16x9/VideoOSDSettings.xml -text
16x9/VideoOverlay.xml -text
16x9/ViewsLiveTV.xml -text
16x9/ViewsPVR_.xml -text
16x9/Viewtype50.xml -text
16x9/Viewtype51.xml -text
16x9/Viewtype52.xml -text
16x9/Viewtype53.xml -text
16x9/Viewtype54.xml -text
16x9/Viewtype55.xml -text
16x9/ViewtypeEPGTimeline.xml -text
16x9/ViewtypeLiveRadioChannel.xml -text
16x9/ViewtypeLiveTVChannel.xml -text
16x9/ViewtypeLiveTVGuideChannel.xml -text
16x9/ViewtypeLiveTVGuideNowNext.xml -text
16x9/ViewtypeLiveTVRecordings.xml -text
16x9/ViewtypeLiveTVSearch.xml -text
16x9/ViewtypeLiveTVTimers.xml -text
16x9/VisualisationPresetList.xml -text
/LICENSE.txt -text
_screenshots/screenshot01.png -text
_screenshots/screenshot02.png -text
_screenshots/screenshot03.png -text
_screenshots/screenshot04.png -text
_screenshots/screenshot05.png -text
_screenshots/screenshot06.png -text
_screenshots/screenshot07.png -text
_screenshots/screenshot08.png -text
_screenshots/screenshot09.png -text
_screenshots/screenshot10.png -text
_screenshots/screenshot11.png -text
_screenshots/screenshot12.png -text
/addon.xml -text
/changelog.txt -text
colors/Dark.xml -text
colors/Defaults.xml -text
extras/backgrounds/Green.jpg -text
extras/backgrounds/Purple.jpg -text
extras/backgrounds/Red.jpg -text
extras/backgrounds/SKINDEFAULT.jpg -text
extras/backgrounds/SKINDEFAULT.png -text
extras/backgrounds/debuggrid1080.png -text
fonts/LICENSE.txt -text
fonts/Roboto-Light.ttf -text
fonts/Roboto-Regular.ttf -text
/icon.png -text
language/English/strings.po -text
media/DefaultActor.png -text
media/DefaultAddSource.png -text
media/DefaultAddon.png -text
media/DefaultAddonAlbumInfo.png -text
media/DefaultAddonArtistInfo.png -text
media/DefaultAddonLyrics.png -text
media/DefaultAddonMovieInfo.png -text
media/DefaultAddonMusic.png -text
media/DefaultAddonMusicVideoInfo.png -text
media/DefaultAddonNone.png -text
media/DefaultAddonPVRClient.png -text
media/DefaultAddonPicture.png -text
media/DefaultAddonProgram.png -text
media/DefaultAddonRepository.png -text
media/DefaultAddonScreensaver.png -text
media/DefaultAddonService.png -text
media/DefaultAddonSkin.png -text
media/DefaultAddonSubtitles.png -text
media/DefaultAddonTvInfo.png -text
media/DefaultAddonVideo.png -text
media/DefaultAddonVisualization.png -text
media/DefaultAddonWeather.png -text
media/DefaultAddonWebSkin.png -text
media/DefaultAlbumCover.png -text
media/DefaultArtist.png -text
media/DefaultAudio.png -text
media/DefaultCDDA.png -text
media/DefaultDVDEmpty.png -text
media/DefaultDVDFull.png -text
media/DefaultDVDRom.png -text
media/DefaultFile.png -text
media/DefaultFolder.png -text
media/DefaultFolderBack.png -text
media/DefaultGames.png -text
media/DefaultHardDisk.png -text
media/DefaultIconDownloading.png -text
media/DefaultIconError.png -text
media/DefaultIconInfo.png -text
media/DefaultIconMute.png -text
media/DefaultIconVolume.png -text
media/DefaultIconWarning.png -text
media/DefaultInProgressShows.png -text
media/DefaultMovies.png -text
media/DefaultMusicAlbums.png -text
media/DefaultMusicArtists.png -text
media/DefaultMusicCompilations.png -text
media/DefaultMusicGenres.png -text
media/DefaultMusicPlaylists.png -text
media/DefaultMusicPlugins.png -text
media/DefaultMusicRecentlyAdded.png -text
media/DefaultMusicRecentlyPlayed.png -text
media/DefaultMusicSearch.png -text
media/DefaultMusicSongs.png -text
media/DefaultMusicTop100.png -text
media/DefaultMusicTop100Albums.png -text
media/DefaultMusicTop100Songs.png -text
media/DefaultMusicVideos.png -text
media/DefaultMusicYears.png -text
media/DefaultNetwork.png -text
media/DefaultNextAired.png -text
media/DefaultNextAiredCanceled.png -text
media/DefaultPicture.png -text
media/DefaultPlaylist.png -text
media/DefaultProgram.png -text
media/DefaultRecentlyAddedEpisodes.png -text
media/DefaultRecentlyAddedMovies.png -text
media/DefaultRecentlyAddedMusicVideos.png -text
media/DefaultTVShows.png -text
media/DefaultUser.png -text
media/DefaultVideo.png -text
media/DefaultVideoCover.png -text
media/DefaultVideoPlaylists.png -text
media/DefaultVideoPlugins.png -text
media/calibrate/CalibrateBottomRightFo.png -text
media/calibrate/CalibrateBottomRightNF.png -text
media/calibrate/CalibratePixelRatioFo.png -text
media/calibrate/CalibratePixelRatioNF.png -text
media/calibrate/CalibrateSubTitlesFO.png -text
media/calibrate/CalibrateSubTitlesNF.png -text
media/calibrate/CalibrateTopLeftFo.png -text
media/calibrate/CalibrateTopLeftNF.png -text
media/common/ArrowDownFO.png -text
media/common/ArrowDownNF.png -text
media/common/ArrowUpFO.png -text
media/common/ArrowUpNF.png -text
media/common/Curve.png -text
media/common/CurveHorz.png -text
media/common/Divider.png -text
media/common/Logo.png -text
media/common/RadioOff.png -text
media/common/RadioOn.png -text
media/common/ScrollBackground.png -text
media/common/ScrollBackgroundHorizontal.png -text
media/common/ScrollbarGripFO.png -text
media/common/ScrollbarGripHorizontalFO.png -text
media/common/ScrollbarGripHorizontalNF.png -text
media/common/ScrollbarGripNF.png -text
media/dialogs/DialogBackground.png -text
media/dialogs/DialogTextBackground.png -text
media/dialogs/OptionsBackground.png -text
media/language/-.png -text
media/language/LICENSE.txt -text
media/language/ar.png -text
media/language/bg.png -text
media/language/bs.png -text
media/language/ca.png -text
media/language/cs.png -text
media/language/da.png -text
media/language/de.png -text
media/language/el.png -text
media/language/en.png -text
media/language/es.png -text
media/language/et.png -text
media/language/fa.png -text
media/language/fi.png -text
media/language/fo.png -text
media/language/fr.png -text
media/language/gl.png -text
media/language/he.png -text
media/language/hi.png -text
media/language/hr.png -text
media/language/hu.png -text
media/language/hy.png -text
media/language/id.png -text
media/language/is.png -text
media/language/it.png -text
media/language/ja.png -text
media/language/kk.png -text
media/language/ko.png -text
media/language/lb.png -text
media/language/lt.png -text
media/language/lv.png -text
media/language/mk.png -text
media/language/ms.png -text
media/language/nl.png -text
media/language/no.png -text
media/language/pb.png -text
media/language/pl.png -text
media/language/pt.png -text
media/language/ro.png -text
media/language/ru.png -text
media/language/sk.png -text
media/language/sl.png -text
media/language/sq.png -text
media/language/sr.png -text
media/language/sv.png -text
media/language/tr.png -text
media/language/uk.png -text
media/language/vi.png -text
media/language/zh.png -text
media/mouse.png -text
media/osd/OSDAudioFO.png -text
media/osd/OSDAudioNF.png -text
media/osd/OSDBack.png -text
media/osd/OSDBookmarksFO.png -text
media/osd/OSDBookmarksNF.png -text
media/osd/OSDChannelFO.png -text
media/osd/OSDChannelNF.png -text
media/osd/OSDDownFO.png -text
media/osd/OSDDownNF.png -text
media/osd/OSDDvdFO.png -text
media/osd/OSDDvdNF.png -text
media/osd/OSDEPGFo.png -text
media/osd/OSDEPGNF.png -text
media/osd/OSDForwardFO.png -text
media/osd/OSDForwardNF.png -text
media/osd/OSDLyricsFO.png -text
media/osd/OSDLyricsNF.png -text
media/osd/OSDNextTrackFO.png -text
media/osd/OSDNextTrackNF.png -text
media/osd/OSDPauseFO.png -text
media/osd/OSDPauseNF.png -text
media/osd/OSDPlayFO.png -text
media/osd/OSDPlayNF.png -text
media/osd/OSDPlaylistFO.png -text
media/osd/OSDPlaylistNF.png -text
media/osd/OSDPrevTrackFO.png -text
media/osd/OSDPrevTrackNF.png -text
media/osd/OSDProgressBack.png -text
media/osd/OSDProgressBar.png -text
media/osd/OSDRadioOff.png -text
media/osd/OSDRadioOn.png -text
media/osd/OSDRandomOffFO.png -text
media/osd/OSDRandomOffNF.png -text
media/osd/OSDRandomOnFO.png -text
media/osd/OSDRandomOnNF.png -text
media/osd/OSDRecordOffFO.png -text
media/osd/OSDRecordOffNF.png -text
media/osd/OSDRecordOnFO.png -text
media/osd/OSDRecordOnNF.png -text
media/osd/OSDRepeatAllFO.png -text
media/osd/OSDRepeatAllNF.png -text
media/osd/OSDRepeatFO.png -text
media/osd/OSDRepeatNF.png -text
media/osd/OSDRepeatOneFO.png -text
media/osd/OSDRepeatOneNF.png -text
media/osd/OSDRewindFO.png -text
media/osd/OSDRewindNF.png -text
media/osd/OSDSettingsBack.png -text
media/osd/OSDSliderBack.png -text
media/osd/OSDSliderNib.png -text
media/osd/OSDStopFO.png -text
media/osd/OSDStopNF.png -text
media/osd/OSDSubtitlesFO.png -text
media/osd/OSDSubtitlesNF.png -text
media/osd/OSDTextFO.png -text
media/osd/OSDTextNF.png -text
media/osd/OSDUpFO.png -text
media/osd/OSDUpNF.png -text
media/osd/OSDVideoFO.png -text
media/osd/OSDVideoNF.png -text
media/osd/OSDVizFO.png -text
media/osd/OSDVizNF.png -text
media/osd/OSDVizPreFO.png -text
media/osd/OSDVizPreNF.png -text
media/osd/OSDVizSettingsFO.png -text
media/osd/OSDVizSettingsNF.png -text
media/pvr/NoImage.png -text
media/pvr/ProgressBack.png -text
media/pvr/ProgressBar.png -text
media/pvr/Recording.png -text
media/pvr/defaultchannel.png -text
media/pvr/defaultradio.png -text
media/pvr/encrypted.png -text
media/pvr/timer.png -text
media/rating0.png -text
media/rating1.png -text
media/rating2.png -text
media/rating3.png -text
media/rating4.png -text
media/rating5.png -text
media/unknown-user.png -text
media/views/DropShadow.png -text
media/views/DropShadowSmall.png -text
media/views/OverlayAlbum.png -text
media/views/OverlayEffect.png -text
media/views/OverlayEffectSmall.png -text
media/views/OverlayEpisode.png -text
media/views/OverlayPosterFO.png -text
media/views/OverlayPosterNF.png -text
media/views/OverlayResumable.png -text
media/views/OverlayResumableWide.png -text
media/views/OverlayWatched.png -text
media/views/OverlayWatchedWide.png -text
sounds/back.wav -text
sounds/click-back.wav -text
sounds/close.wav -text
sounds/cursor.wav -text
sounds/notify.wav -text
sounds/select.wav -text
sounds/shutter.wav -text
sounds/sounds.xml -text
