<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9020</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <onload>ClearProperty(MediaMenu,home)</onload>
    <onunload>ClearProperty(MediaMenu,home)</onunload>
    <controls>
        <include>CommonBackground</include>
        <control type="group">
            <include>MenuSlideAnimation</include>
            <control type="group">
                <include>Animation.Common</include>
                <visible>Integer.IsGreater(Container(9020).NumItems,0)</visible>
                <control type="image">
                    <visible>Control.HasFocus(9020)</visible>
                    <animation effect="fade" time="320" delay="200">Visible</animation>
                    <animation effect="fade" time="50">Hidden</animation>
                    <left>280</left>
                    <top>210</top>
                    <width>740</width>
                    <height>140</height>
                    <texture colordiffuse="highlight">selecteditem_bg.png</texture>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,3)">Conditional</animation>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,2)">Conditional</animation>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,1)">Conditional</animation>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,0)">Conditional</animation>
                    <animation effect="slide" end="760,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Column,0)">Conditional</animation>
                </control>
                <control type="image">
                    <visible>Control.HasFocus(9020)</visible>
                    <animation effect="fade" time="320" delay="200">Visible</animation>
                    <animation effect="fade" time="50">Hidden</animation>
                    <left>280</left>
                    <top>210</top>
                    <width>140</width>
                    <height>140</height>
                    <texture>overlays/diffuse-overlay.png</texture>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,3)">Conditional</animation>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,2)">Conditional</animation>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,1)">Conditional</animation>
                    <animation effect="slide" end="0,160" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Row,0)">Conditional</animation>
                    <animation effect="slide" end="760,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9020).Column,0)">Conditional</animation>
                </control>
            </control>
            <control type="panel" id="9020">
                <top>200</top>
                <left>270</left>
                <width>1520</width>
                <height>800</height>
                <onup>9020</onup>
                <ondown>9020</ondown>
                <onleft>9000</onleft>
                <onright>9020</onright>
                <preloaditems>2</preloaditems>
                <viewtype label="535">list</viewtype>
                <scrolltime tween="quadratic" easing="out">300</scrolltime>
                <orientation>vertical</orientation>
                <itemlayout height="160" width="760">
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <width>120</width>
                        <height>120</height>
                        <aspectratio>keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <top>23</top>
                        <left>170</left>
                        <right>20</right>
                        <height>70</height>
                        <font>font30</font>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <top>72</top>
                        <left>170</left>
                        <right>20</right>
                        <height>60</height>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </itemlayout>
                <focusedlayout height="160" width="760">
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <width>120</width>
                        <height>120</height>
                        <aspectratio>keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <top>23</top>
                        <left>170</left>
                        <right>20</right>
                        <height>70</height>
                        <font>font30</font>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <top>72</top>
                        <left>170</left>
                        <right>20</right>
                        <height>60</height>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </focusedlayout>
                <include>SettingsListContents</include>
            </control>
            <control type="group">
                <top>0</top>
                <left>-430</left>
                <include>Submenu</include>
                <include>MainMenu</include>
                <include>Topbar</include>
            </control>
        </control>
    </controls>
</window>