				<window id="4">
				<defaultcontrol always="true">50</defaultcontrol>
				<allowoverlay>yes</allowoverlay>
				<controls>
				<control type="image">
				<posx>0</posx>
				<posy>0</posy>
				<width>1280</width>
				<height>720</height>
				<texture background="true" fallback="special://skin/backgrounds/settings.jpg">$INFO[Skin.String(Home_Custom_Back_Settings_Image)]</texture>
				<include>global_kenburns_fanart</include>
				<fadetime>FanartCrossfadeTime</fadetime>
				</control>
				<control type="multiimage">
				<posx>0</posx>
				<posy>0</posy>
				<width>1280</width>
				<height>720</height>
				<imagepath background="true">$INFO[Skin.String(Home_Custom_Back_Settings_Folder)]</imagepath>
				<timeperimage>8000</timeperimage>
				<randomize>true</randomize>
				<fadetime>500</fadetime>
				<include>global_kenburns_fanart</include>
				</control>
				<include>Blueoverlay</include>
				<control type="image">
				<posx>0</posx>
				<posy>0</posy>
				<width>1280</width>
				<height>720</height>
				<texture>panelhome.png</texture>
				<include>transition_Fanart</include>
				</control>
				<control type="group">
				<include>transition_Fanart</include>
				<control type="panel" id="50">
				<posx>67</posx>
				<posy>100</posy>
				<width>1200</width>
				<height>570</height>
				<onleft>50</onleft>
				<onright>50</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<scrolltime>200</scrolltime>
				<itemlayout width="570" height="95">
				<control type="image">
				<posx>6</posx>
				<posy>6</posy>
				<width>84</width>
				<height>84</height>
				<info>ListItem.Icon</info>
				</control>
				<control type="label">
				<posx>105</posx>
				<posy>9</posy>
				<width>455</width>
				<height>40</height>
				<font>diffuse_40_title_bold</font>
				<textcolor>grey</textcolor>
				<label>$INFO[ListItem.Label]</label>
				</control>
				<control type="label">
				<posx>105</posx>
				<posy>51</posy>
				<width>455</width>
				<height>24</height>
				<font>diffuse_24_bold</font>
				<textcolor>darkgrey2</textcolor>
				<label>$INFO[ListItem.Label2]</label>
				</control>
				</itemlayout>
				<focusedlayout width="570" height="95">
				<control type="image">
				<width>575</width>
				<height>95</height>
				<texture border="83,23,23,23">dialogs/content/button_fo.png</texture>
				<colordiffuse>diffuse1</colordiffuse>
				</control>
				<control type="image">
				<posx>6</posx>
				<posy>6</posy>
				<width>84</width>
				<height>84</height>
				<info>ListItem.Icon</info>
				</control>
				<control type="label">
				<posx>105</posx>
				<posy>9</posy>
				<width>455</width>
				<height>40</height>
				<font>diffuse_40_title_bold</font>
				<textcolor>grey2</textcolor>
				<label>$INFO[ListItem.Label]</label>
				</control>
				<control type="label">
				<posx>105</posx>
				<posy>51</posy>
				<width>455</width>
				<height>24</height>
				<font>diffuse_24_bold</font>
				<textcolor>darkgrey</textcolor>
				<label>$INFO[ListItem.Label2]</label>
				</control>
				</focusedlayout>
				<content>
				<item id="1">
				<label>480</label>
				<label2>31400</label2>
				<onclick>ActivateWindow(AppearanceSettings)</onclick>
				<icon>icons/appearance.png</icon>
				</item>
				<item id="2">
				<label>157</label>
				<label2>31401</label2>
				<onclick>ActivateWindow(VideosSettings)</onclick>
				<icon>icons/videosettings.png</icon>
				</item>
				<item id="10">
				<label>31502</label>
				<label2>31409</label2>
				<onclick>ActivateWindow(MyTVSettings)</onclick>
				<icon>icons/tv.png</icon>
				</item>
				<item id="3">
				<label>2</label>
				<label2>31402</label2>
				<onclick>ActivateWindow(MusicSettings)</onclick>
				<icon>icons/music.png</icon>
				</item>
				<item id="4">
				<label>1</label>
				<label2>31403</label2>
				<onclick>ActivateWindow(PicturesSettings)</onclick>
				<icon>icons/pictures.png</icon>
				</item>
				<item id="5">
				<label>8</label>
				<label2>31404</label2>
				<onclick>ActivateWindow(WeatherSettings)</onclick>
				<icon>icons/weather.png</icon>
				</item>
				<item id="6">
				<label>14036</label>
				<label2>31410</label2>
				<onclick>ActivateWindow(ServiceSettings)</onclick>
				<icon>icons/network.png</icon>
				</item>
				<item id="9">
				<label>24001</label>
				<label2>31410</label2>
				<onclick>ActivateWindow(AddonBrowser)</onclick>
				<icon>icons/addons.png</icon>
				</item>
				<item id="7">
				<label>13000</label>
				<label2>31406</label2>
				<onclick>ActivateWindow(SystemSettings)</onclick>
				<icon>icons/system.png</icon>
				</item>
				<item id="8">
				<label>20067</label>
				<label2>20096</label2>
				<onclick>ActivateWindow(Profiles)</onclick>
				<icon>icons/profiles.png</icon>
				</item>
				</content>
				</control> 	
				</control>
				</controls>
				</window>