<?xml version="1.0" encoding="utf-8"?>
<window>
    <defaultcontrol always="true">9001</defaultcontrol>
    <allowoverlay>no</allowoverlay>
    <animation effect="fade" time="150" condition="![Window.Previous(SettingsCategory.xml)|Window.Previous(SkinSettings.xml)]">WindowOpen</animation>
    <animation effect="fade" time="150" condition="![Window.Next(SettingsCategory.xml)|Window.Next(SkinSettings.xml)]">WindowClose</animation>
    <controls>
        <include>Fanart_Art</include>
        <include>Player_Show</include>
        <include>Time</include>
        <control type="label">
            <include condition="Skin.HasSetting(BlackGlassMode)+!Skin.HasSetting(DisableSlidingAnimations)">OpenCloseSlideRight</include>
            <include>WindowTitle</include>
            <label>$LOCALIZE[5]</label>
        </control>
        <control type="label">
            <include condition="Skin.HasSetting(BlackGlassMode)+!Skin.HasSetting(DisableSlidingAnimations)">OpenCloseSlideRight</include>
            <include>WindowTitleSub</include>
            <label>$LOCALIZE[10008]</label>
        </control>
        <control type="group">
            <include condition="Skin.HasSetting(BlackGlassMode)+!Skin.HasSetting(DisableSlidingAnimations)">OpenCloseSlideRight</include>
            <posy>-189</posy>
            <control type="button">
                <visible>Skin.HasSetting(WindowClosingIcon)</visible>
                <posx>1787</posx>
                <posy>240</posy>
                <height>50</height>
                <width>50</width>
                <texturenofocus>topbar/topbar_exit_nofocus.png</texturenofocus>
                <texturefocus>topbar/topbar_exit_focus.png</texturefocus>
                <onclick>back</onclick>
                <label>-</label>
            </control>
            <control type="image">
                <posx>83</posx>
                <posy>244</posy>
                <width>1754</width>
                <height>1029</height>
                <texture border="90">common/bg_dialog.png</texture>
            </control>
            <control type="image">
                <posx>128</posx>
                <posy>292</posy>
                <width>1664</width>
                <height>90</height>
                <texture border="3">list/bg_facade_nofocus_top.png</texture>
            </control>
            <control type="label">
                <posx>173</posx>
                <posy>323</posy>
                <height>36</height>
                <width>1574</width>
                <align>center</align>
                <font>InfoTitleFont</font>
                <textcolor>MainColor</textcolor>
                <label>$LOCALIZE[10008]</label>
            </control>
            <control type="image">
                <posx>1359</posx>
                <posy>382</posy>
                <width>2</width>
                <height>841</height>
                <texture>list/bg_facade_vertical.png</texture>
            </control>
            <control type="image">
                <posx>1359</posx>
                <posy>382</posy>
                <height>841</height>
                <width>375</width>
                <texture flipx="true">list/bg_strip_horizontal_left.png</texture>
                <colordiffuse>90ffffff</colordiffuse>
            </control>
            <control type="multiimage">
                <posx>165</posx>
                <posy>419</posy>
                <width>1159</width>
                <height>771</height>
                <aspectratio>scale</aspectratio>
                <fadetime>400</fadetime>
                <imagepath background="true">$INFO[Container(9001).ListItem.Label2]</imagepath>
                <include>ThumbBorder</include>
            </control>
            <control type="image">
                <posx>138</posx>
                <posy>392</posy>
                <width>1213</width>
                <height>825</height>
                <texture border="27">common/JewelCase.png</texture>
            </control>
            <control type="group">
                <posy>195</posy>
                <control type="image">
                    <posx>165</posx>
                    <posy>602</posy>
                    <width>1159</width>
                    <height>393</height>
                    <texture flipy="true" border="10">common/basichome_upper_gradient.png</texture>
                </control>
                <control type="image">
                    <posx>165</posx>
                    <posy>602</posy>
                    <width>1159</width>
                    <height>393</height>
                    <texture flipy="true" border="10">common/basichome_upper_gradient.png</texture>
                </control>
                <control type="image">
                    <posx>647</posx>
                    <posy>801</posy>
                    <width>195</width>
                    <height>54</height>
                    <texture>common/logo.png</texture>
                    <colordiffuse>ff000000</colordiffuse>
                </control>
                <control type="image">
                    <posx>646</posx>
                    <posy>800</posy>
                    <width>195</width>
                    <height>54</height>
                    <texture>common/logo.png</texture>
                </control>
                <control type="label">
                    <visible>!Skin.HasSetting(BlackGlassMode)</visible>
                    <posx>158</posx>
                    <posy>880</posy>
                    <height>36</height>
                    <width>1173</width>
                    <align>center</align>
                    <font>HomeItemFont</font>
                    <textcolor>MainColor</textcolor>
                    <label>Black Glass Nova</label>
                </control>
                <control type="label">
                    <visible>Skin.HasSetting(BlackGlassMode)</visible>
                    <posx>158</posx>
                    <posy>880</posy>
                    <height>36</height>
                    <width>1173</width>
                    <align>center</align>
                    <font>HomeItemFont</font>
                    <textcolor>MainColor</textcolor>
                    <label>Black Glass</label>
                </control>
                <control type="label">
                    <posx>158</posx>
                    <posy>940</posy>
                    <height>36</height>
                    <width>1173</width>
                    <align>center</align>
                    <font>WindowTitleSubFont</font>
                    <textcolor>MainColor</textcolor>
                    <label>by Tgx</label>
                </control>
            </control>
            <control type="list" id="9001">
                <posx>1359</posx>
                <posy>382</posy>
                <width>433</width>
                <height>803</height>
                <onleft>9001</onleft>
                <onright>60</onright>
                <onup>9001</onup>
                <ondown>9001</ondown>
                <pagecontrol>60</pagecontrol>
                <scrolltime>280</scrolltime>
                <itemlayout width="433" height="71">
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <height>71</height>
                        <width>433</width>
                        <texture border="3">list/bg_facade_nofocus.png</texture>
                    </control>
                    <control type="label">
                        <posx>TextMargin</posx>
                        <height>69</height>
                        <width>343</width>
                        <font>FacadeListMainFont</font>
                        <textcolor>ListNoFocusColor</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                        <scroll>false</scroll>
                    </control>
                </itemlayout>
                <focusedlayout width="433" height="71">
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <height>71</height>
                        <width>433</width>
                        <include>FacadeFocus</include>
                    </control>
                    <control type="label">
                        <posx>TextMargin</posx>
                        <height>69</height>
                        <width>343</width>
                        <font>FacadeListMainFont</font>
                        <textcolor>ListFocusColor</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                </focusedlayout>
                <content>
                    <item id="2">
                        <visible>!Skin.HasSetting(BlackGlassMode)</visible>
                        <label>$LOCALIZE[480]</label>
                        <label2>$VAR[Default.Art]</label2>
                        <onclick>activatewindow(AppearanceSettings)</onclick>
                    </item>
                    <item id="2">
                        <visible>Skin.HasSetting(BlackGlassMode)</visible>
                        <label>$LOCALIZE[480]</label>
                        <label2>$VAR[Default.Art]</label2>
                        <onclick>activatewindow(AppearanceSettings)</onclick>
                    </item>
                    <item id="3">
                        <label>$LOCALIZE[3]</label>
                        <label2>$VAR[Videos.Art]</label2>
                        <onclick>activatewindow(VideosSettings)</onclick>
                    </item>
                    <item id="4">
                        <label>$LOCALIZE[2]</label>
                        <label2>$VAR[Music.Art]</label2>
                        <onclick>activatewindow(MusicSettings)</onclick>
                    </item>
                    <item id="5">
                        <label>$LOCALIZE[1]</label>
                        <label2>$VAR[Pictures.Art]</label2>
                        <onclick>activatewindow(PicturesSettings)</onclick>
                    </item>
                    <item id="11">
                        <label>$LOCALIZE[31500]</label>
                        <label2>$VAR[Tv.Art]</label2>
                        <onclick>activateWindow(PVRSettings)</onclick>
                    </item>
                    <item id="1">
                        <label>$LOCALIZE[24001]</label>
                        <label2>$VAR[Addons.Art]</label2>
                        <onclick>ActivateWindow(AddonBrowser,root)</onclick>
                    </item>
                    <item id="8">
                        <label>$LOCALIZE[14036]</label>
                        <label2>$VAR[Settings.Art]</label2>
                        <onclick>activatewindow(ServiceSettings)</onclick>
                    </item>
                    <item id="9">
                        <label>$LOCALIZE[13000]</label>
                        <label2>$VAR[Quit.Art]</label2>
                        <onclick>activatewindow(SystemSettings)</onclick>
                    </item>
                    <item id="6">
                        <label>$LOCALIZE[8]</label>
                        <label2>$VAR[Weather.Art]</label2>
                        <onclick>ActivateWindow(WeatherSettings)</onclick>
                    </item>
                    <item id="7">
                        <visible>System.HasAddon(plugin.video.plexbmc) + !Skin.HasSetting(plexbmc)</visible>
                        <label>$LOCALIZE[31008]</label>
                        <onclick>Skin.ToggleSetting(plexbmc)</onclick>
                        <onclick>XBMC.ReloadSkin()</onclick>
                        <label2>special://skin/backgrounds/Channels.jpg</label2>
                    </item>
                    <item id="7">
                        <visible>System.HasAddon(plugin.video.plexbmc) + Skin.HasSetting(plexbmc)</visible>
                        <label>$LOCALIZE[31009]</label>
                        <onclick>Skin.ToggleSetting(plexbmc)</onclick>
                        <onclick>XBMC.ReloadSkin()</onclick>
                        <label2>special://skin/backgrounds/Channels.jpg</label2>
                    </item>
                    <item id="13">
                        <visible>!Skin.HasSetting(BlackGlassMode)</visible>
                        <label>$LOCALIZE[31027]</label>
                        <onclick>Skin.ToggleSetting(BlackGlassMode)</onclick>
                        <onclick>Skin.Reset(DefaultView50)</onclick>
                        <onclick>Skin.Reset(DefaultView52)</onclick>
                        <onclick>Skin.Reset(DefaultView54)</onclick>
                        <onclick>XBMC.ReloadSkin()</onclick>
                        <label2>special://skin/backgrounds/Favourites.jpg</label2>
                    </item>
                    <item id="13">
                        <visible>Skin.HasSetting(BlackGlassMode)</visible>
                        <label>$LOCALIZE[31028]</label>
                        <onclick>Skin.ToggleSetting(BlackGlassMode)</onclick>
                        <onclick>XBMC.ReloadSkin()</onclick>
                        <label2>special://skin/backgrounds/Favourites2.jpg</label2>
                    </item>
                    <item id="8">
                        <visible>!Skin.HasSetting(BlackGlassMode)</visible>
                        <label>$LOCALIZE[20077]</label>
                        <label2>$VAR[Default.Art]</label2>
                        <onclick>activatewindow(skinsettings)</onclick>
                    </item>
                    <item id="8">
                        <visible>Skin.HasSetting(BlackGlassMode)</visible>
                        <label>$LOCALIZE[20077]</label>
                        <label2>$VAR[Default.Art]</label2>
                        <onclick>activatewindow(skinsettings)</onclick>
                    </item>
                </content>
            </control>
            <control type="scrollbar" id="60">
                <posx>1761</posx>
                <posy>382</posy>
                <height>803</height>
                <include>VerticalScroller</include>
                <onleft>9001</onleft>
                <onright>60</onright>
            </control>
        </control>
    </controls>
</window>
