<window id="4">
	<defaultcontrol always="true">60</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>

		<include>Global_Filter</include>

		<control type="group">
			<include>Animation_ZoomedByMenu</include>

			<control type="panel" id="60">
				<posx>200</posx>
				<posy>200</posy>
				<width>600</width>
				<height>600</height>
				<onleft>60</onleft>
				<onright>60</onright>
				<onup>60</onup>
				<ondown>60</ondown>
				<scrolltime>200</scrolltime>
				<viewtype label="536">icon</viewtype>
				<include>Animation_SettingsFloat</include>
				<include>Animation_ZoomInZoomOut</include>
				<itemlayout height="200" width="200">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>200</width>
						<height>200</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<colordiffuse>5EFFFFFF</colordiffuse>
						<animation effect="zoom" start="80" end="80" center="100,100" time="0" condition="true">Conditional</animation>
					</control>
				</itemlayout>
				<focusedlayout height="200" width="200">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>200</width>
						<height>200</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<animation type="Focus" reversible="false">
							<effect type="zoom" start="80" end="100" center="100,100" time="300" tween="cubic" easing="in" />
							<effect type="fade" start="40" end="100" time="300" />
						</animation>
					</control>			
				</focusedlayout>
				<content>
					<item id="1">
						<description>Video</description>
						<label>$LOCALIZE[3]</label>
						<icon>settings/settings_video.png</icon>
						<onclick>ActivateWindow(VideosSettings)</onclick>
					</item>
					<item id="2">
						<description>Music</description>
						<label>$LOCALIZE[2]</label>
						<icon>settings/settings_music.png</icon>
						<onclick>ActivateWindow(MusicSettings)</onclick>
					</item>
					<item id="3">
						<description>Pictures</description>
						<label>$LOCALIZE[1]</label>
						<icon>settings/settings_pictures.png</icon>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
					</item>
					<item id="4">
						<description>Add-ons</description>
						<label>$LOCALIZE[24001]</label>
						<icon>settings/settings_addons.png</icon>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
					</item>
					<item id="5">
						<description>Weather</description>
						<label>$LOCALIZE[8]</label>
						<icon>settings/settings_weather.png</icon>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
					</item>
					<item id="6">
						<description>Network</description>
						<label>$LOCALIZE[705]</label>
						<icon>settings/settings_network.png</icon>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
					</item>
					<item id="7">
						<description>System</description>
						<label>$LOCALIZE[13000]</label>
						<icon>settings/settings_system.png</icon>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item id="8">
						<description>Appearence</description>
						<label>$LOCALIZE[480]</label>
						<icon>settings/settings_appearance.png</icon>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
					</item>
					<item id="9">
						<description>Alaska</description>
						<label>$LOCALIZE[40210]</label>
						<icon>settings/settings_alaska.png</icon>
						<onclick>ActivateWindow(56)</onclick>
					</item>	
				</content>
			</control>

			<control type="image">
				<include>Dimensions_Fullscreen</include>
				<texture>special://skin/extras/filters/home_vignette.png</texture>
			</control>

			<control type="group">
				<posx>130</posx>
				<posy>210</posy>
				<visible>Container(60).HasFocus(1)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>157</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40211]</label>
				</control>			
			</control>

			<control type="group">
				<posx>130</posx>
				<posy>180</posy>
				<visible>Container(60).HasFocus(4)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[24001]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40212]</label>
				</control>			
			</control>

			<control type="group">
				<posx>130</posx>
				<posy>150</posy>
				<visible>Container(60).HasFocus(7)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>13000</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40213]</label>
				</control>			
			</control>

			<control type="group">
				<posx>85</posx>
				<posy>210</posy>
				<visible>Container(60).HasFocus(2)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>10005</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40214]</label>
				</control>			
			</control>

			<control type="group">
				<posx>85</posx>
				<posy>180</posy>
				<visible>Container(60).HasFocus(5)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>400</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40215]</label>
				</control>			
			</control>

			<control type="group">
				<posx>85</posx>
				<posy>150</posy>
				<visible>Container(60).HasFocus(8)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>480</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40216]</label>
				</control>			
			</control>

			<control type="group">
				<posx>880</posx>
				<posy>410</posy>
				<visible>Container(60).HasFocus(3)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>1213</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40217]</label>
				</control>			
			</control>

			<control type="group">
				<posx>880</posx>
				<posy>380</posy>
				<visible>Container(60).HasFocus(6)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>705</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40218]</label>
				</control>			
			</control>

			<control type="group">
				<posx>880</posx>
				<posy>350</posy>
				<visible>Container(60).HasFocus(9)</visible>
				<include>Animation_CommonFadeNoHide</include>
				<control type="label">
					<include>SettingsHeadingVars</include>
					<label>$LOCALIZE[40011]</label>
				</control>
				<control type="label">
					<include>SettingsDetailVars</include>
					<label>$LOCALIZE[40219]</label>
				</control>			
			</control>				
		</control>			

		<include>Global_Time</include>

		<include condition="Skin.HasSetting(DebugGrid)">Object_DebugGrid</include>
		<include condition="Skin.HasSetting(DebugMode)">Debug</include>

	</controls>
</window>
