<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9050</defaultcontrol>
	<previouswindow>Settings</previouswindow>
	<animation effect="fade" start="100" end="100" time="30" condition="Control.HasFocus(1)">WindowClose</animation>
	<animation effect="fade" start="100" end="100" time="30" condition="Control.HasFocus(2)">WindowClose</animation>
	<controls>
		<include condition="!Skin.HasSetting(DontBlendBackground)">CommonVideoVizBackground</include>
		<control type="group">
			<animation effect="slide" start="0,0" end="1280,0" time="HomeBladeAnimationSpeed" condition="Control.HasFocus(1)">Conditional</animation>
			<include>CommonSystemBackground</include>
		</control>
		<control type="group">
			<visible>Control.HasFocus(1)</visible>
			<animation effect="slide" start="-1280,0" end="0,0" time="HomeBladeAnimationSpeed" condition="Control.HasFocus(1)">Conditional</animation>
			<include>CommonMediaBackground</include>
		</control>
		<include condition="Skin.HasSetting(DontBlendBackground)">CommonVideoVizBackground</include>

<!-- Blackwash Background -->
		<control type="group">
			<animation effect="slide" end="-50,0" time="0" condition="Control.HasFocus(1)">Conditional</animation>
			<top>-95</top>
			<control type="image">
				<description>Background</description>
				<left>191</left>
				<width>68</width>
				<height>910</height>
				<texture>background-overlay-blackwash-left-ws.png</texture>
			</control>
			<control type="image">
				<description>Background</description>
				<left>55r</left>
				<width>68</width>
				<height>910</height>
				<texture>background-overlay-blackwash-right-ws.png</texture>
			</control>
			<control type="image">
				<description>Background</description>
				<left>259</left>
				<width>966</width>
				<height>910</height>
				<texture>background-overlay-blackwash-centertile-ws.png</texture>
			</control>
		</control>
<!-- Blackwash Background End-->
		<control type="group">
			<left>280</left>
			<visible>!Control.HasFocus(1) + !Control.HasFocus(2)</visible>
			<animation effect="fade" time="HomeVisibleFadeAnimationSpeed">WindowOpen</animation>
			<include>HomeLogoButton</include>
			<control type="label">
				<description>Header label</description>
				<label>14209</label>
				<include>HeaderTextCommons</include>
			</control>
			<include content="ClockTextCommons">
				<param name="left" value="540" />
			</include>
			<control type="group">
				<top>130</top>
				<control type="list" id="9000">
					<left>0</left>
					<top>0</top>
					<width>450</width>
					<height>496</height>
					<onleft>1</onleft>
					<onright>10</onright>
					<onup>9050</onup>
					<ondown>9000</ondown>
					<viewtype label="535">list</viewtype>
					<pagecontrol>60</pagecontrol>
					<scrolltime>200</scrolltime>
					<itemlayout height="45" width="450">
						<control type="image">
							<description>Icon</description>
							<left>50</left>
							<top>3</top>
							<width>40</width>
							<height>40</height>
							<texture>$INFO[ListItem.Icon]</texture>
						</control>
						<control type="label">
							<left>120</left>
							<width>330</width>
							<height>42</height>
							<font>font30</font>
							<aligny>center</aligny>
							<textcolor>white2</textcolor>
							<selectedcolor>orange</selectedcolor>
							<align>left</align>
							<info>ListItem.Label</info>
						</control>
					</itemlayout>
					<focusedlayout height="45" width="450">
						<control type="image">
							<description>Button focus</description>
							<left>30</left>
							<top>1</top>
							<width>397</width>
							<height>45</height>
							<texture>buttons/button.png</texture>
							<animation effect="slide" start="0,-45" time="200" tween="sine" easing="out" condition="Container(9000).OnNext" reversible="false">Focus</animation>
							<animation effect="slide" start="0,45" time="200" tween="sine" easing="out" condition="Container(9000).OnPrevious" reversible="false">Focus</animation>
							<animation effect="fade" start="100" end="25" time="200" condition="!Control.HasFocus(9000) + !Control.HasFocus(9050)">Conditional</animation>
							<animation effect="fade" start="100" end="0" time="200" condition="Control.HasFocus(9050)">Conditional</animation>
							<visible>!Control.HasFocus(9050)</visible>
						</control>
						<control type="image">
							<description>Icon</description>
							<left>50</left>
							<top>3</top>
							<width>40</width>
							<height>40</height>
							<texture>$INFO[ListItem.Icon]</texture>
							<animation effect="slide" end="ButtonSlideBackDistance,0" time="ButtonSlideBackTime" reversible="false">focus</animation>
						</control>
						<control type="label">
							<left>120</left>
							<width>330</width>
							<height>42</height>
							<font>font30</font>
							<aligny>center</aligny>
							<textcolor>white</textcolor>
							<selectedcolor>orange</selectedcolor>
							<align>left</align>
							<label>$INFO[ListItem.Label]</label>
							<animation effect="slide" end="ButtonSlideBackDistance,0" time="ButtonSlideBackTime" reversible="false">focus</animation>
							<visible>Control.HasFocus(9000)</visible>
						</control>
						<control type="label">
							<left>120</left>
							<width>330</width>
							<height>42</height>
							<font>font30</font>
							<aligny>center</aligny>
							<textcolor>white</textcolor>
							<selectedcolor>orange</selectedcolor>
							<align>left</align>
							<label>$INFO[ListItem.Label]</label>
							<visible>!Control.HasFocus(9000)</visible>
						</control>
						<control type="image">
							<description>Button shine animation</description>
							<left>20</left>
							<top>3</top>
							<width>70</width>
							<height>40</height>
							<texture>shine-animation.png</texture>
							<visible>System.IdleTime(5) + Control.HasFocus(9000)</visible>
							<animation type="visible" reversible="false">
								<effect type="fade" start="0" end="100" time="200"/>
								<effect type="fade" start="100" end="0" delay="800" time="200"/>
								<effect type="slide" start="0,0" end="350,0" delay="0" time="1000"/>
							</animation>
						</control>
					</focusedlayout>
					<content>
						<item>
							<label>14206</label>
							<label2>31400</label2>
							<onclick>ActivateWindow(InterfaceSettings)</onclick>
							<icon>button_icons/icon-appearance.png</icon>
						</item>
						<item>
							<label>14200</label>
							<label2>31408</label2>
							<onclick>ActivateWindow(PlayerSettings)</onclick>
							<icon>button_icons/icon-videos.png</icon>
						</item>
						<item>
							<label>14211</label>
							<label2>31409</label2>
							<onclick>ActivateWindow(MediaSettings)</onclick>
							<icon>button_icons/icon-music.png</icon>
						</item>
						<item>
							<label>14204</label>
							<label2>31407</label2>
							<onclick>ActivateWindow(PVRSettings)</onclick>
							<icon>button_icons/icon-pvrtv.png</icon>
						</item>
						<item>
							<label>10821</label>
							<label2>31411</label2>
							<onclick>ActivateWindow(GameSettings)</onclick>
							<icon>button_icons/icon-games.png</icon>
						</item>
						<item>
							<label>14036</label>
							<label2>31403</label2>
							<onclick>ActivateWindow(ServiceSettings)</onclick>
							<icon>button_icons/icon-network.png</icon>
						</item>
						<item>
							<label>13000</label>
							<label2>31404</label2>
							<onclick>ActivateWindow(SystemSettings)</onclick>
							<icon>button_icons/icon-system.png</icon>
						</item>
						<item>
							<label>$LOCALIZE[13200]</label>
							<label2>31405</label2>
							<onclick>ActivateWindow(Profiles)</onclick>
							<icon>button_icons/icon-profile.png</icon>
						</item>
						<item>
							<label>$LOCALIZE[10050]</label>
							<label2>31402</label2>
							<onclick>ActivateWindow(Eventlog)</onclick>
							<icon>button_icons/icon-eventlog.png</icon>
						</item>
						<item>
							<label>$LOCALIZE[138]</label>
							<label2>31410</label2>
							<onclick>ActivateWindow(systeminfo)</onclick>
							<icon>button_icons/icon-systeminfo.png</icon>
						</item>
						<item>
							<label>20077</label>
							<label2>31406</label2>
							<onclick>ActivateWindow(SkinSettings)</onclick>
							<icon>button_icons/icon-skin.png</icon>
						</item>
					</content>
				</control>
				<control type="textbox">
					<description>Item Description</description>
					<left>500</left>
					<width>370</width>
					<height>470</height>
					<font>font16</font>
					<label>$INFO[Container(9000).Listitem.Label2]</label>
					<visible>Control.HasFocus(9000)</visible>
					<include>VisibleFadeEffect</include>
				</control>
			</control>
			<include condition="System.GetBool(LookAndFeel.EnableRSSFeeds)">CommonRSSFeed</include>
		</control>
		<control type="group">
			<left>115r</left>
			<top>232</top>
			<animation effect="slide" start="100,0" end="0,0" time="HomeBladeAnimationSpeed">WindowOpen</animation>
			<visible>!Window.Next(Home)</visible>
			<control type="image">
				<width>74</width>
				<height>256</height>
				<texture border="25,5,5,5">power-panel.png</texture>
			</control>
			<control type="button" id="10">
				<description>Shutdown Button</description>
				<left>5</left>
				<width>64</width>
				<height>128</height>
				<texturenofocus />
				<texturefocus>power-panel-focus1.png</texturefocus>
				<onclick>ActivateWindow(ShutdownMenu)</onclick>
				<onleft>9000</onleft>
				<onright>10</onright>
				<onup>11</onup>
				<ondown>11</ondown>
			</control>
			<control type="button" id="11">
				<description>Favourites Button</description>
				<left>5</left>
				<top>128</top>
				<width>64</width>
				<height>128</height>
				<texturenofocus />
				<texturefocus flipy="true">power-panel-focus1.png</texturefocus>
				<onclick>ActivateWindow(Favourites)</onclick>
				<onleft>9000</onleft>
				<onright>11</onright>
				<onup>10</onup>
				<ondown>10</ondown>
			</control>
			<control type="image">
				<description>Icon</description>
				<left>18</left>
				<top>50</top>
				<width>40</width>
				<height>40</height>
				<aspectratio>keep</aspectratio>
				<texture>button_icons/icon-power.png</texture>
			</control>
			<control type="image">
				<description>Icon</description>
				<left>18</left>
				<top>165</top>
				<width>40</width>
				<height>40</height>
				<aspectratio>keep</aspectratio>
				<texture>button_icons/icon-favourites.png</texture>
			</control>
		</control>

		<include content="BlankBladeSlideRight">
			<param name="id" value="1" />
			<param name="action" value="ActivateWindow(Home)" />
		</include>
		<control type="group">
			<visible>!Control.HasFocus(1)</visible>
			<!-- Left side -->
			<include content="BladesImagesLeft">
				<param name="texture" value="blades-size1-left-NF.png" />
			</include>
			<control type="label">
				<description>weather Label</description>
				<label>31004</label>
				<left>90</left>
				<top>210</top>
				<include>BladesLabelLeft</include>
			</control>
			<control type="image">
				<left>50</left>
				<top>-40</top>
				<width>115</width>
				<height>800</height>
				<texture>blades-size2-left-NF.png</texture>
			</control>
			<control type="label">
				<description>Apps Label</description>
				<label>31002</label>
				<left>142</left>
				<top>200</top>
				<include>BladesLabelLeft</include>
			</control>
			<control type="image">
				<left>100</left>
				<top>-40</top>
				<width>115</width>
				<height>800</height>
				<texture>blades-size3-left-NF.png</texture>
			</control>
			<control type="label">
				<description>Media Label</description>
				<label>31001</label>
				<left>188</left>
				<top>190</top>
				<include>BladesLabelLeft</include>
			</control>
			<control type="image">
				<left>150</left>
				<top>-40</top>
				<width>115</width>
				<height>800</height>
				<texture>blades-size4-header.png</texture>
			</control>
			<control type="label">
				<description>System Label</description>
				<label>31003</label>
				<left>238</left>
				<top>170</top>
				<width>200</width>
				<include>BladesLabelLeft</include>
			</control>
			<!-- Right side -->
			<control type="image">
				<left>55r</left>
				<top>-40</top>
				<width>180</width>
				<height>800</height>
				<texture>blades-runner-right.png</texture>
			</control>
		</control>

		<control type="group">
			<visible>Control.HasFocus(1)</visible>
			<!-- Left side -->
			<include content="BladesImagesLeft">
				<param name="texture" value="blades-size2-left-NF.png" />
			</include>
			<control type="label">
				<description>weather Label</description>
				<label>31004</label>
				<left>90</left>
				<top>200</top>
				<include>BladesLabelLeft</include>
			</control>
			<control type="image">
				<left>50</left>
				<top>-40</top>
				<width>115</width>
				<height>800</height>
				<texture>blades-size3-left-NF.png</texture>
			</control>
			<control type="label">
				<description>Applications Label</description>
				<label>31002</label>
				<left>140</left>
				<top>190</top>
				<include>BladesLabelLeft</include>
			</control>
			<control type="image">
				<left>100</left>
				<top>-40</top>
				<width>115</width>
				<height>800</height>
				<texture>blades-size4-header.png</texture>
				<visible>Control.HasFocus(1)</visible>
				<animation effect="fade" time="HomeBladeAnimationSpeed">visible</animation>
			</control>
			<control type="label">
				<description>Media Label</description>
				<label>31001</label>
				<left>188</left>
				<top>170</top>
				<include>BladesLabelLeft</include>
				<visible>Control.HasFocus(1)</visible>
				<animation effect="fade" time="HomeBladeAnimationSpeed">visible</animation>
			</control>
			<!-- Right side -->
			<include content="BladesImagesRight">
				<param name="texture" value="blades-size3-right-NF.png" />
			</include>
			<control type="label">
				<description>System Label</description>
				<label>31003</label>
				<left>48r</left>
				<top>190</top>
				<width>200</width>
				<include>BladesLabelRight</include>
			</control>
		</control>
		<include>Common_Now_Playing</include>
		<include>BackgroundDim</include>
	</controls>	
</window>
