<?xml version="1.0" encoding="UTF-8"?>
<window>
	<include condition="!Skin.HasSetting(initialsetuprun)">DefaultInitialSetup</include>
	<onload>SetProperty(MenuItemActive,Settings,Home)</onload>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<control type="image">
			<include>Dimensions_Fullscreen</include>
			<aspectratio>scale</aspectratio>
			<texture background="true">special://skin/backgrounds/homescreen/settings.jpg</texture>
			<include>BackgroundFade</include>
			<fadetime>FanartCrossfadeTime</fadetime>
			<include>Window_OpenClose_Animation</include>
			<visible>!Skin.HasSetting(initialsetuprun)</visible>
		</control>
		<include condition="Skin.HasSetting(initialsetuprun)">CommonBackground</include>
		<control type="button" id="800">
			<include>InvisibleButton</include>
			<onleft>801</onleft>
			<onright>804</onright>
			<onup>9000</onup>
			<ondown>9000</ondown>
			<visible>false</visible>
		</control>
		<control type="image">
			<include>Window_OpenClose_Animation</include>
			<include>VisibleFadeEffect</include>
			<left>480</left>
			<top>0</top>
			<width>800</width>
			<height>720</height>
			<aspectratio>stretch</aspectratio>
			<texture>black-back.png</texture>
		</control>
		<include>BehindDialogFadeOut</include>
		<include>MediaViewBackgrounds</include>
		<include>FloorReturnButtons</include>
		<control type="label">
			<left>55</left>
			<top>5</top>
			<width>1170</width>
			<height>30</height>
			<font>font30_title</font>
			<textcolor>blue</textcolor>
			<scroll>true</scroll>
			<align>center</align>
			<aligny>center</aligny>
			<include>Window_OpenClose_Animation</include>
			<label>[UPPERCASE]$INFO[Container(9000).ListItem.label2][/UPPERCASE]</label>
		</control>
		<control type="label">
			<left>10</left>
			<top>45</top>
			<width>1260</width>
			<height>20</height>
			<font>font12_title</font>
			<textcolor>grey2</textcolor>
			<wrapmultiline>true</wrapmultiline>
			<scroll>false</scroll>
			<align>center</align>
			<aligny>center</aligny>
			<include>Window_OpenClose_Animation</include>
			<label>$INFO[Container(9000).ListItem.Property(Desc)]</label>
		</control>
		<control type="group">
			<left>90</left>
			<top>0</top>
			<animation type="WindowOpen" reversible="false">
				<effect type="zoom" start="80" end="100" center="640,360" easing="out" tween="back" time="300" />
				<effect type="fade" start="0" end="100" time="300" />
			</animation>
			<animation type="WindowClose" reversible="false">
				<effect type="zoom" start="100" end="80" center="640,360" easing="in" tween="back" time="300" />
				<effect type="fade" start="100" end="0" time="300" />
			</animation>
			<control type="list" id="9000">
				<left>-20</left>
				<top>120</top>
				<width>430</width>
				<height>600</height>
				<onleft>800</onleft>
				<onright>800</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>-</pagecontrol>
				<scrolltime>300</scrolltime>
				<animation effect="fade" start="0" end="100" time="200">Visible</animation>
				<itemlayout height="42" width="380">
					<control type="label">
						<left>380</left>
						<top>21</top>
						<width>380</width>
						<height>40</height>
						<font>font35_title</font>
						<textcolor>grey3</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.label]</label>
						<animation effect="zoom" start="65" end="65" center="380,51" time="0" condition="true">Conditional</animation>
					</control>
				</itemlayout>
				<focusedlayout height="62" width="430">
					<control type="label">
						<top>21</top>
						<left>380</left>
						<width>400</width>
						<height>62</height>
						<font>font35_title</font>
						<textcolor>white</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.label]</label>
`						<animation effect="zoom" start="65" end="125" center="380,51" time="200">Focus</animation><animation effect="zoom" start="125" end="65" center="380,51" time="200">UnFocus</animation></control>
				</focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<label2>$LOCALIZE[31450]</label2>
						<property name="Desc">$LOCALIZE[31460]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31460],Home)</onclick>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/settings.jpg</icon>
					</item>
					<item id="2">
						<label>157</label>
						<label2>$LOCALIZE[31451]</label2>
						<property name="Desc">$LOCALIZE[31461]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31461],Home)</onclick>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/videos.jpg</icon>
					</item>
					<item id="3">
						<label>31252</label>
						<label2>$LOCALIZE[31458]</label2>
						<property name="Desc">$LOCALIZE[31468]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31468],Home)</onclick>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/tv.jpg</icon>
					</item>
					<item id="4">
						<label>2</label>
						<label2>$LOCALIZE[31452]</label2>
						<property name="Desc">$LOCALIZE[31462]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31462],Home)</onclick>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/music.jpg</icon>
					</item>
					<item id="5">
						<label>1</label>
						<label2>$LOCALIZE[31453]</label2>
						<property name="Desc">$LOCALIZE[31463]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31463],Home)</onclick>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/pictures.jpg</icon>
					</item>
					<item id="6">
						<label>8</label>
						<label2>$LOCALIZE[31454]</label2>
						<property name="Desc">$LOCALIZE[31464]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31464],Home)</onclick>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/weather.jpg</icon>
					</item>
					<item id="7">
						<label>24001</label>
						<label2>$LOCALIZE[31457]</label2>
						<property name="Desc">$LOCALIZE[31467]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31467],Home)</onclick>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>special://skin/backgrounds/homescreen/addons.jpg</icon>
					</item>
					<item id="8">
						<label>14036</label>
						<label2>$LOCALIZE[31459]</label2>
						<property name="Desc">$LOCALIZE[31469]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31469],Home)</onclick>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/network.jpg</icon>
					</item>
					<item id="9">
						<label>13000</label>
						<label2>$LOCALIZE[31455]</label2>
						<property name="Desc">$LOCALIZE[31465]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31465],Home)</onclick>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>special://skin/backgrounds/homescreen/startup.jpg</icon>
					</item>
					<item id="10">
						<label>166</label>
						<label2>$LOCALIZE[31456]</label2>
						<property name="Desc">$LOCALIZE[31466]</property>
						<onclick>SetProperty(SettingsItemActive,$LOCALIZE[31466],Home)</onclick>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<icon>special://skin/backgrounds/SKINDEFAULT.jpg</icon>
					</item>
				</content>
			</control>
			<control type="image">
				<left>527</left>
				<top>195</top>
				<width>586</width>
				<height>346</height>
				<aspectratio>stretch</aspectratio>
				<include>BackgroundFade</include>
				<fadetime>FanartCrossfadeTime</fadetime>
				<texture background="true" diffuse="AddOnCase/AddonCaseMask.png">$INFO[Container(9000).ListItem.ActualIcon]</texture>
			</control>
			<control type="image">
				<left>500</left>
				<top>180</top>
				<width>640</width>
				<height>390</height>
				<aspectratio>stretch</aspectratio>
				<include>BackgroundFade</include>
				<fadetime>FanartCrossfadeTime</fadetime>
				<texture background="true">AddOnCase/AddonCase.png</texture>
			</control>
		</control>
		<include>CommonNowPlaying</include>
		<include>BottonLogoImage</include>
		<include>BottomClock</include>
	</controls>
</window>