<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
    <defaultcontrol always="true">200</defaultcontrol>

    <controls>
        <include content="GlobalBackground" />

        <include content="ButtonForValues">
            <param name="buttonid" value="200" />
            <param name="controlid" value="400" />
        </include>
        
        <control type="wraplist" id="400">
            <visible allowhiddenfocus="true">Skin.HasSetting(Debug.ListBorder.Visible)</visible>
            <posx>0</posx>
            <posy>0</posy>
            <width>1920</width>
            <height>1080</height>
            <focusposition>4</focusposition>
            <defaultcontrol>1</defaultcontrol>
            <onup>400</onup>
            <ondown>400</ondown>

            <include content="InvisibleVerticalListItemsForMenu" />
            
            <content>
                <item id="1">
                    <description>Player Settings</description>
                    <label>$LOCALIZE[16003]</label>
                    <label2>$LOCALIZE[5]</label2>
                    <property name="Label3">$LOCALIZE[31028]</property>
                    <icon>special://skin/backgrounds/playersettings.jpg</icon>
                    <onclick>ActivateWindow(PlayerSettings)</onclick>
                </item>
                <item id="2">
                    <description>Media Settings</description>
                    <label>$LOCALIZE[14211]</label>
                    <label2>$LOCALIZE[5]</label2>
                    <property name="Label3">$LOCALIZE[31028]</property>
                    <icon>special://skin/backgrounds/mediasettings.jpg</icon>
                    <onclick>ActivateWindow(MediaSettings)</onclick>
                </item>
                <item id="3">
                    <description>PVR Settings</description>
                    <label>$LOCALIZE[31005]</label>
                    <label2>$LOCALIZE[5]</label2>
                    <property name="Label3">$LOCALIZE[31028]</property>
                    <icon>special://skin/backgrounds/pvrsettings.jpg</icon>
                    <onclick>ActivateWindow(PVRSettings)</onclick>
                </item>
                <item id="4">
                    <description>Interface Settings</description>
                    <label>$LOCALIZE[14206]</label>
                    <label2>$LOCALIZE[5]</label2>
                    <property name="Label3">$LOCALIZE[31028]</property>
                    <icon>special://skin/backgrounds/interfacesettings.jpg</icon>
                    <onclick>ActivateWindow(InterfaceSettings)</onclick>
                </item>
                <item id="5">
                    <description>Skin Settings</description>
                    <label>$LOCALIZE[166]</label>
                    <label2>$LOCALIZE[5]</label2>
                    <property name="Label3">$LOCALIZE[31028]</property>
                    <icon>special://skin/backgrounds/skinsettings.jpg</icon>
                    <onclick>ActivateWindow(SkinSettings)</onclick>
                </item>
                <item id="6">
                    <description>Network/Service Settings</description>
                    <label>$LOCALIZE[14036]</label>
                    <label2>$LOCALIZE[5]</label2>
                    <property name="Label3">$LOCALIZE[31028]</property>
                    <icon>special://skin/backgrounds/servicesettings.jpg</icon>
                    <onclick>ActivateWindow(ServiceSettings)</onclick>
                </item>
                <item id="7">
                    <description>System Settings</description>
                    <label>$LOCALIZE[13000]</label>
                    <label2>$LOCALIZE[5]</label2>
                    <property name="Label3">$LOCALIZE[31028]</property>
                    <icon>special://skin/backgrounds/systemsettings.jpg</icon>
                    <onclick>ActivateWindow(SystemSettings)</onclick>
                </item>
                <item id="8">
                    <description>Addons Settings</description>
                    <label>$LOCALIZE[24001]</label>
                    <property name="Label3">$LOCALIZE[31023]</property>
                    <icon>special://skin/backgrounds/addons.jpg</icon>
                    <onclick>ActivateWindow(AddonBrowser)</onclick>
                </item>
                <item id="9">
                    <description>Profiles</description>
                    <label>$LOCALIZE[13200]</label>
                    <property name="Label3">$LOCALIZE[31023]</property>
                    <icon>special://skin/backgrounds/profiles.jpg</icon>
                    <onclick>ActivateWindow(Profiles)</onclick>
                </item>
                <item id="10">
                    <description>System Information</description>
                    <label>$LOCALIZE[130]</label>
                    <property name="Label3">$LOCALIZE[33056]</property>
                    <icon>special://skin/backgrounds/systeminfo.jpg</icon>
                    <onclick>ActivateWindow(SystemInfo)</onclick>
                </item>
                <item id="11">
                    <description>Revolve Information</description>
                    <label>$LOCALIZE[31000]</label>
                    <property name="Label3">$LOCALIZE[31036]</property>
                    <icon>special://skin/backgrounds/skininfo.jpg</icon>
                    <onclick>ActivateWindow(1151)</onclick>
                </item>
            </content>
        </control>
        
        <control type="group">
            <include content="RevolveMenu">
                <param name="iconvisible" value="false" />
                <param name="texture" value="circle/settings.png" />
                <param name="label" value="$LOCALIZE[31080]" />
            </include>
        </control>
        
        <include content="GlobalOverlay" />
    </controls>
</window>
