<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>BackgroundColour</backgroundcolor>
	<onload>Dialog.Close(all,true)</onload>
	<defaultcontrol always="true">9000</defaultcontrol>
	<onload condition="Window.Previous(home)">Control.SetFocus(9000,0,absolute)</onload>
	<controls>
		<control type="group">
			<animation condition="Window.Previous(home)" delay="250" effect="fade" end="100" start="0" time="200">WindowOpen</animation>
			<animation condition="Window.Next(home)" effect="fade" end="0" start="100" time="0">WindowClose</animation>
			<!-- Heading / Current item / Total items -->
			<control type="grouplist">
				<left>396</left>
				<top>256</top>
				<height>160</height>
				<itemgap>20</itemgap>
				<orientation>horizontal</orientation>
				<usecontrolcoords>true</usecontrolcoords>
				<include>VisibleDelayFadeAnimation</include>
				<control type="label">
					<width>auto</width>
					<height>120</height>
					<font>Med48</font>
					<aligny>bottom</aligny>
					<textcolor>ffdadada</textcolor>
					<label>$LOCALIZE[5]  </label>
				</control>
				<control type="label">
					<top>34</top>
					<width>auto</width>
					<height>120</height>
					<font>Med32</font>
					<aligny>bottom</aligny>
					<textcolor>ffdadada</textcolor>
					<label>$INFO[Container(9000).CurrentItem]</label>
				</control>
				<control type="label">
					<top>26</top>
					<width>auto</width>
					<height>120</height>
					<font>Light36</font>
					<aligny>bottom</aligny>
					<textcolor>ff505050</textcolor>
					<label>|</label>
				</control>
				<control type="label">
					<top>34</top>
					<width>auto</width>
					<height>120</height>
					<font>Light32</font>
					<aligny>bottom</aligny>
					<textcolor>ff505050</textcolor>
					<label>$NUMBER[8]</label>
				</control>
			</control>
		</control>
		<control id="9000" type="fixedlist">
			<left>-154</left>
			<top>578</top>
			<width>6000</width>
			<height>994</height>
			<onup>PageUp</onup>
			<onup>Back</onup>
			<ondown>noop</ondown>
			<onleft>Back</onleft>
			<onright>noop</onright>
			<onback>PageUp</onback>
			<onright condition="!Window.IsVisible(1103)">SetProperty(BounceRight,1,Home)</onright>
			<focusposition>1</focusposition>
			<viewtype label="">list</viewtype>
			<orientation>horizontal</orientation>
			<scrolltime easing="inout" tween="sine">300</scrolltime>
			<include>ListBounceAnimation</include>
			<animation condition="Window.Previous(home)" easing="inout" effect="slide" end="0,0" start="418,0" time="300" tween="sine">WindowOpen</animation>
			<animation condition="Window.Next(home)" easing="inout" effect="slide" end="418,0" start="0,0" time="300" tween="sine">WindowClose</animation>
			<itemlayout height="994" width="600">
				<control type="group">
					<animation center="268,480" condition="true" effect="zoom" end="84.5" start="84.5">Conditional</animation>
					<animation condition="ControlGroup(9001).HasFocus" easing="inout" effect="slide" end="98,0" reversible="true" start="0,0" time="125" tween="sine">Conditional</animation>
					<control type="image">
						<left>-48</left>
						<width>666</width>
						<height>994</height>
						<bordersize>0,0,26,34</bordersize>
						<bordertexture infill="false" border="24,22,26,34">settings/settings_back_shadow.png</bordertexture>
						<texture>settings/settings_back.png</texture>
					</control>
					<control type="label">
						<left>-20</left>
						<top>56</top>
						<width>552</width>
						<height>64</height>
						<font>Bold34</font>
						<textcolor>ffdadada</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<left>-26</left>
						<top>246</top>
						<width>600</width>
						<height>600</height>
						<aspectratio align="center" aligny="center">keep</aspectratio>
						<texture background="true">$INFO[ListItem.Icon]</texture>
					</control>
					<control type="image">
						<left>-48</left>
						<width>640</width>
						<height>960</height>
						<texture>views/OverlayNF.png</texture>
						<animation center="auto" condition="Window.Next(home)" easing="inout" effect="fade" end="0" start="100" time="300" tween="sine">Conditional</animation>
					</control>
				</control>
			</itemlayout>
			<focusedlayout height="994" width="600">
				<control type="button">
					<texturefocus/>
					<texturenofocus/>
					<onfocus>SetProperty(SettingsCurrentItem,$INFO[Container(9000).CurrentItem])</onfocus>
				</control>
				<control type="group">
					<animation center="268,480" condition="Window.Previous(home) | Container(9000).OnNext | Container(9000).OnPrevious" easing="inout" effect="zoom" end="100" start="84.5" time="300" tween="sine">Focus</animation>
					<animation center="268,480" condition="!Window.Next(home)" easing="inout" effect="zoom" end="84.5" start="100" time="300" tween="sine">UnFocus</animation>
					<animation condition="Window.Next(home) + String.IsEqual(Container(9000).CurrentItem,1)" reversible="false" type="Conditional">
						<effect center="268,480" easing="inout" end="84.5" start="100" time="300" tween="sine" type="zoom"/>
					</animation>
					<animation condition="Window.Next(home) + !String.IsEqual(Container(9000).CurrentItem,1)" reversible="false" type="Conditional">
						<effect center="268,480" easing="inout" end="84.5" start="100" time="0" tween="sine" type="zoom"/>
					</animation>
					<control type="image">
						<left>-48</left>
						<width>666</width>
						<height>994</height>
						<bordersize>0,0,26,34</bordersize>
						<bordertexture infill="false" border="24,22,26,34">settings/settings_back_shadow.png</bordertexture>
						<texture>settings/settings_back.png</texture>
					</control>
					<control type="label">
						<left>-20</left>
						<top>56</top>
						<width>552</width>
						<height>64</height>
						<font>Bold34</font>
						<textcolor>ffdadada</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<left>-26</left>
						<top>246</top>
						<width>600</width>
						<height>600</height>
						<aspectratio align="center" aligny="center">keep</aspectratio>
						<texture background="true">$INFO[ListItem.Icon]</texture>
					</control>
					<control type="image">
						<left>-48</left>
						<width>640</width>
						<height>960</height>
						<texture>views/OverlayNF.png</texture>
						<animation center="auto" easing="inout" effect="fade" end="0" start="100" time="300" tween="sine">Focus</animation>
						<animation center="auto" easing="inout" effect="fade" end="100" start="0" time="300" tween="sine">UnFocus</animation>
					</control>
				</control>
			</focusedlayout>
			<content>
				<item>
					<onclick>ActivateWindow(interfacesettings)</onclick>
					<label>14206</label>
					<label2>$LOCALIZE[31115]</label2>
					<icon>settings/icon_appearance.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(addonbrowser,addons://)</onclick>
					<label>24001</label>
					<label2>$LOCALIZE[31116]</label2>
					<icon>settings/icon_addons.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(playersettings)</onclick>
					<label>14200</label>
					<label2>$LOCALIZE[31117]</label2>
					<icon>settings/icon_player.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(mediasettings)</onclick>
					<label>14211</label>
					<label2>$LOCALIZE[31118]</label2>
					<icon>settings/icon_library.png</icon>
				</item>
				<item>
					<onclick condition="!System.Platform.UWP">ActivateWindow(gamesettings)</onclick>
					<onclick condition="System.Platform.UWP">RunScript(script.skinvariables,run_dialog=textviewer,heading=$LOCALIZE[31025],text=$LOCALIZE[31087])</onclick>
					<label>15016</label>
					<label2>$LOCALIZE[31250]</label2>
					<icon>settings/icon_games.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(systemsettings)</onclick>
					<label>13000</label>
					<label2>$LOCALIZE[31121]</label2>
					<icon>settings/icon_system.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(servicesettings)</onclick>
					<label>14036</label>
					<label2>$LOCALIZE[31122]</label2>
					<icon>settings/icon_service.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(systemsettings)</onclick>
					<label>22082</label>
					<label2>$LOCALIZE[31123]</label2>
					<icon>settings/icon_more.png</icon>
				</item>
			</content>
		</control>
		<control type="label">
			<left>396</left>
			<top>1572</top>
			<width>2320</width>
			<height>128</height>
			<font>Light32</font>
			<aligny>bottom</aligny>
			<textcolor>ffdadada</textcolor>
			<wrapmultiline>true</wrapmultiline>
			<label>$INFO[Container(9000).ListItem.Label2]</label>
			<animation delay="100" effect="fade" end="100" start="0" time="200">WindowOpen</animation>
			<animation effect="fade" end="0" start="100" time="0">WindowClose</animation>
		</control>
	</controls>
</window>
