<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		
			
	
	
	<include>background</include>
	<include>main_back</include>
	<include>main_fanart_files</include>
	<include>top_section</include>
	
	
	
	
	
		<control type="wraplist" id="9000">
			<posx>0</posx>
			<posy>420</posy>
			<width>1280</width>
			<height>400</height>
			<scrolltime>200</scrolltime>
			<focusposition>1</focusposition>
			<orientation>horizontal</orientation>
			<preloaditems>2</preloaditems>
			<onleft>9000</onleft>
			<onright>9000</onright>
			<onup>9000</onup>
			<ondown>2448</ondown>
			<include>main_window_open_close</include>
			<itemlayout width="390" height="230">
				<control type="group">
					<posx>20</posx>
					<posy>70</posy>
					<control type="image">
						<posx>-16</posx>
						<posy>-4</posy>
						<width>397</width>
						<height>207</height>
						<texture>landscape/unfocused_shadow.png</texture>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>355</width>
						<height>200</height>
						<texture>misc/back.png</texture>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>355</width>
						<height>200</height>
						<texture background="true">$INFO[ListItem.Icon]</texture>
						<fadetime>300</fadetime>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="image">
						<posx>4</posx>
						<posy>156</posy>
						<width>343</width>
						<height>68</height>
						<texture>landscape/label_back_unfocus.png</texture>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="label">
						<posx>180</posx>
						<posy>178</posy>
						<width>330</width>
						<height>20</height>
						<align>center</align>
						<font>humanist_521_24</font>
						<textcolor>White</textcolor>
						<shadowcolor>Black</shadowcolor>
						<label>$INFO[ListItem.Label]</label>
						<scroll>false</scroll>
					</control>
				</control>
			</itemlayout>
			<focusedlayout width="490" height="280">
				<control type="group">
				<posx>20</posx>
				<posy>20</posy>
				<animation type="Focus" reversible="false">
					<effect type="zoom" center="auto" start="60" end="100" time="500" tween="back" easing="out" />
				</animation>
					<control type="image">
						<posx>-18</posx>
						<posy>-6</posy>
						<width>487</width>
						<height>269</height>
						<texture>landscape/focus_shadow.png</texture>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>451</width>
						<height>254</height>
						<texture>misc/back.png</texture>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>451</width>
						<height>254</height>
						<texture background="true">$INFO[ListItem.Icon]</texture>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="image">
						<posx>0</posx>
						<posy>200</posy>
						<width>444</width>
						<height>83</height>
						<texture>landscape/label_back_focus.png</texture>
						<aspectratio scalediffuse="false">stretch</aspectratio>
					</control>
					<control type="label">
						<posx>226</posx>
						<posy>230</posy>
						<width>446</width>
						<height>20</height>
						<align>center</align>
						<font>humanist_521_30</font>
						<textcolor>Main_Green</textcolor>
						<shadowcolor>Black</shadowcolor>
						<label>$INFO[ListItem.Label]</label>
						<scroll>false</scroll>
					</control>
				</control>
			</focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<label2>31400</label2>
						<property name="dude">41400</property>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>backgrounds/appearance.jpg</icon>
					</item>
					<item id="2">
						<label>157</label>
						<label2>31401</label2>
						<property name="dude">41401</property>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>backgrounds/videos.jpg</icon>
					</item>
					<item id="3">
						<label>2</label>
						<label2>31402</label2>
						<property name="dude">41402</property>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>backgrounds/music.jpg</icon>
					</item>
					<item id="4">
						<label>1</label>
						<label2>31403</label2>
						<property name="dude">41403</property>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>backgrounds/pictures.jpg</icon>
					</item>
					<item id="5">
						<label>8</label>
						<label2>31404</label2>
						<property name="dude">41404</property>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>backgrounds/weather.jpg</icon>
					</item>
					<item id="6">
						<label>24001</label>
						<label2>31408</label2>
						<property name="dude">41408</property>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>backgrounds/addons.jpg</icon>
					</item>
					<item id="7">
						<label>705</label>
						<label2>31405</label2>
						<property name="dude">41405</property>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<icon>backgrounds/network.jpg</icon>
					</item>
					<item id="8">
						<label>13000</label>
						<label2>31406</label2>
						<property name="dude">41406</property>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>backgrounds/system.jpg</icon>
					</item>
					<item id="9">
						<label>166</label>
						<label2>31407</label2>
						<property name="dude">41407</property>
						<onclick>ActivateWindow(1111)</onclick>
						<icon>backgrounds/skinsetting.jpg</icon>
					</item>
				</content>
		</control>
			
		<control type="textbox">
			<posx>760</posx>
			<posy>180</posy>
			<width>500</width>
			<height>190</height>
			<align>justify</align>
			<label>$INFO[Container(9000).ListItem.Property(dude)]</label>
			<font>Liberation18</font>
			<textcolor>White</textcolor>
			<autoscroll time="3000" delay="5000" repeat="5000">Skin.HasSetting(autoscroll)</autoscroll>
			<include>main_window_rightside_open_close</include>
			<animation effect="slide" start="0,0" end="800,0" time="200" condition="Window.IsActive(contextmenu) | Window.IsActive(shutdownmenu) | Window.IsActive(selectdialog) | Window.IsActive(progressdialog) | Window.IsActive(okdialog) | Window.IsActive(yesnodialog) | Window.IsActive(LockSettings) | Window.IsActive(custom_DialogFavourites.xml)">Conditional</animation>
			<visible>Window.IsActive(Settings)</visible>
		</control>
		
		
		<include>Trailer</include>
		<include>MainPanel_Info_Files</include>
		<include>Global_Time</include>
		<include>Breadcrumbs</include>
		
	</controls>
</window>
