<?xml version="1.0" encoding="utf-8"?>
<window id="4">
    <defaultcontrol always="true">378</defaultcontrol>
     
    <controls>
        <include>SkinFanart</include>
		<include>BarClock</include>
		
		
		<control type="group"><visible>![Window.IsVisible(2003) | Window.IsVisible(DialogAddonInfo.xml) | Window.IsVisible(DialogMusicInfo.xml) | Window.IsVisible(DialogFavourites.xml)]</visible><include>NowPlayingControls</include><include>TouchscreenNavigation</include></control><!-- Settings -->
            <control type="group" id="378">
			 <animation type="WindowClose">
                <effect type="fade" time="300" />
                <effect type="slide" end="+1500,0" time="300" />
            </animation>
            <animation type="WindowOpen">
                <effect type="fade" time="300" />
                <effect type="slide" start="+1500,0" time="300" />
            </animation>           
			   <control type="label">
                    <label>$LOCALIZE[10004]</label>
                    <left>50</left>
                    <top>215</top>
                    <height>30</height>
                    <width>1000</width>
                    <font>Panel_Title</font>
                    <align>left</align>
					<aligny>top</aligny>
                </control>
                <control type="panel" id="69">
                    <left>50</left>
                    <top>290</top>
                    <width>1120</width>
                    <height>320</height>
                    <preloaditems>2</preloaditems>
                    <visible>true</visible>
                    <onup>69</onup>
                    <ondown>69</ondown>
                    <onleft>505</onleft>
                    <onright>69</onright>
                    <orientation>horizontal</orientation>
                    <scrolltime tween="cubic" easing="out">400</scrolltime>
                    <itemlayout width="160" height="160">
                        <control type="image">
                            <include>PanelButtonImageNF</include>
                        </control>
                        <control type="label">
							<include>PanelButtonTitle</include>
                            <label>$INFO[ListItem.Label]</label>
                            <animation effect="fade" delay="200" start="0" time="300" easing="out" tween="linear">Focus</animation>
                        </control>
                        <control type="image">
                            <include>PanelButtonIcon</include>
                            <texture>$INFO[ListItem.Thumb]</texture>
                        </control>
                    </itemlayout>
                    <focusedlayout width="160" height="160">
                        <control type="group">
                            <left>0</left>
                            <top>0</top>
                            <control type="image">
                                <include>PanelButtonImageFO</include>
                                <animation effect="fade" start="0" time="400" easing="out" tween="linear">Focus</animation>
                            </control>
                            <control type="image">
                                <include>PanelButtonIcon</include>
                                <texture>$INFO[ListItem.Thumb]</texture>
                            </control>
                        </control>
                        <control type="label">
							<include>PanelButtonTitle</include>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </focusedlayout>
                    <content>
                        <item id="1">
                            <description>Appearance</description>
                            <label>14206</label>
							<thumb>DefaultAppearance.png</thumb>
							<onclick>activatewindow(InterfaceSettings)</onclick>
                        </item>
                        <item id="2">
                            <description>Media</description>
                            <label>14211</label>
							<thumb>DefaultMedia.png</thumb>
                            <onclick>activatewindow(MediaSettings)</onclick>
                        </item>
                        <item id="3">
                            <description>Live TV</description>
                            <label>$LOCALIZE[14204]</label>
							<thumb>DefaultTvChannels.png</thumb>
                            <onclick>activatewindow(PVRSettings,return)</onclick>
                        </item>
                        <item id="4">
                            <description>Player</description>
                            <label>14200</label>
							<thumb>DefaultPlayer.png</thumb>
                            <onclick>activatewindow(PlayerSettings,return)</onclick>
                        </item>
                        <item id="5">
                            <description>Addons</description>
                            <label>24001</label>
							<thumb>DefaultAddons.png</thumb>
                            <onclick>activatewindow(AddonBrowser)</onclick>
                        </item>
                        <item id="6">
                            <description>Services</description>
                            <label>14036</label>
                            <thumb>DefaultServices.png</thumb>
                            <onclick>activatewindow(ServiceSettings,return)</onclick>
                        </item>
                        <item id="7">
                            <description>System</description>
                            <label>13000</label>
						   <thumb>DefaultSystem.png</thumb>
                            <onclick>activatewindow(SystemSettings,return)</onclick>
                        </item>
                        <item id="8">
                            <description>Profiles</description>
                            <label>13200</label>
                            <thumb>DefaultUser.png</thumb>
                            <onclick>activatewindow(Profiles,return)</onclick>
                        </item>
                        <item id="9">
                            <description>System Info</description>
                            <label>130</label>
                            <thumb>DefaultInfo.png</thumb>
                            <onclick>activatewindow(7,return)</onclick>
                        </item>
						<item id="10">
                            <description>File Manager</description>
                            <label>7</label>
                            <thumb>icons/FileManager.png</thumb>
                            <onclick>ActivateWindow(filemanager)</onclick>
                        </item>
                    </content>
                </control>
            </control>
    </controls>
</window>