<?xml version="1.0" encoding="utf-8"?>
<window id="4">
    <defaultcontrol always="true">378</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <include>SkinFanart</include>
		<include>BarClock</include>
		<!-- Settings -->
            <control type="group" id="378">
			 <animation type="WindowClose">
                <effect type="fade" time="300" />
                <effect type="slide" end="+1500,0" time="300" />
            </animation>
            <animation type="WindowOpen">
                <effect type="fade" time="300" />
                <effect type="slide" start="+1500,0" time="300" />
            </animation>           
			   <control type="label">
                    <label>$LOCALIZE[10004]</label>
                    <left>50</left>
                    <top>215</top>
                    <height>30</height>
                    <width>250</width>
                    <font>Panel_Title</font>
                    <align>left</align>
					<aligny>top</aligny>
                </control>
                <control type="panel" id="69">
                    <left>50</left>
                    <top>290</top>
                    <width>1120</width>
                    <height>320</height>
                    <preloaditems>2</preloaditems>
                    <visible>true</visible>
                    <onup>69</onup>
                    <ondown>69</ondown>
                    <onleft>505</onleft>
                    <onright>69</onright>
                    <orientation>horizontal</orientation>
                    <scrolltime tween="cubic" easing="out">400</scrolltime>
                    <itemlayout width="160" height="160">
                        <control type="image">
                            <include>PanelButtonImageNF</include>
                        </control>
                        <control type="label">
							<include>PanelButtonTitle</include>
                            <label>$INFO[ListItem.Label]</label>
                            <animation effect="fade" delay="200" start="0" time="300" easing="out" tween="square">Focus</animation>
                        </control>
                        <control type="image">
                            <include>PanelButtonIcon</include>
                            <texture>$INFO[ListItem.Thumb]</texture>
                        </control>
                    </itemlayout>
                    <focusedlayout width="160" height="160">
                        <control type="group">
                            <left>0</left>
                            <top>0</top>
                            <control type="image">
                                <include>PanelButtonImageFO</include>
                                <animation effect="fade" start="0" time="400" easing="out" tween="square">Focus</animation>
                            </control>
                            <control type="image">
                                <include>PanelButtonIcon</include>
                                <texture>$INFO[ListItem.Thumb]</texture>
                            </control>
                        </control>
                        <control type="label">
							<include>PanelButtonTitle</include>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </focusedlayout>
                    <content>
                        <item id="1">
                            <description>Appearance</description>
                            <label>480</label>
							<thumb>DefaultAppearance.png</thumb>
							<onclick>activatewindow(AppearanceSettings)</onclick>
                        </item>
                        <item id="2">
                            <description>Videos</description>
                            <label>3</label>
							<thumb>DefaultVideo.png</thumb>
                            <onclick>activatewindow(VideosSettings)</onclick>
                        </item>
                        <item id="3">
                            <description>Live TV</description>
                            <label>$LOCALIZE[31703]</label>
							<thumb>DefaultTvChannels.png</thumb>
                            <onclick>activatewindow(PVRSettings,return)</onclick>
                        </item>
                        <item id="4">
                            <description>Music</description>
                            <label>2</label>
							<thumb>DefaultAudio.png</thumb>
                            <onclick>activatewindow(MusicSettings,return)</onclick>
                        </item>
                        <item id="5">
                            <description>Addons</description>
                            <label>24001</label>
							<thumb>DefaultAddons.png</thumb>
                            <onclick>activatewindow(AddonBrowser)</onclick>
                        </item>
                        <item id="6">
                            <description>Pictures</description>
                            <label>1</label>
							<thumb>DefaultPicture.png</thumb>
                            <onclick>activatewindow(PicturesSettings,return)</onclick>
                        </item>
                        <item id="7">
                            <description>Weather</description>
                            <label>8</label>
							<thumb>DefaultWeather.png</thumb>
                            <onclick>activatewindow(WeatherSettings,return)</onclick>
                        </item>
                        <item id="8">
                            <description>Network</description>
                            <label>705</label>
                            <thumb>DefaultNetwork.png</thumb>
                            <onclick>activatewindow(NetworkSettings,return)</onclick>
                        </item>
                        <item id="9">
                            <description>System</description>
                            <label>13000</label>
						   <thumb>DefaultSystem.png</thumb>
                            <onclick>activatewindow(SystemSettings,return)</onclick>
                        </item>
                        <item id="10">
                            <description>Profiles</description>
                            <label>13200</label>
                            <thumb>DefaultUser.png</thumb>
                            <onclick>activatewindow(Profiles,return)</onclick>
                        </item>
                        <item id="11">
                            <description>System Info</description>
                            <label>130</label>
                            <thumb>DefaultInfo.png</thumb>
                            <onclick>activatewindow(7,return)</onclick>
                        </item>
						<item id="12">
                            <description>File Manager</description>
                            <label>7</label>
                            <thumb>icons/FileManager.png</thumb>
                            <onclick>ActivateWindow(filemanager)</onclick>
                        </item>
                    </content>
                </control>
            </control>
    </controls>
</window>