<?xml version="1.0" encoding="utf-8"?>
<window>
    <defaultcontrol always="true">50</defaultcontrol>
    <controls>
        <include>Fanart_Art</include>
        <include>Player_Show</include>
        <include>OverlayFull</include>
        <control type="group">
            <control type="image">
                <!--<include>OpenCloseOverlay</include>-->
                <include>OverlayTransparencyDialog</include>
                <posx>0</posx>
                <posy>0</posy>
                <width>1920</width>
                <height>1080</height>
                <colordiffuse>$VAR[Picked.Theme.Color]</colordiffuse>
                <texture>common/overlay_dialog_gradient.png</texture>
            </control>
            <include>WindowClosingButton</include>
            <control type="group">
                <include>OpenClose</include>
                <control type="list" id="50">
                    <posx>100</posx>
                    <posy>180</posy>
                    <width>760</width>
                    <height>720</height>
                    <itemgap>0</itemgap>
                    <aligny>top</aligny>
                    <align>center</align>
                    <orientation>vertical</orientation>
                    <onright>50</onright>
                    <onleft>50</onleft>
                    <onup>50</onup>
                    <ondown>50</ondown>
                    <itemlayout height="60" width="660">
                        <control type="label">
                            <posx>20</posx>
                            <posy>3</posy>
                            <height>53</height>
                            <width>720</width>
                            <aligny>center</aligny>
                            <font>DialogMatFont</font>
                            <textcolor>NoFocusedColor</textcolor>
                            <label>$INFO[ListItem.Label2]</label>
                        </control>
                        <control type="label">
                            <posx>100</posx>
                            <height>60</height>
                            <width>720</width>
                            <aligny>center</aligny>
                            <font>DialogFont</font>s
                            <textcolor>NoFocusedColor</textcolor>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </itemlayout>
                    <focusedlayout height="60" width="660">
                        <control type="group">
                            <include>ButtonWideFocusAnimation</include>
                            <include content="FocusedIndicatorVertical">
                                <param name="x" value="0"/>
                                <param name="y" value="0"/>
                                <param name="height" value="60"/>
                                <param name="visible" value="true"/>
                            </include>
                            <control type="label">
                                <posx>20</posx>
                                <posy>3</posy>
                                <height>53</height>
                                <width>720</width>
                                <aligny>center</aligny>
                                <font>DialogMatFont</font>
                                <include>TextColor_MainColor</include>
                                <label>$INFO[ListItem.Label2]</label>
                            </control>
                            <control type="label">
                                <posx>100</posx>
                                <height>60</height>
                                <width>720</width>
                                <aligny>center</aligny>
                                <font>DialogFont</font>
                                <include>TextColor_MainColor</include>
                                <label>$INFO[ListItem.Label]</label>
                            </control>
                        </control>
                    </focusedlayout>
                    <content>
                        <item>
                            <label>$LOCALIZE[14206]</label>
                            <onclick>ActivateWindow(InterfaceSettings)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[166]</label>
                            <onclick>ActivateWindow(SkinSettings)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[14200]</label>
                            <onclick>ActivateWindow(PlayerSettings)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[14211]</label>
                            <onclick>ActivateWindow(MediaSettings)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[14204]</label>
                            <onclick>ActivateWindow(PVRSettings)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[14036]</label>
                            <onclick>ActivateWindow(ServiceSettings)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[13000]</label>
                            <onclick>ActivateWindow(SystemSettings)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[138]</label>
                            <onclick>ActivateWindow(systeminfo)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[14114]</label>
                            <onclick>ActivateWindow(eventlog)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[7]</label>
                            <onclick>ActivateWindow(FileManager)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[14210]</label>
                            <onclick>ActivateWindow(Profiles)</onclick>
                            <label2></label2>
                        </item>
                        <item>
                            <label>$LOCALIZE[24001]</label>
                            <onclick>ActivateWindow(AddonBrowser,root)</onclick>
                            <label2></label2>
                        </item>
                    </content>
                </control>
            </control>
        </control>
        <include>NowPlaying</include>
        <!--<include>TopBar</include>-->
    </controls>
</window>
