<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol>801</defaultcontrol>
    <backgroundcolor>0</backgroundcolor>
    <controls>
        <include>CommonSettingsItems</include>
        <include>SettingsHeader</include>

        <control type="group">
            <include>FullscreenDimensions</include>
            <include>OptionsShutdownAnimation</include>

            <animation type="WindowClose">
                <effect type="fade" start="100" end="0" time="300" tween="sine" easing="out" />
                <effect type="zoom" start="100" end="85" time="300" center="960,600" tween="sine" easing="out" />
            </animation>
            <animation type="Visible">
                <effect type="fade" start="0" end="100" time="300" delay="300" tween="sine" easing="out" />
                <effect type="zoom" start="85" end="100" time="300" delay="300" center="960,600" tween="sine" easing="out" />
            </animation>
            <animation type="Hidden">
                <effect type="fade" start="100" end="0" time="300" tween="sine" easing="out" />
                <effect type="zoom" start="100" end="85" time="300" center="960,600" tween="sine" easing="out" />
            </animation>
            <visible>!Window.IsActive(favourites)</visible>

            <control type="image">
                <description>Shadow</description>
                <posx>0</posx>
                <posy>870</posy>
                <width>1920</width>
                <height>150</height>
                <texture>windows/home/item-shadow.png</texture>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="750" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" />
                    <effect type="zoom" start="90" end="100" center="316,547" tween="cubic" easing="out" time="400" />
                </animation>
            </control>

            <control type="group">
                <posx>290</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="750" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" />
                    <effect type="zoom" start="90" end="100" center="316,547" tween="cubic" easing="out" time="400" />
                </animation>
                
                <control type="panel" id="801">
                    <posx>-69</posx>
                    <posy>-20</posy>
                    <width>1586</width>
                    <height>620</height>
                    <scrolltime>0</scrolltime>
                    <include content="SettingsPanelItems" />
                </control>
            </control>
        </control>
        <include>CommonInfoNoOptions</include>
    </controls>
</window>