<window id="4">
	<defaultcontrol>50</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<control type="group">
			<include>Window_OpenClose_Animation</include>
			<control type="image">
				<posx>0</posx>
				<posy>500</posy>
				<width>1280</width>
				<height>220</height>
				<texture>black-back.png</texture>
			</control>
			<control type="image">
				<posx>0</posx>
				<posy>500</posy>
				<width>512</width>
				<height>64</height>
				<texture>HorizontalGlow.png</texture>
			</control>
			<control type="image">
				<posx>512r</posx>
				<posy>500</posy>
				<width>512</width>
				<height>64</height>
				<texture>HorizontalGlow.png</texture>
			</control>
			<control type="textbox">
				<posx>220</posx>
				<posy>540</posy>
				<width>840</width>
				<height>105</height>
				<font>font11</font>
				<textcolor>grey2</textcolor>
				<scroll>true</scroll>
				<align>center</align>
				<label>$INFO[Container(50).ListItem.Label2]</label>
			</control>
		</control>
		<control type="group">
			<animation type="WindowOpen" reversible="false">
				<effect type="zoom" start="80" end="100" center="640,360" easing="out" tween="back" time="300" />
				<effect type="fade" start="0" end="100" time="300" />
			</animation>
			<animation type="WindowClose" reversible="false">
				<effect type="zoom" start="100" end="80" center="640,360" easing="in" tween="back" time="300" />
				<effect type="fade" start="100" end="0" time="300" />
			</animation>
			<control type="panel" id="50">
				<posx>128</posx>
				<posy>80</posy>
				<width>1024</width>
				<height>390</height>
				<onleft>50</onleft>
				<onright>50</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<viewtype label="21371">panel</viewtype>
				<pagecontrol>-</pagecontrol>
				<scrolltime>200</scrolltime>
				<preloaditems>2</preloaditems>
				<itemlayout height="130" width="256">
					<control type="image">
						<posx>2</posx>
						<posy>2</posy>
						<width>252</width>
						<height>126</height>
						<texture>ThumbNF.png</texture>
					</control>
					<control type="image">
						<posx>7</posx>
						<posy>7</posy>
						<width>242</width>
						<height>90</height>
						<texture>$INFO[Listitem.Icon]</texture>
						<bordertexture border="5">black-back.png</bordertexture>
						<bordersize>1</bordersize>
						<aspectratio>stretch</aspectratio>
					</control>
					<control type="label">
						<posx>10</posx>
						<posy>100</posy>
						<width>236</width>
						<height>20</height>
						<font>font12</font>
						<textcolor>white</textcolor>
						<selectedcolor>blue</selectedcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="256" width="190">
					<control type="image">
						<posx>2</posx>
						<posy>2</posy>
						<width>252</width>
						<height>126</height>
						<texture>ThumbFO.png</texture>
					</control>
					<control type="image">
						<posx>7</posx>
						<posy>7</posy>
						<width>242</width>
						<height>90</height>
						<texture>$INFO[Listitem.Icon]</texture>
						<bordertexture border="5">black-back.png</bordertexture>
						<bordersize>1</bordersize>
						<aspectratio>stretch</aspectratio>
					</control>
					<control type="label">
						<posx>10</posx>
						<posy>100</posy>
						<width>236</width>
						<height>20</height>
						<font>font12</font>
						<textcolor>black</textcolor>
						<selectedcolor>blue2</selectedcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>480</label>
						<label2>31400</label2>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>thumbs/Appearance.png</icon>
					</item>
					<item>
						<label>157</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>thumbs/Videos.png</icon>
					</item>
					<item>
						<label>2</label>
						<label2>31402</label2>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>thumbs/Music.png</icon>
					</item>
					<item>
						<label>1</label>
						<label2>31403</label2>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>thumbs/Pictures.png</icon>
					</item>
					<item>
						<label>8</label>
						<label2>31404</label2>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>thumbs/Weather.png</icon>
					</item>
					<item>
						<label>705</label>
						<label2>31405</label2>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<icon>thumbs/Network.png</icon>
					</item>
					<item>
						<label>13000</label>
						<label2>31406</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>thumbs/Settings.png</icon>
					</item>
					<item>
						<label>166</label>
						<label2>31407</label2>
						<onclick>ActivateWindow(1111)</onclick>
						<icon>thumbs/SkinSettings.png</icon>
					</item>
					<item>
						<label>24001</label>
						<label2>31408</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>thumbs/Addons.png</icon>
					</item>
					<item>
						<label>7</label>
						<label2>31409</label2>
						<onclick>ActivateWindow(FileManager)</onclick>
						<icon>thumbs/FileManager.png</icon>
					</item>
				</content>
			</control>
		</control>
		<include>WindowHeader</include>
		<control type="image">
			<posx>20</posx>
			<posy>5</posy>
			<width>40</width>
			<height>35</height>
			<aspectratio>keep</aspectratio>
			<texture>icon_system.png</texture>
			<include>Window_OpenClose_Animation</include>
		</control>
		<control type="label">
			<description>Header label</description>
			<posx>70</posx>
			<posy>5</posy>
			<width>700</width>
			<height>35</height>
			<align>left</align>
			<aligny>center</aligny>
			<font>font13</font>
			<textcolor>white</textcolor>
			<label>$LOCALIZE[5]</label>
			<include>Window_OpenClose_Animation</include>
		</control>
		<include>Common_RSS_Feed</include>
		<include>BehindDialogFadeOut</include>
	</controls>
</window>