<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <!--<include>GlobalBackground</include>-->
        <include>NotificationCenter</include>
        <control type="group" id="9000">
            <include>WindowEffect</include>
            <control type="group">
                <posx>0</posx>
                <posy>72</posy>
                <control type="panel" id="800">
                    <posx>0</posx>
                    <posy>0</posy>
                    <width>960</width>
                    <height>1008</height>
                    <onleft>9010</onleft>
                    <onright>9010</onright>
                    <onup>800</onup>
                    <ondown>800</ondown>
                    <scrolltime>0</scrolltime>
                    <preloaditems>2</preloaditems>
                    <orientation>vertical</orientation>
                    <itemlayout width="960" height="100.8">
                        <control type="image">
                            <posx>0</posx>
                            <posy>0</posy>
                            <width>960</width>
                            <height>100.8</height>
                            <texture border="3">dialogs/toast_back_blue.png</texture>
                        </control>
                        <control type="label">
                            <posy>0</posy>
                            <posx>0</posx>
                            <width>860</width>
                            <height>100</height>
                            <font>Medium_Caps3</font>
                            <info>ListItem.Label</info>
                            <textcolor>White2</textcolor>
                            <textoffsetx>30</textoffsetx>
                        </control>
                        <control type="image">
                            <posx>860</posx>
                            <posy>18</posy>
                            <width>64</width>
                            <height>64</height>
                            <texture>$INFO[ListItem.Icon]</texture>
                            <colordiffuse>White2</colordiffuse>
                        </control>
                    </itemlayout>
                    <focusedlayout width="960" height="100.8">
                        <control type="image">
                            <posx>0</posx>
                            <posy>0</posy>
                            <width>960</width>
                            <height>100.8</height>
                            <texture border="3">dialogs/toast_back_blue.png</texture>
                        </control>
                        <control type="group">
                            <visible>Control.HasFocus(800)</visible>
                            <control type="image">
                                <posx>0</posx>
                                <posy>0</posy>
                                <width>960</width>
                                <height>100</height>
                                <texture border="8">listselect_fo.png</texture>
                            </control>
                            <control type="label">
                                <posy>0</posy>
                                <posx>0</posx>
                                <width>860</width>
                                <height>100</height>
                                <font>Medium_Caps3</font>
                                <info>ListItem.Label</info>
                                <textoffsetx>30</textoffsetx>
                            </control>
                            <control type="image">
                                <posx>860</posx>
                                <posy>18</posy>
                                <width>64</width>
                                <height>64</height>
                                <texture>$INFO[ListItem.Icon]</texture>
                            </control>
                        </control>
                        <control type="group">
                            <visible>!Control.HasFocus(800)</visible>
                            <control type="image">
                                <posx>0</posx>
                                <posy>0</posy>
                                <width>960</width>
                                <height>100</height>
                                <texture border="8">listselect_fo.png</texture>
                            </control>
                            <control type="label">
                                <posy>0</posy>
                                <posx>0</posx>
                                <width>860</width>
                                <height>100</height>
                                <font>Medium_Caps3</font>
                                <info>ListItem.Label</info>
                                <textcolor>White2</textcolor>
                                <textoffsetx>30</textoffsetx>
                            </control>
                            <control type="image">
                                <posx>860</posx>
                                <posy>18</posy>
                                <width>64</width>
                                <height>64</height>
                                <texture>$INFO[ListItem.Icon]</texture>
                                <colordiffuse>White2</colordiffuse>
                            </control>
                        </control>
                    </focusedlayout>
                    <content>
                        <item id="1">
                            <label>$LOCALIZE[480]</label>
                            <label2>31401</label2>
                            <icon>icons/display.png</icon>
                            <onclick>ActivateWindow(appearancesettings)</onclick>
                        </item>
                        <item id="2">
                            <label>$LOCALIZE[157]</label>
                            <label2>31402</label2>
                            <icon>icons/video.png</icon>
                            <onclick>ActivateWindow(videossettings)</onclick>
                        </item>
                        <item id="3">
                            <label>$LOCALIZE[2]</label>
                            <label2>31403</label2>
                            <icon>icons/music.png</icon>
                            <onclick>ActivateWindow(musicsettings)</onclick>
                        </item>
                        <item id="4">
                            <label>$LOCALIZE[1]</label>
                            <label2>31404</label2>
                            <icon>icons/camera.png</icon>
                            <onclick>ActivateWindow(picturessettings)</onclick>
                        </item>
                        <item id="5">
                            <label>$LOCALIZE[8]</label>
                            <label2>31405</label2>
                            <icon>icons/weather.png</icon>
                            <onclick>ActivateWindow(weathersettings)</onclick>
                        </item>
                        <item id="6">
                            <label>$LOCALIZE[14036]</label>
                            <label2>31406</label2>
                            <icon>icons/services.png</icon>
                            <onclick>ActivateWindow(servicesettings)</onclick>
                        </item>
                        <item id="7">
                            <label>$LOCALIZE[13200]</label>
                            <label2>31407</label2>
                            <icon>icons/profiles.png</icon>
                            <onclick>ActivateWindow(profiles)</onclick>
                        </item>
                        <item id="8">
                            <label>$LOCALIZE[10003]</label>
                            <label2>31408</label2>
                            <icon>icons/filemanager.png</icon>
                            <onclick>ActivateWindow(filemanager)</onclick>
                        </item>
                        <item id="9">
                            <label>$LOCALIZE[130]</label>
                            <label2>31409</label2>
                            <icon>icons/info.png</icon>
                            <onclick>activatewindow(systeminfo)</onclick>
                        </item>
                        <item id="10">
                            <label>$LOCALIZE[13000]</label>
                            <label2>31410</label2>
                            <icon>icons/system.png</icon>
                            <onclick>ActivateWindow(systemsettings)</onclick>
                        </item>
                    </content>
                </control>
            </control>
            <control type="group">
                <posx>960</posx>
                <posy>72</posy>
                <control type="image">
                    <width>960</width>
                    <height>504</height>
                    <texture border="3">dialogs/toast_back_blue.png</texture>
                </control>
                <control type="image">
                    <width>960</width>
                    <height>504</height>
                    <aspectratio>scale</aspectratio>
                    <texture>special://skin/backgrounds/default_bg.jpg</texture>
                    <bordersize>2</bordersize>
                </control>
                <control type="image">
                    <posy>504</posy>
                    <width>960</width>
                    <height>504</height>
                    <texture border="3">dialogs/toast_back_blue.png</texture>
                </control>
                <control type="textbox">
                    <description>Appearance Description</description>
                    <posx>30</posx>
                    <posy>530</posy>
                    <width>900</width>
                    <height>408</height>
                    <font>Plot</font>
                    <label>$INFO[Container(800).ListItem.Label2]</label>
                    <align>left</align>
                    <textcolor>White2</textcolor>
                </control>
            </control>
        </control>
    </controls>
</window>