<?xml version="1.0" encoding="utf-8"?>
<window id="4">
    <defaultcontrol always="true">300</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <control type="multiimage">
            <posx>0</posx>
            <posy>0</posy>
            <width>1280</width>
            <height>720</height>
            <aspectratio>scale</aspectratio>
            <imagepath background="true">special://skin/images/Default Wallpaper</imagepath>
            <info>Container(9000).ListItem.Icon</info>
            <timeperimage>8000</timeperimage>
            <randomize>true</randomize>
            <fadetime>1000</fadetime>
            <animation effect="fade" time="200">WindowOpen</animation>
            <animation effect="fade" time="200">WindowClose</animation>
        </control>
        <control type="fixedlist" id="9000">
            <itemlayout></itemlayout>
            <focusedlayout></focusedlayout>
            <content>
                <item id="1">
                    <onclick>ActivateWindow(Weather)</onclick>
                    <icon>$INFO[Skin.String(CustomMenu)]</icon>
                    <thumb>$INFO[Skin.String(CustomMenuFolder)]</thumb>
                </item>
            </content>
        </control>
        <control type="group">
            <animation effect="fade" time="200">WindowOpen</animation>
            <animation effect="fade" time="10">Windowclose</animation>
            <control type="wraplist" id="300">
                <posx>0</posx>
                <posy>206.25</posy>
                <height>625</height>
                <width>1280</width>
                <onup>157</onup>
                <ondown>161</ondown>
                <onleft>300</onleft>
                <onright>300</onright>
                <viewtype>list</viewtype>
                <orientation>horizontal</orientation>
                <focusposition>2</focusposition>
                <preloaditems>6</preloaditems>
                <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                <scrolltime tween="sine" easing="inout">200</scrolltime>
                <itemlayout width="254.88" height="750">
                    <control type="image">
                        <posx>0</posx>
                        <posy>25</posy>
                        <width>254.88</width>
                        <height>260</height>
                        <texture>3.png</texture>
                        <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>25</posy>
                        <width>254.88</width>
                        <height>260</height>
                        <texture>1.png</texture>
                        <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>25</posy>
                        <width>254.88</width>
                        <height>260</height>
                        <texture>1.png</texture>
                        <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="label">
                        <posx>127.44</posx>
                        <posy>195</posy>
                        <width>254.88</width>
                        <height>67.50</height>
                        <label>$INFO[ListItem.Label]</label>
                        <align>center</align>
                        <aligny>center</aligny>
                        <font>Home-Heading-M</font>
                        <textcolor>80ffffff</textcolor>
                        <shadowcolor>black</shadowcolor>
                    </control>
                    <control type="image">
                        <texture background="true" diffuse="mask episode.png" />
                        <posx>8.85</posx>
                        <posy>68.75</posy>
                        <width>237.18</width>
                        <height>143.75</height>
                        <info>ListItem.actualIcon</info>
                        <aspectratio>stretch</aspectratio>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="image">
                        <posx>8.85</posx>
                        <posy>68.75</posy>
                        <width>237.18</width>
                        <height>143.75</height>
                        <texture>mask episode glass.png</texture>
                        <aspectratio>stretch</aspectratio>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                </itemlayout>
                <focusedlayout width="254.88" height="750">
                    <control type="image">
                        <posx>0</posx>
                        <posy>25</posy>
                        <width>254.88</width>
                        <height>260</height>
                        <texture>3.png</texture>
                        <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>25</posy>
                        <width>254.88</width>
                        <height>260</height>
                        <texture>1.png</texture>
                        <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>25</posy>
                        <width>254.88</width>
                        <height>260</height>
                        <texture>2.png</texture>
                        <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>25</posy>
                        <width>254.88</width>
                        <height>260</height>
                        <texture>2.png</texture>
                        <colordiffuse>BBFFFFFF</colordiffuse>
                        <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="label">
                        <posx>127.44</posx>
                        <posy>195</posy>
                        <width>254.88</width>
                        <height>67.50</height>
                        <label>$INFO[ListItem.Label]</label>
                        <align>center</align>
                        <aligny>center</aligny>
                        <font>Home-Heading-M</font>
                        <animation effect="fade" time="10">Windowclose</animation>
                        <textcolor>white</textcolor>
                        <shadowcolor>black</shadowcolor>
                    </control>
                    <control type="image">
                        <texture background="true" diffuse="mask episode.png" />
                        <posx>8.85</posx>
                        <posy>68.75</posy>
                        <width>237.18</width>
                        <height>143.75</height>
                        <info>ListItem.actualIcon</info>
                        <aspectratio>stretch</aspectratio>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                    <control type="image">
                        <posx>8.85</posx>
                        <posy>68.75</posy>
                        <width>237.18</width>
                        <height>143.75</height>
                        <texture>mask episode glass.png</texture>
                        <aspectratio>stretch</aspectratio>
                        <animation effect="fade" time="10">Windowclose</animation>
                    </control>
                </focusedlayout>
                <content>
                    <item id="9">
                        <label>13200</label>
                        <label2>31033</label2>
                        <icon fallback="settings-profile-focus.png">$INFO[Skin.String(Profile Settings)]</icon>
                        <thumb fallback="settings-profile-focus.png">$INFO[Skin.String(Profile Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(34)</onclick>
                    </item>
                    <item id="10">
                        <label>24001</label>
                        <label2>31161</label2>
                        <icon fallback="settings-addons-focus.png">$INFO[Skin.String(Addon Settings)]</icon>
                        <thumb fallback="settings-addons-focus.png">$INFO[Skin.String(Addon Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(AddonBrowser)</onclick>
                    </item>
                    <item id="2">
                        <label>480</label>
                        <label2>31023</label2>
                        <icon fallback="settings-appearance-focus.png">$INFO[Skin.String(Appearance Settings)]</icon>
                        <thumb fallback="settings-appearance-focus.png">$INFO[Skin.String(Appearance Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(19)</onclick>
                    </item>
                    <item id="3">
                        <label>3</label>
                        <label2>31024</label2>
                        <icon fallback="settings-videos-focus.png">$INFO[Skin.String(Video Settings)]</icon>
                        <thumb fallback="settings-videos-focus.png">$INFO[Skin.String(Video Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(17)</onclick>
                    </item>
                    <item id="1">
                        <label>31274</label>
                        <label2>31029</label2>
                        <icon fallback="settings-Live TV-focus.png">$INFO[Skin.String(Live TV Settings)]</icon>
                        <thumb fallback="settings-Live TV-focus.png">$INFO[Skin.String(Live TV Settings)]</thumb>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                    </item>
                    <item id="4">
                        <label>2</label>
                        <label2>31025</label2>
                        <icon fallback="settings-music-focus.png">$INFO[Skin.String(Music Settings)]</icon>
                        <thumb fallback="settings-music-focus.png">$INFO[Skin.String(Music Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(15)</onclick>
                    </item>
                    <item id="5">
                        <label>1</label>
                        <label2>31026</label2>
                        <icon fallback="settings-pictures-focus.png">$INFO[Skin.String(Pictures Settings)]</icon>
                        <thumb fallback="settings-pictures-focus.png">$INFO[Skin.String(Pictures Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(12)</onclick>
                    </item>
                    <item id="6">
                        <label>8</label>
                        <label2>31030</label2>
                        <icon fallback="settings-weather-focus.png">$INFO[Skin.String(Weather Settings)]</icon>
                        <thumb fallback="settings-weather-focus.png">$INFO[Skin.String(Weather Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(14)</onclick>
                    </item>
                    <item id="7">
                        <label>14036</label>
                        <label2>31031</label2>
                        <icon fallback="settings-network-focus.png">$INFO[Skin.String(Network Settings)]</icon>
                        <thumb fallback="settings-network-focus.png">$INFO[Skin.String(Network Settings)]</thumb>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                    </item>
                    <item id="8">
                        <label>13000</label>
                        <label2>31032</label2>
                        <icon fallback="settings-system-focus.png">$INFO[Skin.String(System Settings)]</icon>
                        <thumb fallback="settings-system-focus.png">$INFO[Skin.String(System Settings)]</thumb>
                        <onclick>XBMC.ActivateWindow(16)</onclick>
                    </item>
                </content>
            </control>
        </control>
        <control type="image">
            <posx>0</posx>
            <posy>680.50</posy>
            <width>1280</width>
            <height>2</height>
            <texture>background2.png</texture>
            <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
            <animation effect="fade" time="200">WindowOpen</animation>
            <animation effect="fade" time="200">WindowClose</animation>
        </control>
        <control type="image">
            <posx>0</posx>
            <posy>682.50</posy>
            <width>1280</width>
            <height>37.50</height>
            <texture>background2.png</texture>
            <colordiffuse>BBFFFFFF</colordiffuse>
            <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
            <animation effect="fade" time="200">WindowOpen</animation>
            <animation effect="fade" time="200">WindowClose</animation>
        </control>
        <control type="label">
            <posx>0</posx>
            <posy>686.25</posy>
            <width>1280</width>
            <height>33.75</height>
            <visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
            <label>$INFO[Container(300).ListItem.Label2]</label>
            <align>center</align>
            <aligny>center</aligny>
            <font>font14-caps</font>
            <textcolor>lightblue</textcolor>
            <shadowcolor>black</shadowcolor>
            <animation effect="fade" time="200">WindowOpen</animation>
            <animation effect="fade" time="200">WindowClose</animation>
        </control>
        <include>Music-Info</include>
        <include>Time3</include>
    </controls>
</window>