<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">52</defaultcontrol>
	<controls>
		<include>FullBackground</include>
		<include>Header</include>
		<control type="group" description="Content">
			<include>OpenClose</include>
			<control type="group">
				<posx>1020</posx>
				<posy>141</posy>
				<control type="group" description="Slider">
					<include>Slider4</include>
					<animation condition="Control.HasFocus(60) + $EXP[isEnabledScrollbar]" effect="fade" start="100" end="0" time="200" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(0)" effect="slide" start="0,0" end="0,-405" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(1)" effect="slide" start="0,0" end="0,-324" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(2)" effect="slide" start="0,0" end="0,-243" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(3)" effect="slide" start="0,0" end="0,-162" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(4)" effect="slide" start="0,0" end="0,-81" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(5)" effect="slide" start="0,0" end="0,0" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(6)" effect="slide" start="0,0" end="0,81" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(7)" effect="slide" start="0,0" end="0,162" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(8)" effect="slide" start="0,0" end="0,243" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(9)" effect="slide" start="0,0" end="0,324" time="140" reversible="true">Conditional</animation>
					<animation condition="Container(52).Position(10)" effect="slide" start="0,0" end="0,405" time="140" reversible="true">Conditional</animation>
				</control>
				<control type="list" id="52">
					<posx>0</posx>
					<posy>0</posy>
					<width>802</width>
					<height>891</height>
					<onup>52</onup>
					<ondown>52</ondown>
					<onright>60</onright>
					<pagecontrol>60</pagecontrol>
					<viewtype label="_52">52</viewtype>
					<itemlayout width="802" height="81">
						<include>ArrowNF</include>
						<control type="label" description="Main Label">
							<include>52MainLabel</include>
							<label>$INFO[ListItem.Label]</label>
						</control>
					</itemlayout>
					<focusedlayout condition="!Control.HasFocus(60)" width="802" height="81">
						<include>ArrowFO</include>
						<control type="label" description="Main Label">
							<textcolor>HL</textcolor>
							<include>52MainLabelFO</include>
							<label>$INFO[ListItem.Label]</label>
						</control>
					</focusedlayout>
					<focusedlayout condition="Control.HasFocus(60)" width="802" height="81">
						<include>ArrowNF</include>
						<control type="label" description="Main Label">
							<include>52MainLabel</include>
							<label>$INFO[ListItem.Label]</label>
						</control>
					</focusedlayout>
					<content>
						<item id="0" description="Interface">
							<label>$LOCALIZE[14206]</label>
							<onclick>activatewindow(InterfaceSettings)</onclick>
						</item>
						<item id="1" description="Skin options">
							<label>$LOCALIZE[166]</label>
							<onclick>activatewindow(SkinSettings)</onclick>
						</item>
						<item id="2" description="Player">
							<label>$LOCALIZE[14200]</label>
							<onclick>activatewindow(PlayerSettings)</onclick>
						</item>
						<item id="3" description="Media">
							<label>$LOCALIZE[14211]</label>
							<onclick>activatewindow(MediaSettings)</onclick>
						</item>
						<item id="11" description="Games">
							<label>$LOCALIZE[15016]</label>
							<onclick>ActivateWindow(GameSettings)</onclick>
							<visible>System.GetBool(gamesgeneral.enable)</visible>
						</item>
						<item id="6" description="PVR">
							<label>$LOCALIZE[14204]</label>
							<onclick>activateWindow(PVRSettings)</onclick>
						</item>
						<item id="4" description="Service">
							<label>$LOCALIZE[24018]</label>
							<onclick>activatewindow(ServiceSettings)</onclick>
						</item>
						<item id="7" description="System">
							<label>$LOCALIZE[24992]</label>
							<onclick>activatewindow(SystemSettings)</onclick>
						</item>
						<item id="5" description="Addons">
							<label>24001</label>
							<onclick>activatewindow(AddonBrowser,root)</onclick>
						</item>
						<item id="8" description="Profiles">
							<label>13200</label>
							<onclick>ActivateWindow(Profiles)</onclick>
						</item>
						<item id="9" description="File manager">
							<label>10003</label>
							<onclick>ActivateWindow(filemanager)</onclick>
						</item>
						<item id="12" description="LibreELEC">
							<label>LibreELEC</label>
							<onclick>RunAddon(service.libreelec.settings)</onclick>
							<visible>System.HasAddon(service.libreelec.settings)</visible>
						</item>
						<item id="10" description="Sys Info">
							<label>$LOCALIZE[138]</label>
							<onclick>activatewindow(systeminfo)</onclick>
						</item>
					</content>
				</control>
			</control>
			<control type="group" description="Left panel">
				<posy>-30</posy>
				<control type="image" description="Settings icons">
					<animation effect="fade" time="100">VisibleChange</animation>
					<posx>306</posx>
					<posy>210</posy>
					<width>420</width>
					<height>420</height>
					<aspectratio align="center" aligny="bottom">keep</aspectratio>
					<texture colordiffuse="$VAR[IconColor]" background="true">$VAR[SettingsIcon]</texture>
					<bordertexture border="12">img/ThumbBorder.png</bordertexture>
					<bordersize>9</bordersize>
				</control>
			</control>
			<control type="group" description="Items description">
				<posx>165</posx>
				<posy>630</posy>
				<control type="label" description="Interface settings">
					<visible>Container(52).HasFocus(0)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[22080] $LOCALIZE[166]. $LOCALIZE[14090]. $LOCALIZE[14081]. $LOCALIZE[24008]</label>
				</control>
				<control type="label" description="Skin settings">
					<visible>Container(52).HasFocus(1)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[20077]. $LOCALIZE[33063]. $LOCALIZE[111].</label>
				</control>
				<control type="label" description="Player settings">
					<visible>Container(52).HasFocus(2)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[14022]. $LOCALIZE[14086]. $LOCALIZE[14081]. $LOCALIZE[24012]. $LOCALIZE[14087]</label>
				</control>
				<control type="label" description="Media settings">
					<visible>Container(52).HasFocus(3)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[21359] $LOCALIZE[21364]. $LOCALIZE[21365].</label>
				</control>
				<control type="label" description="Service settings">
					<visible>Container(52).HasFocus(4)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[14036]. $LOCALIZE[1200]. $LOCALIZE[798].</label>
				</control>
				<control type="label" description="Add-ons">
					<visible>Container(52).HasFocus(5)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[24033]. $LOCALIZE[24022]. $LOCALIZE[24021]. $LOCALIZE[24034]. $LOCALIZE[25000].</label>
				</control>
				<control type="label" description="PVR settings">
					<visible>Container(52).HasFocus(6)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[19069]. $LOCALIZE[264]. $LOCALIZE[14095]. $LOCALIZE[19259].</label>
				</control>
				<control type="label" description="System settings">
					<visible>Container(52).HasFocus(7)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[21373]. $LOCALIZE[337]. $LOCALIZE[14094]. $LOCALIZE[14095]. $LOCALIZE[14092]. $LOCALIZE[20100].</label>
				</control>
				<control type="label" description="Profiles">
					<visible>Container(52).HasFocus(8)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[20096]. $LOCALIZE[20100]. $LOCALIZE[20115].</label>
				</control>
				<control type="label" description="File manager">
					<visible>Container(52).HasFocus(9)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[744]. $LOCALIZE[115]. $LOCALIZE[116]. $LOCALIZE[117]. $LOCALIZE[118].</label>
				</control>
				<control type="label" description="System info">
					<visible>Container(52).HasFocus(10)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[154]. $LOCALIZE[705]. $LOCALIZE[1212]. $LOCALIZE[13281].</label>
				</control>
				<control type="label" description="Games">
					<visible>Container(52).HasFocus(11)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[35203]. $LOCALIZE[35253]. </label>
				</control>
				<control type="label" description="Games">
					<visible>Container(52).HasFocus(12)</visible>
					<width>660</width>
					<height>225</height>
					<font>size22</font>
					<wrapmultiline>true</wrapmultiline>
					<scroll>false</scroll>
					<aligny>top</aligny>
					<align>center</align>
					<label>$LOCALIZE[13283] [LOWERCASE]$LOCALIZE[705], $LOCALIZE[14303] $LOCALIZE[1397] $LOCALIZE[24018] $LOCALIZE[10507].[/LOWERCASE]</label>
				</control>
			</control>
		</control>
		<control type="scrollbar" id="60">
			<right>35</right>
			<top>138</top>
			<height>896</height>
			<onright>noop</onright>
			<onleft>52</onleft>   
			<animation condition="!Control.HasFocus(60) + !$EXP[isEnabledScrollbar]" 
				effect="fade" start="100" end="0" time="200" reversible="true">Conditional</animation>
			<visible>$EXP[isEnabledScrollbar]</visible>
		</control>
	</controls>
</window>
