<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<controls>
		<include>CommonBackground</include>
		<include>Clock</include>
		<include>CommonNowPlaying</include>
		<!--breadcrumbs-->
		<include content="DynamicLeftBreadcrumb">
			<param name="breadcrumb1-label" value="$LOCALIZE[5]" />
		</include>
		<!--main content-->
		<control type="group">
			<centerleft>50%</centerleft>
			<centertop>50%</centertop>
			<width>1390</width>
			<height>783</height>
			<animation effect="slide" start="0,1512" end="0,0" time="400" tween="quadratic" easing="out" condition="!Window.Previous(SettingsCategory.xml) + !Window.Previous(SkinSettings.xml)">WindowOpen</animation>
			<animation effect="slide" start="0,0" end="0,1512" time="400" tween="quadratic" easing="out" condition="!Window.Next(SettingsCategory.xml) + !Window.Next(SkinSettings.xml)">WindowClose</animation>
			<animation effect="slide" start="-2015,0" end="0,0" time="400" tween="quadratic" easing="out" condition="Window.Previous(SettingsCategory.xml) | Window.Previous(SkinSettings.xml)">WindowOpen</animation>
			<animation effect="slide" start="0,0" end="-2015,0" time="400" tween="quadratic" easing="out" condition="Window.Next(SettingsCategory.xml) | Window.Next(SkinSettings.xml)">WindowClose</animation>
			<!--title bars and backgrounds-->
			<include content="DynamicDialogBackground">
				<param name="dialog-width" value="1390" />
				<param name="dialog-height" value="783" />
				<param name="glow-width" value="1470" />
				<param name="glow-height" value="863" />
				<param name="sidebar-visible" value="true" />
				<param name="background-visible" value="true" />
			</include>
			<!--close window button-->
			<control type="button">
				<left>5</left>
				<width>50</width>
				<height>25</height>
				<label>-</label>
				<font>-</font>
				<onclick>PreviousMenu</onclick>
				<texturefocus>DialogCloseButton-focus.png</texturefocus>
				<texturenofocus>DialogCloseButton.png</texturenofocus>
				<onleft>9000</onleft>
				<onright>9000</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<visible>system.getbool(input.enablemouse)</visible>
			</control>
			<!--title-->
			<control type="label">
				<left>45</left>
				<top>25</top>
				<width>1545</width>
				<height>60</height>
				<font>info.title</font>
				<align>left</align>
				<aligny>center</aligny>
				<textcolor>white</textcolor>
				<label>$LOCALIZE[31000] $LOCALIZE[5]</label>
			</control>
			<!--content list-->
			<control type="list" id="9000">
				<left>10</left>
				<top>120</top>
				<width>390</width>
				<height>650</height>
				<onleft>9000</onleft>
				<onright>9001</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>-</pagecontrol>
				<scrolltime>300</scrolltime>
				<itemlayout height="65" width="355">
					<control type="label">
						<left>15</left>
						<top>0</top>
						<width>325</width>
						<height>60</height>
						<font>button</font>
						<textcolor>white</textcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="65" width="355">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>355</width>
						<height>60</height>
						<texture colordiffuse="white">backgrounds/white.png</texture>
					</control>
					<control type="label">
						<left>15</left>
						<top>0</top>
						<width>325</width>
						<height>60</height>
						<font>button</font>
						<textcolor>$VAR[Colour.900]</textcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>14201</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>-</icon>
					</item>
					<item>
						<label>14205</label>
						<label2>31409</label2>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>-</icon>
					</item>
					<item>
						<label>14212</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>-</icon>
					</item>
					<item>
						<label>24001</label>
						<label2>31408</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>-</icon>
					</item>
					<item>
						<label>14036</label>
						<label2>31410</label2>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item>
						<label>14207</label>
						<label2>31400</label2>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item>
						<label>14209</label>
						<label2>31406</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>-</icon>
					</item>
					<item>
						<label>166</label>
						<label2>-</label2>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<icon>-</icon>
					</item>
				</content>
			</control>
			<!--setting description-->
			<control type="textbox">
				<left>395</left>
				<top>210r</top>
				<width>965</width>
				<height>198</height>
				<font>label</font>
				<label>$INFO[Container(9000).ListItem.Label2]</label>
				<align>justify</align>
				<textcolor>white</textcolor>
			</control>
		</control>
		<include>BehindDialogFadeOut</include>
	</controls>
</window>