<?xml version="1.0" encoding="utf-8"?>
<window>
	<defaultcontrol>2</defaultcontrol>
	<controls>
		<include condition="!Skin.HasSetting(HideVideoBackgrounds)">CommonVideoPlayingBackground</include>
		<control type="multiimage">
			<left>0</left>
			<top>0</top>
			<width>1920</width>
			<height>1080</height>
			<imagepath fallback="special://skin/backgrounds/background-settings.jpg" background="true">$INFO[Skin.String(Custom_Back_Settings_Folder)]</imagepath>
			<aspectratio>scale</aspectratio>
			<timeperimage>5000</timeperimage>
			<randomize>true</randomize>
			<fadetime>2000</fadetime>
			<include condition="Skin.HasSetting(AnimateBackgrounds)">backgroundanimation</include>
			<visible>![Player.HasVideo + !Skin.HasSetting(HideVideoBackgrounds)]</visible>
		</control>
		<include condition="!Skin.HasSetting(HideVisBackgrounds)">CommonVisualizationBackground</include>
		<control type="group">
			<include>ContentFade</include>
			<control type="group">
				<include>Window_OpenClose_Animation</include>
				<control type="image">
					<left>300</left>
					<top>68</top>
					<width>1320</width>
					<height>98</height>
					<texture diffuse="underlay5-diffuse.png" border="0,10,0,10">underlay4.png</texture>
				</control>
				<control type="label">
					<left>360</left>
					<top>90</top>
					<width>1200</width>
					<height>52</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>[B]$LOCALIZE[31158][/B]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-35</font>
				</control>
			</control>
			<control type="group">
				<include>Window_OpenClose_Settings_Bottom_Animation</include>
				<control type="image">
					<left>360</left>
					<top>960</top>
					<width>1200</width>
					<height>150</height>
					<texture diffuse="underlay-diffuse.png" border="0,10,0,10">underlay4.png</texture>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31159]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(2)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31160]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(3)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31161]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(4)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31164]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(5)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31165]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(6)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31164]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(7)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31165]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(8)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31166]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(9)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31167]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(10)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31168]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(11)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31169]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(12)</visible>
				</control>
				<control type="label">
					<left>60</left>
					<top>981</top>
					<width>1800</width>
					<height>90</height>
					<align>center</align>
					<aligny>center</aligny>
					<label>$LOCALIZE[31170]</label>
					<textcolor>white</textcolor>
					<shadowcolor>black</shadowcolor>
					<font>font-20</font>
					<include>VisibleFadeEffect</include>
					<visible>Control.HasFocus(13)</visible>
				</control>
			</control>
			<control type="image">
				<left>0</left>
				<top>172</top>
				<width>1920</width>
				<height>780</height>
				<texture diffuse="underlay-diffuse.png" border="0,10,0,10">underlay.png</texture>
				<include>Window_OpenClose_Animation</include>
			</control>
			<control type="group" id="8000">
				<left>0</left>
				<top>202</top>
				<control type="group">
					<left>120</left>
					<top>0</top>
					<animation effect="slide" start="652,240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(2)">
						<effect type="slide" start="0,0" end="652,240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(2)">
						<effect type="slide" start="0,0" end="652,240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-videos.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(2)">Conditional</animation>
					</control>
					<control type="button" id="2">
						<description>Player push button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[14200][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>13</onleft>
						<onright>3</onright>
						<onup>10</onup>
						<ondown>6</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>555</left>
					<top>0</top>
					<animation effect="slide" start="218,240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(3)">
						<effect type="slide" start="0,0" end="218,240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(3)">
						<effect type="slide" start="0,0" end="218,240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-tv.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(3)">Conditional</animation>
					</control>
					<control type="button" id="3">
						<description>TV push button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[19020][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>2</onleft>
						<onright>4</onright>
						<onup>11</onup>
						<ondown>11</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>990</left>
					<top>0</top>
					<animation effect="slide" start="-218,240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(4)">
						<effect type="slide" start="0,0" end="-218,240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(4)">
						<effect type="slide" start="0,0" end="-218,240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-music.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(4)">Conditional</animation>
					</control>
					<control type="button" id="4">
						<description>Library push button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[14211][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>3</onleft>
						<onright>5</onright>
						<onup>12</onup>
						<ondown>12</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>1425</left>
					<top>0</top>
					<animation effect="slide" start="-652,240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(5)">
						<effect type="slide" start="0,0" end="-652,240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(5)">
						<effect type="slide" start="0,0" end="-652,240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-settings.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(5)">Conditional</animation>
					</control>
					<control type="button" id="5">
						<description>System push button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[13000][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>4</onleft>
						<onright>6</onright>
						<onup>13</onup>
						<ondown>9</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>120</left>
					<top>240</top>
					<animation effect="slide" start="652,0" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(6)">
						<effect type="slide" start="0,0" end="652,0" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(6)">
						<effect type="slide" start="0,0" end="652,0" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-network.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(6)">Conditional</animation>
					</control>
					<control type="button" id="6">
						<description>Services push button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[14036][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>5</onleft>
						<onright>9</onright>
						<onup>2</onup>
						<ondown>10</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>1425</left>
					<top>240</top>
					<animation effect="slide" start="-652,0" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(9)">
						<effect type="slide" start="0,0" end="-652,0" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(9)">
						<effect type="slide" start="0,0" end="-652,0" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-login.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(9)">Conditional</animation>
					</control>
					<control type="button" id="9">
						<description>Profiles push button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[13200][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(Profiles)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>6</onleft>
						<onright>10</onright>
						<onup>5</onup>
						<ondown>13</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>120</left>
					<top>480</top>
					<animation effect="slide" start="652,-240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(10)">
						<effect type="slide" start="0,0" end="652,-240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(10)">
						<effect type="slide" start="0,0" end="652,-240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-appearance.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(10)">Conditional</animation>
					</control>
					<control type="button" id="10">
						<description>Interface button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[14206][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>9</onleft>
						<onright>11</onright>
						<onup>6</onup>
						<ondown>2</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>555</left>
					<top>480</top>
					<animation effect="slide" start="218,-240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(11)">
						<effect type="slide" start="0,0" end="218,-240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(11)">
						<effect type="slide" start="0,0" end="218,-240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-skin.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(11)">Conditional</animation>
					</control>
					<control type="button" id="11">
						<description>Skin button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[20077][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>10</onleft>
						<onright>12</onright>
						<onup>3</onup>
						<ondown>3</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>990</left>
					<top>480</top>
					<animation effect="slide" start="-218,-240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(12)">
						<effect type="slide" start="0,0" end="-218,-240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(12)">
						<effect type="slide" start="0,0" end="-218,-240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-addons.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(12)">Conditional</animation>
					</control>
					<control type="button" id="12">
						<description>Addon button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[24001][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>11</onleft>
						<onright>13</onright>
						<onup>4</onup>
						<ondown>4</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
				<control type="group">
					<left>1425</left>
					<top>480</top>
					<animation effect="slide" start="-652,-240" end="0,0" time="400" tween="quadratic" easing="out">WindowOpen</animation>
					<animation type="WindowClose" condition="!Control.HasFocus(13)">
						<effect type="slide" start="0,0" end="-652,-240" time="400" tween="quadratic" easing="in" />
						<effect type="fade" start="100" end="0" time="400" />
					</animation>
					<animation type="WindowClose" condition="Control.HasFocus(13)">
						<effect type="slide" start="0,0" end="-652,-240" time="400" tween="quadratic" easing="in" />
					</animation>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<texture border="25">settings-button-back.png</texture>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
					<control type="image">
						<left>22</left>
						<top>22</top>
						<width>331</width>
						<height>194</height>
						<texture diffuse="settings-button-diffuse.png">settings-systeminfo.jpg</texture>
						<animation effect="zoom" start="22,22,331,194" end="15,15,345,208" time="200" center="auto" condition="Control.HasFocus(13)">Conditional</animation>
					</control>
					<control type="button" id="13">
						<description>System Info button</description>
						<left>0</left>
						<top>0</top>
						<width>375</width>
						<height>238</height>
						<label>[UPPERCASE][B]$LOCALIZE[130][/B][/UPPERCASE]</label>
						<align>center</align>
						<aligny>bottom</aligny>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<focusedcolor>blue</focusedcolor>
						<font>font-25c</font>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<texturefocus border="25">settings-button-focus.png</texturefocus>
						<texturenofocus border="25">settings-button-nofocus.png</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>171</textoffsety>
						<onleft>12</onleft>
						<onright>2</onright>
						<onup>9</onup>
						<ondown>5</ondown>
						<animation effect="fade" start="0" end="100" time="200">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="200" delay="200">WindowClose</animation>
					</control>
				</control>
			</control>
		</control>
		<control type="group">
			<include>ContentFade</include>
			<include>Window_OpenClose_Header_Animation</include>
			<control type="image">
				<left>0</left>
				<top>0</top>
				<width>1920</width>
				<height>82</height>
				<texture border="1">Header.png</texture>
			</control>
			<control type="grouplist">
				<include>Breadcrumbs</include>
				<include>Breadcrumbs-Settings</include>
			</control>
		</control>
		<include condition="Skin.HasSetting(TouchScreenMode)">TouchScreenControls</include>
	</controls>
</window>
