<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>0xff12161b</backgroundcolor>
	<onload>Dialog.Close(all,true)</onload>
	<defaultcontrol always="true">9000</defaultcontrol>
	<controls>
		<control type="group">
			<animation condition="Window.Previous(home)" delay="250" effect="fade" end="100" start="0" time="200">WindowOpen</animation>
			<animation condition="Window.Next(home)" effect="fade" end="0" start="100" time="0">WindowClose</animation>
			<!-- Heading / Current item / Total items -->
			<control type="grouplist">
				<left>198</left>
				<top>134</top>
				<height>80</height>
				<itemgap>10</itemgap>
				<orientation>horizontal</orientation>
				<usecontrolcoords>true</usecontrolcoords>
				<include>VisibleDelayFadeAnimation</include>
				<control type="label">
					<width>auto</width>
					<height>60</height>
					<font>Med48</font>
					<aligny>bottom</aligny>
					<textcolor>ffdadada</textcolor>
					<label>$LOCALIZE[5]  </label>
				</control>
				<control type="label">
					<top>15</top>
					<width>auto</width>
					<height>60</height>
					<font>Med32</font>
					<aligny>bottom</aligny>
					<textcolor>ffdadada</textcolor>
					<label>$INFO[Container(9000).CurrentItem]</label>
				</control>
				<control type="label">
					<top>14</top>
					<width>auto</width>
					<height>60</height>
					<font>Light36</font>
					<aligny>bottom</aligny>
					<textcolor>ff505050</textcolor>
					<label>|</label>
				</control>
				<control type="label">
					<top>15</top>
					<width>auto</width>
					<height>60</height>
					<font>Light32</font>
					<aligny>bottom</aligny>
					<textcolor>ff505050</textcolor>
					<label>$NUMBER[8]</label>
				</control>
			</control>
		</control>
		<control id="9000" type="fixedlist">
			<left>-77</left>
			<top>289</top>
			<width>3000</width>
			<height>497</height>
			<onup>PageUp</onup>
			<onup>Back</onup>
			<ondown>noop</ondown>
			<onleft>Back</onleft>
			<onright>noop</onright>
			<onback>PageUp</onback>
			<onright condition="!Window.IsVisible(1103)">SetProperty(BounceRight,1,Home)</onright>
			<focusposition>1</focusposition>
			<viewtype label="">list</viewtype>
			<orientation>horizontal</orientation>
			<scrolltime easing="inout" tween="sine">300</scrolltime>
			<animation condition="Window.IsVisible(1103)" reversible="false" type="Conditional">
				<effect easing="out" end="-20,0" start="0,0" time="60" tween="sine" type="slide"/>
				<effect delay="80" easing="out" end="20,0" start="0,0" time="120" tween="sine" type="slide"/>
			</animation>
			<animation condition="Window.Previous(home)" easing="inout" effect="slide" end="0,0" start="209,0" time="300" tween="sine">WindowOpen</animation>
			<animation condition="Window.Next(home)" easing="inout" effect="slide" end="209,0" start="0,0" time="300" tween="sine">WindowClose</animation>
			<itemlayout height="497" width="300">
				<control type="group">
					<animation center="134,240" condition="True" effect="zoom" end="84.5" start="84.5">Conditional</animation>
					<animation condition="ControlGroup(9001).HasFocus" easing="inout" effect="slide" end="49,0" reversible="true" start="0,0" time="125" tween="sine">Conditional</animation>
					<control type="image">
						<left>-24</left>
						<width>333</width>
						<height>497</height>
						<texture border="1,1,14,18">settings/settings_tile.png</texture>
					</control>
					<control type="label">
						<left>-10</left>
						<top>28</top>
						<width>276</width>
						<height>32</height>
						<font>Bold34</font>
						<textcolor>ffdadada</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<left>-13</left>
						<top>123</top>
						<width>300</width>
						<height>300</height>
						<aspectratio align="center" aligny="center">keep</aspectratio>
						<texture background="true">$INFO[ListItem.Icon]</texture>
					</control>
					<control type="image">
						<left>-24</left>
						<width>320</width>
						<height>480</height>
						<texture>views/OverlayNF.png</texture>
						<animation center="auto" condition="Window.Next(home)" easing="inout" effect="fade" end="0" start="100" time="300" tween="sine">Conditional</animation>
					</control>
				</control>
			</itemlayout>
			<focusedlayout height="497" width="300">
				<control type="button">
					<texturefocus/>
					<texturenofocus/>
					<onfocus>SetProperty(SettingsCurrentItem,$INFO[Container(9000).CurrentItem])</onfocus>
				</control>
				<control type="group">
					<animation center="134,240" condition="Window.Previous(home) | Container(9000).OnNext | Container(9000).OnPrevious" easing="inout" effect="zoom" end="100" start="84.5" time="300" tween="sine">Focus</animation>
					<animation center="134,240" condition="!Window.Next(home)" easing="inout" effect="zoom" end="84.5" start="100" time="300" tween="sine">UnFocus</animation>
					<animation condition="Window.Next(home) + String.IsEqual(Container(9000).CurrentItem,1)" reversible="false" type="Conditional">
						<effect center="134,240" easing="inout" end="84.5" start="100" time="300" tween="sine" type="zoom"/>
					</animation>
					<animation condition="Window.Next(home) + !String.IsEqual(Container(9000).CurrentItem,1)" reversible="false" type="Conditional">
						<effect center="134,240" easing="inout" end="84.5" start="100" time="0" tween="sine" type="zoom"/>
					</animation>
					<control type="image">
						<left>-24</left>
						<width>333</width>
						<height>497</height>
						<texture border="1,1,14,18">settings/settings_tile.png</texture>
					</control>
					<control type="label">
						<left>-10</left>
						<top>28</top>
						<width>276</width>
						<height>32</height>
						<font>Bold34</font>
						<textcolor>ffdadada</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="image">
						<left>-13</left>
						<top>123</top>
						<width>300</width>
						<height>300</height>
						<aspectratio align="center" aligny="center">keep</aspectratio>
						<texture background="true">$INFO[ListItem.Icon]</texture>
					</control>
					<control type="image">
						<left>-24</left>
						<width>320</width>
						<height>480</height>
						<texture>views/OverlayNF.png</texture>
						<animation center="auto" easing="inout" effect="fade" end="0" start="100" time="300" tween="sine">Focus</animation>
						<animation center="auto" easing="inout" effect="fade" end="100" start="0" time="300" tween="sine">UnFocus</animation>
					</control>
				</control>
			</focusedlayout>
			<content>
				<item>
					<onclick>ActivateWindow(interfacesettings)</onclick>
					<label>14206</label>
					<label2>$LOCALIZE[31115]</label2>
					<icon>settings/icon_appearance.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(addonbrowser,addons://)</onclick>
					<label>24001</label>
					<label2>$LOCALIZE[31116]</label2>
					<icon>settings/icon_addons.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(playersettings)</onclick>
					<label>14200</label>
					<label2>$LOCALIZE[31117]</label2>
					<icon>settings/icon_player.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(mediasettings)</onclick>
					<label>14211</label>
					<label2>$LOCALIZE[31118]</label2>
					<icon>settings/icon_library.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(gamesettings)</onclick>
					<label>15016</label>
					<label2>$LOCALIZE[31250]</label2>
					<icon>settings/icon_games.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(systemsettings)</onclick>
					<label>13000</label>
					<label2>$LOCALIZE[31121]</label2>
					<icon>settings/icon_system.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(servicesettings)</onclick>
					<label>14036</label>
					<label2>$LOCALIZE[31122]</label2>
					<icon>settings/icon_service.png</icon>
				</item>
				<item>
					<onclick>ActivateWindow(systemsettings)</onclick>
					<label>22082</label>
					<label2>$LOCALIZE[31123]</label2>
					<icon>settings/icon_more.png</icon>
				</item>
			</content>
		</control>
		<control type="label">
			<left>198</left>
			<top>786</top>
			<width>1160</width>
			<height>64</height>
			<font>Light32</font>
			<aligny>bottom</aligny>
			<textcolor>ffdadada</textcolor>
			<wrapmultiline>true</wrapmultiline>
			<label>$INFO[Container(9000).ListItem.Label2]</label>
			<animation delay="100" effect="fade" end="100" start="0" time="200">WindowOpen</animation>
			<animation effect="fade" end="0" start="100" time="0">WindowClose</animation>
		</control>
	</controls>
</window>