<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
	<defaultcontrol>9001</defaultcontrol>
	<backgroundcolor>bgcolor</backgroundcolor>
	<controls>
		<include>BackgroundItems</include>
		<control type="group">
			<include>VisibleHiddenSlideAnimation</include>
			<include>InfoDialogsVisible_ZoomAnimation</include> <!-- <visible>!Window.IsActive(1128)</visible> -->
			<control type="panel" id="9001">
				<left>45</left>
				<top>145</top>
				<width>1250</width>
				<height>460</height>
				<onleft>9001</onleft>
				<onright>9001</onright>
				<ondown>9001</ondown>
				<onup>9001</onup>
				<include>CommonViews_VerticalAnimation</include>
				<itemlayout height="230" width="245">
					<control type="image">
						<width>210</width>
						<height>200</height>
						<aspectratio align="center" aligny="center">stretch</aspectratio>
						<texture border="30">views/other/panel.png</texture>
					</control>
					<control type="image">
						<width>210</width>
						<height>200</height>
						<aspectratio align="center" aligny="center">scale</aspectratio>
						<texture background="true">$INFO[ListItem.Icon]</texture>
						<bordersize>ThumbsBorderSize</bordersize>
					</control>
				</itemlayout>
				<focusedlayout height="230" width="245">
					<control type="image">
						<width>210</width>
						<height>200</height>
						<aspectratio align="center" aligny="center">stretch</aspectratio>
						<texture border="30">views/other/panel.png</texture>
					</control>
					<control type="image">
						<width>210</width>
						<height>200</height>
						<colordiffuse>$VAR[Textures.GlobalColor]</colordiffuse>
						<aspectratio align="center" aligny="center">scale</aspectratio>
						<texture background="true">$INFO[ListItem.Icon]</texture>
						<bordersize>ThumbsBorderSize</bordersize>
					</control>
					<control type="image">
						<width>210</width>
						<height>200</height>
						<colordiffuse>$VAR[Textures.GlobalColor]</colordiffuse>
						<aspectratio align="center" aligny="center">stretch</aspectratio>
						<texture border="30">views/other/focus_panel.png</texture>
						<include>ThumbnailsFocusAnimation</include>
					</control>
				</focusedlayout>
				<content>
					<include>SettingsContent</include>
				</content>
			</control>
		</control>

		<include>CommonDialogsFadeOutBG</include>
		<include>CommonNowPlaying</include>
		<include>SettingsCategoryContentInfo</include>
		<include>SettingsWeatherAndClock</include>
	</controls>
</window>