<?xml version="1.0" encoding="utf-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <controls>
        <include>Fanart_Art</include>
        <include>Player_Show</include>
        <include>OverlayFull</include>
        <control type="group">
            <include>NowPlayingSlideEffect</include>
            <include>OpenClose</include>
            <control type="group">
                <control type="image">
                    <posx>0</posx>
                    <posy>280</posy>
                    <width>1920</width>
                    <height>800</height>
                    <texture border="51">common/background_strip_horizontal.png</texture>
                </control>
                <control type="image">
                    <posx>0</posx>
                    <posy>330</posy>
                    <width>50</width>
                    <height>700</height>
                    <texture border="1">common/background_strip_horizontal_left.png</texture>
                </control>
                <control type="image">
                    <posx>530</posx>
                    <posy>330</posy>
                    <width>480</width>
                    <height>700</height>
                    <texture border="1">common/background_strip_horizontal_right.png</texture>
                </control>
                <control type="image">
                    <posx>1870</posx>
                    <posy>330</posy>
                    <width>50</width>
                    <height>700</height>
                    <texture flipx="true" border="1">common/background_strip_horizontal_left.png</texture>
                </control>
                <control type="multiimage">
                    <posx>630</posx>
                    <posy>380</posy>
                    <width>1140</width>
                    <height>600</height>
                    <aspectratio>scale</aspectratio>
                    <fadetime>400</fadetime>
                    <imagepath background="true">$INFO[Container(9000).ListItem.Label2]</imagepath>
                </control>
                <control type="image">
                    <include>OverlayTransparency</include>
                    <posx>630</posx>
                    <posy>380</posy>
                    <width>1140</width>
                    <height>300</height>
                    <colordiffuse>$VAR[Picked.Theme.Color]</colordiffuse>
                    <texture>common/overlay_top.png</texture>
                </control>
                <control type="image">
                    <include>OverlayTransparency</include>
                    <posx>630</posx>
                    <posy>680</posy>
                    <width>1140</width>
                    <height>300</height>
                    <colordiffuse>$VAR[Picked.Theme.Color]</colordiffuse>
                    <texture>common/overlay_bottom.png</texture>
                </control>
                <control type="image">
                    <posx>630</posx>
                    <posy>780</posy>
                    <width>1140</width>
                    <height>210</height>
                    <texture border="65">common/background_strip_horizontal_text.png</texture>
                </control>
                <control type="label">
                    <posx>630</posx>
                    <posy>847</posy>
                    <height>36</height>
                    <width>1140</width>
                    <align>center</align>
                    <font>InfoTitleFont</font>
                    <textcolor>AlternateColor</textcolor>
                    <label>Chroma</label>
                </control>
                <control type="label">
                    <visible>System.HasAddon(script.skin.helper.service)</visible>
                    <posx>630</posx>
                    <posy>890</posy>
                    <height>36</height>
                    <width>1140</width>
                    <align>center</align>
                    <font>WindowTitleSubFont</font>
                    <include>TextColor_MainColor</include>
                    <label>$INFO[Window(Home).Property(SkinHelper.skinVersion)] by Tgx</label>
                </control>
            </control>
            <control type="list" id="9000">
                <posx>TextMargin</posx>
                <posy>380</posy>
                <width>480</width>
                <height>600</height>
                <onleft>60</onleft>
                <onright>9000</onright>
                <onup>9900</onup>
                <ondown>9000</ondown>
                <pagecontrol>60</pagecontrol>
                <itemlayout width="480" height="50">
                    <control type="label">
                        <posx>TextMargin</posx>
                        <height>50</height>
                        <width>380</width>
                        <font>FacadeListMainFont</font>
                        <textcolor>NoFocusedColor</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                </itemlayout>
                <focusedlayout width="480" height="50">
                    <control type="group">
                        <include>ButtonFocusAnimation</include>
                        <control type="image">
                            <posx>0</posx>
                            <posy>0</posy>
                            <height>50</height>
                            <width>480</width>
                            <colordiffuse>$VAR[Picked.Theme.Color]</colordiffuse>
                            <texture border="1">list/bg_facade_focus.png</texture>
                        </control>
                        <control type="label">
                            <posx>TextMargin</posx>
                            <height>50</height>
                            <width>380</width>
                            <font>FacadeListMainFont</font>
                            <include>TextColor_MainColor</include>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                    </control>
                </focusedlayout>
                <content>
                    <item>
                        <label>$LOCALIZE[14206]</label>
                        <onclick>ActivateWindow(InterfaceSettings)</onclick>
                        <label2>$VAR[Favourites.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[166]</label>
                        <onclick>ActivateWindow(SkinSettings)</onclick>
                        <label2>$VAR[Favourites.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[14200]</label>
                        <onclick>ActivateWindow(PlayerSettings)</onclick>
                        <label2>$VAR[Videos.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[14211]</label>
                        <onclick>ActivateWindow(MediaSettings)</onclick>
                        <label2>$VAR[Videos.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[20094]</label>
                        <onclick>ActivateWindow(1103)</onclick>
                        <label2>$VAR[Videos.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[14204]</label>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <label2>$VAR[Tv.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[14036]</label>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                        <label2>$VAR[Settings.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[13000]</label>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                        <label2>$VAR[Settings.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[138]</label>
                        <onclick>ActivateWindow(systeminfo)</onclick>
                        <label2>$VAR[Settings.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[14210]</label>
                        <onclick>ActivateWindow(Profiles)</onclick>
                        <label2>$VAR[Favourites.Art]</label2>
                    </item>
                    <item>
                        <label>$LOCALIZE[24001]</label>
                        <label2>$VAR[Addons.Art]</label2>
                        <onclick>ActivateWindow(AddonBrowser,root)</onclick>
                    </item>
                    <!--<item>-->
                    <!--<label>$LOCALIZE[8]</label>-->
                    <!--<label2>$VAR[Weather.Art]</label2>-->
                    <!--<onclick>ActivateWindow(WeatherSettings)</onclick>-->
                    <!--</item>-->
                </content>
            </control>
            <control type="scrollbar" id="60">
                <posx>480</posx>
                <posy>330</posy>
                <height>600</height>
                <include>VerticalScroller</include>
                <onleft>60</onleft>
                <onright>9000</onright>
            </control>
        </control>
        <control type="label">
            <include>WindowTitle</include>
            <label>$LOCALIZE[5]</label>
        </control>
        <control type="label">
            <include>WindowTitleSub</include>
            <label>$LOCALIZE[10008]</label>
        </control>
        <include>Header_Logo</include>
        <include>Time</include>
        <include>NowPlaying</include>
        <include>TopBar</include>
    </controls>
</window>
