<?xml version="1.0" encoding="utf-8"?>
<window>
	<defaultcontrol>8001</defaultcontrol>
	<menucontrol>9050</menucontrol>
	<controls>
		<!-- Background -->
		<include content="BackgroundDefault">
			<param name="imagepath">$VAR[SystemBackgroundVar]</param>
			<param name="animatedfanart">Skin.HasSetting(SystemAnimatedFanart)</param>
		</include>
		<!-- Floor -->
		<include content="Floor">
			<param name="visible">Skin.HasSetting(SettingsHideFloor)</param>
			<param name="animationopen">$EXP[SystemAnimationOpenCondition]</param>
			<param name="animationclose">$EXP[SystemAnimationCloseCondition]</param>
		</include>
		<!-- Panel -->
		<control type="group">
			<include>AnimationZoomWindow</include>
			<include content="PanelDefault">
				<param name="reflect">!Skin.HasSetting(SettingsHideReflect)</param>
			</include>
		</control>
		<!-- Content -->
		<control type="group">
			<include>AnimationZoomWindow</include>
			<control type="label">
				<left>90</left>
				<top>142</top>
				<include>SettingsLabel</include>
				<label>$LOCALIZE[31375]</label>
			</control>
			<control type="panel" id="8000">
				<top>201</top>
				<left>115</left>
				<right>115</right>
				<height>223</height>
				<onleft>9050</onleft>
				<onright>noop</onright>
				<include>ContainerScrollTime</include>
				<ondown condition="Container(8000).Column(0)">SetFocus(8001,0)</ondown>
				<ondown condition="Container(8000).Column(1)">SetFocus(8001,1)</ondown>
				<ondown condition="Container(8000).Column(2)">SetFocus(8001,2)</ondown>
				<ondown condition="Container(8000).Column(3)">SetFocus(8001,3)</ondown>
				<itemlayout height="223" width="422.5">
					<control type="image">
						<bordersize>10</bordersize>
						<aspectratio scalediffuse="false">scale</aspectratio>
						<texture background="true" diffuse="diffuse/rounded5-382x215.png">$INFO[ListItem.Icon]</texture>
					</control>
					<control type="image">
						<texture border="20">thumbs/overlay.png</texture>
					</control>
					<control type="image">
						<bottom>10</bottom>
						<height>60</height>
						<left>10</left>
						<width>405</width>
						<texture border="10">buttons/focus-fade.png</texture>
					</control>
					<control type="label">
						<bottom>10</bottom>
						<height>60</height>
						<align>center</align>
						<font>Font32_Reg</font>
						<label>$INFO[ListItem.Label]</label>
						<textcolor>$VAR[PanelSubTextColorVar]</textcolor>
					</control>
				</itemlayout>
				<focusedlayout height="223" width="422.5">
					<control type="image">
						<texture colordiffuse="$VAR[PanelHighlightColorVar]" border="10">buttons/thumb-select-focus.png</texture>
					</control>
					<control type="group">
						<animation type="Focus" reversible="false">
							<effect type="zoom" start="95" end="100" time="240" center="auto"/>
						</animation>
						<control type="image">
							<bordersize>10</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
							<texture background="true" diffuse="diffuse/rounded5-382x215.png">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="image">
							<texture border="20">thumbs/overlay.png</texture>
						</control>
						<control type="image">
							<bottom>10</bottom>
							<height>60</height>
							<left>10</left>
							<width>405</width>
							<texture border="10">buttons/focus-fade.png</texture>
						</control>
						<control type="label">
							<bottom>10</bottom>
							<height>60</height>
							<align>center</align>
							<font>Font32_Reg</font>
							<label>$INFO[ListItem.Label]</label>
							<textcolor>$VAR[PanelTextColorVar]</textcolor>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<label>$LOCALIZE[10003]</label>
						<onclick>ActivateWindow(filemanager)</onclick>
						<icon>special://skin/extras/backgrounds/system/filemanager.jpg</icon>
					</item>
					<item id="2">
						<label>$LOCALIZE[24001]</label>
						<onclick>ActivateWindow(addonbrowser)</onclick>
						<icon>special://skin/extras/backgrounds/system/addons.jpg</icon>
					</item>
					<item id="3">
						<label>$LOCALIZE[138]</label>
						<onclick>ActivateWindow(systeminfo)</onclick>
						<icon>special://skin/extras/backgrounds/system/sysinfo.jpg</icon>
					</item>
					<item id="4">
						<visible>![System.HasAddon(service.libreelec.settings) | System.HasAddon(service.coreelec.settings)]</visible>
						<label>$LOCALIZE[14114]</label>
						<onclick>ActivateWindow(eventlog)</onclick>
						<icon>special://skin/extras/backgrounds/system/eventlog.jpg</icon>
					</item>
					<item id="5">
						<visible>System.HasAddon(service.libreelec.settings)</visible>
						<label>LibreELEC $LOCALIZE[5]</label>
						<icon>pecial://skin/extras/backgrounds/system/libreelec.jpg</icon>
						<onclick>RunScript(service.libreelec.settings)</onclick>
					</item>
					<item id="6">
						<visible>System.HasAddon(service.coreelec.settings)</visible>
						<label>CoreELEC $LOCALIZE[5]</label>
						<icon>pecial://skin/extras/backgrounds/system/libreelec.jpg</icon>
						<onclick>RunScript(service.coreelec.settings)</onclick>
					</item>
				</content>
			</control>
			<control type="label">
				<left>90</left>
				<top>420</top>
				<include>SettingsLabel</include>
				<label>$LOCALIZE[5]</label>
			</control>
			<control type="panel" id="8001">
				<top>479</top>
				<left>115</left>
				<right>115</right>
				<height>446</height>
				<onleft>9050</onleft>
				<onright>60</onright>
				<include>ContainerScrollTime</include>
				<onup condition="Container(8001).Column(0)">SetFocus(8000,0)</onup>
				<onup condition="Container(8001).Column(1)">SetFocus(8000,1)</onup>
				<onup condition="Container(8001).Column(2)">SetFocus(8000,2)</onup>
				<onup condition="Container(8001).Column(3)">SetFocus(8000,3)</onup>
				<pagecontrol>60</pagecontrol>
				<itemlayout height="223" width="422.5">
					<control type="image">
						<bordersize>10</bordersize>
						<aspectratio scalediffuse="false">scale</aspectratio>
						<texture background="true" diffuse="diffuse/rounded5-382x215.png">$INFO[ListItem.Icon]</texture>
					</control>
					<control type="image">
						<bottom>10</bottom>
						<height>60</height>
						<left>10</left>
						<width>405</width>
						<texture border="10">buttons/focus-fade.png</texture>
					</control>
					<control type="image">
						<texture border="20">thumbs/overlay.png</texture>
					</control>
					<control type="label">
						<bottom>10</bottom>
						<height>60</height>
						<align>center</align>
						<font>Font32_Reg</font>
						<label>$INFO[ListItem.Label]</label>
						<textcolor>$VAR[PanelSubTextColorVar]</textcolor>
					</control>
				</itemlayout>
				<focusedlayout height="223" width="422.5">
					<control type="image">
						<texture colordiffuse="$VAR[PanelHighlightColorVar]" border="10">buttons/thumb-select-focus.png</texture>
					</control>
					<control type="group">
						<animation type="Focus" reversible="false">
							<effect type="zoom" start="95" end="100" time="240" center="auto"/>
						</animation>
						<control type="image">
							<bordersize>10</bordersize>
							<aspectratio scalediffuse="false">scale</aspectratio>
							<texture background="true" diffuse="diffuse/rounded5-382x215.png">$INFO[ListItem.Icon]</texture>
						</control>
						<control type="image">
							<bottom>10</bottom>
							<height>60</height>
							<left>10</left>
							<width>405</width>
							<texture border="10">buttons/focus-fade.png</texture>
						</control>
						<control type="image">
							<texture border="20">thumbs/overlay.png</texture>
						</control>
						<control type="label">
							<bottom>10</bottom>
							<height>60</height>
							<align>center</align>
							<font>Font32_Reg</font>
							<label>$INFO[ListItem.Label]</label>
							<textcolor>$VAR[PanelTextColorVar]</textcolor>
						</control>
					</control>
				</focusedlayout>
				<content>
					<!-- <item id="1">
						<label>$LOCALIZE[20077]</label>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/skinsettings.jpg</icon>
					</item> -->
					<item id="2">
						<label>$LOCALIZE[14207]</label>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/interface.jpg</icon>
					</item>
					<item id="3">
						<label>$LOCALIZE[14212]</label>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/media.jpg</icon>
					</item>
					<item id="4">
						<label>$LOCALIZE[14201]</label>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/player.jpg</icon>
					</item>
					<item id="5">
						<label>$LOCALIZE[14209]</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/system.jpg</icon>
					</item>
					<item id="6">
						<label>$LOCALIZE[14208]</label>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/network.jpg</icon>
					</item>
					<item id="7">
						<label>$LOCALIZE[14205]</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/livetv.jpg</icon>
					</item>
					<item id="8">
						<label>$LOCALIZE[14210]</label>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>special://skin/extras/backgrounds/system/profiles.jpg</icon>
					</item>
					<item id="9">
						<visible>System.GetBool(gamesgeneral.enable)</visible>
						<label>$LOCALIZE[15016]</label>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>special://skin/extras/backgrounds/system/games.jpg</icon>
					</item>
				</content>
			</control>
			<control type="scrollbar" id="60">
				<top>464</top>
				<right>80</right>
				<bottom>140</bottom>
				<onleft>8001</onleft>
			</control>
		</control>
		<!-- Topbar -->
		<include content="TopBar">
			<param name="visible">!Skin.HasSetting(SettingsHideTopBar)</param>
			<param name="icon">settings.png</param>
			<param name="label">$LOCALIZE[13000]</param>
			<param name="animationopen">$EXP[SystemAnimationOpenCondition]</param>
			<param name="animationclose">$EXP[SystemAnimationCloseCondition]</param>
		</include>
		<!-- Media Menu -->
		<include content="MediaMenu">
			<param name="contentvisible">true</param>
			<param name="commontopvisible">false</param>
			<param name="content">MediaMenuSystem</param>
			<param name="navigationid">8001</param>
		</include>
	</controls>
</window>