<window>
    <defaultcontrol always="true">8999</defaultcontrol>
    <allowoverlay>no</allowoverlay>
    <controls>
        <include>HomeMainMenuInitialSetup</include>
        <control type="image">
            <include>Dimensions_Fullscreen</include>
            <texture background="true">special://skin/backgrounds/homescreen/settings.jpg</texture>
            <include>BackgroundFade</include>
            <fadetime>FanartCrossfadeTime</fadetime>
            <include>Window_OpenClose_Animation</include>
            <visible>!Skin.HasSetting(InitialSetUpRun)</visible>
        </control>
        <include condition="Skin.HasSetting(InitialSetUpRun)">CommonBackground</include>
        <include>MediaContentBackground</include>
        <control type="image">
            <include>Dimensions_Fullscreen</include>
            <aspectratio>stretch</aspectratio>
            <texture>black-back.png</texture>
        </control>
        <control type="group">
            <posx>90</posx>
            <posy>30</posy>
            <animation type="WindowOpen" reversible="false">
                <effect type="zoom" start="80" end="100" center="640,360" easing="out" tween="back" time="300" />
                <effect type="fade" start="0" end="100" time="300" />
            </animation>
            <animation type="WindowClose" reversible="false">
                <effect type="zoom" start="100" end="80" center="640,360" easing="in" tween="back" time="300" />
                <effect type="fade" start="100" end="0" time="300" />
            </animation>
            <control type="label">
                <posx>190</posx>
                <posy>5</posy>
                <width>900</width>
                <height>35</height>
                <font>font30_title</font>
                <textcolor>MainLabel</textcolor>
                <scroll>true</scroll>
                <align>center</align>
                <aligny>center</aligny>
                <include>Window_OpenClose_Animation</include>
                <label>[UPPERCASE]$INFO[Container(9000).ListItem.Label2][/UPPERCASE]</label>
            </control>
            <control type="label">
                <posx>190</posx>
                <posy>50</posy>
                <width>900</width>
                <height>20</height>
                <font>font12_title</font>
                <textcolor>grey2</textcolor>
                <wrapmultiline>true</wrapmultiline>
                <scroll>false</scroll>
                <align>center</align>
                <aligny>center</aligny>
                <include>Window_OpenClose_Animation</include>
                <label>$INFO[Container(9000).ListItem.Property(Desc)]</label>
            </control>
            <control type="button" id="61">
                <description>Back push button</description>
                <posx>100r</posx>
                <posy>50r</posy>
                <width>45</width>
                <height>45</height>
                <label>1036</label>
                <font>-</font>
                <aligny>-</aligny>
                <onclick>back</onclick>
                <texturefocus border="5">floorbackFO.png</texturefocus>
                <texturenofocus border="5">floorbackNF.png</texturenofocus>
                <onleft>9000</onleft>
                <onright>62</onright>
                <onup>9000</onup>
                <ondown>9000</ondown>
            </control>
            <control type="button" id="62">
                <description>Home push button</description>
                <posx>55r</posx>
                <posy>50r</posy>
                <width>45</width>
                <height>45</height>
                <label>31003</label>
                <font>-</font>
                <aligny>-</aligny>
                <onclick>ActivateWindow(home)</onclick>
                <texturefocus border="5">floorhomeFO.png</texturefocus>
                <texturenofocus border="5">floorhomeNF.png</texturenofocus>
                <onleft>61</onleft>
                <onright>9000</onright>
                <onup>9000</onup>
                <ondown>9000</ondown>
            </control>
            <control type="list" id="9000">
                <posx>-20</posx>
                <posy>120</posy>
                <width>430</width>
                <height>600</height>
                <onleft>62</onleft>
                <onright>61</onright>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <pagecontrol>-</pagecontrol>
                <scrolltime>300</scrolltime>
                <animation effect="fade" start="0" end="100" time="200">Visible</animation>
                <itemlayout height="42" width="380">
                    <control type="label">
                        <posx>380</posx>
                        <posy>21</posy>
                        <width>380</width>
                        <height>40</height>
                        <font>font45_title</font>
                        <textcolor>grey3</textcolor>
                        <align>right</align>
                        <aligny>center</aligny>
                        <label>$INFO[ListItem.Label]</label>
                        <animation effect="zoom" start="65" end="65" center="380,51" time="0" condition="true">Conditional</animation>
                    </control>
                </itemlayout>
                <focusedlayout height="62" width="430">
                    <control type="label">
                        <posy>21</posy>
                        <posx>380</posx>
                        <width>400</width>
                        <height>62</height>
                        <font>font45_title</font>
                        <textcolor>white</textcolor>
                        <align>right</align>
                        <aligny>center</aligny>
                        <label>$INFO[ListItem.Label]</label>
`						<animation effect="zoom" start="65" end="125" center="380,51" time="200">Focus</animation><animation effect="zoom" start="125" end="65" center="380,51" time="200">UnFocus</animation></control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>480</label>
                        <label2>$LOCALIZE[31450]</label2>
                        <property name="Desc">$LOCALIZE[31460]</property>
                        <onclick>ActivateWindow(AppearanceSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/system.jpg</icon>
                    </item>
                    <item id="2">
                        <label>157</label>
                        <label2>$LOCALIZE[31451]</label2>
                        <property name="Desc">$LOCALIZE[31461]</property>
                        <onclick>ActivateWindow(VideosSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/movies.jpg</icon>
                    </item>
                    <item id="3">
                        <label>31502</label>
                        <label2>$LOCALIZE[31458]</label2>
                        <property name="Desc">$LOCALIZE[31468]</property>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/tv.jpg</icon>
                    </item>
                    <item id="4">
                        <label>2</label>
                        <label2>$LOCALIZE[31452]</label2>
                        <property name="Desc">$LOCALIZE[31462]</property>
                        <onclick>ActivateWindow(MusicSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/music.jpg</icon>
                    </item>
                    <item id="5">
                        <label>1</label>
                        <label2>$LOCALIZE[31453]</label2>
                        <property name="Desc">$LOCALIZE[31463]</property>
                        <onclick>ActivateWindow(PicturesSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/pictures.jpg</icon>
                    </item>
                    <item id="6">
                        <label>8</label>
                        <label2>$LOCALIZE[31454]</label2>
                        <property name="Desc">$LOCALIZE[31464]</property>
                        <onclick>ActivateWindow(WeatherSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/weather.jpg</icon>
                    </item>
                    <item id="7">
                        <label>24001</label>
                        <label2>$LOCALIZE[31457]</label2>
                        <property name="Desc">$LOCALIZE[31467]</property>
                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                        <icon>special://skin/backgrounds/homescreen/addons.jpg</icon>
                    </item>
                    <item id="8">
                        <label>14036</label>
                        <label2>$LOCALIZE[31459]</label2>
                        <property name="Desc">$LOCALIZE[31469]</property>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/network.jpg</icon>
                    </item>
                    <item id="9">
                        <label>13000</label>
                        <label2>$LOCALIZE[31455]</label2>
                        <property name="Desc">$LOCALIZE[31465]</property>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/settings.jpg</icon>
                        <icon>-</icon>
                    </item>
                    <item id="10">
                        <label>166</label>
                        <label2>$LOCALIZE[31456]</label2>
                        <property name="Desc">$LOCALIZE[31466]</property>
                        <onclick>ActivateWindow(SkinSettings)</onclick>
                        <icon>special://skin/backgrounds/homescreen/skin.jpg</icon>
                    </item>
                </content>
            </control>
            <control type="image">
                <posx>527</posx>
                <posy>195</posy>
                <width>586</width>
                <height>346</height>
                <aspectratio>stretch</aspectratio>
                <include>BackgroundFade</include>
                <fadetime>FanartCrossfadeTime</fadetime>
                <texture background="true" diffuse="AddonCaseMask.png">$INFO[Container(9000).ListItem.ActualIcon]</texture>
            </control>
            <control type="image">
                <posx>500</posx>
                <posy>180</posy>
                <width>640</width>
                <height>390</height>
                <aspectratio>stretch</aspectratio>
                <include>BackgroundFade</include>
                <fadetime>FanartCrossfadeTime</fadetime>
                <texture background="true">AddonCase.png</texture>
            </control>
        </control>
        <include>BehindDialogFadeOut</include>
        <control type="image">
            <description>LOGO</description>
            <posx>10</posx>
            <posy>80r</posy>
            <width>220</width>
            <height>80</height>
            <aspectratio>keep</aspectratio>
            <texture>SkinLogo/Hybrid_Logo.png</texture>
            <animation effect="slide" end="0,100" time="500" tween="back" easing="out" condition="Window.IsVisible(infodialog) | Window.IsVisible(volumebar)" reversible="true">Conditional</animation>
        </control>
        <include>Clock</include>
    </controls>
</window>