<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonSettingsBackground</include>
		<control type="group">
			<posx>90</posx>
			<posy>50</posy>
			<animation effect="fade" time="200" condition="Window.Previous(Home)">WindowOpen</animation>
			<animation effect="fade" time="300" condition="Window.Next(Home)">WindowClose</animation>
			<control type="image">
				<posx>0</posx>
				<posy>0</posy>
				<width>1100</width>
				<height>640</height>
				<texture border="20">Dialogback.png</texture>
			</control>
		</control>
		<control type="group">
			<posx>90</posx>
			<posy>50</posy>
			<animation effect="fade" time="200">WindowOpen</animation>
			<animation effect="fade" time="300">WindowClose</animation>
			<control type="list" id="9000">
				<posx>10</posx>
				<posy>40</posy>
				<width>260</width>
				<height>559</height>
				<onleft>9000</onleft>
				<onright>9001</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>-</pagecontrol>
				<scrolltime>300</scrolltime>
				<itemlayout height="62" width="260">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>260</width>
						<height>63</height>
						<texture border="5">MenuItemNF.png</texture>
					</control>
					<control type="label">
						<posx>250</posx>
						<posy>5</posy>
						<width>380</width>
						<height>30</height>
						<font>font24caps_title</font>
						<textcolor>grey3</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="label">
						<posx>250</posx>
						<posy>35</posy>
						<width>870</width>
						<height>20</height>
						<font>font13caps</font>
						<textcolor>grey2</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>5</label>
					</control>
				</itemlayout>
				<focusedlayout height="62" width="260">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>260</width>
						<height>63</height>
						<texture border="5">MenuItemFO.png</texture>
					</control>
					<control type="label">
						<posx>250</posx>
						<posy>5</posy>
						<width>380</width>
						<height>30</height>
						<font>font24caps_title</font>
						<textcolor>white</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="label">
						<posx>250</posx>
						<posy>35</posy>
						<width>870</width>
						<height>20</height>
						<font>font13caps</font>
						<textcolor>grey2</textcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>5</label>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<label2>31400</label2>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>special://skin/backgrounds/appearance.jpg</icon>
					</item>
					<item id="2">
						<label>157</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>special://skin/backgrounds/videos.jpg</icon>
					</item>
					<item id="3">
						<label>2</label>
						<label2>31402</label2>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>special://skin/backgrounds/music.jpg</icon>
					</item>
					<item id="4">
						<label>31304</label>
						<label2>31403</label2>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>special://skin/backgrounds/pictures.jpg</icon>
					</item>
					<item id="5">
						<label>8</label>
						<label2>31404</label2>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>special://skin/backgrounds/weather.jpg</icon>
					</item>
					<item id="6">
						<label>24001</label>
						<label2>31408</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>special://skin/backgrounds/addons.jpg</icon>
					</item>
					<item id="7">
						<label>705</label>
						<label2>31405</label2>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<icon>special://skin/backgrounds/network.jpg</icon>
					</item>
					<item id="8">
						<label>13000</label>
						<label2>31406</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>special://skin/backgrounds/system.jpg</icon>
					</item>
					<item id="9">
						<label>166</label>
						<label2>31407</label2>
						<onclick>ActivateWindow(1111)</onclick>
						<icon>special://skin/backgrounds/skinsetting.jpg</icon>
					</item>
				</content>
			</control>
			<control type="image">
				<posx>268</posx>
				<posy>10</posy>
				<width>804</width>
				<height>50</height>
				<texture border="5">black-back2.png</texture>
			</control>
			<control type="image">
				<posx>268</posx>
				<posy>10</posy>
				<width>804</width>
				<height>70</height>
				<aspectratio>stretch</aspectratio>
				<texture>GlassTitleBar.png</texture>
			</control>
			<control type="label">
				<description>header label</description>
				<posx>300</posx>
				<posy>20</posy>
				<width>740</width>
				<height>30</height>
				<font>font16caps</font>
				<label>$LOCALIZE[31005] $LOCALIZE[13000]</label>
				<align>left</align>
				<aligny>center</aligny>
				<textcolor>white</textcolor>
				<shadowcolor>black</shadowcolor>
			</control>
			<control type="image">
				<posx>270</posx>
				<posy>60</posy>
				<width>800</width>
				<height>450</height>
				<texture border="5">button-nofocus.png</texture>
			</control>
			<control type="image">
				<posx>272</posx>
				<posy>62</posy>
				<width>796</width>
				<height>446</height>
				<aspectratio>stretch</aspectratio>
				<fadetime>600</fadetime>
				<texture background="true">$INFO[Container(9000).ListItem.Icon]</texture>
			</control>
			<control type="image">
				<posx>272</posx>
				<posy>62</posy>
				<width>600</width>
				<height>340</height>
				<aspectratio>stretch</aspectratio>
				<texture>GlassOverlay.png</texture>
				<colordiffuse>AAFFFFFF</colordiffuse>
			</control>
			<control type="image">
				<posx>272</posx>
				<posy>62</posy>
				<width>796</width>
				<height>446</height>
				<aspectratio>stretch</aspectratio>
				<colordiffuse>99FFFFFF</colordiffuse>
				<texture border="5">black-back.png</texture>
			</control>
			<control type="image">
				<posx>268</posx>
				<posy>510</posy>
				<width>804</width>
				<height>118</height>
				<texture border="5">black-back2.png</texture>
			</control>
			<control type="textbox">
				<description>Appearance Description</description>
				<posx>300</posx>
				<posy>520</posy>
				<width>740</width>
				<height>100</height>
				<font>font12caps</font>
				<label>$INFO[Container(9000).ListItem.Label2]</label>
				<align>left</align>
				<textcolor>white</textcolor>
				<shadowcolor>black</shadowcolor>
			</control>
		</control>
		<include>BehindDialogFadeOut</include>
		<control type="image">
			<posx>-820</posx>
			<posy>0</posy>
			<width>846</width>
			<height>720</height>
			<texture>HomeBlade.png</texture>
		</control>
		<control type="image">
			<posx>26r</posx>
			<posy>0</posy>
			<width>846</width>
			<height>720</height>
			<texture flipx="true">HomeBlade.png</texture>
		</control>
		<include>Clock</include>
	</controls>
</window>