<?xml version="1.0" encoding="UTF-8"?>
<window>
  <defaultcontrol always="true">9001</defaultcontrol>
  <backgroundcolor>0</backgroundcolor>
  <controls>
    <include>DefaultBackground</include>
    <include>Time</include>
    <control type="group" description="Content">
      <animation effect="fade" time="250" condition="!Window.Previous(SettingsCategory.xml)">WindowOpen</animation>
      <animation effect="fade" time="250" condition="!Window.Next(SettingsCategory.xml)">WindowClose</animation>
      <control type="image">
        <left>60</left>
        <top>60</top>
        <width>1439</width>
        <height>980</height>
        <texture border="45">dialogs/TinyDialog.png</texture>
      </control>
      <control type="image">
        <left>1509</left>
        <top>60</top>
        <width>372</width>
        <height>980</height>
        <texture border="45">dialogs/TinyDialog.png</texture>
      </control>
      <control type="label" description="Kodi settings">
        <posx>90</posx>
        <posy>90</posy>
        <width>1380</width>
        <height>72</height>
        <align>center</align>
        <label>$LOCALIZE[5] - $LOCALIZE[31022]</label>
        <font>InfoTitle</font>
        <textcolor>Highlight</textcolor>
      </control>
      <control type="grouplist" id="500">
        <visible>!Container(9000).HasFocus(4)</visible>
        <posx>1534</posx>
        <posy>210</posy>
        <width>321</width>
        <height>600</height>
        <onup>500</onup>
        <ondown>500</ondown>
        <onleft>9001</onleft>
        <control type="button" id="509" description="Addons">
          <font>ListDetails</font>
          <width>321</width>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <label>$LOCALIZE[24001]</label>
          <onclick>ActivateWindow(AddonBrowser,root)</onclick>
        </control>
        <control type="button" id="501" description="System information">
          <font>ListDetails</font>
          <width>321</width>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <label>$LOCALIZE[138]</label>
          <onclick>activatewindow(systeminfo)</onclick>
        </control>
        <control type="button" id="502" description="Weather">
          <font>ListDetails</font>
          <width>321</width>
          <label>$LOCALIZE[8]</label>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <onclick>ActivateWindow(servicesettings,weather)</onclick>
        </control>
        <control type="button" id="503" description="Profiles">
          <font>ListDetails</font>
          <width>321</width>
          <label>$LOCALIZE[14210]</label>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <onclick>ActivateWindow(Profiles)</onclick>
        </control>
        <control type="button" id="504" description="File manager">
          <font>ListDetails</font>
          <width>321</width>
          <label>$LOCALIZE[10003]</label>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <onclick>ActivateWindow(filemanager)</onclick>
        </control>
          <control type="button" id="505" description="Events">
          <font>ListDetails</font>
          <width>321</width>
          <label>$LOCALIZE[14111]</label>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <onclick>ActivateWindow(EventLog,events://,return)</onclick>
          <visible>system.getbool(eventlog.enabled)</visible>
        </control>
        <control type="button" id="506" description="Launch OSMC settings">
          <font>ListDetails</font>
          <width>321</width>
          <label>$LOCALIZE[31294]</label>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <onclick>RunScript(service.osmc.settings)</onclick>
          <visible>System.HasAddon(service.osmc.settings)</visible>
        </control>
        <control type="button" id="507" description="Launch OpenELEC settings">
          <font>ListDetails</font>
          <width>321</width>
          <label>$LOCALIZE[31295]</label>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <onclick>RunScript(service.openelec.settings)</onclick>
          <visible>System.HasAddon(service.openelec.settings)</visible>
        </control>
        <control type="button" id="508" description="Launch LibreELEC settings">
          <font>ListDetails</font>
          <width>321</width>
          <label>$LOCALIZE[31296]</label>
          <texturenofocus border="3">buttons/ButtonNF.png</texturenofocus>
          <onclick>RunScript(service.libreelec.settings)</onclick>
          <visible>System.HasAddon(service.libreelec.settings)</visible>
        </control>
      </control>
      <control type="panel" id="9001">
        <onright>500</onright>
        <onleft>500</onleft>
        <onup>9001</onup>
        <ondown>9001</ondown>
        <pagecontrol></pagecontrol>
        <posx>90</posx>
        <posy>210</posy>
        <width>1380</width>
        <height>780</height>
        <onleft>9000</onleft>
        <scrolltime>280</scrolltime>
        <itemlayout width="1380" height="60">
          <control type="image">
            <height>60</height>
            <width>1380</width>
            <texture border="3">buttons/ButtonNF.png</texture>
          </control>
          <control type="label" description="Main Label">
            <height>60</height>
            <width>1380</width>
            <scroll>false</scroll>
            <label>$INFO[ListItem.Label]</label>
            <align>center</align>
          </control>
        </itemlayout>
        <focusedlayout width="1380" height="60">
          <control type="image">
            <height>60</height>
            <width>1380</width>
            <texture border="4" colordiffuse="Highlight">img/WhiteRoundedST2.png</texture>
          </control>
          <control type="label" description="Main Label">
            <height>60</height>
            <width>1380</width>
            <textcolor>Black</textcolor>
            <shadowcolor></shadowcolor>
            <align>center</align>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </focusedlayout>
        <content>
          <item id="2" description="Interface">
            <label>$LOCALIZE[14207]</label>
            <onclick>activatewindow(InterfaceSettings)</onclick>
          </item>
          <item>
            <label>$LOCALIZE[20077]</label>
            <onclick>ActivateWindow(SkinSettings)</onclick>
            <icon>icons/settings/skin.png</icon>
          </item>
          <item id="3" description="Player">
            <label>$LOCALIZE[14201]</label>
            <onclick>activatewindow(PlayerSettings)</onclick>
          </item>
          <item id="4" description="Library">
            <label>$LOCALIZE[14212]</label>
            <onclick>activatewindow(MediaSettings)</onclick>
          </item>
          <item id="11" description="PVR">
            <label>$LOCALIZE[14205]</label>
            <onclick>activateWindow(PVRSettings)</onclick>
          </item>
          <item id="8" description="Service">
            <label>$LOCALIZE[14208]</label>
            <onclick>activatewindow(ServiceSettings)</onclick>
          </item>
          <item id="9" description="System">
            <label>$LOCALIZE[14209]</label>
            <onclick>activatewindow(SystemSettings)</onclick>
          </item>
          <item id="7" description="Plexbmc config">
            <visible>System.HasAddon(plugin.video.plexbmc)</visible>
            <label>$LOCALIZE[31007]</label>
            <onclick>RunScript(plugin.video.plexbmc,setting)</onclick>
          </item>
        </content>
      </control>
    </control>
    <control type="scrollbar" id="63">
      <visible>Control.IsVisible(9003)</visible>
      <posx>1518</posx>
      <posy>210</posy>
      <width>36</width>
      <height>780</height>
      <texturesliderbackground></texturesliderbackground>
      <texturesliderbar></texturesliderbar>
      <texturesliderbarfocus></texturesliderbarfocus>
      <textureslidernib border="18">OSD/ScrollbarNibNF.png</textureslidernib>
      <textureslidernibfocus border="18">OSD/ScrollbarNibFO.png</textureslidernibfocus>
      <showonepage>false</showonepage>
      <orientation>vertical</orientation>
      <onleft>9003</onleft>
      <onright>500</onright>
    </control>
    <control type="group" description="Holiday theme">
      <visible>Skin.HasSetting(holiday)</visible>
      <include>Holiday</include>
    </control>
  </controls>
</window>
