<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<menucontrol>9051</menucontrol>
	<onload>ClearProperty(MediaMenu,Home)</onload>
	<controls>
		<control type="image">
			<include>FullscreenDimensions</include>
			<texture background="true">blackk.jpg</texture>
			<animation type="WindowClose" reversible="false">
				<effect type="fade" start="100" end="0" time="500" tween="cubic" easing="in"/>
			</animation>
		</control>
		<include>CommonBackground</include>
		<control type="list" id="5384">
			<visible>Skin.HasSetting(melodyForHome)</visible>
			<scrolltime>350</scrolltime>
			<autoscroll>true</autoscroll>
			<itemlayout>
			</itemlayout>
			<focusedlayout>
			</focusedlayout>
			<content>$INFO[Skin.String(melodyPlaylist)]</content>
		</control>
		<control type="group" id="50">
			<top>178</top>
			<left>0</left>
			<control type="image">
				<animation effect="fade" end="85" condition="true">Conditional</animation>
				<left>-100</left>
				<top>-200</top>
				<width>2200</width>
				<height>1300</height>
				<aspectratio align="center">stretch</aspectratio>
				<texture background="true">black.png</texture>
			</control>
			<control type="panel" id="9000">
				<left>100</left>
				<top>-10</top>
				<width>1740</width>
				<height>900</height>
				<scrolltime tween="quadratic">300</scrolltime>
				<orientation>vertical</orientation>
				<itemlayout height="150" width="570">
					<control type="image">
						<left>10</left>
						<top>10</top>
						<width>550</width>
						<height>140</height>
						<aspectratio align="center">stretch</aspectratio>
						<texture border="20">dialogs/default/bg2.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Tajo)</visible>
						<left>-15</left>
						<top>-25</top>
						<width>250</width>
						<height>125</height>
						<aspectratio>keep</aspectratio>
						<texture>aeon-tajo2.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Tajo)</visible>
						<colordiffuse>Skin.String(flat_back)</colordiffuse>
						<left>-15</left>
						<top>-25</top>
						<width>250</width>
						<height>125</height>
						<aspectratio>keep</aspectratio>
						<texture>aeon-tajo3.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Interface)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultAddonSkin.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Player)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultAddonInputstream.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),LiveTV)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultTVShows.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Media)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultVideo.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Games)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultAddonGame.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Profiles)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultUser.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Services)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultAddonWebSkin.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),System)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultAddonProgram.png</texture>
					</control>
					<control type="image">
						<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Info)</visible>
						<left>13</left>
						<top>13</top>
						<width>134</width>
						<height>134</height>
						<aspectratio>keep</aspectratio>
						<colordiffuse>grey2</colordiffuse>
						<texture>DefaultAddonInfoProvider.png</texture>
					</control>
					<control type="textbox">
						<animation effect="slide" end="0,-5" time="0" condition="!String.IsEqual(Container(9000).ListItem.Property(numby),Tajo)">Conditional</animation>
						<top>18</top>
						<left>150</left>
						<width>363</width>
						<height>130</height>
						<font>font30s</font>
						<textcolor>grey2</textcolor>
						<shadowcolor>black</shadowcolor>
						<selectedcolor>Skin.String(theme_text)</selectedcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>[B]$INFO[ListItem.Label][/B]</label>
					</control>
				</itemlayout>
				<focusedlayout height="150" width="570">
					<control type="group">
						<animation type="Focus" reversible="false">
							<effect type="zoom" center="auto" start="100" end="105" time="250" tween="sine"/>
						</animation>
						<animation type="UnFocus" reversible="false">
							<effect type="zoom" center="auto" start="105" end="100" time="150" tween="sine"/>
						</animation>
						<control type="image">
							<left>0</left>
							<top>1</top>
							<width>570</width>
							<height>159</height>
							<texture diffuse="tajo/mask_cover3.png">tajo/white.jpg</texture>
							<colordiffuse>Skin.String(flat_back)</colordiffuse>
							<aspectratio align="center">stretch</aspectratio>
						</control>
						<control type="image">
							<left>10</left>
							<top>10</top>
							<width>550</width>
							<height>140</height>
							<aspectratio align="center">stretch</aspectratio>
							<texture background="true">black.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Tajo)</visible>
							<left>-15</left>
							<top>-25</top>
							<width>250</width>
							<height>125</height>
							<aspectratio>keep</aspectratio>
							<texture>aeon-tajo2.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Tajo)</visible>
							<colordiffuse>Skin.String(flat_back)</colordiffuse>
							<left>-15</left>
							<top>-25</top>
							<width>250</width>
							<height>125</height>
							<aspectratio>keep</aspectratio>
							<texture>aeon-tajo3.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Interface)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultAddonSkin.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Player)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultAddonInputstream.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),LiveTV)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultTVShows.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Media)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultVideo.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Games)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultAddonGame.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Profiles)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultUser.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Services)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultAddonWebSkin.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),System)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultAddonProgram.png</texture>
						</control>
						<control type="image">
							<visible>String.IsEqual(Container(9000).ListItem.Property(numby),Info)</visible>
							<left>13</left>
							<top>13</top>
							<width>134</width>
							<height>134</height>
							<aspectratio>keep</aspectratio>
							<texture>DefaultAddonInfoProvider.png</texture>
						</control>
						<control type="textbox">
							<animation effect="slide" end="0,-5" time="0" condition="!String.IsEqual(Container(9000).ListItem.Property(numby),Tajo)">Conditional</animation>
							<top>18</top>
							<left>150</left>
							<width>363</width>
							<height>130</height>
							<font>font30s</font>
							<textcolor>white</textcolor>
							<shadowcolor>black</shadowcolor>
							<selectedcolor>Skin.String(theme_text)</selectedcolor>
							<align>left</align>
							<aligny>center</aligny>
							<label>[B]$INFO[ListItem.Label][/B]</label>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>31965</label>
						<property name="description">31966</property>
						<property name="numby">Tajo</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(1169)</onclick>
						<icon/>
					</item>
					<item>
						<label>31969</label>
						<property name="description">31970</property>
						<property name="numby">Tajo</property>
						<onclick>ActivateWindow(10035)</onclick>
						<icon/>
					</item>
					<item>
						<label>31967</label>
						<property name="description">31968</property>
						<property name="numby">Tajo</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled) + System.Platform.Windows + System.HasAddon(script.cu.lrclyrics) + !System.AddonIsEnabled(script.cu.lrclyrics)">RunScript(script.embuary.helper,action=toggleaddons,addonid=script.cu.lrclyrics,enable=true)</onclick>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(1170)</onclick>
						<icon/>
					</item>
					<item>
						<label>14206</label>
						<property name="description">31400</property>
						<property name="numby">Interface</property>
						<onclick condition="System.Platform.Windows + System.HasAddon(script.cu.lrclyrics) + !System.AddonIsEnabled(script.cu.lrclyrics)">RunScript(script.embuary.helper,action=toggleaddons,addonid=script.cu.lrclyrics,enable=true)</onclick>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(InterfaceSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>14200</label>
						<property name="description">31414</property>
						<property name="numby">Player</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(PlayerSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>31502</label>
						<property name="description">31409</property>
						<property name="numby">LiveTV</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(PVRSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>14211</label>
						<property name="description">31415</property>
						<property name="numby">Media</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(MediaSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<property name="description">32075</property>
						<property name="numby">Games</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(GameSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>13200</label>
						<property name="description">31407</property>
						<property name="numby">Profiles</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(Profiles)</onclick>
						<icon/>
					</item>
					<item>
						<label>14036</label>
						<property name="description">31410</property>
						<property name="numby">Services</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(ServiceSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>13000</label>
						<property name="description">31406</property>
						<property name="numby">System</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(SystemSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>10511</label>
						<property name="description">31405</property>
						<property name="numby">Info</property>
						<onclick condition="!Skin.HasSetting(Kiosk.Enabled)">ActivateWindow(SystemInfo)</onclick>
						<icon/>
					</item>
				</content>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>125</left>
				<top>-200</top>
				<width>512</width>
				<height>200</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo2.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>125</left>
				<top>-200</top>
				<width>512</width>
				<height>200</height>
				<aspectratio>keep</aspectratio>
				<colordiffuse>Skin.String(flat_back)</colordiffuse>
				<texture>aeon-tajo3.png</texture>
			</control>
			<control type="textbox">
				<description>description area</description>
				<left>130</left>
				<top>590</top>
				<width>1656</width>
				<height>290</height>
				<align>center</align>
				<aligny>center</aligny>
				<font>fontmusic</font>
				<textcolor>grey2</textcolor>
				<autoscroll time="3000" delay="4000" repeat="5000">true</autoscroll>
				<label>$INFO[Container(9000).ListItem.Property(description)]</label>
				<animation effect="fade" start="0" end="100" time="300" tween="sine" easing="inout">Visible</animation>
				<animation effect="fade" start="100" end="0" time="0" tween="sine" easing="inout">Hidden</animation>
			</control>
		</control>
		<control type="group">
			<left>-440</left>
			<include>SideBladeLeft</include>
			<control type="grouplist" id="9050">
				<include>NoMediaMenu</include>
			</control>
		</control>
	</controls>
</window>