<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<menucontrol>9051</menucontrol>
	<onload>ClearProperty(MediaMenu,Home)</onload>
	<controls>
		<control type="image">
			<include>FullscreenDimensions</include>
			<texture background="true">blackk.jpg</texture>
			<animation type="WindowClose" reversible="false">
				<effect type="fade" start="100" end="0" time="500" tween="cubic" easing="in"/>
			</animation>
		</control>
		<include>CommonBackground</include>
		<control type="list" id="5384">
			<visible>Skin.HasSetting(melodyForHome)</visible>
			<scrolltime>350</scrolltime>
			<autoscroll>true</autoscroll>
			<itemlayout>
			</itemlayout>
			<focusedlayout>
			</focusedlayout>
			<content>$INFO[Skin.String(melodyPlaylist)]</content>
		</control>
		<control type="group" id="50">
			<top>178</top>
			<left>0</left>
			<control type="image">
				<animation effect="fade" end="85" condition="true">Conditional</animation>
				<left>-100</left>
				<top>-200</top>
				<width>2200</width>
				<height>1300</height>
				<aspectratio align="center">stretch</aspectratio>
				<texture background="true">black.png</texture>
			</control>
			<control type="image">
				<left>90</left>
				<top>-22</top>
				<width>1726</width>
				<height>3</height>
				<colordiffuse>white</colordiffuse>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<left>90</left>
				<top>576</top>
				<width>1726</width>
				<height>3</height>
				<colordiffuse>white</colordiffuse>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<left>90</left>
				<top>127</top>
				<width>1726</width>
				<height>3</height>
				<colordiffuse>white</colordiffuse>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<left>90</left>
				<top>276</top>
				<width>1726</width>
				<height>3</height>
				<colordiffuse>white</colordiffuse>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<left>90</left>
				<top>425</top>
				<width>1726</width>
				<height>3</height>
				<colordiffuse>white</colordiffuse>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<animation effect="rotate" center="auto" start="90" end="90" condition="true">Conditional</animation>
				<left>-200</left>
				<top>280</top>
				<width>600</width>
				<height>3</height>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<animation effect="rotate" center="auto" start="90" end="90" condition="true">Conditional</animation>
				<left>1506</left>
				<top>280</top>
				<width>600</width>
				<height>3</height>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<animation effect="rotate" center="auto" start="90" end="90" condition="true">Conditional</animation>
				<left>368</left>
				<top>280</top>
				<width>600</width>
				<height>3</height>
				<texture>tajo/line.png</texture>
			</control>
			<control type="image">
				<animation effect="rotate" center="auto" start="90" end="90" condition="true">Conditional</animation>
				<left>937</left>
				<top>280</top>
				<width>600</width>
				<height>3</height>
				<texture>tajo/line.png</texture>
			</control>
			<control type="group">
				<animation effect="fade" delay="500" start="0" end="100" time="50">WindowOpen</animation>
				<animation effect="slide" end="0,149" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,2)">Conditional</animation>
				<animation effect="slide" end="0,149" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,1)">Conditional</animation>
				<animation effect="slide" end="0,149" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,0)">Conditional</animation>
				<animation effect="slide" end="569,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Column,1)">Conditional</animation>
				<animation effect="slide" end="569,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Column,0)">Conditional</animation>
				<control type="image">
					<visible>Control.IsVisible(9000)</visible>
					<left>100</left>
					<top>-20</top>
					<width>568</width>
					<height>148</height>
					<texture diffuse="tajo/mask_cover3.png">listselect_fo.png</texture>
					<colordiffuse>Skin.String(flat_back)</colordiffuse>
					<aspectratio align="center">stretch</aspectratio>
				</control>
			</control>
			<control type="panel" id="9000">
				<left>100</left>
				<top>-10</top>
				<width>1740</width>
				<height>900</height>
				<scrolltime tween="quadratic">300</scrolltime>
				<orientation>vertical</orientation>
				<itemlayout height="150" width="570">
					<control type="label">
						<width>568</width>
						<height>133</height>
						<font>font30t</font>
						<textoffsetx>20</textoffsetx>
						<textcolor>grey2</textcolor>
						<shadowcolor>black</shadowcolor>
						<selectedcolor>Skin.String(theme_text)</selectedcolor>
						<align>center</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="150" width="570">
					<control type="label">
						<width>568</width>
						<height>133</height>
						<font>font30t</font>
						<textoffsetx>20</textoffsetx>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<selectedcolor>Skin.String(theme_text)</selectedcolor>
						<align>center</align>
						<aligny>center</aligny>
						<label>[B]$INFO[Container(9000).ListItem.Label][/B]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>31965</label>
						<property name="description">31966</property>
						<onclick>ActivateWindow(1169)</onclick>
						<icon/>
					</item>
					<item>
						<label>31969</label>
						<property name="description">31970</property>
						<onclick>ActivateWindow(10035)</onclick>
						<icon/>
					</item>
					<item>
						<label>31967</label>
						<property name="description">31968</property>
						<onclick condition="System.Platform.Windows + System.HasAddon(script.cu.lrclyrics) + !System.AddonIsEnabled(script.cu.lrclyrics)">RunScript(script.embuary.helper,action=toggleaddons,addonid=script.cu.lrclyrics,enable=true)</onclick>
						<onclick>ActivateWindow(1170)</onclick>
						<icon/>
					</item>
					<item>
						<label>14206</label>
						<property name="description">31400</property>
						<onclick condition="System.Platform.Windows + System.HasAddon(script.cu.lrclyrics) + !System.AddonIsEnabled(script.cu.lrclyrics)">RunScript(script.embuary.helper,action=toggleaddons,addonid=script.cu.lrclyrics,enable=true)</onclick>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>14200</label>
						<property name="description">31414</property>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>31502</label>
						<property name="description">31409</property>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>14211</label>
						<property name="description">31415</property>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>13200</label>
						<property name="description">31407</property>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon/>
					</item>
					<item>
						<label>14036</label>
						<property name="description">31410</property>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>13000</label>
						<property name="description">31406</property>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon/>
					</item>
					<item>
						<label>10511</label>
						<property name="description">31405</property>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon/>
					</item>
				</content>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>125</left>
				<top>-200</top>
				<width>512</width>
				<height>200</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo2.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>125</left>
				<top>-200</top>
				<width>512</width>
				<height>200</height>
				<aspectratio>keep</aspectratio>
				<colordiffuse>Skin.String(flat_back)</colordiffuse>
				<texture>aeon-tajo3.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>60</left>
				<top>-55</top>
				<width>250</width>
				<height>125</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo2.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>630</left>
				<top>-55</top>
				<width>250</width>
				<height>125</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo2.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>1200</left>
				<top>-55</top>
				<width>250</width>
				<height>125</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo2.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<colordiffuse>Skin.String(flat_back)</colordiffuse>
				<left>60</left>
				<top>-55</top>
				<width>250</width>
				<height>125</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo3.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<colordiffuse>Skin.String(flat_back)</colordiffuse>
				<left>630</left>
				<top>-55</top>
				<width>250</width>
				<height>125</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo3.png</texture>
			</control>
			<control type="image">
				<description>LOGO</description>
				<colordiffuse>Skin.String(flat_back)</colordiffuse>
				<left>1200</left>
				<top>-55</top>
				<width>250</width>
				<height>125</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-tajo3.png</texture>
			</control>
			<control type="textbox">
				<description>description area</description>
				<left>130</left>
				<top>590</top>
				<width>1656</width>
				<height>290</height>
				<align>center</align>
				<aligny>center</aligny>
				<font>fontmusic</font>
				<textcolor>grey2</textcolor>
				<autoscroll time="3000" delay="4000" repeat="5000">true</autoscroll>
				<label>$INFO[Container(9000).ListItem.Property(description)]</label>
				<animation effect="fade" start="0" end="100" time="300" tween="sine" easing="inout">Visible</animation>
				<animation effect="fade" start="100" end="0" time="0" tween="sine" easing="inout">Hidden</animation>
			</control>
		</control>
		<control type="group">
			<left>-440</left>
			<include>SideBladeLeft</include>
			<control type="grouplist" id="9050">
				<include>NoMediaMenu</include>
			</control>
		</control>
	</controls>
</window>