<window>
	<id>4</id>
	<defaultcontrol always="true">300</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>

		<control>
			<description>Background</description>
			<type>image</type>
			<posx>0</posx>
			<posy>0</posy>
			<width>720</width>
			<height>576</height>
			<texture>settings.jpg</texture>
			<animation effect="fade" start="0" end="100"  time="200">WindowOpen</animation>
			<animation effect="fade" start="100" end="0" time="200">WindowClose</animation>
		</control>

		<control>
			<description>Background</description>
			<type>image</type>
			<posx>0</posx>
			<posy>546</posy>
			<width>720</width>
			<height>30</height>
			<texture>Black.png</texture>
			<animation effect="fade" start="0" end="100"  time="200">WindowOpen</animation>
			<animation effect="fade" start="100" end="0" time="200">WindowClose</animation>
		</control>

		<control>
			<description>Panel Image</description>
			<type>image</type>
			<posx>0</posx>
			<posy>0</posy>
			<width>720</width>
			<height>576</height>
			<texture>Dark Mask.png</texture>
			<animation effect="fade" start="100" end="0" time="200">WindowClose</animation>
		</control>




		<control type="group">

			<animation effect="fade" time="10">Windowclose</animation>

			<control type="wraplist" id="300">
				<posx>0</posx>
				<posy>165</posy>
				<height>500</height>
				<width>720</width>
				<onup>157</onup>
				<ondown>161</ondown>
				<onleft>300</onleft>
				<onright>300</onright>
				<viewtype>list</viewtype>
				<orientation>horizontal</orientation>
				<focusposition>2</focusposition>
				<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
				<scrolltime>200</scrolltime>

				<itemlayout width="144" height="600">

					<control type="image">
						<posx>0</posx>
						<posy>29</posy>
						<width>144</width>
						<height>190</height>
						<texture>3.png</texture>
						<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>

					<control type="image">
						<posx>0</posx>
						<posy>29</posy>
						<width>144</width>
						<height>190</height>
						<texture>1.png</texture>
						<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>

					<control type="image">
						<posx>0</posx>
						<posy>168</posy>
						<width>144</width>
						<height>32</height>
						<texture>homebutton-horizontal-nofocus.png</texture>
						<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>		


					<control type="label">
						<posx>72</posx>
						<posy>152</posy>
						<width>144</width>
						<height>55</height>
						<label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
						<align>center</align>
						<aligny>center</aligny>
						<font>Heading-M</font>
						<textcolor>99ffffff</textcolor>
					</control>

					<control type="image">
						<posx>5</posx>
						<posy>60</posy>
						<width>134</width>
						<height>105</height>
						<texture diffuse="mask.png"/>
						<info>ListItem.actualIcon</info>
						<aspectratio>stretch</aspectratio>
						<colordiffuse>99FFFFFF</colordiffuse>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>




				</itemlayout>

				<focusedlayout width="144" height="600">

					<control type="image">
						<posx>0</posx>
						<posy>29</posy>
						<width>144</width>
						<height>190</height>
						<texture>3.png</texture>
						<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>

					<control type="image">
						<posx>0</posx>
						<posy>29</posy>
						<width>144</width>
						<height>190</height>
						<texture>2.png</texture>
						<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>

					<control type="image">
						<posx>0</posx>
						<posy>168</posy>
						<width>139</width>
						<height>32</height>
						<texture>homebutton-horizontal-nofocus.png</texture>
						<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>		


					<control type="label">
						<posx>72</posx>
						<posy>152</posy>
						<width>144</width>
						<height>55</height>
						<label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
						<align>center</align>
						<aligny>center</aligny>
						<font>Heading-M</font>
						<shadowcolor>00000000</shadowcolor>
						<animation effect="fade" time="10">Windowclose</animation>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
					</control>

					<control type="image">
						<posx>5</posx>
						<posy>60</posy>
						<width>134</width>
						<height>105</height>
						<texture diffuse="mask.png"/>
						<info>ListItem.actualIcon</info>
						<aspectratio>stretch</aspectratio>
						<animation effect="fade" time="10">Windowclose</animation>
					</control>




				</focusedlayout>


				<content>
					<item id="1">
						<label>482</label>
						<label2>31034</label2>
						<icon>settings-AboutXBMC-focus.png</icon>
						<thumb>settings-AboutXBMC-focus.png</thumb>
						<onclick>XBMC.Credits()</onclick>
						<visible>system.platform.xbox</visible>
					</item>


					<item id="2">
						<include>20125</include>
						<label2>31029</label2>
						<icon>settings-more-focus.png</icon>
						<thumb>settings-more-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(56)</onclick>
					</item>

					<item id="3">
						<label>480</label>
						<label2>31023</label2>
						<icon>settings-appearance-focus.png</icon>
						<thumb>settings-appearance-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(19)</onclick>
					</item>

					<item id="4">
						<label>3</label>
						<label2>31024</label2>
						<icon>settings-videos-focus.png</icon>
						<thumb>settings-videos-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(17)</onclick>
					</item>


					<item id="5">

						<label>2</label>
						<label2>31025</label2>
						<icon>settings-music-focus.png</icon>
						<thumb>settings-music-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(15)</onclick>
					</item>

					<item id="6">
						<label>1</label>
						<label2>31026</label2>
						<icon>settings-pictures-focus.png</icon>
						<thumb>settings-pictures-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(12)</onclick>
					</item>

					<item id="7">
						<label>8</label>
						<label2>31030</label2>
						<icon>settings-weather-focus.png</icon>
						<thumb>settings-weather-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(14)</onclick>
					</item>	

					<item id="8">
						<label>705</label>
						<label2>31031</label2>
						<icon>settings-network-focus.png</icon>
						<thumb>settings-network-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(18)</onclick>
					</item>		

					<item id="9">
						<label>13000</label>
						<label2>31032</label2>
						<icon>settings-system-focus.png</icon>
						<thumb>settings-system-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(16)</onclick>
					</item>	

					<item id="10">
						<label>13200</label>
						<label2>31033</label2>
						<icon>settings-profile-focus.png</icon>
						<thumb>settings-profile-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(34)</onclick>
					</item>	

					<item id="11">
						<label>24001</label>
						<label2>31161</label2>
						<icon>settings-addons-focus.png</icon>
						<thumb>settings-addons-focus.png</thumb>
						<onclick>XBMC.ActivateWindow(AddonBrowser)</onclick>
						<visible>!system.platform.xbox</visible>
					</item>

					<item id="12">
						<label>0</label>
						<label2>31161</label2>
						<icon>settings-addons-focus.png</icon>
						<thumb>settings-addons-focus.png</thumb>
						<onclick>ActivateWindow(MyProgramsSettings)</onclick>
						<visible>system.platform.xbox</visible>
					</item>	

				</content>


			</control>

		</control>
		<control type="label">
			<posx>0</posx>
			<posy>549</posy>
			<width>720</width>
			<height>27</height>
			<visible allowhiddenfocus="true">Control.HasFocus(300)</visible>
			<label>[UPPERCASE]$INFO[Container(300).ListItem.Label2][/UPPERCASE]</label>
			<align>center</align>
			<aligny>center</aligny>
			<font>font14</font>
			<textcolor>ffffffff</textcolor>
			<animation effect="fade" time="10">Windowclose</animation>
		</control>

		<include>Music-Info4:3</include>
		<include>Time2</include>
	</controls>
</window>